Repository PX4/PX4-Autopilot, pull requests merged in 2018-02, with the labels that each got.

#8865 FW controllers initialize vtol_type to a non-valid value
  src/modules/fw_att_control/fw_att_control_main.cpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
Labels: bug, fixedwing, vtol

#8725 MC: disable roll/pitch modification in manual mode
  src/modules/mc_pos_control/mc_pos_control_main.cpp
Labels: enhancement, multicopter, vtol

#8881 Add AERT mixer
  ROMFS/px4fmu_common/mixers/AERT.main.mix
Labels: fixedwing, hitl

#8754 Send RTPS header and payload in one stream
  msg/templates/uorb_microcdr/microRTPS_client.cpp.template
  msg/templates/urtps/microRTPS_agent.cpp.template
  msg/templates/urtps/microRTPS_transport.cpp
  msg/templates/urtps/microRTPS_transport.h
Labels: jenkins-ci

#8940 Pr aero battery initialization hotfix
  src/modules/systemlib/battery.cpp
  src/modules/systemlib/battery.h
Labels: bug
