Repository PX4/PX4-Autopilot, pull requests merged in 2018-09, with the labels that each got.

#10452 Add PWM_MIN and PWM_MAX parameters for MAIN and AUX
  ROMFS/px4fmu_common/init.d/rc.interface
  src/modules/sensors/pwm_params_aux.c
  src/modules/sensors/pwm_params_main.c
  src/systemcmds/pwm/pwm.cpp
Labels: drivers, enhancement

#10499 NXPHlite fxos8701cq:Fully remove the mag to facilitate calibration
  src/drivers/imu/fxos8701cq/fxos8701cq.cpp
Labels: nxphlite

#10500 NXPHlite:rc.sensors start lis3mdl
  ROMFS/px4fmu_common/init.d/rc.sensors
Labels: nxphlite

#10200 Ethernet : Added support in ethernet (Mavlink)
  src/modules/mavlink/mavlink_main.cpp
  src/modules/mavlink/mavlink_main.h
  src/modules/mavlink/mavlink_params.c
  src/modules/mavlink/mavlink_receiver.cpp
Labels: enhancement, nuttx

#10516 Windows CI: Switch Appveyor to Cygwin installer 0.4
  appveyor.yml
Labels: cleanup
