Repository PX4/PX4-Autopilot, pull requests merged in 2018-07, with the labels that each got.

#9850 Navigator: Fix fixed-wing first order altitude hold
  src/modules/navigator/mission.cpp
Labels: bug, fixedwing

#9981 px4_base: switch visibility.h back to relative include path
  cmake/common/px4_base.cmake
Labels: bug, question

#9765 ekf2: Add support for use of multiple GPS receivers
  msg/CMakeLists.txt
  msg/ekf_gps_position.msg
  src/modules/ekf2/ekf2_main.cpp
  src/modules/ekf2/ekf2_params.c
  src/modules/logger/logger.cpp
Labels: ekf2, enhancement, proposal

#10009 Fix logger signed unsigned error with GCC 7.3 in Cygwin
  src/modules/logger/logger.cpp
  src/platforms/px4_defines.h
Labels: bug

#10051 Windows CI on Appveyor
  appveyor.yml
Labels: enhancement

#10063 mavlink: fixed nullptr dereferencing
  src/modules/mavlink/mavlink_main.cpp
Labels: bug

#10071 commander parameters fix units
  src/modules/commander/commander_params.c
Labels: bug

#10090 Makefile add doxygen helper
  Makefile
Labels: enhancement
