Repository PX4/PX4-Autopilot, pull requests merged in 2018-12, with the labels that each got.

#10831 Position Control Module Initialization Cleanup
  src/modules/mc_pos_control/mc_pos_control_main.cpp
Labels: cleanup

#10911 [WIP] vscode configuration
  .gitignore
  .vscode/cmake-kits.json
  .vscode/cmake-variants.yaml
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Labels: enhancement

#10992 parameters also include all module configs when scoping disabled
  src/lib/parameters/CMakeLists.txt
Labels: snapdragon

#11084 Feature: VIO: add ODOMETRY stream
  ROMFS/px4fmu_common/init.d-posix/1010_iris_opt_flow.post
  ROMFS/px4fmu_common/init.d-posix/1013_iris_vision.post
  src/modules/ekf2/ekf2_main.cpp
  src/modules/local_position_estimator/BlockLocalPositionEstimator.cpp
  src/modules/local_position_estimator/BlockLocalPositionEstimator.hpp
  src/modules/mavlink/mavlink_main.cpp
  src/modules/mavlink/mavlink_messages.cpp
  src/modules/mavlink/mavlink_params.c
  src/modules/mavlink/mavlink_stream.cpp
  src/modules/mavlink/mavlink_stream.h
Labels: VIO, enhancement, state estimation, vision

#11083 Bug in checking if landing point has been passed
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.hpp
Labels: bug, fixedwing

#11109 commander set home position timestamp properly
  src/modules/commander/Commander.cpp
Labels: bug

#11112 Fix pwm sim publishing when disarmed
  src/drivers/pwm_out_sim/PWMSim.cpp
Labels: bug, priority-critical
