Repository PX4/PX4-Autopilot, pull requests merged in 2018-05, with the labels that each got.

#9388 improve end to end control latency measurement
  src/drivers/imu/adis16448/adis16448.cpp
  src/drivers/imu/bmi055/bmi055.hpp
  src/drivers/imu/bmi055/bmi055_accel.cpp
  src/drivers/imu/bmi055/bmi055_gyro.cpp
  src/drivers/imu/bmi055/bmi055_main.cpp
  src/drivers/imu/bmi160/bmi160.cpp
  src/drivers/imu/bmi160/bmi160.hpp
  src/drivers/imu/mpu6000/mpu6000.cpp
  src/drivers/imu/mpu9250/mpu9250.cpp
  src/drivers/imu/mpu9250/mpu9250.h
  src/drivers/linux_pwm_out/linux_pwm_out.cpp
  src/drivers/pwm_out_sim/PWMSim.cpp
  src/drivers/pwm_out_sim/PWMSim.hpp
  src/drivers/px4fmu/fmu.cpp
  src/drivers/px4io/px4io.cpp
  src/drivers/snapdragon_pwm_out/snapdragon_pwm_out.cpp
  src/drivers/tap_esc/tap_esc.cpp
  src/modules/mc_att_control/mc_att_control.hpp
  src/modules/mc_att_control/mc_att_control_main.cpp
  src/modules/simulator/gyrosim/gyrosim.cpp
  src/modules/uavcan/uavcan_main.cpp
  src/modules/uavcan/uavcan_main.hpp
  src/modules/vtol_att_control/standard.cpp
  src/modules/vtol_att_control/tailsitter.cpp
  src/modules/vtol_att_control/tiltrotor.cpp
Labels: enhancement

#9234 WIP: doxygen
  CMakeLists.txt
  Documentation/Doxyfile
  Documentation/Doxyfile.in
  Documentation/doxygen.README
  Documentation/doxygen.sh
Labels: documentation, enhancement

#9412 Avionics power check type error (int to float)
  src/modules/commander/PreflightCheck.cpp
Labels: bug

#9411 Add baro temperature to sensor voter observation
  src/modules/sensors/voted_sensors_update.cpp
Labels: enhancement, proposal

#9442 Cygwin: Enable ARM NuttX Upload within Cygwin Environment
  Tools/px_uploader.py
  Tools/upload.sh
  platforms/nuttx/CMakeLists.txt
Labels: enhancement

#9454 fw_att_control set default yaw rate max and update parameter descriptions
  src/modules/fw_att_control/fw_att_control_params.c
Labels: fixedwing

#9506 NuttX build use 'all' target within each lib
  platforms/nuttx/NuttX/CMakeLists.txt
Labels: nuttx

#9516 Use Nuttx defconfig defines to determine arch
  platforms/nuttx/cmake/px4_impl_os.cmake
Labels: enhancement, nuttx

#9519 Only apply acceptance radius calculation for FW part of back transition
  src/modules/navigator/mission_block.cpp
Labels: vtol

#8818 [WIP] PX4 development environment setup scripts
  Tools/setup/OSX.sh
  Tools/setup/requirements.txt
  Tools/setup/ubuntu.sh
Labels: enhancement

#8749 Mission RTL
  cmake/configs/nuttx_px4fmu-v2_default.cmake
  msg/mission_result.msg
  src/modules/navigator/mission.cpp
  src/modules/navigator/mission.h
  src/modules/navigator/mission_block.cpp
  src/modules/navigator/mission_block.h
  src/modules/navigator/navigator.h
  src/modules/navigator/navigator_main.cpp
  src/modules/navigator/rtl.cpp
  src/modules/navigator/rtl.h
  src/modules/navigator/rtl_params.c
Labels: enhancement

#9535 Jenkins mission tests delete old build first
  Jenkinsfile
Labels: bug
