Repository PX4/PX4-Autopilot, pull requests merged in 2018-06, with the labels that each got.

#9563 Commander: complete thread cycle before emergency shutdown
  src/modules/commander/commander.cpp
Labels: proposal

#9608 Cmake nuttx upload: add verbatim parameter
  platforms/nuttx/CMakeLists.txt
Labels: bug

#9674 [Hotfix] Fixed-wing autoland/flare bug
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.hpp
Labels: bug, fixedwing

#9705 calibration_routines: fix 'Command denied during calibration' error message
  src/modules/commander/calibration_routines.cpp
Labels: blocks 1.8

#9753 mission feasibility: add small tolerance to fw landing slope alt
  src/modules/navigator/mission_feasibility_checker.cpp
Labels: enhancement, fixedwing

#9723 ekf2: Fix EKF preflight check fail false positives
  src/modules/ekf2/ekf2_main.cpp
Labels: enhancement, fixedwing, state estimation

#9811 cmake toolchain enable double fpu for cortex-m7
  cmake/toolchains/Toolchain-arm-none-eabi.cmake
Labels: enhancement
