Repository PX4/PX4-Autopilot, pull requests merged in 2018-08, with the labels that each got.

#10113 ekf2 fix GPS fix_type comparison
  src/modules/ekf2/ekf2_main.cpp
Labels: bug

#9914 listener: add optional rate and cleanup existing arguments
  Tools/uorb_graph/create.py
  src/systemcmds/topic_listener/CMakeLists.txt
  src/systemcmds/topic_listener/generate_listener.py
  src/systemcmds/topic_listener/listener_main.cpp
  src/systemcmds/topic_listener/topic_listener.hpp
  src/systemcmds/topic_listener/topic_listener_generated.hpp
Labels: enhancement

#7477 Adding the Mavlink handler for the Actuator controls message
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/mavlink/mavlink_receiver.h
Labels: enhancement

#10217 NuttX stm32f7 configs unset ADC1 DMA
  platforms/nuttx/nuttx-configs/av-x-v1/nsh/defconfig
  platforms/nuttx/nuttx-configs/px4fmu-v5/nsh/defconfig
  platforms/nuttx/nuttx-configs/px4nucleoF767ZI-v1/nsh/defconfig
Labels: nuttx

#10241 cmake px4_add_module add unity build support
  cmake/common/px4_base.cmake
  src/modules/mavlink/CMakeLists.txt
  src/modules/mavlink/mavlink_tests/CMakeLists.txt
Labels: enhancement

#10291 Navigator: RC loss yaw mission item
  src/modules/navigator/rcloss.cpp
Labels: bug

#10346 Prevent duplicate reporting of GPS heading
  src/drivers/gps/gps.cpp
Labels: bug

#10347 vehicle_trajectory_waypoint limit unnecessary updates and reduce logging
  src/lib/FlightTasks/tasks/FlightTask/FlightTask.hpp
  src/modules/logger/logger.cpp
  src/modules/mc_pos_control/mc_pos_control_main.cpp
Labels: bug, multicopter
