Repository PX4/PX4-Autopilot, pull requests merged in 2019-12, with the labels that each got.

#13645 simulator: fix distance_sensor ORB_ID()
  src/modules/simulator/simulator.h
Labels: bug

#13647 Revert "linux_pwm_out update orb usage"
  src/drivers/linux_pwm_out/linux_pwm_out.cpp
Labels: bug

#13652 mRo ctrl zero updates
  boards/mro/ctrl-zero-f7/default.cmake
  boards/mro/ctrl-zero-f7/init/rc.board_sensors
  boards/mro/ctrl-zero-f7/nuttx-config/nsh/defconfig
  boards/mro/ctrl-zero-f7/src/board_config.h
  boards/mro/ctrl-zero-f7/src/spi.cpp
  src/drivers/imu/bmi088/bmi088_main.cpp
Labels: bug, enhancement

#13103 ICM20602 and ICM20608g: new standalone driver (8 kHz gyro, 4 kHz accel)
  boards/px4/fmu-v2/default.cmake
  boards/px4/fmu-v4/default.cmake
  boards/px4/fmu-v4/init/rc.board_sensors
  boards/px4/fmu-v4/nuttx-config/include/board.h
  boards/px4/fmu-v4/nuttx-config/include/board_dma_map.h
  boards/px4/fmu-v4/nuttx-config/nsh/defconfig
  boards/px4/fmu-v4/nuttx-config/stackcheck/defconfig
  boards/px4/fmu-v4/src/board_config.h
  boards/px4/fmu-v4pro/default.cmake
  boards/px4/fmu-v4pro/nuttx-config/include/board.h
  boards/px4/fmu-v4pro/nuttx-config/include/board_dma_map.h
  boards/px4/fmu-v4pro/nuttx-config/nsh/defconfig
  boards/px4/fmu-v4pro/src/board_config.h
  msg/sensor_accel_status.msg
  msg/sensor_gyro_status.msg
  src/drivers/imu/invensense/icm20602/CMakeLists.txt
  src/drivers/imu/invensense/icm20602/ICM20602.cpp
  src/drivers/imu/invensense/icm20602/ICM20602.hpp
  src/drivers/imu/invensense/icm20602/InvenSense_ICM20602_registers.hpp
  src/drivers/imu/invensense/icm20602/icm20602_main.cpp
  src/drivers/imu/invensense/icm20608-g/CMakeLists.txt
  src/drivers/imu/invensense/icm20608-g/ICM20608G.cpp
  src/drivers/imu/invensense/icm20608-g/ICM20608G.hpp
  src/drivers/imu/invensense/icm20608-g/InvenSense_ICM20608G_registers.hpp
  src/drivers/imu/invensense/icm20608-g/icm20608g_main.cpp
  src/modules/mavlink/mavlink_messages.cpp
Labels: enhancement

#13699 Trivial: Fix trailing whitespace, EOF newline, indentation
  .vscode/cmake-variants.yaml
  README.md
  ROMFS/px4fmu_common/init.d/airframes/6002_draco_r
  Tools/sitl_run.sh
  boards/holybro/durandal-v1/nuttx-config/Kconfig
  boards/px4/fmu-v4/nuttx-config/Kconfig
  platforms/nuttx/src/px4/stm/stm32h7/CMakeLists.txt
  platforms/nuttx/src/px4/stm/stm32h7/include/px4_arch/adc.h
  platforms/nuttx/src/px4/stm/stm32h7/include/px4_arch/io_timer.h
  platforms/nuttx/src/px4/stm/stm32h7/include/px4_arch/micro_hal.h
  platforms/nuttx/src/px4/stm/stm32h7/include/px4_arch/px4io_serial.h
  platforms/nuttx/src/px4/stm/stm32h7/px4io_serial/px4io_serial.cpp
  platforms/posix/src/px4/common/adc.cpp
  src/drivers/uavcan/uavcan_drivers/kinetis/README.md
  src/drivers/uavcan/uavcan_drivers/kinetis/driver/CMakeLists.txt
  src/drivers/uavcan/uavcan_drivers/stm32/driver/CMakeLists.txt
  src/modules/mc_rate_control/MulticopterRateControl.hpp
  src/modules/mc_rate_control/mc_rate_control_params.c
  src/modules/sensors/sensor_params_gyro0.c
  src/modules/sensors/sensor_params_gyro1.c
  src/modules/sensors/sensor_params_gyro2.c
  src/systemcmds/tests/test_matrix.cpp
Labels: cleanup

#13689 navigator: fix VTOL RTL corner case
  src/modules/navigator/mission.cpp
Labels: bug, vtol

#13712 uORB_tests: fix queue simulation and cleanup initializations
  src/modules/uORB/uORB_tests/uORBTest_UnitTest.cpp
  src/modules/uORB/uORB_tests/uORB_tests_main.cpp
Labels: bug

#13722 px4_raspberrypi cleanup configs and add to Jenkins
  .ci/Jenkinsfile-compile
  boards/px4/raspberrypi/cross.cmake
  boards/px4/raspberrypi/native.cmake
Labels: raspberry_pi

#13704 VTOL: instantly do VTOL mode changes if landed and disarmed
  src/modules/vtol_att_control/standard.cpp
Labels: vtol

#13694 Code cleanup from #12551
  boards/bitcraze/crazyflie/syslink/syslink_main.h
  src/drivers/driver_framework_wrapper/df_bebop_bus_wrapper/df_bebop_bus_wrapper.cpp
  src/drivers/driver_framework_wrapper/df_ltc2946_wrapper/df_ltc2946_wrapper.cpp
  src/drivers/power_monitor/voxlpm/voxlpm.cpp
  src/drivers/power_monitor/voxlpm/voxlpm.hpp
  src/lib/battery/battery.h
  src/modules/battery_status/analog_battery.cpp
  src/modules/battery_status/analog_battery.h
  src/modules/simulator/simulator.h
Labels: cleanup

#13709 battery: delete unused armed
  boards/bitcraze/crazyflie/syslink/syslink_main.cpp
  src/drivers/driver_framework_wrapper/df_bebop_bus_wrapper/df_bebop_bus_wrapper.cpp
  src/drivers/driver_framework_wrapper/df_ltc2946_wrapper/df_ltc2946_wrapper.cpp
  src/drivers/power_monitor/voxlpm/voxlpm.cpp
  src/lib/battery/battery.cpp
  src/lib/battery/battery.h
  src/modules/battery_status/analog_battery.cpp
  src/modules/battery_status/analog_battery.h
  src/modules/battery_status/battery_status.cpp
  src/modules/simulator/simulator_mavlink.cpp
Labels: cleanup

#13749 Debug ekf log replays with gdb in vscode
  platforms/posix/Debug/launch.json.in
Labels: ekf2, enhancement

#13481 Added support for MAV_CMD_REQUEST_MESSAGE for mavlink streams
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/mavlink/mavlink_stream.h
Labels: enhancement

#13676 Don't allow arming during a transition
  src/modules/commander/Arming/PreFlightCheck/PreFlightCheck.hpp
  src/modules/commander/Arming/PreFlightCheck/checks/preArmCheck.cpp
  src/modules/commander/Commander.cpp
  src/modules/commander/state_machine_helper.cpp
Labels: enhancement, safety, vtol

#13745 Logger: dynamic number of subscriptions
  src/modules/logger/CMakeLists.txt
  src/modules/logger/logged_topics.cpp
  src/modules/logger/logged_topics.h
  src/modules/logger/logger.cpp
  src/modules/logger/logger.h
Labels: enhancement

#13690 Fix check for negative scaled lat lon on VEHICLE_CMD_DO_REPOSITION
  src/modules/navigator/navigator_main.cpp
Labels: bug

#13774 Jenkins PX4 ROS2 bridge don't specify python binary
  Jenkinsfile
  msg/tools/uorb_to_ros_rtps_ids.py
Labels: bug

#13773 add negative for min to support tricycle landing gear
  src/modules/fw_pos_control_l1/runway_takeoff/runway_takeoff_params.c
Labels: enhancement, fixedwing

#13695 commander: remove manual mode before geofence handling
  src/modules/commander/Commander.cpp
Labels: bug

#13734 Fix mission with LAND_START and RTL item
  src/modules/navigator/mission_feasibility_checker.cpp
  src/modules/navigator/mission_feasibility_checker.h
Labels: fixedwing, vtol

#13613 commander: move more static variables to class
  src/modules/commander/Arming/PreFlightCheck/PreFlightCheck.hpp
  src/modules/commander/Arming/PreFlightCheck/checks/preArmCheck.cpp
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
  src/modules/commander/commander_params.c
  src/modules/commander/commander_tests/state_machine_helper_test.cpp
  src/modules/commander/state_machine_helper.cpp
  src/modules/commander/state_machine_helper.h
Labels: cleanup

#13693 navigator: do not use fixed wing acceptance radius if in rotary wing…
  src/modules/navigator/navigator_main.cpp
Labels: bug, vtol

#13796 l3gd20 split into separate header, implementation, and main
  src/drivers/imu/l3gd20/CMakeLists.txt
  src/drivers/imu/l3gd20/L3GD20.cpp
  src/drivers/imu/l3gd20/L3GD20.hpp
  src/drivers/imu/l3gd20/l3gd20.cpp
  src/drivers/imu/l3gd20/l3gd20_main.cpp
Labels: cleanup

#13794 PX4Accelerometer and PX4Gyroscope always publish status
  .ci/Jenkinsfile-hardware
  msg/sensor_accel_status.msg
  msg/sensor_gyro_status.msg
  src/lib/drivers/accelerometer/PX4Accelerometer.cpp
  src/lib/drivers/accelerometer/PX4Accelerometer.hpp
  src/lib/drivers/gyroscope/PX4Gyroscope.cpp
  src/lib/drivers/gyroscope/PX4Gyroscope.hpp
Labels: enhancement

#13761 Navigator: VTOL: enable weather vane in auto mode outside of mission
  msg/position_setpoint.msg
  src/lib/flight_tasks/tasks/Auto/FlightTaskAuto.cpp
  src/modules/navigator/mission.cpp
Labels: bug, vtol

#12673 Integrate INA226 with PX4
  boards/px4/fmu-v5x/init/rc.board_sensors
  src/drivers/power_monitor/ina226/CMakeLists.txt
  src/drivers/power_monitor/ina226/ina226.cpp
  src/drivers/power_monitor/ina226/ina226.h
  src/drivers/power_monitor/ina226/ina226_main.cpp
  src/lib/battery/battery.cpp
  src/lib/battery/battery.h
Labels: enhancement, fmu-v5x

#13710 Pr move land detector mavlink to airspeed validated
  src/modules/land_detector/FixedwingLandDetector.cpp
  src/modules/land_detector/FixedwingLandDetector.h
  src/modules/mavlink/mavlink_messages.cpp
Labels: fixedwing, vtol

#13818 posix I2C::init() should also probe() (sync with NuttX)
  src/lib/drivers/device/posix/I2C.cpp
Labels: bug, raspberry_pi

#13814 MS5611 failed to work on RPi on I2C bus
  boards/px4/raspberrypi/src/board_config.h
  src/drivers/barometer/ms5611/MS5611.hpp
  src/drivers/barometer/ms5611/ms5611_i2c.cpp
  src/drivers/barometer/ms5611/ms5611_main.cpp
Labels: drivers, enhancement, raspberry_pi

#13820 ms5611: move to PX4Barometer and cleanup
  src/drivers/barometer/ms5611/CMakeLists.txt
  src/drivers/barometer/ms5611/MS5611.hpp
  src/drivers/barometer/ms5611/ms5611.cpp
  src/drivers/barometer/ms5611/ms5611.h
  src/drivers/barometer/ms5611/ms5611_i2c.cpp
  src/drivers/barometer/ms5611/ms5611_main.cpp
  src/drivers/barometer/ms5611/ms5611_spi.cpp
  src/lib/drivers/barometer/PX4Barometer.hpp
Labels: cleanup

#13819 drivers/adc: start WQ cycle on init
  src/drivers/adc/adc.cpp
Labels: bug, fmu-v5x

#13821 deprecate df_ms5611_wrapper and replace with in tree ms5611 driver
  boards/aerotenna/ocpoc/default.cmake
  boards/emlid/navio2/cross.cmake
  boards/emlid/navio2/native.cmake
  boards/parrot/bebop/default.cmake
  posix-configs/bebop/px4.config
  posix-configs/ocpoc/px4.config
  posix-configs/rpi/px4.config
  posix-configs/rpi/px4_fw.config
  posix-configs/rpi/px4_no_shield.config
  posix-configs/rpi/px4_test.config
  src/drivers/driver_framework_wrapper/df_ms5607_wrapper/CMakeLists.txt
  src/drivers/driver_framework_wrapper/df_ms5607_wrapper/df_ms5607_wrapper.cpp
  src/drivers/driver_framework_wrapper/df_ms5611_wrapper/CMakeLists.txt
  src/drivers/driver_framework_wrapper/df_ms5611_wrapper/df_ms5611_wrapper.cpp
Labels: cleanup, raspberry_pi

#13807 leddar_one: split into separate header, implementation, and main
  src/drivers/distance_sensor/leddar_one/CMakeLists.txt
  src/drivers/distance_sensor/leddar_one/LeddarOne.cpp
  src/drivers/distance_sensor/leddar_one/LeddarOne.hpp
  src/drivers/distance_sensor/leddar_one/leddar_one.cpp
  src/drivers/distance_sensor/leddar_one/leddar_one_main.cpp
Labels: cleanup, drivers
