Repository PX4/PX4-Autopilot, pull requests merged in 2019-09, with the labels that each got.

#12424 moved ms5611 from common rc.sensors
  ROMFS/px4fmu_common/init.d/rc.sensors
  boards/airmind/mindpx-v2/init/rc.board_sensors
  boards/auav/x21/init/rc.board_sensors
  boards/av/x-v1/init/rc.board_sensors
  boards/intel/aerofc-v1/init/rc.board_sensors
  boards/px4/fmu-v2/init/rc.board_sensors
  boards/px4/fmu-v3/init/rc.board_sensors
  boards/px4/fmu-v4/init/rc.board_sensors
  boards/px4/fmu-v4pro/init/rc.board_sensors
  boards/px4/fmu-v5/init/rc.board_sensors
  boards/uvify/core/init/rc.board_sensors
Labels: cleanup, enhancement

#12600 VTOL airframes update legacy VT_MOT_COUNT parameter
  ROMFS/px4fmu_common/init.d-posix/1040_standard_vtol
  ROMFS/px4fmu_common/init.d-posix/1041_tailsitter
  ROMFS/px4fmu_common/init.d-posix/1042_tiltrotor
  ROMFS/px4fmu_common/init.d/airframes/1002_standard_vtol.hil
  ROMFS/px4fmu_common/init.d/airframes/13002_firefly6
  ROMFS/px4fmu_common/init.d/airframes/13004_quad+_tailsitter
  ROMFS/px4fmu_common/init.d/airframes/13005_vtol_AAERT_quad
Labels: bug, cleanup, vtol

#12844 EKF and AirspeedSelector: publish multiple wind estimate topic instances
  src/modules/airspeed_selector/airspeed_selector_main.cpp
  src/modules/ekf2/ekf2_main.cpp
  src/modules/logger/logger.cpp
Labels: bug, fixedwing

#12848 enable pmw3901 flow if (new) parameter SENS_EN_PMW_FLOW is true
  ROMFS/px4fmu_common/init.d/rc.sensors
  boards/av/x-v1/init/rc.board_sensors
  boards/bitcraze/crazyflie/init/rc.board_sensors
  boards/px4/fmu-v4/init/rc.board_sensors
  boards/px4/fmu-v5/init/rc.board_sensors
  boards/px4/fmu-v5x/init/rc.board_sensors
  src/drivers/optical_flow/pmw3901/parameters.c
Labels: cleanup, enhancement

#12878 SENS_BARO_QNH set reboot_required
  src/modules/sensors/sensor_params.c
Labels: bug

#12838 vtol_att_control fix WQ scheduling
  src/modules/vtol_att_control/vtol_att_control_main.cpp
  src/modules/vtol_att_control/vtol_att_control_main.h
Labels: bug, vtol

#12869 CollisionPrevention update orb_publish to uORB::Publication<>
  src/lib/CollisionPrevention/CollisionPrevention.cpp
  src/lib/CollisionPrevention/CollisionPrevention.hpp
Labels: cleanup

#12882 fmu-v5: add baro again in startup
  boards/px4/fmu-v5/init/rc.board_sensors
Labels: bug

#12894 PMW3901: use quality metric
  src/drivers/optical_flow/pmw3901/PMW3901.cpp
  src/drivers/optical_flow/pmw3901/PMW3901.hpp
Labels: drivers, enhancement, sensors

#12898 qshell: rename qshell sequence fields so they can be parsed on fastrtpsgen
  msg/qshell_req.msg
  msg/qshell_retval.msg
  src/drivers/qshell/posix/qshell.cpp
  src/drivers/qshell/qurt/qshell.cpp
Labels: bug, rtps

#12777 VTOL land detector: trigger land detector in fixed-wing mode if disarmed
  src/modules/land_detector/VtolLandDetector.cpp
Labels: vtol

#12908 VTOL attitude controller: fix pusher support in hover
  src/modules/vtol_att_control/vtol_att_control_main.cpp
Labels: bug, vtol

#12920 FW pos C: fix altitude control for VTOL/FW by also publishing attitud…
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
Labels: bug, fixedwing, vtol

#12936 Takeoff - allow publishing NAN longitude and latitude
  src/modules/navigator/takeoff.cpp
Labels: multicopter

#12986 MC rate control - Integrator fix for ideal PID form
  src/modules/mc_att_control/mc_att_control_main.cpp
Labels: bug, multicopter

#12994 cmake generate vscode launch.json
  .vscode/.gitignore
  .vscode/cmake-variants.yaml
  .vscode/launch.json
  .vscode/tasks.json
  platforms/nuttx/CMakeLists.txt
  platforms/nuttx/Debug/launch.json.in
  platforms/posix/Debug/launch.json.in
  platforms/posix/cmake/sitl_target.cmake
Labels: enhancement

#12991 Mavlink: ifdef networking code
  src/modules/mavlink/mavlink_main.cpp
  src/modules/mavlink/mavlink_main.h
  src/modules/mavlink/mavlink_parameters.cpp
  src/modules/mavlink/mavlink_receiver.cpp
Labels: cleanup

#12687 Commander: small user experience fixes found during demo testing
  src/modules/commander/Commander.cpp
Labels: enhancement

#13016 Appveyor: update to Windows Toolchain v0.6
  appveyor.yml
Labels: windows

#12993 cm8jl65: move to PX4Rangefinder and cleanup
  src/drivers/distance_sensor/cm8jl65/CM8JL65.cpp
  src/drivers/distance_sensor/cm8jl65/CM8JL65.hpp
  src/drivers/distance_sensor/cm8jl65/CMakeLists.txt
  src/drivers/distance_sensor/cm8jl65/cm8jl65.cpp
  src/drivers/distance_sensor/cm8jl65/cm8jl65_main.cpp
  src/lib/drivers/rangefinder/PX4Rangefinder.cpp
  src/lib/drivers/rangefinder/PX4Rangefinder.hpp
Labels: cleanup, enhancement

#12985 mavlink mode review
  src/modules/mavlink/mavlink_main.cpp
Labels: bug, cleanup, enhancement

#13031 VTOL: fix front transition rate publication (enable FW attitude contr…
  src/modules/fw_att_control/FixedwingAttitudeControl.cpp
Labels: bug, priority-critical, vtol

#13038 uORB: SubscriptionCallback cleanup naming
  src/lib/mixer_module/mixer_module.cpp
  src/modules/fw_att_control/FixedwingAttitudeControl.cpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
  src/modules/mc_att_control/mc_att_control_main.cpp
  src/modules/sensors/vehicle_acceleration/VehicleAcceleration.cpp
  src/modules/sensors/vehicle_angular_velocity/VehicleAngularVelocity.cpp
  src/modules/uORB/SubscriptionCallback.hpp
  src/modules/uORB/SubscriptionInterval.hpp
  src/modules/vtol_att_control/vtol_att_control_main.cpp
Labels: cleanup

#13040 delete obsolete segway example
  boards/aerotenna/ocpoc/ubuntu.cmake
  boards/airmind/mindpx-v2/default.cmake
  boards/atlflight/eagle/default.cmake
  boards/atlflight/excelsior/default.cmake
  boards/auav/x21/default.cmake
  boards/av/x-v1/default.cmake
  boards/beaglebone/blue/cross.cmake
  boards/beaglebone/blue/native.cmake
  boards/emlid/navio2/cross.cmake
  boards/emlid/navio2/native.cmake
  boards/intel/aerofc-v1/default.cmake
  boards/intel/aerofc-v1/rtps.cmake
  boards/mro/ctrl-zero-f7/default.cmake
  boards/nxp/fmuk66-v3/default.cmake
  boards/omnibus/f4sd/default.cmake
  boards/px4/fmu-v2/default.cmake
  boards/px4/fmu-v2/lpe.cmake
  boards/px4/fmu-v2/test.cmake
  boards/px4/fmu-v3/default.cmake
  boards/px4/fmu-v3/rtps.cmake
  boards/px4/fmu-v3/stackcheck.cmake
  boards/px4/fmu-v4/default.cmake
  boards/px4/fmu-v4/rtps.cmake
  boards/px4/fmu-v4/stackcheck.cmake
  boards/px4/fmu-v4pro/default.cmake
  boards/px4/fmu-v4pro/rtps.cmake
  boards/px4/fmu-v5/critmonitor.cmake
  boards/px4/fmu-v5/default.cmake
  boards/px4/fmu-v5/irqmonitor.cmake
  boards/px4/fmu-v5/rtps.cmake
  boards/px4/fmu-v5/stackcheck.cmake
  boards/px4/fmu-v5x/default.cmake
  boards/px4/raspberrypi/cross.cmake
  boards/px4/raspberrypi/native.cmake
  boards/px4/sitl/default.cmake
  boards/px4/sitl/rtps.cmake
  boards/px4/sitl/test.cmake
  boards/uvify/core/default.cmake
  src/examples/segway/BlockSegwayController.cpp
  src/examples/segway/BlockSegwayController.hpp
  src/examples/segway/CMakeLists.txt
  src/examples/segway/blocks.cpp
  src/examples/segway/blocks.hpp
  src/examples/segway/params.c
  src/examples/segway/segway_main.cpp
Labels: cleanup

#12572 update most parameter_update to uORB::Subscription consistently
  src/drivers/heater/heater.cpp
  src/drivers/heater/heater.h
  src/drivers/lights/rgbled/rgbled.cpp
  src/drivers/lights/rgbled_ncp5623c/rgbled_ncp5623c.cpp
  src/drivers/linux_pwm_out/linux_pwm_out.cpp
  src/drivers/pwm_out_sim/PWMSim.cpp
  src/drivers/px4fmu/fmu.cpp
  src/drivers/px4io/px4io.cpp
  src/drivers/snapdragon_pwm_out/snapdragon_pwm_out.cpp
  src/drivers/tap_esc/tap_esc.cpp
  src/drivers/uavcan/uavcan_main.cpp
  src/examples/bottle_drop/bottle_drop.cpp
  src/examples/fixedwing_control/main.cpp
  src/examples/rover_steering_control/main.cpp
  src/modules/attitude_estimator_q/attitude_estimator_q_main.cpp
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
  src/modules/ekf2/ekf2_main.cpp
  src/modules/fw_att_control/FixedwingAttitudeControl.cpp
  src/modules/fw_att_control/FixedwingAttitudeControl.hpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.hpp
  src/modules/land_detector/FixedwingLandDetector.cpp
  src/modules/land_detector/FixedwingLandDetector.h
  src/modules/land_detector/LandDetector.cpp
  src/modules/land_detector/LandDetector.h
  src/modules/logger/logger.cpp
  src/modules/mavlink/mavlink_main.cpp
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/mavlink/mavlink_receiver.h
  src/modules/mc_att_control/mc_att_control.hpp
  src/modules/mc_att_control/mc_att_control_main.cpp
  src/modules/mc_pos_control/mc_pos_control_main.cpp
  src/modules/navigator/navigator.h
  src/modules/navigator/navigator_main.cpp
  src/modules/rover_pos_control/RoverPositionControl.cpp
  src/modules/rover_pos_control/RoverPositionControl.hpp
  src/modules/sensors/sensors.cpp
  src/modules/sih/sih.cpp
  src/modules/sih/sih.hpp
  src/modules/simulator/simulator.cpp
  src/modules/simulator/simulator.h
  src/modules/vmount/vmount.cpp
  src/modules/vtol_att_control/vtol_att_control_main.cpp
  src/modules/vtol_att_control/vtol_att_control_main.h
  src/templates/module/module.cpp
  src/templates/module/module.h
Labels: cleanup, enhancement

#13042 frsky_telemetry: move to uORB::Subscription
  src/drivers/telemetry/frsky_telemetry/frsky_data.cpp
  src/drivers/telemetry/frsky_telemetry/sPort_data.cpp
Labels: cleanup

#13049 CollisionPrevention: limit collision warning to every 3 seconds
  src/lib/CollisionPrevention/CollisionPrevention.cpp
  src/lib/CollisionPrevention/CollisionPrevention.hpp
Labels: cleanup, enhancement

#13039 FlightTasks: switch to uORB::Subscription
  src/lib/FlightTasks/FlightTasks.cpp
  src/lib/FlightTasks/FlightTasks.hpp
  src/lib/FlightTasks/tasks/Auto/FlightTaskAuto.cpp
  src/lib/FlightTasks/tasks/Auto/FlightTaskAuto.hpp
  src/lib/FlightTasks/tasks/AutoMapper/FlightTaskAutoMapper.cpp
  src/lib/FlightTasks/tasks/AutoMapper2/FlightTaskAutoMapper2.cpp
  src/lib/FlightTasks/tasks/FlightTask/CMakeLists.txt
  src/lib/FlightTasks/tasks/FlightTask/FlightTask.cpp
  src/lib/FlightTasks/tasks/FlightTask/FlightTask.hpp
  src/lib/FlightTasks/tasks/FlightTask/SubscriptionArray.cpp
  src/lib/FlightTasks/tasks/FlightTask/SubscriptionArray.hpp
  src/lib/FlightTasks/tasks/Manual/FlightTaskManual.cpp
  src/lib/FlightTasks/tasks/Manual/FlightTaskManual.hpp
  src/lib/FlightTasks/tasks/ManualAltitude/FlightTaskManualAltitude.cpp
  src/lib/FlightTasks/tasks/ManualAltitude/FlightTaskManualAltitude.hpp
  src/lib/FlightTasks/tasks/ManualPosition/FlightTaskManualPosition.cpp
  src/lib/FlightTasks/tasks/ManualPosition/FlightTaskManualPosition.hpp
  src/lib/FlightTasks/tasks/Offboard/FlightTaskOffboard.cpp
  src/lib/FlightTasks/tasks/Offboard/FlightTaskOffboard.hpp
  src/lib/FlightTasks/tasks/Utility/ObstacleAvoidance.cpp
  src/lib/FlightTasks/tasks/Utility/ObstacleAvoidance.hpp
  src/lib/FlightTasks/tasks/Utility/ObstacleAvoidanceTest.cpp
Labels: cleanup, enhancement

#13058 FlightTasks: move to uORB::Publication<>
  src/lib/FlightTasks/tasks/Orbit/FlightTaskOrbit.cpp
  src/lib/FlightTasks/tasks/Orbit/FlightTaskOrbit.hpp
  src/lib/FlightTasks/tasks/Utility/ObstacleAvoidanceTest.cpp
Labels: cleanup
