Repository PX4/PX4-Autopilot, pull requests merged in 2019-05, with the labels that each got.

#11946 UAVCAN - update ROMFS_FW_PATH to /etc/uavcan/fw. to match documentation
  src/drivers/uavcan/uavcan_module.hpp
Labels: uavcan

#11950 MC gyro cutoffs - Reduce IMU_GYRO_CUTOFF to 20Hz and disable MC_DTERM_CUTOFF
  src/modules/mc_att_control/mc_att_control_params.c
  src/modules/sensors/sensor_params.c
Labels: flight-testing, multicopter

#11982 Commander - Remove old code that overrides state_machine_helper logic
  src/modules/commander/Commander.cpp
Labels: priority-critical

#11987 PositionControl: tiny minimal thrust length
  src/modules/mc_pos_control/PositionControl.cpp
  src/modules/mc_pos_control/Utility/ControlMath.cpp
Labels: bug

#11911 VTOL transitions: use FW attitude loop
  Tools/uorb_graph/create.py
  src/modules/fw_att_control/FixedwingAttitudeControl.cpp
  src/modules/fw_att_control/FixedwingAttitudeControl.hpp
  src/modules/mc_att_control/mc_att_control.hpp
  src/modules/mc_att_control/mc_att_control_main.cpp
  src/modules/vtol_att_control/vtol_att_control_main.cpp
  src/modules/vtol_att_control/vtol_att_control_params.c
  src/modules/vtol_att_control/vtol_type.cpp
Labels: bug, enhancement, vtol

#12026 Add airframe configuration for Aion R1 Rover
  ROMFS/px4fmu_common/init.d/airframes/50003_aion_robotics_r1_rover
  ROMFS/px4fmu_common/init.d/airframes/CMakeLists.txt
  ROMFS/px4fmu_common/mixers/CMakeLists.txt
  ROMFS/px4fmu_common/mixers/generic_differential_rover.main.mix
Labels: rover

#11755 [WIP] Added TI ina226 I2C power monitor
  boards/px4/fmu-v5/default.cmake
  msg/CMakeLists.txt
  msg/power_monitor.msg
  src/drivers/power_monitor/ina226/CMakeLists.txt
  src/drivers/power_monitor/ina226/ina226.cpp
  src/drivers/power_monitor/ina226/ina226_params.c
Labels: enhancement

#11250 uORB simplify handling of subscriptions with configured intervals
  src/modules/uORB/uORBDeviceNode.cpp
  src/modules/uORB/uORBDeviceNode.hpp
Labels: enhancement

#12032 Fix bug Auto Land
  src/lib/FlightTasks/tasks/Auto/FlightTaskAuto.cpp
Labels: bug, multicopter

#12063 fix tunes: make sure a custom tune gets played
  src/lib/tunes/tunes.cpp
  src/lib/tunes/tunes.h
Labels: bug

#12065 Bosch BMI055 cleanup
  src/drivers/imu/bmi055/BMI055.hpp
  src/drivers/imu/bmi055/BMI055_accel.cpp
  src/drivers/imu/bmi055/BMI055_accel.hpp
  src/drivers/imu/bmi055/BMI055_gyro.cpp
  src/drivers/imu/bmi055/BMI055_gyro.hpp
  src/drivers/imu/bmi055/bmi055_main.cpp
Labels: cleanup

#12080 ST L3GD20 move to PX4Gyroscope helper
  src/drivers/imu/l3gd20/CMakeLists.txt
  src/drivers/imu/l3gd20/l3gd20.cpp
Labels: cleanup, enhancement

#12088 AK09916 move to new WQ, PX4Magnetometer, and cleanup
  src/drivers/drv_sensor.h
  src/drivers/magnetometer/ak09916/CMakeLists.txt
  src/drivers/magnetometer/ak09916/ak09916.cpp
  src/drivers/magnetometer/ak09916/ak09916.hpp
Labels: bug, cleanup, enhancement

#12113 listener exit with ctrl-c, escape, or q
  src/systemcmds/topic_listener/listener_main.cpp
Labels: enhancement

#11999 Auto - Yaw fixes for goto and hold
  src/lib/FlightTasks/tasks/Auto/FlightTaskAuto.hpp
  src/lib/FlightTasks/tasks/AutoLineSmoothVel/FlightTaskAutoLineSmoothVel.cpp
  src/lib/FlightTasks/tasks/AutoLineSmoothVel/FlightTaskAutoLineSmoothVel.hpp
Labels: enhancement, multicopter

#12089 INA226 move to new WQ and cleanup
  src/drivers/power_monitor/ina226/CMakeLists.txt
  src/drivers/power_monitor/ina226/ina226.cpp
Labels: cleanup

#12126 fw_pos_control_l1 replace FW_LND_THRTC_SC param description < character
  src/modules/fw_pos_control_l1/fw_pos_control_l1_params.c
Labels: bug, documentation

#12078 create generic dma allocator (from fat_dma_alloc)
  boards/airmind/mindpx-v2/src/init.c
  boards/auav/x21/src/init.c
  boards/av/x-v1/src/init.c
  boards/nxp/fmuk66-v3/src/init.c
  boards/omnibus/f4sd/src/init.c
  boards/px4/fmu-v2/src/init.c
  boards/px4/fmu-v3/src/init.c
  boards/px4/fmu-v4/src/init.c
  boards/px4/fmu-v4pro/src/init.c
  boards/px4/fmu-v5/src/init.c
  src/drivers/boards/common/CMakeLists.txt
  src/drivers/boards/common/board_common.h
  src/drivers/boards/common/board_dma_alloc.c
  src/drivers/boards/common/board_dma_alloc.h
  src/drivers/boards/common/board_fat_dma_alloc.c
  src/lib/systemlib/print_load_nuttx.c
Labels: enhancement

#12081 simulator move to PX4Accelerometer, PX4Gyroscope, PX4Magnetometer, PX4Barometer helpers
  ROMFS/px4fmu_common/init.d-posix/rcS
  posix-configs/SITL/init/test/cmd_template.in
  posix-configs/SITL/init/test/test_mavlink
  posix-configs/SITL/init/test/test_shutdown
  posix-configs/SITL/init/test/test_template.in
  posix-configs/eagle/hil/mainapphil.config
  src/drivers/drv_sensor.h
  src/lib/drivers/CMakeLists.txt
  src/lib/drivers/accelerometer/CMakeLists.txt
  src/lib/drivers/accelerometer/PX4Accelerometer.cpp
  src/lib/drivers/accelerometer/PX4Accelerometer.hpp
  src/lib/drivers/device/Device.hpp
  src/lib/drivers/gyroscope/CMakeLists.txt
  src/lib/drivers/gyroscope/PX4Gyroscope.cpp
  src/lib/drivers/gyroscope/PX4Gyroscope.hpp
  src/modules/simulator/CMakeLists.txt
  src/modules/simulator/accelsim/CMakeLists.txt
  src/modules/simulator/accelsim/accelsim.cpp
  src/modules/simulator/airspeedsim/CMakeLists.txt
  src/modules/simulator/airspeedsim/airspeedsim.cpp
  src/modules/simulator/airspeedsim/airspeedsim.h
  src/modules/simulator/airspeedsim/meas_airspeed_sim.cpp
  src/modules/simulator/barosim/CMakeLists.txt
  src/modules/simulator/barosim/baro.cpp
  src/modules/simulator/barosim/barosim.h
  src/modules/simulator/gyrosim/CMakeLists.txt
  src/modules/simulator/gyrosim/gyrosim.cpp
  src/modules/simulator/simulator.cpp
  src/modules/simulator/simulator.h
  src/modules/simulator/simulator_mavlink.cpp
Labels: cleanup
