Repository PX4/PX4-Autopilot, pull requests merged in 2019-04, with the labels that each got.

#11762 fw_pos_control_l1 reset internal takeoff and landing state when arming
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.hpp
Labels: bug, fixedwing

#11744 Altitude FlightTask based on jerk-limited trajectory generator
  src/lib/FlightTasks/CMakeLists.txt
  src/lib/FlightTasks/tasks/ManualAltitudeSmoothVel/CMakeLists.txt
  src/lib/FlightTasks/tasks/ManualAltitudeSmoothVel/FlightTaskManualAltitudeSmoothVel.cpp
  src/lib/FlightTasks/tasks/ManualAltitudeSmoothVel/FlightTaskManualAltitudeSmoothVel.hpp
  src/modules/mc_pos_control/mc_pos_control_main.cpp
Labels: enhancement, multicopter

#11722 commander: PreflightCheck: check for 'airspeed' topic only on the 'airspeedCheck'
  src/modules/commander/PreflightCheck.cpp
Labels: enhancement, fixedwing, hitl, vtol

#11779 revert FlightTasks: fix mission DO_CHANGE_SPEED
  src/lib/FlightTasks/tasks/AutoLineSmoothVel/FlightTaskAutoLineSmoothVel.cpp
Labels: bug, priority-critical

#11780 drivers/px4fmu initialize all arrays
  src/drivers/px4fmu/fmu.cpp
Labels: bug

#11802 Appveyor: Enable build matrix for parallel CI targets
  appveyor.yml
Labels: enhancement, windows

#11796 Standardising mavlink message strings
  src/modules/commander/Commander.cpp
Labels: cleanup, commander

#11821 cmake: fix races without ninja
  .ci/Jenkinsfile-compile
  Jenkinsfile
Labels: bug, flight-testing, nuttx

#11843 fw_pos_control_l1: FW_LND_EARLYCFG disable by default
  src/modules/fw_pos_control_l1/fw_pos_control_l1_params.c
Labels: fixedwing

#11849 Fix cruise speed in auto mode
  src/lib/FlightTasks/tasks/AutoLineSmoothVel/FlightTaskAutoLineSmoothVel.cpp
  src/lib/FlightTasks/tasks/AutoLineSmoothVel/FlightTaskAutoLineSmoothVel.hpp
Labels: bug, priority-critical

#11850 BabyShark VTOL config and mixer
  ROMFS/px4fmu_common/init.d/airframes/13014_vtol_babyshark
  ROMFS/px4fmu_common/mixers/babyshark.main.mix
Labels: enhancement, vtol

#11855 vtol_att_control: respect min pwm values
  src/modules/vtol_att_control/vtol_type.cpp
  src/modules/vtol_att_control/vtol_type.h
Labels: vtol

#11872 ak09916: fail if device is not found
  src/drivers/magnetometer/ak09916/ak09916.cpp
  src/drivers/magnetometer/ak09916/ak09916.hpp
Labels: bug

#11913 RTL - Skip descend state in "Return then land immediately" mode
  src/modules/navigator/rtl.cpp
Labels: bug, multicopter

#11906 adis16497: fix TEMP_OUT conversion according to the datasheet
  src/drivers/imu/adis16497/ADIS16497.cpp
Labels: bug

#11915 Fix RC mode switch first evaluation after boot
  src/modules/commander/Commander.cpp
Labels: flight-testing

#11925 SYS_MC_EST_GROUP mark LPE unsupported and update airframes
  ROMFS/px4fmu_common/init.d/airframes/1002_standard_vtol.hil
  ROMFS/px4fmu_common/init.d/rc.fw_apps
  ROMFS/px4fmu_common/init.d/rc.mc_apps
  ROMFS/px4fmu_common/init.d/rc.vtol_apps
  posix-configs/bbblue/px4.config
  posix-configs/bbblue/px4_fw.config
  posix-configs/bebop/px4.config
  posix-configs/eagle/200qx/px4.config
  posix-configs/eagle/210qc/px4.config
  posix-configs/eagle/flight/px4.config
  posix-configs/eagle/hil/px4.config
  posix-configs/ocpoc/px4.config
  posix-configs/rpi/px4.config
  posix-configs/rpi/px4_fw.config
  posix-configs/rpi/px4_hil.config
  src/lib/systemlib/system_params.c
  src/modules/commander/PreflightCheck.cpp
Labels: lpe

#10048 FwPositionControl: don't do takeoff help for vtol
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
Labels: enhancement, vtol

#11846 [WIP] Improve robustness to bad and lost airspeed data
  msg/vehicle_status.msg
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
  src/modules/commander/commander_params.c
  src/modules/fw_att_control/FixedwingAttitudeControl.cpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
Labels: enhancement, fixedwing
