Repository PX4/PX4-Autopilot, pull requests merged in 2019-03, with the labels that each got.

#11539 List container updates and testing
  platforms/posix/cmake/sitl_tests.cmake
  src/drivers/uavcan/uavcan_main.cpp
  src/include/containers/List.hpp
  src/modules/mavlink/mavlink_main.cpp
  src/modules/mavlink/mavlink_main.h
  src/modules/mavlink/mavlink_orb_subscription.h
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/mavlink/mavlink_stream.cpp
  src/modules/mavlink/mavlink_stream.h
  src/modules/uORB/uORBDeviceMaster.cpp
  src/platforms/px4_module_params.h
  src/systemcmds/tests/CMakeLists.txt
  src/systemcmds/tests/test_List.cpp
  src/systemcmds/tests/tests_main.c
  src/systemcmds/tests/tests_main.h
Labels: enhancement

#11575 Correct board-config PIN1/PIN0 typo in fmu-v5/src/board_config.h.
  boards/px4/fmu-v5/src/board_config.h
Labels: bug, fmu-v5

#11566 Fix link to code style guide
  CONTRIBUTING.md
Labels: documentation

#11576 navigator fix FW loiter tangent exit
  src/modules/navigator/mission_block.cpp
Labels: bug, fixedwing

#11545 ekf2: Split static pressure correction into separate RH and LH ellipsoids
  src/modules/ekf2/ekf2_main.cpp
  src/modules/ekf2/ekf2_params.c
Labels: enhancement

#11606 jenkins: update all image tags to 2019-03-08
  .ci/Jenkinsfile-SITL_tests
  .ci/Jenkinsfile-SITL_tests_ASan
  .ci/Jenkinsfile-SITL_tests_coverage
  .ci/Jenkinsfile-compile
  .ci/Jenkinsfile-hardware
  Jenkinsfile
  Tools/docker_run.sh
Labels: jenkins-ci

#11338 CI: SITL test run: select ROS version based on ROS_DISTRO
  test/rostest_px4_run.sh
Labels: jenkins-ci

#11540 Reintroduce slow down when landing manually
  src/lib/FlightTasks/tasks/ManualAltitude/FlightTaskManualAltitude.cpp
  src/lib/FlightTasks/tasks/ManualAltitude/FlightTaskManualAltitude.hpp
Labels: enhancement, multicopter

#11574 containers add Queue and testing
  platforms/posix/cmake/sitl_tests.cmake
  src/include/containers/IntrusiveQueue.hpp
  src/systemcmds/tests/CMakeLists.txt
  src/systemcmds/tests/test_IntrusiveQueue.cpp
  src/systemcmds/tests/tests_main.c
  src/systemcmds/tests/tests_main.h
Labels: enhancement

#11639 mc_pos_control limit to 50 Hz
  src/modules/mc_pos_control/mc_pos_control_main.cpp
Labels: multicopter

#10780 Avoidance Interface CI
  .ci/Jenkinsfile-SITL_tests
  Makefile
  ROMFS/px4fmu_common/init.d-posix/1015_iris_obs_avoid
  integrationtests/python_src/px4_it/mavros/missions/avoidance.plan
  test/mavros_posix_test_avoidance.test
  test/rostest_avoidance_run.sh
Labels: devcall, enhancement

#11636 FlightTaskAuto - Recover position control after local position reset
  src/lib/FlightTasks/tasks/Auto/FlightTaskAuto.cpp
Labels: bug, multicopter

#11678 update cmake NuttX helper save behaviour (oldconfig, menuconfig, etc)
  platforms/nuttx/NuttX/CMakeLists.txt
  platforms/nuttx/cmake/init.cmake
Labels: nuttx

#11637 Trajectory generator-based FlightTasks - Handle position and velocity resets from EKF
  src/lib/FlightTasks/tasks/AutoLineSmoothVel/FlightTaskAutoLineSmoothVel.cpp
  src/lib/FlightTasks/tasks/AutoLineSmoothVel/FlightTaskAutoLineSmoothVel.hpp
  src/lib/FlightTasks/tasks/ManualPositionSmoothVel/FlightTaskManualPositionSmoothVel.cpp
  src/lib/FlightTasks/tasks/ManualPositionSmoothVel/FlightTaskManualPositionSmoothVel.hpp
Labels: multicopter

#11715 cmake nuttx use wrapper script to call "make olddefconfig"
  platforms/nuttx/NuttX/CMakeLists.txt
  platforms/nuttx/NuttX/tools/kconfig-tweak
  platforms/nuttx/NuttX/tools/px4_nuttx_make_olddefconfig.sh
Labels: bug, nuttx

#11719 px_uploader.py: write timeout workaround
  Tools/px_uploader.py
Labels: devcall
