Repository PX4/PX4-Autopilot, pull requests merged in 2019-02, with the labels that each got.

#11354 airframes: add Holybro QAV250
  ROMFS/px4fmu_common/init.d/airframes/4052_holybro_qav250
  ROMFS/px4fmu_common/init.d/airframes/CMakeLists.txt
Labels: enhancement

#10823 FW airframe defaults relax EKF2 GPS checks
  ROMFS/px4fmu_common/init.d/rc.fw_defaults
Labels: enhancement, fixedwing

#11306 Simulator small refactor
  src/modules/simulator/simulator_mavlink.cpp
Labels: cleanup

#11288 tiltrotor: fix transition check when airspeed is invalid
  src/modules/vtol_att_control/tiltrotor.cpp
Labels: enhancement, vtol

#11323 mavlink: improve comments about message forwarding
  src/modules/mavlink/mavlink_main.cpp
Labels: cleanup

#11210 msg: add gps_yaw and mag_aligned to estimator_status
  msg/estimator_status.msg
Labels: enhancement

#11396 EKF2 always use IMU timestamp as now
  src/modules/ekf2/ekf2_main.cpp
Labels: ekf2, enhancement

#11372 mc_att_control: landing gear publish correct message
  src/modules/mc_att_control/mc_att_control_main.cpp
Labels: bug, multicopter

#11411 mathlib Limits don't bother using references
  cmake/px4_add_common_flags.cmake
  src/lib/mathlib/math/Limits.hpp
Labels: bug, priority-critical

#11423 uavcan: use px4 timestamp for the esc status message
  src/drivers/uavcan/actuators/esc.cpp
Labels: uavcan

#11427 Jenkinsfile temporarily disable catkin and colcon builds
  Jenkinsfile
Labels: bug

#11374 STM32F7 disable d-cache see 1259864 Data corruption in a sequence of …
  boards/px4/fmu-v5/nuttx-config/nsh/defconfig
Labels: devcall, fmu-v5, nuttx

#11415 navigation.h mission_item_s doesn't need to be packed
  src/modules/dataman/dataman.h
  src/modules/navigator/navigation.h
Labels: bug

#11463 Jenkins CI: PX4 ROS msgs stage: deploy message definitions to the 'ros1' branch of 'px4_msgs'
  Jenkinsfile
Labels: jenkins-ci

#11453 BUGFIX stm32:drv_io_timer:Prevent glitch on PWM outputs
  src/drivers/stm32/drv_io_timer.c
Labels: bug, nuttx

#10175 commander auto disarm if kill switch engaged for 5 seconds
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
  src/modules/sensors/rc_params.c
Labels: documentation, enhancement

#11516 Failover in case of gyroscope failure
  src/modules/mc_att_control/mc_att_control_main.cpp
Labels: multicopter

#11534 Tools: fix style consistency in shell scripts "if [...]; then"
  Tools/astyle/check_code_style_all.sh
  Tools/astyle/files_to_check_code_style.sh
  Tools/astyle/pre-commit
  Tools/check_submodules.sh
  Tools/serial/rc.serial.jinja
  Tools/serial/rc.serial_port.jinja
  Tools/setup/ubuntu.sh
  Tools/sitl_run.sh
  Tools/upload.sh
Labels: cleanup

#11460 smooth takeoff - Support smooth takeoff triggered by jerk setpoint
  src/lib/FlightTasks/tasks/ManualPositionSmoothVel/FlightTaskManualPositionSmoothVel.cpp
  src/lib/FlightTasks/tasks/ManualPositionSmoothVel/FlightTaskManualPositionSmoothVel.hpp
  src/modules/mc_pos_control/mc_pos_control_main.cpp
Labels: bug, multicopter

#11517 navigator: Reset vehicle_roi before a mission
  src/modules/navigator/mission.cpp
  src/modules/navigator/navigator.h
Labels: bug

#11541 Correted list of serial ports for lpe target for fmu v2 board
  boards/px4/fmu-v2/lpe.cmake
Labels: bug, lpe

#11524 Fix ROI yaw wrapping
  src/modules/vmount/output.cpp
Labels: bug

#11211 Fix Altitude Limitation
  src/modules/mc_pos_control/mc_pos_control_main.cpp
Labels: bug, multicopter

#11543 ManualSmoothVel - Split position lock condition and flag action
  src/lib/FlightTasks/tasks/ManualPositionSmoothVel/FlightTaskManualPositionSmoothVel.cpp
Labels: bug, priority-critical

#11533 Makefile: streamline cmake-build & cleanup nuttx_, _default targets
  Makefile
Labels: cleanup

#11549 Re-add glitch-free position unlock
  src/modules/mc_pos_control/mc_pos_control_main.cpp
Labels: bug, multicopter
