Repository PX4/PX4-Autopilot, pull requests merged in 2019-10, with the labels that each got.

#13057 px4io: move to uORB::Publication<>
  src/drivers/px4io/px4io.cpp
Labels: cleanup

#12940 CollisionPrevention add more distance_sensor orientations
  msg/distance_sensor.msg
  src/lib/CollisionPrevention/CollisionPrevention.cpp
  src/lib/CollisionPrevention/CollisionPrevention.hpp
Labels: avoidance, enhancement

#13072 Remove recently added vehicle_attitude.timestamp check from MulticopterLandDetector::_get_maybe_landed_state().
  src/modules/land_detector/MulticopterLandDetector.cpp
Labels: bug

#13106 ubuntu.sh: correct output during ccache installation
  Tools/setup/ubuntu.sh
Labels: bug

#13110 uorb_rtps_message_ids.yaml: fix typo
  msg/tools/uorb_rtps_message_ids.yaml
Labels: bug, rtps

#12480 When setting pos_sp_triplet yaw, also set the yaw valid flag to true
  src/modules/navigator/mission.cpp
Labels: bug, multicopter

#13142 Commander: improve message for RC override event
  src/modules/commander/Commander.cpp
Labels: enhancement

#13160 Arch Linux Setup: optionally install gazebo from AUR and fix pip Call
  Tools/setup/arch.sh
Labels: enhancement

#12468 navigator: fix save mission state.
  src/modules/navigator/mission.cpp
Labels: bug

#13174 PULL_REQUEST_TEMPLATE: change order of titles
  PULL_REQUEST_TEMPLATE.md
Labels: proposal

#12110 WIP: commander re-evaluate RC mode switch when local position becomes valid
  src/modules/commander/Commander.cpp
Labels: enhancement, more_info_needed

#13179 arch.sh: switch permissions of pip install (again)
  Tools/setup/arch.sh
Labels: bug, tools

#13162 add here2 mag to startup for fmu-v5
  boards/px4/fmu-v5/init/rc.board_sensors
Labels: enhancement

#13184 mavlink: only send ATTITUDE/ATTITUDE_QUATERNION msgs on vehicle_attitude update
  src/modules/mavlink/mavlink_messages.cpp
Labels: bug

#13187 generate_microRTPS_bridge: fix fastrtpsgen version check handler
  msg/tools/generate_microRTPS_bridge.py
Labels: bug, rtps

#13188 microRTPS: templates: fix support for ROS2 Dashing
  msg/templates/urtps/Publisher.cpp.em
  msg/templates/urtps/Publisher.h.em
  msg/templates/urtps/RtpsTopics.cpp.em
  msg/templates/urtps/Subscriber.cpp.em
  msg/templates/urtps/Subscriber.h.em
Labels: bug, ros, rtps

#13189 Jenkins CI: reactivate Catkin build stage
  Jenkinsfile
Labels: CI, ros

#13197 run arm authorization as last pre-arm check, as it used to be impleme…
  src/modules/commander/state_machine_helper.cpp
Labels: bug

#13150 Add param to choose vision observation noise source
  src/modules/ekf2/ekf2_main.cpp
  src/modules/ekf2/ekf2_params.c
Labels: ekf2, enhancement

#11865 do not check VP fusion during GPS startup
  src/modules/local_position_estimator/sensors/gps.cpp
Labels: lpe

#13206 Fix param update in mc_att_control
  src/modules/mc_att_control/mc_att_control_main.cpp
Labels: bug

#13211 microRTPS bridge: templates: do not change naming of topics based on the fasrtpsgen version
  msg/templates/urtps/Publisher.cpp.em
  msg/templates/urtps/Subscriber.cpp.em
Labels: bug, rtps

#12778 VTOL GPSF: fix fixed bank loiter
  src/modules/navigator/gpsfailure.cpp
  src/modules/navigator/gpsfailure.h
Labels: bug, vtol

#13196 ROMFS: rc.vtol_defaults limit inner loop rate
  ROMFS/px4fmu_common/init.d/rc.vtol_defaults
Labels: vtol

#13157 Changed listener to not busy-wait
  src/systemcmds/topic_listener/listener_main.cpp
Labels: bug

#13208 Remove TPA from rate control
  src/modules/mc_att_control/RateControl/RateControl.cpp
  src/modules/mc_att_control/RateControl/RateControl.hpp
  src/modules/mc_att_control/RateControl/RateControlTest.cpp
  src/modules/mc_att_control/mc_att_control.hpp
  src/modules/mc_att_control/mc_att_control_main.cpp
  src/modules/mc_att_control/mc_att_control_params.c
Labels: cleanup, proposal

#13235 microRTPS: templates: only decode ros2_distro when possible and nedeed
  msg/templates/urtps/Publisher.cpp.em
  msg/templates/urtps/Publisher.h.em
  msg/templates/urtps/RtpsTopics.cpp.em
  msg/templates/urtps/Subscriber.cpp.em
  msg/templates/urtps/Subscriber.h.em
Labels: bug, rtps

#13242 generate_listener.py don't use message length
  src/systemcmds/topic_listener/generate_listener.py
Labels: bug

#13246 Retune SITL model typhoon h480
  ROMFS/px4fmu_common/init.d-posix/6011_typhoon_h480
Labels: gazebo, sitl

#13256 arch.sh: get rid of ignition-cmake workaround
  Tools/setup/arch.sh
Labels: cleanup, tools

#13225 Support offboard velocity setpoints for rover
  src/modules/rover_pos_control/RoverPositionControl.cpp
  src/modules/rover_pos_control/RoverPositionControl.hpp
Labels: offboard, rover

#13267 Fix heading not stable issue 2
  src/modules/ekf2/Utility/InnovationLpf.hpp
Labels: bug, priority-critical

#13257 UAVCAN: Optical Flow: Bug fix missing integration_timespan field
  src/drivers/uavcan/sensors/flow.cpp
Labels: bug, uavcan

#13272 AutoLineSmoothVel: fix constrain priority for autocontinue.
  src/lib/FlightTasks/tasks/AutoLineSmoothVel/FlightTaskAutoLineSmoothVel.cpp
  src/lib/FlightTasks/tasks/AutoLineSmoothVel/FlightTaskAutoLineSmoothVel.hpp
Labels: bug

#13141 Check system type for SET_ATTITUDE_TARGET attitude publising
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/mavlink/mavlink_receiver.h
Labels: enhancement, offboard, vtol

#13249 ATTITUDE_QUATERNION: fill repr_offset_q for tailsitters
  msg/vehicle_status.msg
  src/lib/conversion/rotation.cpp
  src/lib/conversion/rotation.h
  src/modules/commander/Commander.cpp
  src/modules/commander/commander_helper.cpp
  src/modules/commander/commander_helper.h
  src/modules/mavlink/mavlink_messages.cpp
Labels: comms, vtol

#13295 commander: make battery failsafes sane by default
  src/modules/commander/commander_params.c
Labels: enhancement

#13199 Enable loiter type offboard position setpoint for Fixedwing vehicles
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.hpp
Labels: fixedwing, offboard

#13048 fw_att_control: move to px4::params
  Tools/parameter_update.py
  boards/px4/fmu-v5/stackcheck.cmake
  src/modules/fw_att_control/FixedwingAttitudeControl.cpp
  src/modules/fw_att_control/FixedwingAttitudeControl.hpp
Labels: cleanup, enhancement, fixedwing

#13051 uavcan minor cleanup
  src/drivers/uavcan/actuators/esc.cpp
  src/drivers/uavcan/actuators/esc.hpp
  src/drivers/uavcan/actuators/hardpoint.cpp
  src/drivers/uavcan/allocator.hpp
  src/drivers/uavcan/sensors/baro.cpp
  src/drivers/uavcan/sensors/baro.hpp
  src/drivers/uavcan/sensors/gnss.cpp
  src/drivers/uavcan/sensors/gnss.hpp
  src/drivers/uavcan/sensors/mag.cpp
  src/drivers/uavcan/sensors/mag.hpp
  src/drivers/uavcan/sensors/sensor_bridge.cpp
  src/drivers/uavcan/sensors/sensor_bridge.hpp
  src/drivers/uavcan/uavcan_main.cpp
  src/drivers/uavcan/uavcan_main.hpp
  src/drivers/uavcan/uavcan_servers.cpp
  src/drivers/uavcan/uavcan_servers.hpp
  src/lib/drivers/device/Device.hpp
  src/lib/drivers/device/nuttx/I2C.hpp
  src/lib/drivers/device/nuttx/SPI.hpp
  src/lib/drivers/device/posix/I2C.hpp
  src/lib/drivers/device/posix/SPI.hpp
  src/lib/parameters/parameters_injected.xml
Labels: cleanup, enhancement, uavcan

#13307 NuttX microRTPS UDP support
  msg/templates/urtps/microRTPS_agent.cpp.em
  msg/templates/urtps/microRTPS_transport.cpp
  msg/templates/urtps/microRTPS_transport.h
  src/modules/micrortps_bridge/micrortps_client/microRTPS_client.h
  src/modules/micrortps_bridge/micrortps_client/microRTPS_client_main.cpp
Labels: enhancement, rtps
