Repository PX4/PX4-Autopilot, pull requests merged in 2019-11, with the labels that each got.

#13353 mpu9250: fix mag spikes on fmu-v4pro
  src/drivers/imu/mpu9250/MPU9250_mag.cpp
  src/drivers/imu/mpu9250/MPU9250_mag.h
Labels: flight-testing

#13323 Enable attitude setpoints for rover offboard control
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/rover_pos_control/RoverPositionControl.cpp
  src/modules/rover_pos_control/RoverPositionControl.hpp
Labels: offboard, rover

#13312 Removed lidar lite reset after intialization
  src/drivers/distance_sensor/ll40ls/LidarLiteI2C.cpp
Labels: bug

#13321 Fix off-track tracking in AutoLineSmoothVel
  src/lib/CollisionPrevention/CollisionPrevention.cpp
  src/lib/FlightTasks/tasks/AutoLineSmoothVel/FlightTaskAutoLineSmoothVel.cpp
  src/lib/FlightTasks/tasks/AutoLineSmoothVel/FlightTaskAutoLineSmoothVel.hpp
  src/lib/mathlib/math/TrajMath.hpp
Labels: enhancement, multicopter

#13382 Trivial: remove unused position control function declarations
  src/modules/mc_pos_control/mc_pos_control_main.cpp
Labels: cleanup

#13327 mavlink_receiver: write STATUSTEXT messages from the same system to log
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/mavlink/mavlink_receiver.h
Labels: enhancement

#13294 commander: fix battery failsafe without GPS
  src/modules/commander/state_machine_helper.cpp
Labels: bug, flight-testing

#13391 Fix for big latency spikes in RTPS communication
  msg/templates/urtps/RtpsTopics.cpp.em
  msg/templates/urtps/RtpsTopics.h.em
  msg/templates/urtps/Subscriber.cpp.em
  msg/templates/urtps/Subscriber.h.em
  msg/templates/urtps/microRTPS_agent.cpp.em
Labels: enhancement, rtps

#13393 ADIS IMU drivers cleanup and standardize main
  src/drivers/imu/adis16448/adis16448_main.cpp
  src/drivers/imu/adis16477/adis16477_main.cpp
  src/drivers/imu/adis16497/adis16497_main.cpp
Labels: bug, cleanup, drivers

#13363 Handle velocity frames correctly for rover offboard velocity control
  src/modules/rover_pos_control/RoverPositionControl.cpp
Labels: offboard, rover

#13402 sensors: ensure angular velocity publication on selected sensor update
  src/modules/sensors/vehicle_acceleration/VehicleAcceleration.cpp
  src/modules/sensors/vehicle_angular_velocity/VehicleAngularVelocity.cpp
Labels: bug

#13383 Do not overwrite landing gear state
  src/lib/FlightTasks/tasks/AutoMapper/FlightTaskAutoMapper.cpp
  src/lib/FlightTasks/tasks/AutoMapper2/FlightTaskAutoMapper2.cpp
Labels: multicopter

#13325 Parameter for disarm kill switch timeout
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
  src/modules/commander/commander_params.c
Labels: enhancement

#13412 [BACKPORT] 1.10: Do not overwrite landing gear state
  src/lib/FlightTasks/tasks/AutoMapper/FlightTaskAutoMapper.cpp
  src/lib/FlightTasks/tasks/AutoMapper2/FlightTaskAutoMapper2.cpp
Labels: release port

#13424 cmake don't build param "c" files and remove param defines
  boards/bitcraze/crazyflie/syslink/CMakeLists.txt
  boards/bitcraze/crazyflie/syslink/syslink_params.c
  platforms/common/CMakeLists.txt
  platforms/common/include/px4_platform_common/defines.h
  platforms/common/px4_log.cpp
  platforms/posix/src/px4/common/gtest_runner/gtest_functional_main.cpp
  src/drivers/batt_smbus/batt_smbus.cpp
  src/drivers/distance_sensor/sf0x/sf0x.cpp
  src/drivers/distance_sensor/sf1xx/sf1xx.cpp
  src/drivers/distance_sensor/teraranger/teraranger.cpp
  src/drivers/driver_framework_wrapper/df_ak8963_wrapper/df_ak8963_wrapper.cpp
  src/drivers/driver_framework_wrapper/df_hmc5883_wrapper/df_hmc5883_wrapper.cpp
  src/drivers/driver_framework_wrapper/df_lsm9ds1_wrapper/df_lsm9ds1_wrapper.cpp
  src/drivers/driver_framework_wrapper/df_mpu6050_wrapper/df_mpu6050_wrapper.cpp
  src/drivers/driver_framework_wrapper/df_mpu9250_wrapper/df_mpu9250_wrapper.cpp
  src/drivers/gps/gps.cpp
  src/drivers/lights/rgbled/rgbled.cpp
  src/drivers/lights/rgbled_ncp5623c/rgbled_ncp5623c.cpp
  src/drivers/mkblctrl/CMakeLists.txt
  src/drivers/power_monitor/ina226/ina226.cpp
  src/drivers/qurt/fc_addon/mpu_spi/CMakeLists.txt
  src/drivers/qurt/fc_addon/rc_receiver/CMakeLists.txt
  src/drivers/qurt/fc_addon/uart_esc/CMakeLists.txt
  src/drivers/roboclaw/RoboClaw.hpp
  src/drivers/telemetry/iridiumsbd/CMakeLists.txt
  src/drivers/telemetry/iridiumsbd/iridiumsbd_params.c
  src/drivers/uavcan/CMakeLists.txt
  src/drivers/uavcan/uavcan_params.c
  src/drivers/uavcanesc/CMakeLists.txt
  src/drivers/uavcannode/CMakeLists.txt
  src/lib/circuit_breaker/circuit_breaker.cpp
  src/lib/parameters/param.h
  src/modules/commander/Arming/ArmAuthorization/ArmAuthorization.cpp
  src/modules/commander/Arming/PreFlightCheck/PreFlightCheck.cpp
  src/modules/commander/Arming/PreFlightCheck/checks/ekf2Check.cpp
  src/modules/commander/Arming/PreFlightCheck/checks/imuConsistencyCheck.cpp
  src/modules/commander/Arming/PreFlightCheck/checks/magConsistencyCheck.cpp
  src/modules/events/temperature_calibration/common.h
  src/modules/replay/Replay.cpp
  src/modules/vmount/input_mavlink.cpp
  src/modules/vmount/vmount.cpp
  src/systemcmds/tests/test_parameters.cpp
Labels: cleanup

#13436 boards: start adc in rc.board_sensors
  ROMFS/px4fmu_common/init.d/rc.sensors
  ROMFS/px4fmu_common/init.d/rcS
  boards/airmind/mindpx-v2/init/rc.board_sensors
  boards/auav/x21/init/rc.board_sensors
  boards/av/x-v1/init/rc.board_sensors
  boards/bitcraze/crazyflie/init/rc.board_sensors
  boards/holybro/kakutef7/init/rc.board_sensors
  boards/intel/aerofc-v1/init/rc.board_sensors
  boards/modalai/fc-v1/init/rc.board_sensors
  boards/mro/ctrl-zero-f7/init/rc.board_sensors
  boards/nxp/fmuk66-v3/init/rc.board_sensors
  boards/omnibus/f4sd/init/rc.board_sensors
  boards/px4/fmu-v2/init/rc.board_sensors
  boards/px4/fmu-v3/init/rc.board_sensors
  boards/px4/fmu-v4/init/rc.board_sensors
  boards/px4/fmu-v4pro/init/rc.board_sensors
  boards/px4/fmu-v5/init/rc.board_sensors
  boards/px4/fmu-v5x/init/rc.board_sensors
  boards/uvify/core/init/rc.board_sensors
Labels: bug, enhancement

#13451 flexcan: fix code style
  Tools/astyle/files_to_check_code_style.sh
  src/drivers/uavcan/uavcan_drivers/kinetis/driver/include/uavcan_kinetis/flexcan.hpp
Labels: proposal, question

#13456 ms5611: build on linux (navio2)
  boards/emlid/navio2/cross.cmake
  boards/emlid/navio2/native.cmake
  src/drivers/barometer/ms5611/CMakeLists.txt
  src/drivers/barometer/ms5611/MS5611.hpp
  src/drivers/barometer/ms5611/ms5611.cpp
  src/drivers/barometer/ms5611/ms5611_main.cpp
Labels: enhancement

#13463 bmp280: build on linux and qurt
  boards/atlflight/eagle/qurt-default.cmake
  boards/atlflight/excelsior/qurt-default.cmake
  boards/beaglebone/blue/cross.cmake
  boards/beaglebone/blue/native.cmake
  src/drivers/barometer/bmp280/BMP280.hpp
  src/drivers/barometer/bmp280/CMakeLists.txt
  src/drivers/barometer/bmp280/bmp280.cpp
  src/drivers/barometer/bmp280/bmp280_main.cpp
Labels: cleanup

#13457 hmc5883: build on linux and qurt
  boards/aerotenna/ocpoc/ubuntu.cmake
  boards/atlflight/eagle/qurt-default.cmake
  boards/emlid/navio2/cross.cmake
  boards/emlid/navio2/native.cmake
  src/drivers/magnetometer/hmc5883/CMakeLists.txt
  src/drivers/magnetometer/hmc5883/HMC5883.cpp
  src/drivers/magnetometer/hmc5883/HMC5883.hpp
  src/drivers/magnetometer/hmc5883/hmc5883.h
  src/drivers/magnetometer/hmc5883/hmc5883_i2c.cpp
  src/drivers/magnetometer/hmc5883/hmc5883_main.cpp
  src/drivers/magnetometer/hmc5883/hmc5883_spi.cpp
Labels: cleanup

#13420 Implement battery status "charge state"
  src/modules/mavlink/mavlink_messages.cpp
Labels: enhancement

#13477 mpu9250: cleanup main
  src/drivers/imu/mpu9250/mpu9250_main.cpp
Labels: cleanup

#13440 fmuk66-v3:Fix hang on SDIO card removal/reinsertion
  boards/nxp/fmuk66-v3/nuttx-config/Kconfig
  boards/nxp/fmuk66-v3/nuttx-config/nsh/defconfig
  boards/nxp/fmuk66-v3/src/board_config.h
  boards/nxp/fmuk66-v3/src/sdhc.c
Labels: bug, nuttx, nxphlite

#13490 NuttX cmake bug fixes and improvements
  CMakeLists.txt
  cmake/ccache.cmake
  platforms/nuttx/CMakeLists.txt
  platforms/nuttx/NuttX/CMakeLists.txt
  platforms/nuttx/NuttX/Make.defs.in
  platforms/nuttx/NuttX/tools/px4_nuttx_make_olddefconfig.sh
  platforms/nuttx/cmake/Platform/Generic-arm-none-eabi-gcc-cortex-m7.cmake
  platforms/nuttx/cmake/Toolchain-arm-none-eabi.cmake
  platforms/nuttx/cmake/blackmagic.cmake
  platforms/nuttx/cmake/init.cmake
  platforms/nuttx/cmake/jlink.cmake
Labels: bug, nuttx

#13488 px4io: When running HITL, don't publish actuator_outputs. Fixes #13471.
  ROMFS/px4fmu_common/init.d/rc.io
  src/drivers/px4io/px4io.cpp
Labels: bug

#13429 Rover: Enable driving backwards when using attitude setpoints (offboard)
  src/modules/rover_pos_control/RoverPositionControl.cpp
Labels: offboard, rover

#13499 cmake NuttX linker print memory usage
  platforms/nuttx/CMakeLists.txt
Labels: enhancement, nuttx

#13528 mpu9250: fully remove dead interval perf counter
  src/drivers/imu/mpu9250/mpu9250.cpp
  src/drivers/imu/mpu9250/mpu9250.h
Labels: bug

#13522 Properly reset position control velocity derivatives
  src/lib/controllib/BlockDerivative.hpp
  src/modules/mc_pos_control/mc_pos_control_main.cpp
Labels: bug, multicopter

#13524 [BACKPORT 1.10] Properly reset position control velocity derivatives
  src/lib/controllib/BlockDerivative.hpp
  src/modules/mc_pos_control/mc_pos_control_main.cpp
Labels: bug, multicopter

#13314 Add support for offboard ActuatorControl set points to RoverPositionControl (fixes #13192)
  src/modules/rover_pos_control/RoverPositionControl.cpp
  src/modules/rover_pos_control/RoverPositionControl.hpp
Labels: rover

#13540 navigator: run immediately on vehicle_status updates
  src/modules/navigator/navigator.h
  src/modules/navigator/navigator_main.cpp
Labels: enhancement

#13542 bmp388: cleanup main and add to px4_fmu-v5x board_config.h
  boards/px4/fmu-v5x/src/board_config.h
  src/drivers/barometer/bmp388/bmp388.cpp
  src/drivers/barometer/bmp388/bmp388.h
  src/drivers/barometer/bmp388/bmp388_i2c.cpp
  src/drivers/barometer/bmp388/bmp388_main.cpp
  src/drivers/barometer/bmp388/bmp388_spi.cpp
  src/lib/drivers/barometer/PX4Barometer.hpp
Labels: bug, cleanup, fmu-v5x

#13545 PositionControl: remove unwanted debug printfs
  src/modules/mc_pos_control/PositionControl/PositionControl.cpp
Labels: bug, priority-critical

#13501 SITL: create a parameter file for each airframe + add SYS_AUTOCONFIG support
  ROMFS/px4fmu_common/init.d-posix/rcS
Labels: bug, sitl

#13539 dataman: add read and write perf counters
  src/modules/dataman/dataman.cpp
Labels: enhancement

#12887 Airspeed selector follow-up
  boards/px4/fmu-v2/default.cmake
  msg/airspeed_validated.msg
  msg/vehicle_status.msg
  src/lib/airspeed_validator/AirspeedValidator.cpp
  src/lib/airspeed_validator/AirspeedValidator.hpp
  src/modules/airspeed_selector/airspeed_selector_main.cpp
  src/modules/airspeed_selector/airspeed_selector_params.c
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
  src/modules/commander/commander_params.c
  src/modules/fw_att_control/FixedwingAttitudeControl.cpp
  src/modules/fw_att_control/FixedwingAttitudeControl.hpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.hpp
  src/modules/vtol_att_control/standard.cpp
  src/modules/vtol_att_control/tailsitter.cpp
  src/modules/vtol_att_control/tiltrotor.cpp
  src/modules/vtol_att_control/vtol_att_control_main.cpp
  src/modules/vtol_att_control/vtol_att_control_main.h
  src/modules/vtol_att_control/vtol_type.cpp
  src/modules/vtol_att_control/vtol_type.h
Labels: fixedwing, vtol

#13557 mc_pos_control: fix position setpoints being logged as zero when NAN
  src/modules/mc_pos_control/mc_pos_control_main.cpp
Labels: bug, logging, multicopter

#13497 uORB/microRTPS: add deprecated uORB msg/topic list to CMake
  msg/CMakeLists.txt
  msg/tools/uorb_rtps_message_ids.yaml
Labels: enhancement, rtps, uorb

#13534 navigator: fix triplet resetting/publication logic
  src/modules/navigator/mission.cpp
  src/modules/navigator/navigator_main.cpp
Labels: bug

#13580 bmp280 barometer cleanup
  boards/holybro/kakutef7/init/rc.board_sensors
  boards/nxp/fmuk66-v3/init/rc.board_sensors
  src/drivers/barometer/bmp280/BMP280.cpp
  src/drivers/barometer/bmp280/BMP280.hpp
  src/drivers/barometer/bmp280/BMP280_I2C.cpp
  src/drivers/barometer/bmp280/BMP280_SPI.cpp
  src/drivers/barometer/bmp280/CMakeLists.txt
  src/drivers/barometer/bmp280/bmp280.cpp
  src/drivers/barometer/bmp280/bmp280.h
  src/drivers/barometer/bmp280/bmp280_main.cpp
  src/drivers/magnetometer/bmm150/bmm150.cpp
Labels: cleanup

#13556 px4iofirmware: delete unused i2c and hx_stream
  src/drivers/px4io/px4io.cpp
  src/modules/px4iofirmware/CMakeLists.txt
  src/modules/px4iofirmware/hx_stream.c
  src/modules/px4iofirmware/hx_stream.h
  src/modules/px4iofirmware/i2c.c
Labels: cleanup

#13574 microRTPS_client: use updated uORB API; improve usage
  msg/templates/uorb_microcdr/microRTPS_client.cpp.em
  msg/templates/urtps/microRTPS_transport.cpp
  src/modules/micrortps_bridge/micrortps_client/microRTPS_client.h
  src/modules/micrortps_bridge/micrortps_client/microRTPS_client_main.cpp
Labels: enhancement, rtps

#13569 remove all <cmath> usage
  platforms/nuttx/src/px4/nxp/kinetis/tone_alarm/ToneAlarmInterface.cpp
  platforms/nuttx/src/px4/stm/stm32_common/tone_alarm/ToneAlarmInterfacePWM.cpp
  src/drivers/linux_pwm_out/linux_pwm_out.cpp
  src/drivers/snapdragon_pwm_out/snapdragon_pwm_out.cpp
  src/drivers/tap_esc/tap_esc.cpp
  src/drivers/uavcan/sensors/baro.cpp
  src/drivers/uavcan/uavcan_drivers/kinetis/driver/src/uc_kinetis_clock.cpp
  src/drivers/uavcan/uavcan_drivers/stm32/driver/src/uc_stm32_clock.cpp
  src/lib/mathlib/math/filter/LowPassFilter2p.cpp
  src/lib/mathlib/math/filter/LowPassFilter2pVector3f.cpp
  src/lib/mixer/MultirotorMixer/test_mixer_multirotor.cpp
  src/modules/commander/Commander.cpp
  src/modules/commander/airspeed_calibration.cpp
  src/modules/commander/gyro_calibration.cpp
  src/modules/commander/mag_calibration.cpp
  src/modules/land_detector/MulticopterLandDetector.cpp
  src/modules/mavlink/mavlink_mission.cpp
Labels: cleanup

#13601 mavlink: temporarily disable ACTUATOR_CONTROL_TARGET{1, 2, 3} and SERVO_OUTPUT_RAW_{2, 3}
  src/modules/mavlink/mavlink_messages.cpp
Labels: cleanup

#13324 fmuk66-v3:Add Ethernet Support
  boards/nxp/fmuk66-v3/nuttx-config/include/board.h
  boards/nxp/fmuk66-v3/nuttx-config/nsh/defconfig
Labels: enhancement, nuttx, nxp-rddrone-fmuk66

#13625 [Trivial] FixedWingPositionControl: ommit */ with ///< doxygen comments
  src/modules/fw_pos_control_l1/FixedwingPositionControl.hpp
Labels: cleanup

#13045 VTOL: explicitly start FW & MC controllers in VTOL mode
  ROMFS/px4fmu_common/init.d/rc.vtol_apps
  Tools/uorb_graph/create.py
  posix-configs/SITL/init/test/test_shutdown
  src/modules/fw_att_control/FixedwingAttitudeControl.cpp
  src/modules/fw_att_control/FixedwingAttitudeControl.hpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.hpp
  src/modules/mc_att_control/mc_att_control.hpp
  src/modules/mc_att_control/mc_att_control_main.cpp
  src/modules/mc_pos_control/mc_pos_control_main.cpp
  src/modules/mc_rate_control/MulticopterRateControl.cpp
  src/modules/mc_rate_control/MulticopterRateControl.hpp
Labels: cleanup, enhancement, vtol

#13044 camera_feedback: move to WQ callback and uORB::Subscription
  boards/aerotenna/ocpoc/default.cmake
  boards/bitcraze/crazyflie/default.cmake
  boards/emlid/navio2/cross.cmake
  boards/emlid/navio2/native.cmake
  boards/nxp/fmuk66-v3/default.cmake
  boards/parrot/bebop/default.cmake
  boards/px4/fmu-v2/default.cmake
  boards/px4/fmu-v2/fixedwing.cmake
  boards/px4/fmu-v2/multicopter.cmake
  boards/px4/fmu-v2/test.cmake
  boards/px4/fmu-v5/stackcheck.cmake
  boards/px4/sitl/default.cmake
  boards/px4/sitl/rtps.cmake
  boards/px4/sitl/test.cmake
  src/drivers/camera_capture/camera_capture.cpp
  src/drivers/camera_capture/camera_capture.hpp
  src/modules/camera_feedback/CMakeLists.txt
  src/modules/camera_feedback/CameraFeedback.cpp
  src/modules/camera_feedback/CameraFeedback.hpp
  src/modules/camera_feedback/camera_feedback.cpp
Labels: cleanup, enhancement
