Repository PX4/PX4-Autopilot, pull requests merged in 2019-07, with the labels that each got.

#12366 rc_input move to uORB::Subscription
  src/drivers/rc_input/RCInput.cpp
  src/drivers/rc_input/RCInput.hpp
  src/drivers/rc_input/crsf_telemetry.cpp
  src/drivers/rc_input/crsf_telemetry.h
Labels: cleanup, enhancement

#12369 landing_target_estimator: update to uORB Subscription and Publication
  src/modules/landing_target_estimator/LandingTargetEstimator.cpp
  src/modules/landing_target_estimator/LandingTargetEstimator.h
Labels: cleanup

#12141 Analog Devices ADIS16497 move to PX4Accelerometer/PX4Gyroscope and cleanup
  src/drivers/imu/adis16497/ADIS16497.cpp
  src/drivers/imu/adis16497/ADIS16497.hpp
  src/drivers/imu/adis16497/ADIS16497_gyro.cpp
  src/drivers/imu/adis16497/ADIS16497_gyro.hpp
  src/drivers/imu/adis16497/CMakeLists.txt
  src/drivers/imu/adis16497/adis16497_main.cpp
  src/lib/drivers/accelerometer/PX4Accelerometer.cpp
  src/lib/drivers/accelerometer/PX4Accelerometer.hpp
  src/lib/drivers/gyroscope/PX4Gyroscope.cpp
  src/lib/drivers/gyroscope/PX4Gyroscope.hpp
Labels: cleanup

#12140 Analog Devices ADIS16477 move to PX4Accelerometer/PX4Gyroscope and cleanup
  src/drivers/imu/adis16477/ADIS16477.cpp
  src/drivers/imu/adis16477/ADIS16477.hpp
  src/drivers/imu/adis16477/ADIS16477_gyro.cpp
  src/drivers/imu/adis16477/ADIS16477_gyro.hpp
  src/drivers/imu/adis16477/CMakeLists.txt
  src/drivers/imu/adis16477/adis16477_main.cpp
Labels: cleanup

#12403 Fixed incorrect timestamps in vehicle_command, distance_sensor, and optical_flow topics
  src/lib/FlightTasks/tasks/Utility/ObstacleAvoidance.cpp
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/mc_pos_control/mc_pos_control_main.cpp
Labels: bug

#12410 Upated Babyshark VTOL config and vtol_defaults
  ROMFS/px4fmu_common/init.d/airframes/13014_vtol_babyshark
  ROMFS/px4fmu_common/init.d/rc.vtol_defaults
Labels: enhancement, vtol

#12419 Shortened generic_differential_rover.main.mix filename
  ROMFS/px4fmu_common/init.d/airframes/50003_aion_robotics_r1_rover
  ROMFS/px4fmu_common/mixers/CMakeLists.txt
  ROMFS/px4fmu_common/mixers/generic_diff_rover.main.mix
Labels: bug, rover

#12382 rtl: implemented RTL based on cone shape
  src/modules/navigator/rtl.cpp
  src/modules/navigator/rtl.h
  src/modules/navigator/rtl_params.c
Labels: enhancement

#12420 GPIO ADC had bad definition
  boards/px4/fmu-v5x/src/board_config.h
Labels: bug, fmu-v5x

#12404 MC pos control - Dynamically constrain parameters
  src/modules/mc_pos_control/mc_pos_control_main.cpp
Labels: enhancement, multicopter

#12421 create systemcmds/i2cdetect tool to scan bus
  boards/airmind/mindpx-v2/default.cmake
  boards/auav/x21/default.cmake
  boards/av/x-v1/default.cmake
  boards/bitcraze/crazyflie/default.cmake
  boards/intel/aerofc-v1/default.cmake
  boards/intel/aerofc-v1/rtps.cmake
  boards/omnibus/f4sd/default.cmake
  boards/px4/fmu-v2/default.cmake
  boards/px4/fmu-v2/fixedwing.cmake
  boards/px4/fmu-v2/lpe.cmake
  boards/px4/fmu-v2/multicopter.cmake
  boards/px4/fmu-v2/rover.cmake
  boards/px4/fmu-v2/test.cmake
  boards/px4/fmu-v3/default.cmake
  boards/px4/fmu-v3/rtps.cmake
  boards/px4/fmu-v3/stackcheck.cmake
  boards/px4/fmu-v4/default.cmake
  boards/px4/fmu-v4/rtps.cmake
  boards/px4/fmu-v4/stackcheck.cmake
  boards/px4/fmu-v4pro/default.cmake
  boards/px4/fmu-v4pro/rtps.cmake
  boards/px4/fmu-v5/default.cmake
  boards/px4/fmu-v5/fixedwing.cmake
  boards/px4/fmu-v5/multicopter.cmake
  boards/px4/fmu-v5/rover.cmake
  boards/px4/fmu-v5/rtps.cmake
  boards/px4/fmu-v5/stackcheck.cmake
  boards/px4/fmu-v5x/default.cmake
  boards/px4/fmu-v5x/fixedwing.cmake
  boards/px4/fmu-v5x/multicopter.cmake
  boards/px4/fmu-v5x/rover.cmake
  boards/px4/fmu-v5x/rtps.cmake
  boards/px4/fmu-v5x/stackcheck.cmake
  src/systemcmds/i2cdetect/CMakeLists.txt
  src/systemcmds/i2cdetect/i2cdetect.cpp
Labels: enhancement

#12434 rc.fw_defaults: reduce EPH/EPV failsafe values from 5x to 3x MC
  ROMFS/px4fmu_common/init.d/rc.fw_defaults
Labels: fixedwing

#12220 Adjustable land speed via RC
  src/lib/FlightTasks/tasks/Auto/FlightTaskAuto.cpp
  src/lib/FlightTasks/tasks/Auto/FlightTaskAuto.hpp
  src/lib/FlightTasks/tasks/AutoMapper2/FlightTaskAutoMapper2.cpp
  src/lib/FlightTasks/tasks/AutoMapper2/FlightTaskAutoMapper2.hpp
  src/modules/mc_pos_control/mc_pos_control_params.c
Labels: enhancement, multicopter

#12417 Auto - Update velocity setpoint generator to avoid overshoot at high cruise speed
  src/lib/FlightTasks/tasks/AutoLineSmoothVel/FlightTaskAutoLineSmoothVel.cpp
Labels: enhancement, multicopter

#12441 Babyshark VTOL: updated config file (hover)
  ROMFS/px4fmu_common/init.d/airframes/13014_vtol_babyshark
Labels: enhancement, vtol

#12443 UAVCAN driver: support throttle linearisation
  src/drivers/px4fmu/fmu.cpp
  src/drivers/uavcan/uavcan_main.cpp
  src/drivers/uavcan/uavcan_main.hpp
  src/lib/mixer/mixer.h
Labels: enhancement, uavcan

#12446 boards don't use px4_add_library for drivers_board
  boards/aerotenna/ocpoc/src/CMakeLists.txt
  boards/airmind/mindpx-v2/src/CMakeLists.txt
  boards/atlflight/eagle/src/CMakeLists.txt
  boards/auav/esc35-v1/src/CMakeLists.txt
  boards/auav/x21/src/CMakeLists.txt
  boards/av/x-v1/src/CMakeLists.txt
  boards/beaglebone/blue/src/CMakeLists.txt
  boards/bitcraze/crazyflie/src/CMakeLists.txt
  boards/bitcraze/crazyflie/src/spi.c
  boards/emlid/navio2/src/CMakeLists.txt
  boards/intel/aerofc-v1/src/CMakeLists.txt
  boards/nxp/fmuk66-v3/src/CMakeLists.txt
  boards/omnibus/f4sd/src/CMakeLists.txt
  boards/parrot/bebop/src/CMakeLists.txt
  boards/px4/cannode-v1/src/CMakeLists.txt
  boards/px4/esc-v1/src/CMakeLists.txt
  boards/px4/fmu-v2/src/CMakeLists.txt
  boards/px4/fmu-v2/src/manifest.c
  boards/px4/fmu-v3/src/CMakeLists.txt
  boards/px4/fmu-v3/src/manifest.c
  boards/px4/fmu-v4/src/CMakeLists.txt
  boards/px4/fmu-v4pro/src/CMakeLists.txt
  boards/px4/io-v2/src/CMakeLists.txt
  boards/px4/raspberrypi/src/CMakeLists.txt
  boards/px4/sitl/src/CMakeLists.txt
  boards/thiemar/s2740vc-v1/src/CMakeLists.txt
Labels: cleanup, nuttx

#12448 Fix vehicle flight time
  src/modules/land_detector/LandDetector.cpp
Labels: bug

#12239 Rewrote gnd_pos_control and removed gnd_att_control
  ROMFS/px4fmu_common/init.d-posix/1060_rover
  ROMFS/px4fmu_common/init.d/airframes/50003_aion_robotics_r1_rover
  ROMFS/px4fmu_common/init.d/rc.rover_apps
  boards/aerotenna/ocpoc/ubuntu.cmake
  boards/airmind/mindpx-v2/default.cmake
  boards/atlflight/eagle/default.cmake
  boards/atlflight/eagle/qurt-default.cmake
  boards/atlflight/excelsior/default.cmake
  boards/atlflight/excelsior/qurt-default.cmake
  boards/auav/x21/default.cmake
  boards/av/x-v1/default.cmake
  boards/beaglebone/blue/cross.cmake
  boards/beaglebone/blue/native.cmake
  boards/bitcraze/crazyflie/default.cmake
  boards/emlid/navio2/cross.cmake
  boards/emlid/navio2/native.cmake
  boards/intel/aerofc-v1/default.cmake
  boards/intel/aerofc-v1/rtps.cmake
  boards/nxp/fmuk66-v3/default.cmake
  boards/omnibus/f4sd/default.cmake
  boards/parrot/bebop/default.cmake
  boards/px4/fmu-v2/default.cmake
  boards/px4/fmu-v2/lpe.cmake
  boards/px4/fmu-v2/rover.cmake
  boards/px4/fmu-v2/test.cmake
  boards/px4/fmu-v3/default.cmake
  boards/px4/fmu-v3/rtps.cmake
  boards/px4/fmu-v3/stackcheck.cmake
  boards/px4/fmu-v4/default.cmake
  boards/px4/fmu-v4/rtps.cmake
  boards/px4/fmu-v4/stackcheck.cmake
  boards/px4/fmu-v4pro/default.cmake
  boards/px4/fmu-v4pro/rtps.cmake
  boards/px4/fmu-v5/default.cmake
  boards/px4/fmu-v5/rover.cmake
  boards/px4/fmu-v5/rtps.cmake
  boards/px4/fmu-v5/stackcheck.cmake
  boards/px4/fmu-v5x/default.cmake
  boards/px4/fmu-v5x/rover.cmake
  boards/px4/fmu-v5x/rtps.cmake
  boards/px4/fmu-v5x/stackcheck.cmake
  boards/px4/raspberrypi/cross.cmake
  boards/px4/raspberrypi/native.cmake
  boards/px4/sitl/default.cmake
  boards/px4/sitl/rtps.cmake
  boards/px4/sitl/test.cmake
  src/modules/gnd_att_control/CMakeLists.txt
  src/modules/gnd_att_control/GroundRoverAttitudeControl.cpp
  src/modules/gnd_att_control/GroundRoverAttitudeControl.hpp
  src/modules/gnd_att_control/gnd_att_control_params.c
  src/modules/navigator/navigator_main.cpp
  src/modules/rover_pos_control/CMakeLists.txt
  src/modules/rover_pos_control/RoverPositionControl.cpp
  src/modules/rover_pos_control/RoverPositionControl.hpp
  src/modules/rover_pos_control/rover_pos_control_params.c
Labels: cleanup, enhancement, rover

#12483 jenkins: pub_test needs to start px4 in daemon mode
  launch/pub_test.launch
Labels: jenkins-ci

#12472 PID rate controller - Add controller gain to support Ideal PID form (ISA standard)
  src/modules/mc_att_control/mc_att_control.hpp
  src/modules/mc_att_control/mc_att_control_main.cpp
  src/modules/mc_att_control/mc_att_control_params.c
Labels: enhancement, multicopter

#12389 FlightTask - Proper initialization after switching task
  src/lib/FlightTasks/FlightTasks.cpp
  src/lib/FlightTasks/tasks/Auto/FlightTaskAuto.cpp
  src/lib/FlightTasks/tasks/Auto/FlightTaskAuto.hpp
  src/lib/FlightTasks/tasks/AutoLineSmoothVel/FlightTaskAutoLineSmoothVel.cpp
  src/lib/FlightTasks/tasks/AutoLineSmoothVel/FlightTaskAutoLineSmoothVel.hpp
  src/lib/FlightTasks/tasks/AutoMapper/FlightTaskAutoMapper.cpp
  src/lib/FlightTasks/tasks/AutoMapper/FlightTaskAutoMapper.hpp
  src/lib/FlightTasks/tasks/AutoMapper2/FlightTaskAutoMapper2.cpp
  src/lib/FlightTasks/tasks/AutoMapper2/FlightTaskAutoMapper2.hpp
  src/lib/FlightTasks/tasks/Failsafe/FlightTaskFailsafe.cpp
  src/lib/FlightTasks/tasks/Failsafe/FlightTaskFailsafe.hpp
  src/lib/FlightTasks/tasks/FlightTask/FlightTask.cpp
  src/lib/FlightTasks/tasks/FlightTask/FlightTask.hpp
  src/lib/FlightTasks/tasks/ManualAltitude/FlightTaskManualAltitude.cpp
  src/lib/FlightTasks/tasks/ManualAltitude/FlightTaskManualAltitude.hpp
  src/lib/FlightTasks/tasks/ManualAltitudeSmoothVel/FlightTaskManualAltitudeSmoothVel.cpp
  src/lib/FlightTasks/tasks/ManualAltitudeSmoothVel/FlightTaskManualAltitudeSmoothVel.hpp
  src/lib/FlightTasks/tasks/ManualPosition/FlightTaskManualPosition.cpp
  src/lib/FlightTasks/tasks/ManualPosition/FlightTaskManualPosition.hpp
  src/lib/FlightTasks/tasks/ManualPositionSmoothVel/FlightTaskManualPositionSmoothVel.cpp
  src/lib/FlightTasks/tasks/ManualPositionSmoothVel/FlightTaskManualPositionSmoothVel.hpp
  src/lib/FlightTasks/tasks/Offboard/FlightTaskOffboard.cpp
  src/lib/FlightTasks/tasks/Offboard/FlightTaskOffboard.hpp
  src/lib/FlightTasks/tasks/Orbit/FlightTaskOrbit.cpp
  src/lib/FlightTasks/tasks/Orbit/FlightTaskOrbit.hpp
  src/lib/FlightTasks/tasks/Sport/FlightTaskSport.hpp
  src/lib/FlightTasks/tasks/Transition/FlightTaskTransition.cpp
  src/lib/FlightTasks/tasks/Transition/FlightTaskTransition.hpp
Labels: enhancement, multicopter, vtol

#12497 Fixed UTM Global Position flags
  src/modules/mavlink/mavlink_receiver.cpp
Labels: bug

#12491 Removed rover CI test
  .ci/Jenkinsfile-SITL_tests
  .ci/Jenkinsfile-SITL_tests_ASan
  .ci/Jenkinsfile-SITL_tests_coverage
Labels: bug, rover

#12034 Mavlink split BATTERY_STATUS from SYS_STATUS update and handle all bricks
  src/modules/mavlink/mavlink_high_latency2.cpp
  src/modules/mavlink/mavlink_high_latency2.h
  src/modules/mavlink/mavlink_main.cpp
  src/modules/mavlink/mavlink_messages.cpp
Labels: enhancement

#12346 Enable auto disarm by default
  ROMFS/px4fmu_common/init.d/airframes/1001_rc_quad_x.hil
  ROMFS/px4fmu_common/init.d/airframes/1002_standard_vtol.hil
  ROMFS/px4fmu_common/init.d/airframes/13013_deltaquad
  ROMFS/px4fmu_common/init.d/airframes/13014_vtol_babyshark
  ROMFS/px4fmu_common/init.d/airframes/4030_3dr_solo
  ROMFS/px4fmu_common/init.d/airframes/4070_aerofc
  src/modules/commander/commander_params.c
Labels: proposal

#12501 Fixed hard fault on rover_pos_control stop
  src/modules/rover_pos_control/RoverPositionControl.cpp
  src/modules/rover_pos_control/RoverPositionControl.hpp
Labels: bug

#12555 appveyor: fix PX4 version format check
  appveyor.yml
Labels: bug

#12557 commander: prevent potential disarms in-air
  src/modules/commander/Commander.cpp
Labels: enhancement

#12234 px4flow driver move to new WQ and cleanup
  src/drivers/optical_flow/px4flow/px4flow.cpp
Labels: cleanup

#12335 commander preflightcheck update orb usage to uORB::SubscriptionData
  src/modules/commander/PreflightCheck.cpp
Labels: cleanup

#12481 jenkins: archive catkin test logs on failure
  Jenkinsfile
Labels: jenkins-ci

#12173 osd/atxxxx move to new WQ and uORB::Subscription
  src/drivers/osd/atxxxx/CMakeLists.txt
  src/drivers/osd/atxxxx/atxxxx.cpp
  src/drivers/osd/atxxxx/atxxxx.h
Labels: cleanup, enhancement

#12588 Fixed INA226 driver initialization
  src/drivers/power_monitor/ina226/ina226.cpp
Labels: bug

#12453 ll40ls: Fix LIDAR-Lite v3 initialization
  src/drivers/distance_sensor/ll40ls/LidarLiteI2C.cpp
Labels: sensors

#12586 fixed UAVCAN MAG calibration application after reboot
  src/modules/sensors/voted_sensors_update.cpp
Labels: bug, uavcan
