Repository PX4/PX4-Autopilot, pull requests merged in 2020-04, with the labels that each got.

#14537 distance_sensor/vl53l0x: move to PX4Rangefinder and cleanup
  boards/bitcraze/crazyflie/default.cmake
  boards/bitcraze/crazyflie/init/rc.board_sensors
  src/drivers/distance_sensor/CMakeLists.txt
  src/drivers/distance_sensor/vl53l0x/CMakeLists.txt
  src/drivers/distance_sensor/vl53l0x/VL53L0X.cpp
  src/drivers/distance_sensor/vl53l0x/VL53L0X.hpp
  src/drivers/drv_sensor.h
Labels: drivers, enhancement

#14565 boards: mro_ctrl-zero-f7 fix i2c
  boards/mro/ctrl-zero-f7/nuttx-config/include/board.h
Labels: bug

#14557 mc_pos_control_params: update MPC_POS_MODE description
  src/modules/mc_pos_control/mc_pos_control_params.c
Labels: documentation

#14562 fix commander: need to copy all battery states in a cycle
  src/modules/commander/Commander.cpp
Labels: bug

#14574 PreFlightCheck: fix magnometer typo
  src/modules/commander/Arming/PreFlightCheck/PreFlightCheck.cpp
  src/modules/commander/Arming/PreFlightCheck/PreFlightCheck.hpp
  src/modules/commander/Arming/PreFlightCheck/checks/magnetometerCheck.cpp
Labels: cleanup

#14159 Get PX4 compile on ARM GCC 9
  src/drivers/px4io/px4io.cpp
  src/drivers/telemetry/iridiumsbd/IridiumSBD.cpp
  src/drivers/telemetry/iridiumsbd/IridiumSBD.h
  src/drivers/uavcan/CMakeLists.txt
  src/lib/parameters/flashparams/CMakeLists.txt
  src/systemcmds/tests/CMakeLists.txt
  src/systemcmds/tests/test_time.c
Labels: tools

#14572 fix param import transition for MC_DTERM_CUTOFF
  src/lib/parameters/CMakeLists.txt
  src/lib/parameters/flashparams/flashparams.cpp
  src/lib/parameters/param_translation.cpp
  src/lib/parameters/param_translation.h
  src/lib/parameters/param_translation_unit_tests.cpp
  src/lib/parameters/parameters.cpp
Labels: bug

#14575 SITL VTOL and plane config update
  ROMFS/px4fmu_common/init.d-posix/1030_plane
  ROMFS/px4fmu_common/init.d-posix/1040_standard_vtol
  ROMFS/px4fmu_common/init.d-posix/1041_tailsitter
  ROMFS/px4fmu_common/init.d-posix/1042_tiltrotor
Labels: sitl, vtol

#14590 microRTPS: only use '-typeros2' FastRTPSGen option for Dashing and later ROS2 distros
  msg/tools/generate_microRTPS_bridge.py
Labels: bug, rtps

#14596 px4_work_queue: sem_wait add loop as the wait may be interrupted by a signal
  platforms/common/include/px4_platform_common/px4_work_queue/WorkQueue.hpp
  platforms/common/px4_work_queue/WorkQueue.cpp
Labels: bug

#14602 mavlink: fix potential busy loop upon USB disconnect
  src/modules/mavlink/mavlink_receiver.cpp
Labels: bug, priority-critical

#14605 new mpu6000/mpu6500/mpu9250 always schedule backup cycle if using data ready
  src/drivers/imu/invensense/mpu6000/MPU6000.cpp
  src/drivers/imu/invensense/mpu6500/MPU6500.cpp
  src/drivers/imu/invensense/mpu9250/MPU9250.cpp
Labels: bug, drivers

#14444 UAVCAN airspeed support
  platforms/common/include/px4_platform_common/px4_work_queue/WorkQueueManager.hpp
  src/drivers/uavcan/CMakeLists.txt
  src/drivers/uavcan/sensors/differential_pressure.cpp
  src/drivers/uavcan/sensors/differential_pressure.hpp
  src/drivers/uavcan/sensors/sensor_bridge.cpp
  src/drivers/uavcannode/UavcanNode.cpp
  src/drivers/uavcannode/UavcanNode.hpp
Labels: enhancement, uavcan

#14611 microRTPS: fix topic name when ROS2 is not being used
  msg/templates/urtps/Publisher.cpp.em
  msg/templates/urtps/Subscriber.cpp.em
Labels: bug, rtps

#14585 Logic fixes in commander (takeoff data)
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
Labels: bug

#14519 arch.sh: use community binary repository for gazebo
  Tools/setup/arch.sh
Labels: tools

#14571 GPS Dynamic model default <1g for multicopter
  ROMFS/px4fmu_common/init.d/rc.mc_defaults
Labels: multicopter, proposal, state estimation

#14598 boards: STM32F76xxx/STM32F77xxx linker add ITCM RAM and .ramfuncs handling
  boards/av/x-v1/nuttx-config/scripts/script.ld
  boards/modalai/fc-v1/nuttx-config/scripts/script.ld
  boards/mro/ctrl-zero-f7/nuttx-config/scripts/script.ld
  boards/mro/x21-777/nuttx-config/scripts/script.ld
  boards/px4/fmu-v5/nuttx-config/scripts/script.ld
  boards/px4/fmu-v5x/nuttx-config/scripts/script.ld
Labels: enhancement, nuttx

#14543 Pr fix various reposition bugs in navigator module
  src/modules/navigator/navigator_main.cpp
Labels: bug

#14631 RC action switch threshold defaults
  src/modules/rc_update/params.c
Labels: bug

#14626 imu/invensense: minor cleanup
  src/drivers/imu/invensense/icm20602/ICM20602.hpp
  src/drivers/imu/invensense/icm20602/icm20602_main.cpp
  src/drivers/imu/invensense/icm20608g/ICM20608G.hpp
  src/drivers/imu/invensense/icm20608g/icm20608g_main.cpp
  src/drivers/imu/invensense/icm20689/ICM20689.hpp
  src/drivers/imu/invensense/icm20689/icm20689_main.cpp
  src/drivers/imu/invensense/icm40609d/ICM40609D.hpp
  src/drivers/imu/invensense/icm40609d/icm40609d_main.cpp
  src/drivers/imu/invensense/icm42688p/ICM42688P.hpp
  src/drivers/imu/invensense/icm42688p/icm42688p_main.cpp
  src/drivers/imu/invensense/mpu6000/MPU6000.hpp
  src/drivers/imu/invensense/mpu6000/mpu6000_main.cpp
  src/drivers/imu/invensense/mpu6500/MPU6500.hpp
  src/drivers/imu/invensense/mpu6500/mpu6500_main.cpp
  src/drivers/imu/invensense/mpu9250/MPU9250.hpp
  src/drivers/imu/invensense/mpu9250/MPU9250_AK8963.hpp
  src/drivers/imu/invensense/mpu9250/mpu9250_main.cpp
Labels: cleanup, drivers

#14629 mc_pos_control: correct sign of acceleration state
  src/modules/mc_pos_control/PositionControl/PositionControl.cpp
  src/modules/mc_pos_control/mc_pos_control_main.cpp
Labels: cleanup

#14634 boards/px4/fmu-v4: fix internal hmc5883 start
  boards/px4/fmu-v4/init/rc.board_sensors
Labels: bug

#14625 mc_pos_control: align updates with ekf2
  src/modules/mc_pos_control/mc_pos_control_main.cpp
Labels: multicopter

#14641 icm20608g/icm20689: force FIFO count check sooner
  src/drivers/imu/invensense/icm20608g/ICM20608G.cpp
  src/drivers/imu/invensense/icm20689/ICM20689.cpp
  src/drivers/imu/invensense/icm20689/ICM20689.hpp
Labels: drivers, enhancement

#14645 boards: fmu was renamed pwm_out
  boards/px4/fmu-v4/init/rc.board_sensors
  boards/uvify/core/init/rc.board_extras
Labels: bug

#14622 sensors/vehicle_angular_velocity: check filter based on time threshold instead of samples
  src/modules/sensors/vehicle_acceleration/VehicleAcceleration.cpp
  src/modules/sensors/vehicle_angular_velocity/VehicleAngularVelocity.cpp
Labels: bug, sitl

#14660 vtol: do not control deceleration during backtransition in stabilize mode
  src/modules/vtol_att_control/standard.cpp
  src/modules/vtol_att_control/tiltrotor.cpp
Labels: vtol

#14664 fix param_translation: set address to 0 only on NuttX
  src/lib/parameters/param_translation.cpp
Labels: bug

#12967 mavlink send helpers refactor to prevent writing partial messages
  src/modules/mavlink/mavlink_main.cpp
  src/modules/mavlink/mavlink_main.h
Labels: bug, enhancement

#14129 px4_io-v2 defconfig optimizations
  boards/px4/io-v2/nuttx-config/nsh/defconfig
Labels: nuttx

#14570 PreFlightCheck: add checks for CPU load
  ROMFS/px4fmu_common/init.d-posix/rcS
  src/modules/commander/Arming/PreFlightCheck/CMakeLists.txt
  src/modules/commander/Arming/PreFlightCheck/PreFlightCheck.cpp
  src/modules/commander/Arming/PreFlightCheck/PreFlightCheck.hpp
  src/modules/commander/Arming/PreFlightCheck/checks/cpuResourceCheck.cpp
  src/modules/commander/commander_params.c
Labels: enhancement

#14684 FlightTaskOffboard: fix header comment
  src/lib/flight_tasks/tasks/Offboard/FlightTaskOffboard.cpp
Labels: cleanup

#14694 posix rcS: always disable CPU load check in SITL
  ROMFS/px4fmu_common/init.d-posix/rcS
  src/modules/commander/commander_params.c
Labels: bug

#14678 UAVCAN Air Data Support
  src/drivers/uavcan/CMakeLists.txt
  src/drivers/uavcan/sensors/airspeed.cpp
  src/drivers/uavcan/sensors/airspeed.hpp
  src/drivers/uavcan/sensors/sensor_bridge.cpp
Labels: enhancement, uavcan

#14715 MPC: initialize hover thrust with parameter even if using HTE
  src/modules/mc_pos_control/mc_pos_control_main.cpp
Labels: bug, multicopter

#14702 FlightTasks: do not adjust tilt limit of the position control
  src/lib/flight_tasks/tasks/AutoMapper/FlightTaskAutoMapper.cpp
  src/lib/flight_tasks/tasks/FlightTask/FlightTask.cpp
  src/lib/flight_tasks/tasks/FlightTask/FlightTask.hpp
  src/lib/flight_tasks/tasks/ManualAltitude/FlightTaskManualAltitude.cpp
  src/lib/flight_tasks/tasks/ManualPosition/FlightTaskManualPosition.cpp
  src/modules/mc_pos_control/PositionControl/PositionControl.hpp
Labels: bug, multicopter

#14692 FlightTask: Fix ekf2 reset race condition during task switch
  src/lib/flight_tasks/FlightTasks.cpp
  src/lib/flight_tasks/FlightTasks.hpp
  src/lib/flight_tasks/tasks/AutoFollowMe/FlightTaskAutoFollowMe.cpp
  src/lib/flight_tasks/tasks/AutoMapper/FlightTaskAutoMapper.cpp
  src/lib/flight_tasks/tasks/Descend/FlightTaskDescend.cpp
  src/lib/flight_tasks/tasks/Failsafe/FlightTaskFailsafe.cpp
  src/lib/flight_tasks/tasks/FlightTask/FlightTask.cpp
  src/lib/flight_tasks/tasks/FlightTask/FlightTask.hpp
  src/lib/flight_tasks/tasks/ManualAltitude/FlightTaskManualAltitude.cpp
  src/lib/flight_tasks/tasks/Offboard/FlightTaskOffboard.cpp
  src/lib/flight_tasks/tasks/Orbit/FlightTaskOrbit.cpp
  src/lib/flight_tasks/tasks/Transition/FlightTaskTransition.cpp
  src/lib/flight_tasks/tasks/Utility/ManualVelocitySmoothingXY.hpp
  src/lib/flight_tasks/tasks/Utility/ManualVelocitySmoothingZ.hpp
Labels: bug, multicopter, priority-critical

#14731 MCLandDetector: fix low thrust detection in stabilized mode
  src/modules/land_detector/MulticopterLandDetector.cpp
  src/modules/land_detector/MulticopterLandDetector.h
Labels: bug, multicopter

#14732 VTOL: add parameter to set the PWM_OUTPUT_DEVICE_PATH
  src/drivers/drv_pwm_output.h
  src/modules/vtol_att_control/vtol_att_control_main.cpp
  src/modules/vtol_att_control/vtol_att_control_main.h
  src/modules/vtol_att_control/vtol_att_control_params.c
  src/modules/vtol_att_control/vtol_type.cpp
  src/modules/vtol_att_control/vtol_type.h
Labels: vtol

#14742 fix loiter_time for FW missions
  src/modules/navigator/mission_block.cpp
Labels: bug, fixedwing

#14752 PX4Accelerometer/PX4Gyroscope: integrated data use simple rotate_3f to avoid unnecessary floating point operations
  src/lib/drivers/accelerometer/PX4Accelerometer.cpp
  src/lib/drivers/accelerometer/PX4Accelerometer.hpp
  src/lib/drivers/gyroscope/PX4Gyroscope.cpp
  src/lib/drivers/gyroscope/PX4Gyroscope.hpp
Labels: bug, drivers

#14765 PX4Accelerometer/PX4Gyroscope: fix calibration offset for integrated FIFO case
  src/lib/drivers/accelerometer/PX4Accelerometer.cpp
  src/lib/drivers/gyroscope/PX4Gyroscope.cpp
Labels: bug

#14771 boards: temporarily disable UART TX DMA
  boards/px4/fmu-v2/nuttx-config/nsh/defconfig
  boards/px4/fmu-v3/nuttx-config/nsh/defconfig
  boards/px4/fmu-v3/nuttx-config/stackcheck/defconfig
  boards/px4/fmu-v4/nuttx-config/nsh/defconfig
  boards/px4/fmu-v4/nuttx-config/optimized/defconfig
  boards/px4/fmu-v4/nuttx-config/stackcheck/defconfig
  boards/px4/fmu-v5/nuttx-config/critmonitor/defconfig
  boards/px4/fmu-v5/nuttx-config/irqmonitor/defconfig
  boards/px4/fmu-v5/nuttx-config/nsh/defconfig
  boards/px4/fmu-v5/nuttx-config/optimized/defconfig
  boards/px4/fmu-v5/nuttx-config/stackcheck/defconfig
  boards/px4/fmu-v5x/nuttx-config/nsh/defconfig
  boards/px4/fmu-v5x/nuttx-config/p2_base_phy_LAN8742Ai/defconfig
  boards/uvify/core/nuttx-config/nsh/defconfig
Labels: nuttx

#14758 move mc_att_control to new wq:attitude_ctrl
  platforms/common/include/px4_platform_common/px4_work_queue/WorkQueueManager.hpp
  platforms/common/include/px4_platform_common/tasks.h
  src/modules/airspeed_selector/airspeed_selector_main.cpp
  src/modules/attitude_estimator_q/attitude_estimator_q_main.cpp
  src/modules/ekf2/ekf2_main.cpp
  src/modules/fw_att_control/FixedwingAttitudeControl.cpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
  src/modules/land_detector/LandDetector.cpp
  src/modules/local_position_estimator/BlockLocalPositionEstimator.cpp
  src/modules/mc_att_control/mc_att_control_main.cpp
  src/modules/mc_pos_control/mc_pos_control_main.cpp
  src/modules/sensors/sensors.cpp
  src/modules/sensors/vehicle_acceleration/VehicleAcceleration.cpp
  src/modules/sensors/vehicle_air_data/VehicleAirData.cpp
  src/modules/sensors/vehicle_imu/VehicleIMU.cpp
Labels: enhancement, multicopter

#14706 VTOL: Pusher assist: add configuration for enabling it in LAND /disable below some altitude
  src/modules/vtol_att_control/standard_params.c
  src/modules/vtol_att_control/vtol_att_control_main.cpp
  src/modules/vtol_att_control/vtol_att_control_main.h
  src/modules/vtol_att_control/vtol_type.cpp
  src/modules/vtol_att_control/vtol_type.h
Labels: vtol

#14779 Fix: Stop getting velocity covariance from quaternion variance
  src/modules/ekf2/ekf2_main.cpp
Labels: bug, ekf2, vision

#14781 vehicle_odometry: add timestamp_sample field for latency monitoring
  msg/vehicle_odometry.msg
  src/modules/attitude_estimator_q/attitude_estimator_q_main.cpp
  src/modules/ekf2/ekf2_main.cpp
  src/modules/local_position_estimator/BlockLocalPositionEstimator.cpp
  src/modules/local_position_estimator/sensors/mocap.cpp
  src/modules/local_position_estimator/sensors/vision.cpp
  src/modules/mavlink/mavlink_messages.cpp
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/simulator/simulator_mavlink.cpp
Labels: enhancement

#14778 rotation conversion: deconfuse roll 90 yaw 90
  src/lib/conversion/rotation.cpp
Labels: cleanup
