Repository PX4/PX4-Autopilot, pull requests merged in 2020-09, with the labels that each got.

#15647 logger: add_topic_multi optional specify max multi-instance
  src/modules/logger/logged_topics.cpp
  src/modules/logger/logged_topics.h
Labels: enhancement

#15664 rover_pos_control: revert sensor_combined purge
  src/modules/rover_pos_control/RoverPositionControl.cpp
  src/modules/rover_pos_control/RoverPositionControl.hpp
Labels: bug, rover

#15660 px4_work_queue: reset statistics after each status print
  platforms/common/include/px4_platform_common/px4_work_queue/ScheduledWorkItem.hpp
  platforms/common/include/px4_platform_common/px4_work_queue/WorkItem.hpp
  platforms/common/px4_work_queue/ScheduledWorkItem.cpp
  platforms/common/px4_work_queue/WorkItem.cpp
Labels: enhancement

#15659 simulator: publish 2 instances of accel/baro/gyro/mag
  ROMFS/px4fmu_common/init.d-posix/rcS
  src/modules/simulator/simulator.h
  src/modules/simulator/simulator_mavlink.cpp
Labels: enhancement

#15632 uorb: introduce SubscriptionMultiArray for working with multi-instances
  src/drivers/uavcan/sensors/sensor_bridge.hpp
  src/drivers/uavcannode/UavcanNode.cpp
  src/drivers/uavcannode/UavcanNode.hpp
  src/lib/collision_prevention/CollisionPrevention.cpp
  src/lib/collision_prevention/CollisionPrevention.hpp
  src/modules/airspeed_selector/airspeed_selector_main.cpp
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
  src/modules/commander/accelerometer_calibration.cpp
  src/modules/ekf2/ekf2_main.cpp
  src/modules/mavlink/mavlink_high_latency2.cpp
  src/modules/mavlink/mavlink_high_latency2.h
  src/modules/mavlink/mavlink_messages.cpp
  src/modules/sensors/voted_sensors_update.cpp
  src/modules/sensors/voted_sensors_update.h
  src/modules/simulator/simulator.h
  src/modules/uORB/CMakeLists.txt
  src/modules/uORB/Subscription.hpp
  src/modules/uORB/SubscriptionInterval.hpp
  src/modules/uORB/SubscriptionMultiArray.hpp
Labels: enhancement

#14383 iSentek ist8310 rewrite
  boards/cuav/nora/init/rc.board_sensors
  boards/cuav/x7pro/init/rc.board_sensors
  boards/holybro/durandal-v1/init/rc.board_sensors
  boards/holybro/durandal-v1/stackcheck.cmake
  boards/holybro/pix32v5/init/rc.board_sensors
  boards/intel/aerofc-v1/default.cmake
  boards/intel/aerofc-v1/init/rc.board_sensors
  boards/intel/aerofc-v1/rtps.cmake
  boards/nxp/fmurt1062-v1/init/rc.board_sensors
  boards/px4/fmu-v5/init/rc.board_sensors
  boards/px4/fmu-v5/optimized.cmake
  boards/uvify/core/default.cmake
  cmake/px4_add_board.cmake
  src/drivers/magnetometer/CMakeLists.txt
  src/drivers/magnetometer/isentek/CMakeLists.txt
  src/drivers/magnetometer/isentek/ist8310/CMakeLists.txt
  src/drivers/magnetometer/isentek/ist8310/IST8310.cpp
  src/drivers/magnetometer/isentek/ist8310/IST8310.hpp
  src/drivers/magnetometer/isentek/ist8310/iSentek_IST8310_registers.hpp
  src/drivers/magnetometer/isentek/ist8310/ist8310_main.cpp
  src/drivers/magnetometer/ist8310/ist8310.cpp
Labels: cleanup, drivers

#14384 QST QMC5883L cleanup/rewrite
  ROMFS/px4fmu_common/init.d/rc.sensors
  boards/airmind/mindpx-v2/init/rc.board_sensors
  src/drivers/drv_sensor.h
  src/drivers/magnetometer/CMakeLists.txt
  src/drivers/magnetometer/qmc5883/QMC5883.cpp
  src/drivers/magnetometer/qmc5883/QMC5883.hpp
  src/drivers/magnetometer/qmc5883/QMC5883_I2C.cpp
  src/drivers/magnetometer/qmc5883/qmc5883.h
  src/drivers/magnetometer/qmc5883l/CMakeLists.txt
  src/drivers/magnetometer/qmc5883l/QMC5883L.cpp
  src/drivers/magnetometer/qmc5883l/QMC5883L.hpp
  src/drivers/magnetometer/qmc5883l/QST_QMC5883L_registers.hpp
  src/drivers/magnetometer/qmc5883l/qmc5883l_main.cpp
Labels: cleanup, drivers

#15678 uORB:: SubscriptionMultiArray fix construction argument
  src/modules/uORB/SubscriptionMultiArray.hpp
Labels: bug, priority-critical

#15675 isentek/ist8308: set sensor_mag error count and fix bitwise AND
  src/drivers/magnetometer/isentek/ist8308/IST8308.cpp
Labels: bug, drivers, enhancement

#15685 swap time parameters in FixedWingPositionControl
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
Labels: bug, fixedwing, vtol

#15689 Multiple IST8310 with different addr
  src/drivers/magnetometer/isentek/ist8310/IST8310.cpp
  src/drivers/magnetometer/isentek/ist8310/IST8310.hpp
  src/drivers/magnetometer/isentek/ist8310/ist8310_main.cpp
Labels: drivers, enhancement

#15691 NuttX sched notes add C linkage to fix arm-none-eabi-gcc 9
  platforms/nuttx/src/px4/common/cpuload.cpp
Labels: bug

#15693 msg/tools/uorb_to_ros_msgs.py set executable
  msg/tools/uorb_to_ros_msgs.py
Labels: bug

#15690 commander: HITL skip auto disarm if lockdown
  src/modules/commander/Commander.cpp
Labels: bug, hitl

#15695 Jenkins: temporarily disable MC safe landing SITL test
  .ci/Jenkinsfile-SITL_tests
Labels: CI, bug

#15681 sensors: sensor_preflight_imu -> sensors_status_imu
  .ci/Jenkinsfile-hardware
  Tools/ecl_ekf/analysis/post_processing.py
  Tools/ecl_ekf/plotting/pdf_report.py
  msg/CMakeLists.txt
  msg/sensor_preflight_imu.msg
  msg/sensors_status_imu.msg
  msg/tools/uorb_rtps_message_ids.yaml
  src/modules/commander/Arming/PreFlightCheck/checks/imuConsistencyCheck.cpp
  src/modules/logger/logged_topics.cpp
  src/modules/sensors/sensors.cpp
  src/modules/sensors/voted_sensors_update.cpp
  src/modules/sensors/voted_sensors_update.h
Labels: enhancement

#15056 FlightTaskAuto: update waypoints on every iteration when in offtrack state
  src/lib/flight_tasks/tasks/Auto/FlightTaskAuto.cpp
Labels: multicopter

#15698 mavlink_messages: Subscribe to all distance_sensor instances
  src/modules/mavlink/mavlink_messages.cpp
Labels: enhancement

#15653 accel/gyro/mag set default priority uninitialized
  src/lib/sensor_calibration/Accelerometer.cpp
  src/lib/sensor_calibration/Accelerometer.hpp
  src/lib/sensor_calibration/Gyroscope.cpp
  src/lib/sensor_calibration/Gyroscope.hpp
  src/lib/sensor_calibration/Magnetometer.cpp
  src/lib/sensor_calibration/Magnetometer.hpp
  src/modules/commander/mag_calibration.cpp
  src/modules/sensors/sensor_params_acc0.c
  src/modules/sensors/sensor_params_acc1.c
  src/modules/sensors/sensor_params_acc2.c
  src/modules/sensors/sensor_params_gyro0.c
  src/modules/sensors/sensor_params_gyro1.c
  src/modules/sensors/sensor_params_gyro2.c
  src/modules/sensors/sensor_params_mag0.c
  src/modules/sensors/sensor_params_mag1.c
  src/modules/sensors/sensor_params_mag2.c
  src/modules/sensors/sensor_params_mag3.c
  src/modules/sensors/vehicle_magnetometer/VehicleMagnetometer.cpp
Labels: bug

#14643 Support gliding setpoints for autonomous soaring
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/navigator/mission.cpp
  src/modules/navigator/navigator.h
  src/modules/navigator/navigator_main.cpp
Labels: enhancement, fixedwing

#15717 Add a internal start for rgbled_ncp5623c on fmu-v2 v3 v4pro
  boards/px4/fmu-v2/init/rc.board_sensors
  boards/px4/fmu-v3/init/rc.board_sensors
  boards/px4/fmu-v4pro/init/rc.board_sensors
Labels: bug

#14408 Publish ESC_INFO and ESC_STATUS MAVLink messages
  src/modules/mavlink/mavlink_main.cpp
  src/modules/mavlink/mavlink_messages.cpp
Labels: enhancement

#14437 Introduce new generic ADC driver for ADS1115 chip
  boards/px4/fmu-v3/default.cmake
  boards/px4/fmu-v4/default.cmake
  boards/px4/fmu-v4pro/default.cmake
  boards/px4/fmu-v5/default.cmake
  boards/px4/fmu-v5x/default.cmake
  boards/px4/raspberrypi/default.cmake
  src/drivers/adc/ads1115/ADS1115.cpp
  src/drivers/adc/ads1115/ADS1115.h
  src/drivers/adc/ads1115/CMakeLists.txt
  src/drivers/adc/ads1115/ads1115_main.cpp
  src/drivers/drv_sensor.h
Labels: drivers, enhancement

#15723 land_detector: continue to use hover thrust if it was valid recently
  src/modules/land_detector/MulticopterLandDetector.cpp
  src/modules/land_detector/MulticopterLandDetector.h
Labels: enhancement, multicopter

#15655 sensor calibrations (accel/gyro/mag) add calibration count
  msg/vehicle_imu.msg
  msg/vehicle_magnetometer.msg
  src/lib/sensor_calibration/Accelerometer.cpp
  src/lib/sensor_calibration/Accelerometer.hpp
  src/lib/sensor_calibration/Gyroscope.cpp
  src/lib/sensor_calibration/Gyroscope.hpp
  src/lib/sensor_calibration/Magnetometer.cpp
  src/lib/sensor_calibration/Magnetometer.hpp
  src/modules/sensors/vehicle_imu/VehicleIMU.cpp
  src/modules/sensors/vehicle_magnetometer/VehicleMagnetometer.cpp
Labels: enhancement

#15747 ROMFS: change cmake dependencies
  ROMFS/CMakeLists.txt
Labels: bug

#15750 sensor_calibration: silence error if priority is -1 (uninitialized parameter value)
  src/lib/sensor_calibration/Accelerometer.cpp
  src/lib/sensor_calibration/Gyroscope.cpp
  src/lib/sensor_calibration/Magnetometer.cpp
Labels: cleanup

#15762 gitmodules update NuttX branches
  .gitmodules
Labels: nuttx

#15766 cmake NuttX build fix path to git dir
  platforms/nuttx/NuttX/CMakeLists.txt
Labels: bug, nuttx

#15764 commander: mag calibration use WMM sphere radius to reject samples if GPS is available
  src/modules/commander/mag_calibration.cpp
Labels: enhancement

#15773 ekf2_main: reduce update mag bias minimum learning time to 30s
  src/modules/ekf2/EKF2.cpp
Labels: ekf2

#15776 cmake NuttX build modify copied nuttx repo .git to point to actual git dir
  platforms/nuttx/NuttX/CMakeLists.txt
  platforms/nuttx/cmake/init.cmake
Labels: bug, nuttx

#15799 mavlink_messages: cast rotation types for assert
  src/modules/mavlink/mavlink_messages.cpp
Labels: bug, tools

#15782 uORB: Subscription add copy/move constructor and assignment
  src/modules/uORB/Subscription.hpp
Labels: bug

#15781 uORB increase ORB_MULTI_MAX_INSTANCES 4 -> 10
  msg/battery_status.msg
  src/modules/commander/Commander.hpp
  src/modules/commander/mag_calibration.cpp
  src/modules/logger/logged_topics.cpp
  src/modules/logger/logged_topics.h
  src/modules/mavlink/mavlink_high_latency2.cpp
  src/modules/mavlink/mavlink_high_latency2.h
  src/modules/mavlink/mavlink_messages.cpp
  src/modules/uORB/uORB.h
Labels: enhancement

#15791 Revert MPC_LAND_ALT1/2 to original defaults to prevent slowing down too late
  src/modules/mc_pos_control/mc_pos_control_params.c
Labels: multicopter

#15811 commander: disarm from safety relax land detector timeout
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
Labels: bug

#15813 Tools ecl analysis handle estimator_innovations/estimator_innovation_variances size inconsistencies
  Tools/ecl_ekf/plotting/pdf_report.py
Labels: bug

#15742 mavlink: handle receiving GENERATOR_STATUS
  msg/CMakeLists.txt
  msg/generator_status.msg
  msg/tools/uorb_rtps_message_ids.yaml
  src/modules/logger/logged_topics.cpp
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/mavlink/mavlink_receiver.h
Labels: enhancement

#15819 Jenkins: remove remaining SITL tests
  .ci/Jenkinsfile-SITL_tests
Labels: CI, cleanup

#15821 mavlink: increase stack 2650 -> 2848 bytes
  src/modules/mavlink/mavlink_main.cpp
Labels: bug, nuttx

#15789 Fix proposal for hardfault with batt_smbus module
  src/lib/drivers/smbus/SMBus.cpp
Labels: bug

#15829 msg: add quaternion euler angle pretty print
  msg/CMakeLists.txt
  msg/templates/uorb/msg.cpp.em
  msg/tools/px_generate_uorb_topic_helper.py
Labels: enhancement

#15843 simulator: fix airspeed temperature
  src/modules/simulator/simulator.h
  src/modules/simulator/simulator_mavlink.cpp
Labels: bug, sitl

#15818 EKF2: move vehicle_odometry publish to method
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
Labels: cleanup, ekf2

#15851 [Port 1.11] mc_pos_control: fix z velocity derivative sign
  src/modules/mc_pos_control/mc_pos_control_main.cpp
Labels: bug, multicopter

#15845 sensors: sanity check differential pressure temperature
  src/lib/airspeed/airspeed.cpp
  src/modules/sensors/sensors.cpp
Labels: enhancement

#15856 ekf2: fix odom body rate sign bug
  src/modules/ekf2/EKF2.cpp
Labels: bug
