Repository PX4/PX4-Autopilot, pull requests merged in 2020-11, with the labels that each got.

#16099 ekf2: only advertise immediately in multi-EKF mode
  src/modules/ekf2/EKF2.cpp
Labels: ekf2, enhancement

#16056 Close BDMA
  boards/cuav/x7pro/nuttx-config/nsh/defconfig
Labels: bug, nuttx

#16104 FW Position controller: add option to swap throttle and pitch stick
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.hpp
  src/modules/fw_pos_control_l1/fw_pos_control_l1_params.c
Labels: enhancement, fixedwing, vtol

#16078 Improve tailsitter tuning master
  ROMFS/px4fmu_common/init.d-posix/airframes/1041_tailsitter
  test/mavsdk_tests/configs/sitl.json
Labels: vtol

#15904 Support multivehicle SITL simulations for rover in gazebo
  Tools/gazebo_sitl_multiple_run.sh
Labels: sitl

#16115 hardfault_log:Sanity check stack before dumping it
  src/systemcmds/hardfault_log/hardfault_log.c
Labels: nuttx

#12700 create hovergames airframe
  ROMFS/px4fmu_common/init.d/airframes/4017_nxp_hovergames
  ROMFS/px4fmu_common/init.d/airframes/CMakeLists.txt
Labels: enhancement, nxp-hovergames

#16130 Fix non-determinstic boot hang with crashdumps
  platforms/nuttx/src/px4/common/board_crashdump.c
Labels: bug

#16117 Add HY-SRF05 ultrasonic sensor driver
  ROMFS/px4fmu_common/init.d/rc.sensors
  boards/nxp/fmuk66-e/default.cmake
  boards/nxp/fmuk66-e/src/board_config.h
  boards/nxp/fmuk66-e/src/init.c
  boards/nxp/fmuk66-e/src/timer_config.cpp
  boards/nxp/fmuk66-v3/default.cmake
  boards/nxp/fmuk66-v3/src/board_config.h
  boards/nxp/fmuk66-v3/src/init.c
  boards/nxp/fmuk66-v3/src/timer_config.cpp
  src/drivers/distance_sensor/srf05/CMakeLists.txt
  src/drivers/distance_sensor/srf05/SR05.hpp
  src/drivers/distance_sensor/srf05/SRF05.cpp
  src/drivers/distance_sensor/srf05/parameters.c
Labels: drivers, enhancement

#16146 vscode add navio2 variant and native debug launch
  .vscode/cmake-variants.yaml
  platforms/posix/CMakeLists.txt
  platforms/posix/Debug/launch_rpi.json.in
  platforms/posix/cmake/sitl_target.cmake
Labels: enhancement, raspberry_pi

#16149 Github Actions: break up MAVSDK SITL tests
  .github/workflows/sitl_tests.yml
Labels: CI

#16158 Afs/landing slope dive
  src/lib/landing_slope/Landingslope.cpp
Labels: bug, fixedwing

#16163 cmake: NuttX apps build updates
  platforms/nuttx/NuttX/CMakeLists.txt
Labels: bug, nuttx

#16169 FW Position Control: re-add wrongly removed airspeed_poll()
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
Labels: bug, fixedwing

#16148 imu/st/lsm9ds1: refactor to same form as other new IMU drivers
  src/drivers/imu/st/lsm9ds1/CMakeLists.txt
  src/drivers/imu/st/lsm9ds1/LSM9DS1.cpp
  src/drivers/imu/st/lsm9ds1/LSM9DS1.hpp
  src/drivers/imu/st/lsm9ds1/ST_LSM9DS1_Registers.hpp
  src/drivers/imu/st/lsm9ds1/lsm9ds1_main.cpp
Labels: cleanup, drivers

#16172 GPS_YAW_OFFSET: fix param description
  src/drivers/gps/params.c
Labels: documentation

#16127 sensor calibration: apply board level adjustment to external sensors
  src/lib/sensor_calibration/Accelerometer.cpp
  src/lib/sensor_calibration/Gyroscope.cpp
  src/lib/sensor_calibration/Magnetometer.cpp
  src/lib/sensor_calibration/Utilities.cpp
  src/lib/sensor_calibration/Utilities.hpp
  src/modules/commander/accelerometer_calibration.cpp
  src/modules/commander/mag_calibration.cpp
Labels: enhancement

#16176 mavlink: STATUSTEXT check TX buffer before sending
  src/modules/mavlink/mavlink_messages.cpp
Labels: enhancement

#16188 IMU_DGYRO_CUTOFF add conservative default (0 Hz -> 30 Hz)
  src/modules/sensors/vehicle_angular_velocity/imu_gyro_parameters.c
Labels: multicopter

#16171 mlockall() support on Linux platform
  platforms/posix/src/px4/common/main.cpp
Labels: enhancement, raspberry_pi

#16105 Fixed-wing position control: remove manually triggered climbout mode
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.hpp
Labels: enhancement, fixedwing, vtol

#16168 ROMFS: startup remove bootlog.txt
  ROMFS/px4fmu_common/init.d-posix/rcS
  ROMFS/px4fmu_common/init.d/rc.interface
  ROMFS/px4fmu_common/init.d/rc.io
  ROMFS/px4fmu_common/init.d/rcS
Labels: cleanup

#16195 boards: cubepilot orange and yellow start icm20602 IMU first
  boards/cubepilot/cubeorange/init/rc.board_sensors
  boards/cubepilot/cubeyellow/init/rc.board_sensors
Labels: enhancement

#16219 mavlink_receiver: remove unused decode_switch_pos function
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/mavlink/mavlink_receiver.h
Labels: cleanup

#16185 Enable cuav neo v2 pro safety state
  src/drivers/uavcan/CMakeLists.txt
  src/drivers/uavcan/dsdl/ardupilot/indication/20000.SafetyState.uavcan
  src/drivers/uavcan/safety_state.cpp
  src/drivers/uavcan/safety_state.hpp
  src/drivers/uavcan/uavcan_main.cpp
  src/drivers/uavcan/uavcan_main.hpp
Labels: enhancement, uavcan

#16177 [1.11] PX4 compile flags: disable Wlogical-op for GCC 10
  cmake/px4_add_common_flags.cmake
Labels: release port

#16231 ll40ls: fix rotation -> orientation
  src/drivers/distance_sensor/ll40ls/LidarLiteI2C.cpp
  src/drivers/distance_sensor/ll40ls/LidarLiteI2C.h
  src/drivers/distance_sensor/ll40ls/ll40ls.cpp
Labels: bug

#16228 [1.11] PositionControl: add check on sign before sqrtf
  src/modules/mc_pos_control/PositionControl/PositionControl.cpp
Labels: bug, release port

#16207 commander: preflightcheck and calibration remove hash (#) from mavlink message
  src/modules/commander/Arming/PreFlightCheck/checks/accelerometerCheck.cpp
  src/modules/commander/Arming/PreFlightCheck/checks/baroCheck.cpp
  src/modules/commander/Arming/PreFlightCheck/checks/gyroCheck.cpp
  src/modules/commander/Arming/PreFlightCheck/checks/magnetometerCheck.cpp
  src/modules/commander/mag_calibration.cpp
Labels: bug, enhancement

#16271 Fix bug causing excessive EKF primary instance changes
  src/modules/ekf2/EKF2Selector.cpp
Labels: bug, ekf2

#16264 commander: limit mode switch re-evaluation logic on estimate validity changes
  src/modules/commander/Commander.cpp
Labels: bug, priority-critical

#16272 rc.VTOL_defaults: enable wind estimation in EKF by default
  ROMFS/px4fmu_common/init.d/rc.vtol_defaults
Labels: vtol

#16220 rc_update_params: clarify failsafe channel and threshold
  src/modules/rc_update/params.c
Labels: documentation

#16282 Add topic namespace support for micrortps agent generation
  msg/templates/urtps/Publisher.cpp.em
  msg/templates/urtps/Publisher.h.em
  msg/templates/urtps/RtpsTopics.cpp.em
  msg/templates/urtps/RtpsTopics.h.em
  msg/templates/urtps/Subscriber.cpp.em
  msg/templates/urtps/Subscriber.h.em
  msg/templates/urtps/microRTPS_agent.cpp.em
Labels: enhancement, rtps

#16287 Fix sitl_run to run in macOS
  Tools/sitl_run.sh
Labels: sitl

#15847 L1: remove check for tangent_vel direction for nicer loiter entry behavior
  src/lib/l1/ECL_L1_Pos_Controller.cpp
Labels: enhancement, fixedwing, vtol

#16196 pca9685_pwm_out small improvement
  src/drivers/pca9685_pwm_out/PCA9685.cpp
  src/drivers/pca9685_pwm_out/PCA9685.h
  src/drivers/pca9685_pwm_out/main.cpp
Labels: enhancement

#16295 microRTPS: remove byte ordering for nested types
  msg/tools/px_generate_uorb_topic_helper.py
Labels: bug, rtps

#16297 Handle takeoff waypoints for rover
  src/modules/navigator/mission_block.cpp
Labels: bug, rover

#16296 Use enums for offboard position setpoint typemasks
  src/modules/mavlink/mavlink_receiver.cpp
Labels: offboard

#16276 tunes: Fix repeating tunes that do not stop
  src/drivers/tone_alarm/ToneAlarm.cpp
  src/lib/tunes/tunes.cpp
  src/lib/tunes/tunes.h
  src/systemcmds/tune_control/tune_control.cpp
Labels: enhancement
