Repository PX4/PX4-Autopilot, pull requests merged in 2020-05, with the labels that each got.

#14707 drivers/pwm_out: cleanup for multi-platform use
  src/drivers/pwm_out/CMakeLists.txt
  src/drivers/pwm_out/PWMOut.cpp
  src/drivers/pwm_out/PWMOut.hpp
  src/lib/cdev/CDev.hpp
  src/lib/drivers/device/CDev.hpp
Labels: OcPoc, beaglebone, cleanup, raspberry_pi

#14812 Revert "drivers/pwm_out: cleanup for multi-platform use"
  src/drivers/pwm_out/CMakeLists.txt
  src/drivers/pwm_out/PWMOut.cpp
  src/drivers/pwm_out/PWMOut.hpp
  src/lib/cdev/CDev.hpp
  src/lib/drivers/device/CDev.hpp
Labels: bug

#14817 Fix vision velocity in simulation
  src/modules/simulator/simulator_mavlink.cpp
Labels: bug

#14821 mc_pos_control: fix takeoff ramp gets amended by feed-forward
  src/modules/mc_pos_control/mc_pos_control_main.cpp
Labels: bug

#14749 PositionControl: deconflict velocity control gains from thrust
  src/modules/mc_pos_control/PositionControl/PositionControl.cpp
  src/modules/mc_pos_control/PositionControl/PositionControl.hpp
  src/modules/mc_pos_control/PositionControl/PositionControlTest.cpp
  src/modules/mc_pos_control/mc_pos_control_main.cpp
Labels: multicopter

#14759 IMU: parameterize IMU integration time (IMU_INTEG_RATE)
  ROMFS/px4fmu_common/init.d-posix/rcS
  src/drivers/imu/adis16448/ADIS16448.cpp
  src/drivers/imu/adis16477/ADIS16477.cpp
  src/drivers/imu/adis16497/ADIS16497.cpp
  src/drivers/imu/bma180/bma180.cpp
  src/drivers/imu/bmi055/BMI055_accel.cpp
  src/drivers/imu/bmi055/BMI055_gyro.cpp
  src/drivers/imu/bmi088/BMI088_accel.cpp
  src/drivers/imu/bmi088/BMI088_gyro.cpp
  src/drivers/imu/bmi160/bmi160.cpp
  src/drivers/imu/fxas21002c/FXAS21002C.cpp
  src/drivers/imu/fxos8701cq/FXOS8701CQ.cpp
  src/drivers/imu/l3gd20/L3GD20.cpp
  src/drivers/imu/lsm303d/LSM303D.cpp
  src/drivers/imu/mpu6000/MPU6000.cpp
  src/drivers/imu/mpu9250/mpu9250.cpp
  src/lib/drivers/accelerometer/PX4Accelerometer.cpp
  src/lib/drivers/accelerometer/PX4Accelerometer.hpp
  src/lib/drivers/gyroscope/PX4Gyroscope.cpp
  src/lib/drivers/gyroscope/PX4Gyroscope.hpp
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/sensors/vehicle_imu/imu_parameters.c
  src/modules/sih/sih.cpp
  src/modules/simulator/simulator.h
Labels: enhancement

#14827 sensors: refresh parameters on sensor init
  src/modules/sensors/voted_sensors_update.cpp
Labels: bug

#14868 Fixed-wing attidue controller: replace IAS with EAS
  src/modules/fw_att_control/FixedwingAttitudeControl.cpp
Labels: fixedwing

#14755 Notch filter df1
  src/lib/mathlib/math/filter/NotchFilter.hpp
  src/lib/mathlib/math/filter/NotchFilterArray.hpp
  src/lib/mathlib/math/filter/NotchFilterTest.cpp
Labels: enhancement

#14882 sensors/vehicle_angular_velocity: don't remove bias twice
  src/modules/sensors/vehicle_angular_velocity/VehicleAngularVelocity.cpp
Labels: bug, priority-critical

#14883 msg: timestamp_sample print elapsed from timestamp
  msg/templates/uorb/msg.cpp.em
  msg/tools/px_generate_uorb_topic_helper.py
Labels: enhancement

#14848 mavlink_log_info: also print PX4_INFO
  src/drivers/px4io/px4io.cpp
  src/lib/systemlib/mavlink_log.h
  src/modules/airspeed_selector/airspeed_selector_main.cpp
  src/modules/commander/Commander.cpp
  src/modules/commander/calibration_routines.h
  src/modules/local_position_estimator/BlockLocalPositionEstimator.cpp
  src/modules/local_position_estimator/sensors/baro.cpp
  src/modules/local_position_estimator/sensors/flow.cpp
  src/modules/local_position_estimator/sensors/gps.cpp
  src/modules/local_position_estimator/sensors/land.cpp
  src/modules/local_position_estimator/sensors/landing_target.cpp
  src/modules/local_position_estimator/sensors/lidar.cpp
  src/modules/local_position_estimator/sensors/mocap.cpp
  src/modules/local_position_estimator/sensors/sonar.cpp
  src/modules/local_position_estimator/sensors/vision.cpp
  src/modules/mavlink/mavlink_main.cpp
  src/modules/navigator/mission.cpp
  src/modules/navigator/navigator_main.cpp
  src/modules/navigator/rtl.cpp
Labels: enhancement

#13767 Rover hold/loiter
  src/modules/rover_pos_control/RoverPositionControl.cpp
  src/modules/rover_pos_control/RoverPositionControl.hpp
Labels: enhancement, rover

#14899 powerCheck: make 5V warning threshold 0.1V lower
  src/modules/commander/Arming/PreFlightCheck/checks/powerCheck.cpp
Labels: enhancement

#14870 i2c_spi_buses.h: work around astyle version inconsistency
  platforms/common/include/px4_platform_common/i2c_spi_buses.h
Labels: cleanup

#14897 Offboard temp cal: check topic instance
  Tools/process_sensor_caldata.py
Labels: bug

#14858 mavlink_messages for HUD: send EAS instead of IAS
  src/modules/mavlink/mavlink_messages.cpp
Labels: fixedwing, vtol

#14923 board_comnmon: indent BOARDBRICK_VALID_LIST to correct level
  platforms/common/include/px4_platform_common/board_common.h
Labels: cleanup

#14895 VTOL: disable transition command in certain flight modes
  src/modules/vtol_att_control/vtol_att_control_main.cpp
  src/modules/vtol_att_control/vtol_att_control_main.h
Labels: vtol

#14970 FixedWingAttitudeControl: removed parachute from gimbal control group
  src/modules/fw_att_control/FixedwingAttitudeControl.cpp
  src/modules/fw_att_control/FixedwingAttitudeControl.hpp
Labels: bug, fixedwing

#14823 mc_pos_control: migrate MPC_*_VEL_* parameter to acceleration scaling
  ROMFS/px4fmu_common/init.d-posix/1040_standard_vtol
  ROMFS/px4fmu_common/init.d-posix/1041_tailsitter
  ROMFS/px4fmu_common/init.d-posix/1042_tiltrotor
  ROMFS/px4fmu_common/init.d-posix/6011_typhoon_h480
  ROMFS/px4fmu_common/init.d-posix/rcS
  ROMFS/px4fmu_common/init.d/airframes/1002_standard_vtol.hil
  ROMFS/px4fmu_common/init.d/airframes/13006_vtol_standard_delta
  ROMFS/px4fmu_common/init.d/airframes/13009_vtol_spt_ranger
  ROMFS/px4fmu_common/init.d/airframes/13013_deltaquad
  ROMFS/px4fmu_common/init.d/airframes/4016_holybro_px4vision
  ROMFS/px4fmu_common/init.d/airframes/4052_holybro_qav250
  ROMFS/px4fmu_common/init.d/airframes/4070_aerofc
  ROMFS/px4fmu_common/init.d/airframes/4071_ifo
  ROMFS/px4fmu_common/init.d/airframes/4073_ifo-s
  ROMFS/px4fmu_common/init.d/airframes/4250_teal
  ROMFS/px4fmu_common/init.d/airframes/4500_clover4
  ROMFS/px4fmu_common/init.d/airframes/4900_crazyflie
  ROMFS/px4fmu_common/init.d/airframes/6002_draco_r
  src/lib/parameters/param_translation.cpp
  src/lib/parameters/param_translation.h
  src/modules/mc_pos_control/Takeoff/Takeoff.cpp
  src/modules/mc_pos_control/Takeoff/Takeoff.hpp
  src/modules/mc_pos_control/Takeoff/TakeoffTest.cpp
  src/modules/mc_pos_control/mc_pos_control_main.cpp
  src/modules/mc_pos_control/mc_pos_control_params.c
Labels: proposal

#14986 ekf2: increase default baro noise 2 -> 3.5 m
  src/modules/ekf2/ekf2_params.c
Labels: ekf2
