Repository PX4/PX4-Autopilot, pull requests merged in 2020-10, with the labels that each got.

#15868 cmake nuttx add STM32H7 debug helpers
  platforms/nuttx/CMakeLists.txt
Labels: enhancement

#15875 commander: PreFlightCheck param_find all parameters immediately
  src/modules/commander/Arming/PreFlightCheck/checks/ekf2Check.cpp
  src/modules/commander/Arming/PreFlightCheck/checks/imuConsistencyCheck.cpp
  src/modules/commander/Arming/PreFlightCheck/checks/powerCheck.cpp
Labels: bug

#15880 lib/battery: fix duplicate uORB publish and minor cleanup
  src/lib/battery/battery.cpp
  src/lib/battery/battery.h
  src/modules/battery_status/battery_status.cpp
Labels: bug

#15219 drivers/tone_alarm and tune_control small improvements/cleanup
  ROMFS/px4fmu_common/init.d/rc.interface
  ROMFS/px4fmu_common/init.d/rc.io
  ROMFS/px4fmu_common/init.d/rcS
  ROMFS/px4fmu_test/init.d/rcS
  msg/tune_control.msg
  platforms/common/include/px4_platform_common/px4_work_queue/ScheduledWorkItem.hpp
  platforms/common/px4_work_queue/ScheduledWorkItem.cpp
  platforms/nuttx/src/px4/nxp/imxrt/tone_alarm/ToneAlarmInterface.cpp
  platforms/nuttx/src/px4/nxp/kinetis/tone_alarm/ToneAlarmInterface.cpp
  platforms/nuttx/src/px4/nxp/s32k1xx/tone_alarm/ToneAlarmInterface.cpp
  platforms/nuttx/src/px4/stm/stm32_common/tone_alarm/ToneAlarmInterfaceGPIO.cpp
  platforms/nuttx/src/px4/stm/stm32_common/tone_alarm/ToneAlarmInterfacePWM.cpp
  platforms/posix/src/px4/generic/generic/tone_alarm/ToneAlarmInterface.cpp
  src/drivers/drv_tone_alarm.h
  src/drivers/mkblctrl/mkblctrl.cpp
  src/drivers/safety_button/SafetyButton.cpp
  src/drivers/safety_button/SafetyButton.hpp
  src/drivers/telemetry/iridiumsbd/module.yaml
  src/drivers/tone_alarm/CMakeLists.txt
  src/drivers/tone_alarm/ToneAlarm.cpp
  src/drivers/tone_alarm/ToneAlarm.h
  src/lib/circuit_breaker/circuit_breaker.h
  src/lib/tunes/tune_definition.desc
  src/lib/tunes/tunes.cpp
  src/lib/tunes/tunes.h
  src/modules/commander/Commander.cpp
  src/modules/commander/calibration_routines.cpp
  src/modules/commander/commander_helper.cpp
  src/modules/commander/mag_calibration.cpp
  src/modules/events/rc_loss_alarm.cpp
  src/modules/events/rc_loss_alarm.h
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/mavlink/tune_publisher.cpp
  src/systemcmds/tests/CMakeLists.txt
  src/systemcmds/tests/test_tone.cpp
  src/systemcmds/tests/tests_main.c
  src/systemcmds/tests/tests_main.h
  src/systemcmds/tune_control/CMakeLists.txt
  src/systemcmds/tune_control/tune_control.cpp
Labels: cleanup

#15677 FW navigation first order hold move to position controller
  msg/position_controller_status.msg
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.hpp
  src/modules/navigator/mission.cpp
  src/modules/navigator/mission.h
  src/modules/navigator/mission_block.cpp
  src/modules/navigator/mission_params.c
Labels: cleanup, enhancement, fixedwing, vtol

#15900 simulator: support accel/gyro instances and stuck failure
  ROMFS/px4fmu_common/init.d-posix/rcS
  src/lib/drivers/accelerometer/PX4Accelerometer.cpp
  src/lib/drivers/accelerometer/PX4Accelerometer.hpp
  src/lib/drivers/gyroscope/PX4Gyroscope.cpp
  src/lib/drivers/gyroscope/PX4Gyroscope.hpp
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/sih/sih.hpp
  src/modules/simulator/simulator.h
  src/modules/simulator/simulator_mavlink.cpp
  src/systemcmds/failure/failure.cpp
Labels: enhancement

#15913 system: include shutdown lock to BOARD_INDICATE_ARMED_STATE
  boards/holybro/pix32v5/src/board_config.h
  boards/nxp/fmurt1062-v1/src/board_config.h
  boards/px4/fmu-v5/src/board_config.h
  boards/px4/fmu-v5x/src/board_config.h
  boards/px4/fmu-v6x/src/board_config.h
  platforms/common/CMakeLists.txt
  platforms/common/external_reset_lockout.cpp
  platforms/common/include/px4_platform_common/board_common.h
  platforms/common/include/px4_platform_common/external_reset_lockout.h
  platforms/common/shutdown.cpp
  src/modules/commander/Commander.cpp
Labels: enhancement

#15933 sensors/vehicle_imu: continue consuming raw data if falling behind
  src/modules/sensors/vehicle_imu/VehicleIMU.cpp
  src/modules/sensors/vehicle_imu/VehicleIMU.hpp
Labels: bug, enhancement

#15932 dps310: fix c11 coeffecient
  src/drivers/barometer/dps310/DPS310.cpp
Labels: bug

#15921 uavcan: gnss: Implement RTCM data for RTK
  src/drivers/uavcan/sensors/gnss.cpp
  src/drivers/uavcan/sensors/gnss.hpp
  src/drivers/uavcan/sensors/sensor_bridge.hpp
  src/drivers/uavcan/uavcan_main.cpp
Labels: enhancement

#15930 navigator: publish navigator mission item changes for logging
  msg/CMakeLists.txt
  msg/navigator_mission_item.msg
  msg/tools/uorb_rtps_message_ids.yaml
  src/modules/logger/logged_topics.cpp
  src/modules/navigator/mission.cpp
  src/modules/navigator/mission.h
  src/modules/navigator/navigator.h
Labels: enhancement

#15973 drivers/uavcan: RGB LED support (publish uavcan::equipment::indication::LightsCommand)
  src/drivers/uavcan/CMakeLists.txt
  src/drivers/uavcan/rgbled.cpp
  src/drivers/uavcan/rgbled.hpp
  src/drivers/uavcan/uavcan_main.cpp
  src/drivers/uavcan/uavcan_main.hpp
Labels: enhancement, uavcan

#15709 fix: uORB topics lost messages when generation wrap-around
  msg/gps_inject_data.msg
  msg/mavlink_log.msg
  msg/orb_test_medium.msg
  msg/sensor_mag.msg
  msg/subsystem_info.msg
  msg/transponder_report.msg
  msg/tune_control.msg
  msg/uavcan_parameter_request.msg
  msg/ulog_stream.msg
  msg/vehicle_command.msg
  msg/vehicle_command_ack.msg
  src/modules/uORB/Subscription.cpp
  src/modules/uORB/Subscription.hpp
  src/modules/uORB/SubscriptionCallback.hpp
  src/modules/uORB/uORBDeviceMaster.cpp
  src/modules/uORB/uORBDeviceNode.cpp
  src/modules/uORB/uORBDeviceNode.hpp
  src/modules/uORB/uORB_tests/uORBTest_UnitTest.cpp
  src/modules/uORB/uORB_tests/uORBTest_UnitTest.hpp
Labels: enhancement

#15999 commander: preflight check don't read mag device_id
  src/modules/commander/Arming/PreFlightCheck/checks/magnetometerCheck.cpp
Labels: enhancement

#15995 msg: only include orb_test messages if PX4_TESTING enabled
  msg/CMakeLists.txt
Labels: cleanup, enhancement

#16020 sensors: force parameter update if mag device id still isn't set
  src/modules/sensors/voted_sensors_update.cpp
Labels: bug

#16040 Fix NuttX build under Cygwin
  platforms/nuttx/NuttX/Make.defs.in
Labels: tools, windows

#16036 commander: PreFlightCheck remove HIL special cases
  src/modules/commander/Arming/PreFlightCheck/PreFlightCheck.cpp
  src/modules/commander/Arming/PreFlightCheck/PreFlightCheck.hpp
  src/modules/commander/Arming/PreFlightCheck/checks/accelerometerCheck.cpp
Labels: cleanup

#15976 FlightTaskAuto: Lock down yaw when waypoint is reached
  src/lib/flight_tasks/tasks/Auto/FlightTaskAuto.cpp
Labels: enhancement, multicopter

#16032 mc_pos_control: split out header and name consistently
  src/modules/mc_pos_control/CMakeLists.txt
  src/modules/mc_pos_control/MulticopterPositionControl.cpp
  src/modules/mc_pos_control/MulticopterPositionControl.hpp
Labels: cleanup, multicopter

#16034 move subsystem_info entirely into commander and remove from uORB
  msg/CMakeLists.txt
  msg/subsystem_info.msg
  msg/tools/uorb_rtps_message_ids.yaml
  src/drivers/telemetry/iridiumsbd/IridiumSBD.cpp
  src/drivers/telemetry/iridiumsbd/IridiumSBD.h
  src/modules/commander/Arming/HealthFlags/HealthFlags.cpp
  src/modules/commander/Arming/HealthFlags/HealthFlags.h
  src/modules/commander/Arming/PreFlightCheck/PreFlightCheck.cpp
  src/modules/commander/Arming/PreFlightCheck/checks/accelerometerCheck.cpp
  src/modules/commander/Arming/PreFlightCheck/checks/airspeedCheck.cpp
  src/modules/commander/Arming/PreFlightCheck/checks/baroCheck.cpp
  src/modules/commander/Arming/PreFlightCheck/checks/ekf2Check.cpp
  src/modules/commander/Arming/PreFlightCheck/checks/gyroCheck.cpp
  src/modules/commander/Arming/PreFlightCheck/checks/imuConsistencyCheck.cpp
  src/modules/commander/Arming/PreFlightCheck/checks/magConsistencyCheck.cpp
  src/modules/commander/Arming/PreFlightCheck/checks/magnetometerCheck.cpp
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
Labels: cleanup

#16012 uORB::Publication: automatically obtain ORB_QUEUE_LENGTH from the structure
  src/drivers/camera_capture/camera_capture.hpp
  src/drivers/camera_trigger/camera_trigger.cpp
  src/drivers/gps/gps.cpp
  src/drivers/mkblctrl/mkblctrl.cpp
  src/drivers/px4io/px4io.cpp
  src/drivers/rc_input/RCInput.cpp
  src/drivers/safety_button/SafetyButton.hpp
  src/drivers/tone_alarm/ToneAlarm.cpp
  src/drivers/uavcan/uavcan_servers.hpp
  src/lib/avoidance/ObstacleAvoidance.hpp
  src/lib/collision_prevention/CollisionPrevention.hpp
  src/lib/drivers/accelerometer/PX4Accelerometer.hpp
  src/lib/drivers/gyroscope/PX4Gyroscope.hpp
  src/lib/drivers/magnetometer/PX4Magnetometer.hpp
  src/lib/flight_tasks/FlightTasks.hpp
  src/lib/mixer_module/mixer_module.cpp
  src/modules/commander/Arming/ArmAuthorization/ArmAuthorization.cpp
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
  src/modules/commander/calibration_routines.cpp
  src/modules/events/rc_loss_alarm.h
  src/modules/events/send_event.cpp
  src/modules/events/status_display.h
  src/modules/load_mon/LoadMon.hpp
  src/modules/logger/log_writer_mavlink.h
  src/modules/logger/logger.cpp
  src/modules/mavlink/mavlink_main.cpp
  src/modules/mavlink/mavlink_parameters.h
  src/modules/mavlink/mavlink_receiver.h
  src/modules/mavlink/tune_publisher.h
  src/modules/mc_pos_control/MulticopterPositionControl.hpp
  src/modules/muorb/test/muorb_test_example.cpp
  src/modules/navigator/navigator.h
  src/modules/navigator/navigator_main.cpp
  src/modules/simulator/simulator.h
  src/modules/temperature_compensation/TemperatureCompensationModule.cpp
  src/modules/temperature_compensation/temperature_calibration/task.cpp
  src/modules/uORB/Publication.hpp
  src/modules/uORB/PublicationMulti.hpp
  src/modules/vmount/input_mavlink.cpp
  src/modules/vmount/output_mavlink.h
  src/modules/vtol_att_control/vtol_att_control_main.cpp
  src/systemcmds/failure/failure.cpp
  src/systemcmds/led_control/led_control.cpp
  src/systemcmds/motor_test/motor_test.cpp
  src/systemcmds/tune_control/tune_control.cpp
Labels: enhancement

#14650 Multi-EKF support
  .ci/Jenkinsfile-hardware
  ROMFS/px4fmu_common/init.d-posix/rcS
  ROMFS/px4fmu_common/init.d/rc.airship_apps
  ROMFS/px4fmu_common/init.d/rc.fw_apps
  ROMFS/px4fmu_common/init.d/rc.mc_apps
  ROMFS/px4fmu_common/init.d/rc.rover_apps
  ROMFS/px4fmu_common/init.d/rc.uuv_apps
  ROMFS/px4fmu_common/init.d/rc.vehicle_setup
  ROMFS/px4fmu_common/init.d/rc.vtol_apps
  Tools/ecl_ekf/analyse_logdata_ekf.py
  Tools/ecl_ekf/analysis/metrics.py
  Tools/ecl_ekf/plotting/pdf_report.py
  Tools/ecl_ekf/process_logdata_ekf.py
  msg/CMakeLists.txt
  msg/estimator_selector_status.msg
  msg/sensors_status_imu.msg
  msg/tools/uorb_rtps_message_ids.yaml
  msg/vehicle_attitude.msg
  msg/vehicle_global_position.msg
  msg/vehicle_local_position.msg
  msg/vehicle_odometry.msg
  platforms/common/include/px4_platform_common/px4_work_queue/WorkQueueManager.hpp
  platforms/common/px4_work_queue/WorkQueueManager.cpp
  src/lib/cdev/posix/cdev_platform.cpp
  src/modules/airspeed_selector/airspeed_selector_main.cpp
  src/modules/commander/Arming/PreFlightCheck/checks/ekf2Check.cpp
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
  src/modules/ekf2/CMakeLists.txt
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
  src/modules/ekf2/EKF2Selector.cpp
  src/modules/ekf2/EKF2Selector.hpp
  src/modules/ekf2/ekf2_multi_params.c
  src/modules/ekf2/ekf2_params.c
  src/modules/ekf2/ekf2_selector_params.c
  src/modules/fw_att_control/FixedwingAttitudeControl.cpp
  src/modules/logger/logged_topics.cpp
  src/modules/mavlink/mavlink_messages.cpp
  src/modules/mavlink/streams/HIGH_LATENCY2.hpp
  src/modules/mc_att_control/mc_att_control_main.cpp
  src/modules/rover_pos_control/RoverPositionControl.hpp
  src/modules/sensors/sensors.cpp
  src/modules/sensors/vehicle_acceleration/VehicleAcceleration.cpp
  src/modules/sensors/vehicle_acceleration/VehicleAcceleration.hpp
  src/modules/sensors/vehicle_air_data/VehicleAirData.cpp
  src/modules/sensors/vehicle_angular_velocity/VehicleAngularVelocity.cpp
  src/modules/sensors/vehicle_angular_velocity/VehicleAngularVelocity.hpp
  src/modules/sensors/vehicle_magnetometer/VehicleMagnetometer.cpp
  src/modules/sensors/voted_sensors_update.cpp
  src/modules/sensors/voted_sensors_update.h
  src/modules/simulator/simulator.h
  src/modules/simulator/simulator_mavlink.cpp
  src/modules/uuv_att_control/uuv_att_control.cpp
  src/modules/uuv_att_control/uuv_att_control.hpp
  src/systemcmds/top/CMakeLists.txt
Labels: ekf2, enhancement

#16016 HTE: fix variance prediction
  src/modules/mc_hover_thrust_estimator/hover_thrust_estimator_params.c
  src/modules/mc_hover_thrust_estimator/zero_order_hover_thrust_ekf.cpp
  src/modules/mc_hover_thrust_estimator/zero_order_hover_thrust_ekf.hpp
Labels: bug

#16061 mathlib: NotchFilter delete unused update method
  src/lib/mathlib/math/filter/NotchFilter.hpp
Labels: cleanup

#16060 rename vehicle_visual_odometry_aligned -> estimator_visual_odometry_aligned
  msg/tools/uorb_rtps_message_ids.yaml
  msg/vehicle_odometry.msg
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
  src/modules/ekf2/EKF2Selector.cpp
  src/modules/ekf2/EKF2Selector.hpp
  src/modules/logger/logged_topics.cpp
Labels: cleanup

#15865 load_mon get mem_usage by reading /proc/meminfo on Linux
  ROMFS/px4fmu_common/init.d-posix/rcS
  boards/px4/sitl/default.cmake
  boards/px4/sitl/nolockstep.cmake
  boards/px4/sitl/rtps.cmake
  boards/px4/sitl/test.cmake
  src/modules/load_mon/LoadMon.cpp
  src/modules/load_mon/LoadMon.hpp
Labels: enhancement

#16067 ekf2 selector fix SITL lockstep
  ROMFS/px4fmu_common/init.d-posix/rcS
  src/modules/ekf2/EKF2Selector.cpp
  src/modules/sensors/sensors.cpp
Labels: bug

#15955 Github actions: SITL tests upgrade MAVSDK 0.30.1 -> 0.32.1
  .github/workflows/sitl_tests.yml
  test/mavsdk_tests/CMakeLists.txt
Labels: CI, enhancement
