Repository PX4/PX4-Autopilot, pull requests merged in 2020-06, with the labels that each got.

#15010 sensors: don't allow mavlink error spamming
  src/modules/sensors/vehicle_air_data/VehicleAirData.cpp
  src/modules/sensors/vehicle_air_data/VehicleAirData.hpp
  src/modules/sensors/voted_sensors_update.cpp
  src/modules/sensors/voted_sensors_update.h
Labels: bug

#15011 ms5611: prevent starting as ms5607 on ms5611
  src/drivers/barometer/ms5611/ms5611.cpp
Labels: bug, drivers

#14992 ekf2: decrease default GPS horizontal velocity noise
  src/modules/ekf2/ekf2_params.c
Labels: bug, ekf2, enhancement

#15013 boards: pixhawk mini add unused MPU9250 CS & DRDY pins
  boards/px4/fmu-v2/src/spi.cpp
  boards/px4/fmu-v3/src/spi.cpp
Labels: bug

#15025 selectively increase the optimization level per module/library
  CMakeLists.txt
  boards/bitcraze/crazyflie/default.cmake
  boards/holybro/durandal-v1/stackcheck.cmake
  boards/holybro/kakutef7/default.cmake
  boards/px4/fmu-v5/stackcheck.cmake
  boards/px4/io-v2/default.cmake
  platforms/common/include/px4_platform_common/px4_work_queue/WorkQueueManager.hpp
  platforms/common/px4_work_queue/CMakeLists.txt
  platforms/nuttx/src/px4/common/CMakeLists.txt
  platforms/nuttx/src/px4/stm/stm32_common/dshot/CMakeLists.txt
  platforms/nuttx/src/px4/stm/stm32_common/hrt/CMakeLists.txt
  platforms/nuttx/src/px4/stm/stm32_common/io_pins/CMakeLists.txt
  platforms/nuttx/src/px4/stm/stm32_common/spi/CMakeLists.txt
  src/lib/drivers/accelerometer/CMakeLists.txt
  src/lib/drivers/gyroscope/CMakeLists.txt
  src/lib/perf/CMakeLists.txt
  src/lib/systemlib/CMakeLists.txt
  src/modules/mc_att_control/AttitudeControl/CMakeLists.txt
  src/modules/mc_att_control/CMakeLists.txt
  src/modules/mc_rate_control/CMakeLists.txt
  src/modules/mc_rate_control/RateControl/CMakeLists.txt
  src/modules/sensors/sensor_corrections/CMakeLists.txt
  src/modules/sensors/vehicle_acceleration/CMakeLists.txt
  src/modules/sensors/vehicle_angular_velocity/CMakeLists.txt
  src/modules/sensors/vehicle_imu/CMakeLists.txt
  src/modules/uORB/CMakeLists.txt
Labels: enhancement

#15035 battery_params: relax maximum for capacity thresholds
  src/lib/battery/battery_params_common.c
Labels: RFC

#15046 px4_fmu-v5x:Wrong Bit was being tested for mode.
  boards/px4/fmu-v5x/nuttx-config/nsh/defconfig
Labels: bug, nuttx

#15032 navigator: always make sure that we set target lat/lon for fixed wing
  src/modules/navigator/navigator_main.cpp
Labels: bug, fixedwing

#15019 Initial Hex/Proficnc Cube Yellow support
  .ci/Jenkinsfile-compile
  .github/workflows/compile_nuttx.yml
  .vscode/cmake-variants.yaml
  boards/hex/cube-yellow/default.cmake
  boards/hex/cube-yellow/firmware.prototype
  boards/hex/cube-yellow/init/rc.board_defaults
  boards/hex/cube-yellow/init/rc.board_mavlink
  boards/hex/cube-yellow/init/rc.board_sensors
  boards/hex/cube-yellow/nuttx-config/Kconfig
  boards/hex/cube-yellow/nuttx-config/include/board.h
  boards/hex/cube-yellow/nuttx-config/include/board_dma_map.h
  boards/hex/cube-yellow/nuttx-config/nsh/defconfig
  boards/hex/cube-yellow/nuttx-config/scripts/script.ld
  boards/hex/cube-yellow/src/CMakeLists.txt
  boards/hex/cube-yellow/src/board_config.h
  boards/hex/cube-yellow/src/can.c
  boards/hex/cube-yellow/src/i2c.cpp
  boards/hex/cube-yellow/src/init.c
  boards/hex/cube-yellow/src/led.c
  boards/hex/cube-yellow/src/sdio.c
  boards/hex/cube-yellow/src/spi.cpp
  boards/hex/cube-yellow/src/timer_config.cpp
  boards/hex/cube-yellow/src/usb.c
Labels: enhancement

#15053 boards: move rgbled_pwm startup to appropriate boards
  ROMFS/px4fmu_common/init.d/rcS
  boards/av/x-v1/default.cmake
  boards/hex/cube-yellow/default.cmake
  boards/mro/x21/default.cmake
  boards/nxp/fmuk66-v3/init/rc.board_defaults
  boards/nxp/fmurt1062-v1/init/rc.board_defaults
  boards/px4/fmu-v3/default.cmake
  boards/px4/fmu-v3/rtps.cmake
  boards/px4/fmu-v3/stackcheck.cmake
  boards/px4/fmu-v4pro/default.cmake
  boards/px4/fmu-v4pro/rtps.cmake
  boards/px4/fmu-v5/init/rc.board_defaults
  src/drivers/lights/CMakeLists.txt
Labels: cleanup

#15051 ROMFS: SD card block MacOS and Ubuntu trash and indexing files
  ROMFS/px4fmu_common/init.d/rcS
Labels: enhancement

#14974 FlightTaskAuto: Create artificial yaw speed sp for feedforward
  src/lib/flight_tasks/tasks/Auto/FlightTaskAuto.cpp
Labels: enhancement, multicopter

#15116 mavsdk_tests: add iris_dual_gps to the test pipeline
  test/mavsdk_tests/configs/sitl.json
Labels: CI

#15029 Default config does not slow down close to ground in position mode
  src/modules/mc_pos_control/mc_pos_control_params.c
Labels: proposal

#15118 create fake_magnetometer "driver" to publish magnetic field in body frame
  boards/px4/fmu-v4/default.cmake
  boards/px4/fmu-v5/default.cmake
  boards/px4/sitl/default.cmake
  src/examples/fake_magnetometer/CMakeLists.txt
  src/examples/fake_magnetometer/FakeMagnetometer.cpp
  src/examples/fake_magnetometer/FakeMagnetometer.hpp
Labels: enhancement

#15183 Refactor: Name manual_control_setpoint the same way everywhere
  src/examples/fixedwing_control/main.cpp
  src/examples/rover_steering_control/main.cpp
  src/modules/commander/Arming/PreFlightCheck/checks/manualControlCheck.cpp
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
  src/modules/commander/rc_calibration.cpp
  src/modules/fw_att_control/FixedwingAttitudeControl.cpp
  src/modules/fw_att_control/FixedwingAttitudeControl.hpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.hpp
  src/modules/logger/logger.cpp
  src/modules/logger/logger.h
  src/modules/mavlink/mavlink_messages.cpp
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/mavlink/mavlink_receiver.h
  src/modules/mc_att_control/mc_att_control.hpp
  src/modules/mc_att_control/mc_att_control_main.cpp
  src/modules/mc_rate_control/MulticopterRateControl.cpp
  src/modules/mc_rate_control/MulticopterRateControl.hpp
  src/modules/rc_update/rc_update.cpp
  src/modules/rc_update/rc_update.h
  src/modules/rover_pos_control/RoverPositionControl.cpp
  src/modules/rover_pos_control/RoverPositionControl.hpp
  src/modules/uuv_att_control/uuv_att_control.cpp
  src/modules/uuv_att_control/uuv_att_control.hpp
  src/modules/vtol_att_control/vtol_att_control_main.cpp
  src/modules/vtol_att_control/vtol_att_control_main.h
Labels: cleanup

#15179 mavsdk_tests: add iris_dual_gps tests
  test/mavsdk_tests/configs/sitl.json
Labels: CI, sitl

#15147 Enable spawning different vehicle types for multivehicle SITL in gazebo
  Tools/gazebo_sitl_multiple_run.sh
Labels: documentation

#15222 FlightTaskAuto: Update prev and next waypoints depending on validity
  src/lib/flight_tasks/tasks/Auto/FlightTaskAuto.cpp
  src/lib/flight_tasks/tasks/Auto/FlightTaskAuto.hpp
Labels: bug, multicopter

#15227 Feature: add support to FastRTPS 2.0.0 (Fast-DDS)
  msg/templates/urtps/Publisher.cpp.em
  msg/templates/urtps/Subscriber.cpp.em
Labels: enhancement, rtps
