Repository PX4/PX4-Autopilot, pull requests merged in 2020-01, with the labels that each got.

#13435 consider logging all raw sensor data at a minimal rate
  src/modules/logger/logged_topics.cpp
Labels: enhancement

#13781 MPU9250 failed to start its AK8963 via internal SPI to I2C bridge
  boards/px4/raspberrypi/src/board_config.h
  src/drivers/imu/mpu9250/MPU9250_mag.cpp
  src/drivers/imu/mpu9250/MPU9250_mag.h
  src/drivers/imu/mpu9250/mpu9250.cpp
  src/drivers/imu/mpu9250/mpu9250.h
Labels: bug, raspberry_pi

#13832 fix bug if speed reach minium during ramp
  src/modules/fw_pos_control_l1/runway_takeoff/RunwayTakeoff.cpp
Labels: bug, fixedwing

#13835 srf02: move to PX4Rangefinder and cleanup
  src/drivers/distance_sensor/srf02/CMakeLists.txt
  src/drivers/distance_sensor/srf02/SRF02.cpp
  src/drivers/distance_sensor/srf02/SRF02.hpp
  src/drivers/distance_sensor/srf02/srf02.cpp
  src/drivers/distance_sensor/srf02/srf02_main.cpp
Labels: cleanup, drivers

#13845 mpu9250: more small fixes and cleanup
  src/drivers/imu/mpu9250/MPU9250_mag.cpp
  src/drivers/imu/mpu9250/MPU9250_mag.h
  src/drivers/imu/mpu9250/mpu9250.cpp
  src/drivers/imu/mpu9250/mpu9250.h
  src/drivers/imu/mpu9250/mpu9250_i2c.cpp
  src/drivers/imu/mpu9250/mpu9250_spi.cpp
Labels: cleanup, drivers

#13839 lps25h: move to PX4Barometer and cleanup
  src/drivers/barometer/lps25h/CMakeLists.txt
  src/drivers/barometer/lps25h/LPS25H.cpp
  src/drivers/barometer/lps25h/LPS25H.hpp
  src/drivers/barometer/lps25h/lps25h.cpp
  src/drivers/barometer/lps25h/lps25h.h
  src/drivers/barometer/lps25h/lps25h_i2c.cpp
  src/drivers/barometer/lps25h/lps25h_main.cpp
  src/drivers/barometer/lps25h/lps25h_spi.cpp
Labels: cleanup, drivers

#13855 deprecate parrot bebop board support
  .ci/Jenkinsfile-compile
  README.md
  ROMFS/px4fmu_common/init.d/airframes/4013_bebop
  ROMFS/px4fmu_common/init.d/airframes/CMakeLists.txt
  ROMFS/px4fmu_common/mixers/CMakeLists.txt
  ROMFS/px4fmu_common/mixers/bebop.main.mix
  Tools/docker_run.sh
  boards/parrot/bebop/CMakeLists.txt
  boards/parrot/bebop/cmake/upload.cmake
  boards/parrot/bebop/default.cmake
  boards/parrot/bebop/flow/CMakeLists.txt
  boards/parrot/bebop/flow/bebop_flow.cpp
  boards/parrot/bebop/flow/dump_pgm.cpp
  boards/parrot/bebop/flow/dump_pgm.h
  boards/parrot/bebop/flow/video_device.cpp
  boards/parrot/bebop/flow/video_device.h
  boards/parrot/bebop/scripts/adb_upload.sh
  boards/parrot/bebop/scripts/adb_upload_to_bebop.sh
  boards/parrot/bebop/src/CMakeLists.txt
  boards/parrot/bebop/src/board_config.h
  boards/parrot/bebop/src/empty.c
  platforms/common/include/px4_platform_common/defines.h
  platforms/posix/cmake/px4_impl_os.cmake
  posix-configs/bebop/px4.config
  src/drivers/driver_framework_wrapper/df_bebop_bus_wrapper/CMakeLists.txt
  src/drivers/driver_framework_wrapper/df_bebop_bus_wrapper/df_bebop_bus_wrapper.cpp
  src/drivers/driver_framework_wrapper/df_bebop_rangefinder_wrapper/CMakeLists.txt
  src/drivers/driver_framework_wrapper/df_bebop_rangefinder_wrapper/df_bebop_rangefinder_wrapper.cpp
Labels: cleanup

#13549 Notch filter
  src/lib/drivers/gyroscope/PX4Gyroscope.cpp
  src/lib/drivers/gyroscope/PX4Gyroscope.hpp
  src/lib/mathlib/CMakeLists.txt
  src/lib/mathlib/math/filter/NotchFilter.hpp
  src/lib/mathlib/math/filter/NotchFilterArray.hpp
  src/lib/mathlib/math/filter/NotchFilterTest.cpp
  src/modules/sensors/sensor_params.c
Labels: enhancement, sensors

#13863 adis16497: add sensor model autodetection
  src/drivers/imu/adis16497/ADIS16497.cpp
  src/drivers/imu/adis16497/ADIS16497.hpp
Labels: drivers

#13880 emlid navio2: update RGB LED driver (move away from DriverFramework)
  boards/emlid/navio2/navio_rgbled/CMakeLists.txt
  boards/emlid/navio2/navio_rgbled/NavioRGBLed.cpp
  boards/emlid/navio2/navio_rgbled/NavioRGBLed.hpp
  boards/emlid/navio2/navio_rgbled/navio_rgbled.cpp
  boards/emlid/navio2/navio_rgbled/test/CMakeLists.txt
  boards/emlid/navio2/navio_rgbled/test/main.cpp
  boards/emlid/navio2/navio_rgbled/test/test.cpp
  src/lib/drivers/CMakeLists.txt
  src/lib/drivers/linux_gpio/CMakeLists.txt
  src/lib/drivers/linux_gpio/linux_gpio.cpp
  src/lib/drivers/linux_gpio/linux_gpio.h
  src/modules/commander/commander_helper.cpp
Labels: cleanup, raspberry_pi

#13848 ST LSM9DS1 9DOF IMU driver
  boards/emlid/navio2/default.cmake
  posix-configs/rpi/px4.config
  posix-configs/rpi/px4_fw.config
  posix-configs/rpi/px4_test.config
  src/drivers/drv_sensor.h
  src/drivers/imu/st/lsm9ds1/CMakeLists.txt
  src/drivers/imu/st/lsm9ds1/LSM9DS1.cpp
  src/drivers/imu/st/lsm9ds1/LSM9DS1.hpp
  src/drivers/imu/st/lsm9ds1/ST_LSM9DS1_Registers.hpp
  src/drivers/imu/st/lsm9ds1/lsm9ds1_main.cpp
  src/drivers/magnetometer/lsm9ds1_mag/CMakeLists.txt
  src/drivers/magnetometer/lsm9ds1_mag/LSM9DS1_MAG.cpp
  src/drivers/magnetometer/lsm9ds1_mag/LSM9DS1_MAG.hpp
  src/drivers/magnetometer/lsm9ds1_mag/ST_LSM9DS1_MAG_Registers.hpp
  src/drivers/magnetometer/lsm9ds1_mag/lsm9ds1_mag_main.cpp
  src/lib/drivers/device/posix/SPI.cpp
Labels: drivers, raspberry_pi

#13886 FW: Allow counterclockwise loiter
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
Labels: bug, fixedwing

#13836 teraranger: move to PX4Rangefinder and cleanup
  src/drivers/distance_sensor/teraranger/CMakeLists.txt
  src/drivers/distance_sensor/teraranger/TERARANGER.cpp
  src/drivers/distance_sensor/teraranger/TERARANGER.hpp
  src/drivers/distance_sensor/teraranger/teraranger.cpp
  src/drivers/distance_sensor/teraranger/teraranger_main.cpp
Labels: cleanup, drivers

#13840 ulanding_radar: move to PX4Rangefinder and cleanup
  src/drivers/distance_sensor/CMakeLists.txt
  src/drivers/distance_sensor/ulanding/ulanding.cpp
  src/drivers/distance_sensor/ulanding_radar/AerotennaULanding.cpp
  src/drivers/distance_sensor/ulanding_radar/AerotennaULanding.hpp
  src/drivers/distance_sensor/ulanding_radar/CMakeLists.txt
  src/drivers/distance_sensor/ulanding_radar/module.yaml
  src/drivers/distance_sensor/ulanding_radar/ulanding_radar_main.cpp
Labels: cleanup, drivers

#13619 rc_input: move to PX4 WQ and minor cleanup
  src/drivers/rc_input/RCInput.cpp
  src/drivers/rc_input/RCInput.hpp
Labels: cleanup, enhancement

#13897 aerfc_adc: move to PX4 WQ and cleanup
  boards/intel/aerofc-v1/aerofc_adc/AEROFC_ADC.cpp
  boards/intel/aerofc-v1/aerofc_adc/AEROFC_ADC.hpp
  boards/intel/aerofc-v1/aerofc_adc/CMakeLists.txt
  boards/intel/aerofc-v1/aerofc_adc/aerofc_adc_main.cpp
Labels: cleanup

#13899 github actions: temporarily disable SITL Tests (Code Coverage)
  .github/workflows/sitl_tests_coverage.yml
Labels: CI

#13618 Change RC override to affect offboard mode as well
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
  src/modules/commander/commander_params.c
Labels: offboard

#13901 [Trivial] commander_params: remove duplicate rc override title
  src/modules/commander/commander_params.c
Labels: cleanup

#13902 drivers/rc_input: port to linux for testing
  boards/aerotenna/ocpoc/default.cmake
  boards/atlflight/eagle/default.cmake
  boards/atlflight/excelsior/default.cmake
  boards/beaglebone/blue/default.cmake
  boards/emlid/navio2/default.cmake
  boards/px4/raspberrypi/default.cmake
  posix-configs/bbblue/px4.config
  posix-configs/bbblue/px4_fw.config
  posix-configs/ocpoc/px4.config
  src/drivers/rc_input/RCInput.cpp
  src/lib/rc/sbus.cpp
Labels: beaglebone, raspberry_pi

#13903 atlflight/eagle: minor fixes to get it working again
  .ci/Jenkinsfile-compile
  Makefile
  boards/atlflight/eagle/qurt.cmake
  boards/atlflight/eagle/scripts/.gitignore
  boards/atlflight/eagle/scripts/px4_snapflight_sanitytest.sh
  boards/atlflight/excelsior/qurt.cmake
  platforms/common/include/px4_platform_common/atomic.h
  platforms/qurt/CMakeLists.txt
  platforms/qurt/src/px4/common/px4_init.cpp
  src/drivers/driver_framework_wrapper/df_ltc2946_wrapper/CMakeLists.txt
  src/drivers/qshell/qurt/CMakeLists.txt
  src/lib/drivers/device/posix/SPI.cpp
  src/lib/drivers/device/qurt/SPI.cpp
Labels: bug, snapdragon

#13907 msg: urtps: change the topic Data Type name to match expected on ROS2
  msg/templates/urtps/Publisher.cpp.em
  msg/templates/urtps/Publisher.h.em
  msg/templates/urtps/Subscriber.cpp.em
  msg/templates/urtps/Subscriber.h.em
Labels: enhancement, rtps

#13911 px4_work_queue: don't inherit pthread attributes from creating thread
  platforms/common/px4_work_queue/WorkQueueManager.cpp
Labels: bug

#13822 RTPS compile error because of FASTRTPSGEN_DIR
  msg/tools/generate_microRTPS_bridge.py
Labels: bug, rtps

#13912 replace mag_report with sensor_mag_s
  src/drivers/driver_framework_wrapper/df_ak8963_wrapper/df_ak8963_wrapper.cpp
  src/drivers/driver_framework_wrapper/df_lsm9ds1_wrapper/df_lsm9ds1_wrapper.cpp
  src/drivers/driver_framework_wrapper/df_mpu9250_wrapper/df_mpu9250_wrapper.cpp
  src/drivers/drv_mag.h
  src/drivers/magnetometer/bmm150/bmm150.cpp
  src/drivers/magnetometer/bmm150/bmm150.hpp
  src/drivers/magnetometer/hmc5883/HMC5883.cpp
  src/drivers/magnetometer/hmc5883/HMC5883.hpp
  src/drivers/magnetometer/ist8310/ist8310.cpp
  src/drivers/magnetometer/lis3mdl/lis3mdl.cpp
  src/drivers/magnetometer/lis3mdl/lis3mdl.h
  src/drivers/magnetometer/lis3mdl/lis3mdl_main.cpp
  src/drivers/magnetometer/lsm303agr/LSM303AGR.cpp
  src/drivers/magnetometer/qmc5883/qmc5883.cpp
  src/drivers/magnetometer/rm3100/rm3100.cpp
  src/drivers/magnetometer/rm3100/rm3100.h
  src/drivers/magnetometer/rm3100/rm3100_main.cpp
  src/drivers/qurt/fc_addon/mpu_spi/mpu9x50_main.cpp
  src/modules/commander/mag_calibration.cpp
  src/modules/sensors/voted_sensors_update.cpp
Labels: cleanup, drivers

#13913 px4_work_queue: revert inherited sched attr and run wq:manager and max priority
  platforms/common/include/px4_platform_common/px4_work_queue/WorkQueueManager.hpp
  platforms/common/px4_work_queue/WorkQueueManager.cpp
Labels: bug

#13920 platforms: remove unnecessary i2c platform abstraction
  boards/av/x-v1/src/init.c
  platforms/common/include/px4_platform_common/i2c.h
  platforms/nuttx/src/px4/common/include/px4_platform/micro_hal.h
  platforms/qurt/include/i2c.h
  src/lib/drivers/device/nuttx/I2C.cpp
  src/lib/drivers/device/nuttx/I2C.hpp
  src/lib/drivers/device/posix/I2C.cpp
  src/lib/drivers/device/posix/I2C.hpp
  src/lib/drivers/device/qurt/I2C.cpp
  src/lib/drivers/device/qurt/I2C.hpp
  src/systemcmds/i2cdetect/i2cdetect.cpp
Labels: cleanup

#13925 lsm9ds1_mag: fix orientation
  src/drivers/magnetometer/lsm9ds1_mag/LSM9DS1_MAG.cpp
Labels: bug, drivers, raspberry_pi

#13926 navio_sysfs_rc_in: only publish input_rc if connected and all channels are non-zero
  boards/emlid/navio2/navio_sysfs_rc_in/NavioSysRCInput.cpp
  boards/emlid/navio2/navio_sysfs_rc_in/NavioSysRCInput.hpp
  boards/emlid/navio2/navio_sysfs_rc_in/navio_sysfs_rc_in_main.cpp
Labels: bug, raspberry_pi, safety

#13921 PAW3902: fix mode change shutter thresholds
  src/drivers/optical_flow/paw3902/PAW3902.cpp
Labels: bug, drivers

#13936 mavlink battery_status: report actual cell voltages
  src/modules/mavlink/mavlink_messages.cpp
Labels: enhancement

#13960 Fixed digital power module validity check
  src/drivers/adc/ADC.cpp
Labels: bug, fmu-v5x

#13966 microRTPS bridge: clean build warnings; improve verbosity
  msg/templates/urtps/Publisher.cpp.em
  msg/templates/urtps/RtpsTopics.cpp.em
  msg/templates/urtps/Subscriber.cpp.em
  msg/templates/urtps/microRTPS_agent.cpp.em
  msg/templates/urtps/microRTPS_transport.cpp
Labels: cleanup, rtps

#13972 land detector: fix ordering of hysteresis updates...
  src/modules/land_detector/LandDetector.cpp
Labels: bug, multicopter

#13159 Treat UAVS diffrently from manned aviation
  msg/transponder_report.msg
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/navigator/navigator.h
  src/modules/navigator/navigator_main.cpp
  src/modules/navigator/navigator_params.c
Labels: enhancement

#13955 sensor_accel/gyro message cleanup
  .ci/Jenkinsfile-hardware
  msg/CMakeLists.txt
  msg/sensor_accel.msg
  msg/sensor_accel_fifo.msg
  msg/sensor_accel_integrated.msg
  msg/sensor_accel_status.msg
  msg/sensor_bias.msg
  msg/sensor_correction.msg
  msg/sensor_gyro.msg
  msg/sensor_gyro_control.msg
  msg/sensor_gyro_fifo.msg
  msg/sensor_gyro_integrated.msg
  msg/sensor_gyro_status.msg
  msg/tools/uorb_rtps_message_ids.yaml
  src/lib/drivers/accelerometer/CMakeLists.txt
  src/lib/drivers/accelerometer/PX4Accelerometer.cpp
  src/lib/drivers/accelerometer/PX4Accelerometer.hpp
  src/lib/drivers/gyroscope/CMakeLists.txt
  src/lib/drivers/gyroscope/PX4Gyroscope.cpp
  src/lib/drivers/gyroscope/PX4Gyroscope.hpp
  src/lib/drivers/magnetometer/PX4Magnetometer.cpp
  src/lib/drivers/magnetometer/PX4Magnetometer.hpp
  src/modules/ekf2/ekf2_main.cpp
  src/modules/logger/logged_topics.cpp
  src/modules/mavlink/mavlink_messages.cpp
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/sensors/vehicle_acceleration/CMakeLists.txt
  src/modules/sensors/vehicle_acceleration/VehicleAcceleration.cpp
  src/modules/sensors/vehicle_acceleration/VehicleAcceleration.hpp
  src/modules/sensors/vehicle_angular_velocity/CMakeLists.txt
  src/modules/sensors/vehicle_angular_velocity/VehicleAngularVelocity.cpp
  src/modules/sensors/vehicle_angular_velocity/VehicleAngularVelocity.hpp
  src/modules/sensors/voted_sensors_update.cpp
  src/modules/sensors/voted_sensors_update.h
Labels: cleanup, enhancement

#13922 Fix velocity state usage in multicopter position control
  src/modules/mc_pos_control/mc_pos_control_main.cpp
Labels: bug, multicopter

#13924 vehicle_local_position: delete unused dist_bottom_rate
  msg/vehicle_local_position.msg
  src/modules/ekf2/ekf2_main.cpp
  src/modules/local_position_estimator/BlockLocalPositionEstimator.cpp
Labels: cleanup

#13991 logger: add safety (switch) at minimal rate
  src/modules/logger/logged_topics.cpp
Labels: enhancement

#13996 px4/fmu-v4: restore SPIDEV integers from stable v1.10
  boards/px4/fmu-v4/src/board_config.h
Labels: bug, pixracer

#14002 navigator: mission WORK_ITEM_TYPE_MOVE_TO_LAND altitude isn't relative
  src/modules/navigator/mission.cpp
Labels: bug, priority-critical, vtol

#14000 v5x target: Fix wrong FD for TELEM3
  boards/px4/fmu-v5x/default.cmake
Labels: bug

#13992 commander: use arm_disarm() helper for safety button disarm
  src/modules/commander/Commander.cpp
Labels: enhancement, safety

#14008 WorkItem modules: Run() shouldn't be public
  platforms/common/px4_work_queue/test/wqueue_scheduled_test.h
  platforms/common/px4_work_queue/test/wqueue_test.h
  src/drivers/batt_smbus/batt_smbus.h
  src/drivers/distance_sensor/ll40ls/LidarLitePWM.h
  src/drivers/dshot/dshot.cpp
  src/drivers/imu/icm20948/icm20948.h
  src/drivers/imu/mpu9250/mpu9250.h
  src/drivers/pwm_out_sim/PWMSim.hpp
  src/drivers/rc_input/RCInput.hpp
  src/drivers/safety_button/SafetyButton.hpp
  src/modules/airspeed_selector/airspeed_selector_main.cpp
  src/modules/attitude_estimator_q/attitude_estimator_q_main.cpp
  src/modules/battery_status/battery_status.cpp
  src/modules/camera_feedback/CameraFeedback.hpp
  src/modules/ekf2/ekf2_main.cpp
  src/modules/fw_att_control/FixedwingAttitudeControl.hpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.hpp
  src/modules/mc_att_control/mc_att_control.hpp
  src/modules/mc_pos_control/mc_pos_control_main.cpp
  src/modules/mc_rate_control/MulticopterRateControl.hpp
  src/modules/rc_update/rc_update.h
  src/modules/temperature_compensation/TemperatureCompensationModule.h
  src/modules/vtol_att_control/vtol_att_control_main.h
Labels: cleanup

#14009 commander: fix mission topic publication
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
Labels: bug

#14012 BMM150: Fix priority assignment
  src/drivers/magnetometer/bmm150/bmm150.cpp
Labels: bug, drivers, fmu-v5x

#11366 mRo x2.1 777
  .ci/Jenkinsfile-compile
  boards/mro/x21-777/default.cmake
  boards/mro/x21-777/firmware.prototype
  boards/mro/x21-777/init/rc.board_defaults
  boards/mro/x21-777/init/rc.board_sensors
  boards/mro/x21-777/nuttx-config/include/board.h
  boards/mro/x21-777/nuttx-config/nsh/defconfig
  boards/mro/x21-777/nuttx-config/scripts/script.ld
  boards/mro/x21-777/src/CMakeLists.txt
  boards/mro/x21-777/src/board_config.h
  boards/mro/x21-777/src/init.c
  boards/mro/x21-777/src/led.c
  boards/mro/x21-777/src/sdio.c
  boards/mro/x21-777/src/spi.cpp
  boards/mro/x21-777/src/timer_config.c
  boards/mro/x21-777/src/usb.c
  platforms/nuttx/CMakeLists.txt
Labels: enhancement

#13951 New pca9685 driver
  boards/px4/raspberrypi/default.cmake
  src/drivers/pca9685_pwm_out/CMakeLists.txt
  src/drivers/pca9685_pwm_out/PCA9685.cpp
  src/drivers/pca9685_pwm_out/PCA9685.h
  src/drivers/pca9685_pwm_out/main.cpp
Labels: enhancement

#14014 boards rename auav_x21 -> mro_x21
  .ci/Jenkinsfile-compile
  .github/workflows/compile_nuttx.yml
  Makefile
  boards/auav/x21/init/rc.board_defaults
  boards/mro/x21/default.cmake
  boards/mro/x21/firmware.prototype
  boards/mro/x21/init/rc.board_defaults
  boards/mro/x21/init/rc.board_mavlink
  boards/mro/x21/init/rc.board_sensors
  boards/mro/x21/nuttx-config/include/board.h
  boards/mro/x21/nuttx-config/nsh/defconfig
  boards/mro/x21/nuttx-config/scripts/script.ld
  boards/mro/x21/src/CMakeLists.txt
  boards/mro/x21/src/board_config.h
  boards/mro/x21/src/can.c
  boards/mro/x21/src/init.c
  boards/mro/x21/src/led.c
  boards/mro/x21/src/spi.c
  boards/mro/x21/src/timer_config.c
  boards/mro/x21/src/usb.c
Labels: cleanup

#12371 introduce uORB::SubscriptionBlocking and use in navigator and simulator
  src/modules/uORB/SubscriptionBlocking.hpp
  src/modules/uORB/SubscriptionCallback.hpp
Labels: enhancement

#14005 PX4Accelerometer/PX4Gyroscope update FIFO case to trapezoidal integration
  src/drivers/imu/invensense/icm20602/ICM20602.cpp
  src/drivers/imu/invensense/icm20608-g/ICM20608G.cpp
  src/drivers/imu/st/ism330dlc/ISM330DLC.cpp
  src/drivers/imu/st/ism330dlc/ISM330DLC.hpp
  src/drivers/imu/st/ism330dlc/ST_ISM330DLC_Registers.hpp
  src/lib/drivers/accelerometer/PX4Accelerometer.cpp
  src/lib/drivers/accelerometer/PX4Accelerometer.hpp
  src/lib/drivers/gyroscope/PX4Gyroscope.cpp
  src/lib/drivers/gyroscope/PX4Gyroscope.hpp
Labels: enhancement

#13904 batt_smbus: fix potential buffer overrun bug
  src/drivers/batt_smbus/batt_smbus.cpp
  src/drivers/batt_smbus/batt_smbus.h
  src/lib/drivers/smbus/SMBus.hpp
Labels: bug

#13976 simulated sensors minor cleanup
  src/modules/mavlink/CMakeLists.txt
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/mavlink/mavlink_receiver.h
  src/modules/sih/sih.cpp
  src/modules/simulator/simulator_mavlink.cpp
Labels: cleanup

#14028 msg: rename sensor_bias -> estimator_sensor_bias
  msg/CMakeLists.txt
  msg/estimator_sensor_bias.msg
  msg/tools/uorb_rtps_message_ids.yaml
  src/modules/ekf2/ekf2_main.cpp
  src/modules/land_detector/LandDetector.h
  src/modules/logger/logged_topics.cpp
  src/modules/mavlink/mavlink_messages.cpp
  src/modules/sensors/vehicle_acceleration/VehicleAcceleration.cpp
  src/modules/sensors/vehicle_acceleration/VehicleAcceleration.hpp
  src/modules/sensors/vehicle_angular_velocity/VehicleAngularVelocity.cpp
  src/modules/sensors/vehicle_angular_velocity/VehicleAngularVelocity.hpp
Labels: cleanup

#14026 sensors: move gyro filtering to sensors/vehicle_angular_velocity
  msg/sensor_gyro_status.msg
  platforms/common/include/px4_platform_common/px4_work_queue/WorkQueueManager.hpp
  src/drivers/imu/adis16448/ADIS16448.cpp
  src/drivers/imu/adis16477/ADIS16477.cpp
  src/drivers/imu/adis16497/ADIS16497.cpp
  src/drivers/imu/fxas21002c/FXAS21002C.cpp
  src/drivers/imu/invensense/icm20602/ICM20602.cpp
  src/drivers/imu/invensense/icm20608-g/ICM20608G.cpp
  src/drivers/imu/mpu6000/MPU6000.cpp
  src/drivers/imu/mpu6000/MPU6000.hpp
  src/drivers/imu/st/ism330dlc/ISM330DLC.cpp
  src/drivers/imu/st/lsm9ds1/LSM9DS1.cpp
  src/lib/drivers/gyroscope/PX4Gyroscope.cpp
  src/lib/drivers/gyroscope/PX4Gyroscope.hpp
  src/lib/mathlib/math/filter/LowPassFilter2pArray.hpp
  src/lib/perf/perf_counter.cpp
  src/lib/perf/perf_counter.h
  src/modules/sensors/sensor_params.c
  src/modules/sensors/vehicle_angular_velocity/VehicleAngularVelocity.cpp
  src/modules/sensors/vehicle_angular_velocity/VehicleAngularVelocity.hpp
  src/modules/sensors/vehicle_angular_velocity/imu_gyro_parameters.c
  src/modules/simulator/simulator.h
Labels: enhancement

#13987 pre arm check: VTOL: do not allow arming if not in multicopter mode
  msg/vehicle_status_flags.msg
  src/lib/circuit_breaker/circuit_breaker.h
  src/lib/circuit_breaker/circuit_breaker_params.c
  src/modules/commander/Arming/PreFlightCheck/checks/preArmCheck.cpp
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
Labels: vtol

#14044 mission feasibilty check: fix for VTOL transition and land waypoint
  src/modules/navigator/mission_feasibility_checker.cpp
Labels: vtol

#14072 px4_fmu-v4pro Fix PX4IO firmware upgrade
  boards/px4/fmu-v4pro/nuttx-config/include/board_dma_map.h
Labels: bug
