Repository PX4/PX4-Autopilot, pull requests merged in 2020-12, with the labels that each got.

#16312 commander: move remaining static variables and functions into class
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
Labels: cleanup, enhancement

#16348 ekf2: multi-ekf force initial selection (and sensor_selection publication)
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2Selector.cpp
  src/modules/ekf2/EKF2Selector.hpp
Labels: bug, ekf2

#16345 FW Position Controller: consolidate mission throttle adaptions for position and loiter waypoints
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
Labels: fixedwing

#15908 Breakout DShot driver header file, use static_casts, add const specifiers, format and standardize throughout the driver.
  src/drivers/drv_pwm_output.h
  src/drivers/dshot/CMakeLists.txt
  src/drivers/dshot/DShot.cpp
  src/drivers/dshot/DShot.h
  src/drivers/dshot/DShotTelemetry.cpp
  src/drivers/dshot/DShotTelemetry.h
Labels: cleanup, drivers

#16365 AirspeedValidator: fuse true airspeed before sideslip
  src/lib/airspeed_validator/AirspeedValidator.cpp
Labels: enhancement, fixedwing, vtol

#16366 Tiltrotor: allow to finish transition if groundspeed is below cruise
  src/modules/vtol_att_control/tiltrotor.cpp
Labels: vtol

#16371 navigator: fix LOITER_TO_ALT
  src/modules/navigator/mission_block.cpp
Labels: bug, fixedwing

#16270 new manual_control_switches msg (split out of manual_control_setpoint)
  msg/CMakeLists.txt
  msg/manual_control_setpoint.msg
  msg/manual_control_switches.msg
  msg/rc_channels.msg
  msg/tools/uorb_rtps_message_ids.yaml
  src/drivers/linux_pwm_out/linux_pwm_out.cpp
  src/lib/flight_tasks/tasks/AutoMapper/FlightTaskAutoMapper.cpp
  src/lib/flight_tasks/tasks/ManualAltitude/FlightTaskManualAltitude.cpp
  src/lib/flight_tasks/tasks/ManualAltitude/FlightTaskManualAltitude.hpp
  src/lib/flight_tasks/tasks/Utility/Sticks.cpp
  src/lib/flight_tasks/tasks/Utility/Sticks.hpp
  src/modules/commander/Arming/PreFlightCheck/checks/manualControlCheck.cpp
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
  src/modules/commander/commander_params.c
  src/modules/logger/logged_topics.cpp
  src/modules/mavlink/mavlink_messages.cpp
  src/modules/mc_pos_control/MulticopterPositionControl.cpp
  src/modules/mc_pos_control/MulticopterPositionControl.hpp
  src/modules/mc_rate_control/MulticopterRateControl.cpp
  src/modules/mc_rate_control/MulticopterRateControl.hpp
  src/modules/rc_update/rc_update.cpp
  src/modules/rc_update/rc_update.h
  src/modules/vtol_att_control/vtol_att_control_main.cpp
  src/modules/vtol_att_control/vtol_att_control_main.h
Labels: enhancement

#16367 commander: global position validity respect local position xy_valid
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
Labels: bug

#16380 land_detector: decrease default LNDFW_AIRSPD_MAX 8 -> 6 m/s
  src/modules/land_detector/land_detector_params_fw.c
Labels: fixedwing

#16376 Multicopter rounded turns
  src/lib/flight_tasks/tasks/Auto/FlightTaskAuto.cpp
  src/lib/flight_tasks/tasks/AutoLineSmoothVel/FlightTaskAutoLineSmoothVel.cpp
  src/lib/flight_tasks/tasks/AutoLineSmoothVel/FlightTaskAutoLineSmoothVel.hpp
Labels: enhancement, multicopter

#16339 Changed all 'NED board' references to 'FRD body'. Also cleaned up mix…
  msg/sensor_accel.msg
  msg/sensor_accel_fifo.msg
  msg/sensor_baro.msg
  msg/sensor_combined.msg
  msg/sensor_correction.msg
  msg/sensor_gyro.msg
  msg/sensor_gyro_fifo.msg
  msg/sensor_mag.msg
  msg/sensors_status_imu.msg
  msg/system_power.msg
  msg/vehicle_acceleration.msg
  msg/vehicle_air_data.msg
  msg/vehicle_angular_acceleration.msg
  msg/vehicle_angular_velocity.msg
  msg/vehicle_attitude.msg
  msg/vehicle_imu.msg
  msg/vehicle_magnetometer.msg
Labels: documentation

#16401 ekf2: fix dist bottom constraint
  src/modules/ekf2/EKF2.cpp
Labels: bug, priority-critical

#16392 parameters: remove unnecessary shutdown lock in param_save_default()
  src/lib/parameters/parameters.cpp
Labels: bug

#16338 paw3902 minor improvements
  src/drivers/optical_flow/paw3902/PAW3902.cpp
  src/drivers/optical_flow/paw3902/PAW3902.hpp
  src/drivers/optical_flow/paw3902/PixArt_PAW3902JF_Registers.hpp
  src/drivers/optical_flow/paw3902/paw3902_main.cpp
Labels: cleanup, enhancement

#16329 Enable SITL tests for macos
  .github/workflows/compile_macos.yml
Labels: CI, sitl

#16429 ROMFS: Tiltrotor SITL: improve tuning
  ROMFS/px4fmu_common/init.d-posix/airframes/1042_tiltrotor
Labels: vtol

#16428 vtol_att_control: attempt to improve readability of fill_actuator_outputs()
  src/modules/vtol_att_control/standard.cpp
  src/modules/vtol_att_control/tailsitter.cpp
  src/modules/vtol_att_control/tiltrotor.cpp
Labels: cleanup, vtol

#15939 [WIP] boards: add new mRo Pixracer Pro (M10064C)
  .ci/Jenkinsfile-compile
  .github/workflows/compile_nuttx.yml
  boards/mro/pixracerpro/bootloader.cmake
  boards/mro/pixracerpro/default.cmake
  boards/mro/pixracerpro/firmware.prototype
  boards/mro/pixracerpro/init/rc.board_defaults
  boards/mro/pixracerpro/init/rc.board_mavlink
  boards/mro/pixracerpro/init/rc.board_sensors
  boards/mro/pixracerpro/nuttx-config/bootloader/defconfig
  boards/mro/pixracerpro/nuttx-config/include/board.h
  boards/mro/pixracerpro/nuttx-config/include/board_dma_map.h
  boards/mro/pixracerpro/nuttx-config/nsh/defconfig
  boards/mro/pixracerpro/nuttx-config/scripts/bootloader_script.ld
  boards/mro/pixracerpro/nuttx-config/scripts/script.ld
  boards/mro/pixracerpro/src/CMakeLists.txt
  boards/mro/pixracerpro/src/board_config.h
  boards/mro/pixracerpro/src/bootloader_main.c
  boards/mro/pixracerpro/src/hw_config.h
  boards/mro/pixracerpro/src/i2c.cpp
  boards/mro/pixracerpro/src/init.c
  boards/mro/pixracerpro/src/led.c
  boards/mro/pixracerpro/src/spi.cpp
  boards/mro/pixracerpro/src/timer_config.cpp
  boards/mro/pixracerpro/src/usb.c
Labels: enhancement

#16322 Add yosemite world as SITL target for gazebo
  platforms/posix/cmake/sitl_target.cmake
Labels: sitl

#16448 Commander: move static overload_start to class
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
Labels: cleanup

#16449 remove rotation 41 (ROLL_270_YAW_180)
  src/lib/conversion/RotationTest.cpp
  src/lib/conversion/rotation.cpp
  src/lib/conversion/rotation.h
  src/modules/commander/mag_calibration.cpp
  src/modules/mavlink/mavlink_messages.cpp
  src/modules/sensors/sensor_params.c
  src/modules/sensors/sensor_params_acc0.c
  src/modules/sensors/sensor_params_acc1.c
  src/modules/sensors/sensor_params_acc2.c
  src/modules/sensors/sensor_params_acc3.c
  src/modules/sensors/sensor_params_gyro0.c
  src/modules/sensors/sensor_params_gyro1.c
  src/modules/sensors/sensor_params_gyro2.c
  src/modules/sensors/sensor_params_gyro3.c
  src/modules/sensors/sensor_params_mag0.c
  src/modules/sensors/sensor_params_mag1.c
  src/modules/sensors/sensor_params_mag2.c
  src/modules/sensors/sensor_params_mag3.c
Labels: cleanup

#16383 ekf2: estimator_status_flags
  .ci/Jenkinsfile-hardware
  msg/CMakeLists.txt
  msg/estimator_status_flags.msg
  msg/tools/uorb_rtps_message_ids.yaml
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
  src/modules/logger/logged_topics.cpp
Labels: ekf2, enhancement

#16461 commander: main_state_transition call trivial style fixes
  src/modules/commander/Commander.cpp
Labels: cleanup

#16463 add esc_battery module to modalai/fc-v1 build
  boards/modalai/fc-v1/default.cmake
Labels: enhancement
