Repository PX4/PX4-Autopilot, pull requests merged in 2020-07, with the labels that each got.

#15252 sensors/vehicle_acceleration: apply calibration before filtering
  src/modules/sensors/vehicle_acceleration/VehicleAcceleration.cpp
Labels: bug

#15243 Raname DJI Airframe name to Provent Large PWM_MIN for normal ESCs
  ROMFS/px4fmu_common/init.d/airframes/4010_dji_f330
  ROMFS/px4fmu_common/init.d/airframes/4011_dji_f450
Labels: multicopter

#15080 [VTOL] impose minimum transition duration
  src/modules/vtol_att_control/vtol_att_control_main.cpp
Labels: bug, vtol

#15255 FlightTask: correct activate() doxygen comment
  src/lib/flight_tasks/tasks/FlightTask/FlightTask.hpp
Labels: cleanup

#15288 drivers/imu: Invensense & Bosch remove transfer perf counters
  src/drivers/imu/bosch/bmi055/BMI055_Accelerometer.cpp
  src/drivers/imu/bosch/bmi055/BMI055_Accelerometer.hpp
  src/drivers/imu/bosch/bmi055/BMI055_Gyroscope.cpp
  src/drivers/imu/bosch/bmi055/BMI055_Gyroscope.hpp
  src/drivers/imu/bosch/bmi088/BMI088_Accelerometer.cpp
  src/drivers/imu/bosch/bmi088/BMI088_Accelerometer.hpp
  src/drivers/imu/bosch/bmi088/BMI088_Gyroscope.cpp
  src/drivers/imu/bosch/bmi088/BMI088_Gyroscope.hpp
  src/drivers/imu/invensense/icm20602/ICM20602.cpp
  src/drivers/imu/invensense/icm20602/ICM20602.hpp
  src/drivers/imu/invensense/icm20608g/ICM20608G.cpp
  src/drivers/imu/invensense/icm20608g/ICM20608G.hpp
  src/drivers/imu/invensense/icm20649/ICM20649.cpp
  src/drivers/imu/invensense/icm20649/ICM20649.hpp
  src/drivers/imu/invensense/icm20689/ICM20689.cpp
  src/drivers/imu/invensense/icm20689/ICM20689.hpp
  src/drivers/imu/invensense/icm20948/ICM20948.cpp
  src/drivers/imu/invensense/icm20948/ICM20948.hpp
  src/drivers/imu/invensense/icm20948/ICM20948_AK09916.cpp
  src/drivers/imu/invensense/icm20948/ICM20948_AK09916.hpp
  src/drivers/imu/invensense/icm40609d/ICM40609D.cpp
  src/drivers/imu/invensense/icm40609d/ICM40609D.hpp
  src/drivers/imu/invensense/icm42688p/ICM42688P.cpp
  src/drivers/imu/invensense/icm42688p/ICM42688P.hpp
  src/drivers/imu/invensense/mpu6000/MPU6000.cpp
  src/drivers/imu/invensense/mpu6000/MPU6000.hpp
  src/drivers/imu/invensense/mpu6500/MPU6500.cpp
  src/drivers/imu/invensense/mpu6500/MPU6500.hpp
  src/drivers/imu/invensense/mpu9250/MPU9250.cpp
  src/drivers/imu/invensense/mpu9250/MPU9250.hpp
  src/drivers/imu/invensense/mpu9250/MPU9250_AK8963.cpp
  src/drivers/imu/invensense/mpu9250/MPU9250_AK8963.hpp
Labels: cleanup, drivers, enhancement

#15279 sensors: VehicleIMU improve scheduling
  src/modules/sensors/vehicle_imu/VehicleIMU.cpp
  src/modules/sensors/vehicle_imu/VehicleIMU.hpp
  src/modules/sensors/vehicle_imu/imu_parameters.c
Labels: enhancement

#15286 Add Land as Geofence Action
  msg/geofence_result.msg
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
  src/modules/navigator/geofence_params.c
Labels: enhancement

#15283 PreFlightchecks: remove duplicated VTOL mode prearm check
  src/modules/commander/Arming/PreFlightCheck/checks/manualControlCheck.cpp
Labels: vtol

#15297 mavsdk_tests: load all os environment variables for gazebo client
  test/mavsdk_tests/process_helper.py
Labels: bug

#15302 bmi055: accel periodically read temperature
  src/drivers/imu/bosch/bmi055/BMI055_Accelerometer.cpp
Labels: bug, drivers

#15135 publish battery_dangerous message if battery level is dangerous
  src/modules/commander/state_machine_helper.cpp
Labels: bug

#15256 FW attitude control scaling fixes and cleanup
  src/modules/fw_att_control/ecl_pitch_controller.cpp
  src/modules/fw_att_control/ecl_pitch_controller.h
  src/modules/fw_att_control/ecl_roll_controller.cpp
  src/modules/fw_att_control/ecl_roll_controller.h
  src/modules/fw_att_control/ecl_yaw_controller.cpp
  src/modules/fw_att_control/ecl_yaw_controller.h
Labels: bug, enhancement, fixedwing

#15310 fix sed unknown option to 's'
  Makefile
Labels: bug

#13426 Orbit: Adding orbit yaw behaviours
  msg/orbit_status.msg
  src/lib/flight_tasks/tasks/Orbit/FlightTaskOrbit.cpp
  src/lib/flight_tasks/tasks/Orbit/FlightTaskOrbit.hpp
Labels: enhancement

#15320 FlightTaskOrbit: correct acceleration feed-forward
  src/lib/flight_tasks/tasks/Orbit/FlightTaskOrbit.cpp
Labels: enhancement, multicopter

#15318 px4_work_queue: rename navigation_and_controllers -> nav_and_controllers
  platforms/common/include/px4_platform_common/px4_work_queue/WorkQueueManager.hpp
  src/modules/airspeed_selector/airspeed_selector_main.cpp
  src/modules/attitude_estimator_q/attitude_estimator_q_main.cpp
  src/modules/ekf2/ekf2_main.cpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
  src/modules/land_detector/LandDetector.cpp
  src/modules/local_position_estimator/BlockLocalPositionEstimator.cpp
  src/modules/mc_pos_control/mc_pos_control_main.cpp
  src/modules/sensors/sensors.cpp
  src/modules/sensors/vehicle_acceleration/VehicleAcceleration.cpp
  src/modules/sensors/vehicle_air_data/VehicleAirData.cpp
  src/modules/sensors/vehicle_imu/VehicleIMU.cpp
Labels: bug, nuttx

#15316 posix rcS: remove various SITL custom parameters
  ROMFS/px4fmu_common/init.d-posix/rcS
Labels: proposal

#15358 FlightTaskAuto: fix yaw reset issue during takeoff
  src/lib/flight_tasks/tasks/Auto/FlightTaskAuto.cpp
Labels: bug

#15271 boards: NuttX disable posix message queues
  boards/airmind/mindpx-v2/nuttx-config/nsh/defconfig
  boards/av/x-v1/nuttx-config/nsh/defconfig
  boards/bitcraze/crazyflie/nuttx-config/nsh/defconfig
  boards/cuav/x7pro/nuttx-config/nsh/defconfig
  boards/hex/cube-orange/nuttx-config/nsh/defconfig
  boards/hex/cube-yellow/nuttx-config/nsh/defconfig
  boards/holybro/durandal-v1/nuttx-config/nsh/defconfig
  boards/holybro/durandal-v1/nuttx-config/stackcheck/defconfig
  boards/holybro/kakutef7/nuttx-config/nsh/defconfig
  boards/intel/aerofc-v1/nuttx-config/nsh/defconfig
  boards/modalai/fc-v1/nuttx-config/nsh/defconfig
  boards/mro/ctrl-zero-f7/nuttx-config/nsh/defconfig
  boards/mro/x21-777/nuttx-config/nsh/defconfig
  boards/mro/x21/nuttx-config/nsh/defconfig
  boards/nxp/fmuk66-v3/nuttx-config/nsh/defconfig
  boards/nxp/fmuk66-v3/nuttx-config/socketcan/defconfig
  boards/nxp/fmurt1062-v1/nuttx-config/nsh/defconfig
  boards/nxp/rddrone-uavcan146/nuttx-config/nsh/defconfig
  boards/omnibus/f4sd/nuttx-config/nsh/defconfig
  boards/px4/fmu-v2/nuttx-config/nsh/defconfig
  boards/px4/fmu-v3/nuttx-config/nsh/defconfig
  boards/px4/fmu-v3/nuttx-config/stackcheck/defconfig
  boards/px4/fmu-v4/nuttx-config/nsh/defconfig
  boards/px4/fmu-v4/nuttx-config/optimized/defconfig
  boards/px4/fmu-v4/nuttx-config/stackcheck/defconfig
  boards/px4/fmu-v4pro/nuttx-config/nsh/defconfig
  boards/px4/fmu-v5/nuttx-config/critmonitor/defconfig
  boards/px4/fmu-v5/nuttx-config/debug/defconfig
  boards/px4/fmu-v5/nuttx-config/irqmonitor/defconfig
  boards/px4/fmu-v5/nuttx-config/nsh/defconfig
  boards/px4/fmu-v5/nuttx-config/optimized/defconfig
  boards/px4/fmu-v5/nuttx-config/stackcheck/defconfig
  boards/px4/fmu-v5x/nuttx-config/base_phy_DP83848C/defconfig
  boards/px4/fmu-v5x/nuttx-config/nsh/defconfig
  boards/px4/fmu-v6x/nuttx-config/nsh/defconfig
  boards/px4/fmu-v6x/nuttx-config/stackcheck/defconfig
  boards/uvify/core/nuttx-config/nsh/defconfig
Labels: cleanup, nuttx

#15360 fw_pos_control_l1: if using air data (baro) copy every iteration
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
Labels: bug, fixedwing

#15357 uORB: print individual bits of fields
  msg/CMakeLists.txt
  msg/tools/px_generate_uorb_topic_helper.py
Labels: enhancement

#15379 mixer_module/tap_esc: fix usage of constrain() on input
  src/drivers/tap_esc/tap_esc.cpp
  src/lib/mixer_module/mixer_module.cpp
Labels: bug, priority-critical

#15380 rc_loss_alarm: remove unimplemented declaration
  src/modules/events/rc_loss_alarm.h
Labels: cleanup

#15353 sensors/vehicle_imu: initially schedule conservatively
  src/modules/sensors/vehicle_imu/VehicleIMU.cpp
Labels: enhancement

#15352 Fix transition fail on tailsitter
  src/modules/vtol_att_control/tailsitter.cpp
Labels: bug, vtol

#15356 px4io: servorail_status -> px4io_status and log all flags
  .ci/Jenkinsfile-hardware
  msg/CMakeLists.txt
  msg/px4io_status.msg
  msg/servorail_status.msg
  msg/tools/uorb_rtps_message_ids.yaml
  src/drivers/px4io/px4io.cpp
  src/modules/logger/logged_topics.cpp
Labels: enhancement

#15368 cdev: posix remove std::map usage
  src/lib/cdev/CMakeLists.txt
  src/lib/cdev/posix/cdev_platform.cpp
  src/lib/cdev/posix/cdev_platform.hpp
  src/lib/cdev/posix/vfile.cpp
  src/lib/cdev/posix/vfile.h
  src/modules/uORB/uORBDeviceNode.cpp
  src/modules/uORB/uORBDeviceNode.hpp
Labels: cleanup, snapdragon

#15388 setup scripts: install dmidecode before using it
  Tools/setup/arch.sh
  Tools/setup/ubuntu.sh
Labels: bug, tools

#15391 ROMFS: remove remaining RC_FLT_CUTOFF
  ROMFS/px4fmu_common/init.d/airframes/4016_holybro_px4vision
  ROMFS/px4fmu_common/init.d/airframes/4041_beta75x
  ROMFS/px4fmu_common/init.d/airframes/4050_generic_250
  ROMFS/px4fmu_common/init.d/airframes/4052_holybro_qav250
  ROMFS/px4fmu_common/init.d/airframes/4071_ifo
  ROMFS/px4fmu_common/init.d/airframes/4072_draco
  ROMFS/px4fmu_common/init.d/airframes/4073_ifo-s
  ROMFS/px4fmu_common/init.d/airframes/6002_draco_r
Labels: cleanup

#15383 vtol_att_control: limit excessive scheduling
  src/modules/vtol_att_control/vtol_att_control_main.cpp
  src/modules/vtol_att_control/vtol_att_control_main.h
Labels: vtol

#15394 Correctly set the FW_ARSP_MODE parameter value
  ROMFS/px4fmu_common/init.d-posix/1042_tiltrotor
  ROMFS/px4fmu_common/init.d/airframes/13012_convergence
  ROMFS/px4fmu_common/init.d/airframes/13013_deltaquad
Labels: bug, vtol

#15401 cmake: NuttX skip --print-memory-usage if using the GOLD linker
  CMakeLists.txt
  platforms/nuttx/CMakeLists.txt
Labels: bug, nuttx

#15414 boards: hex cube yellow fix f7 selection
  boards/hex/cube-yellow/nuttx-config/nsh/defconfig
Labels: bug

#15432 Tools: retry gz model if gzserver is not ready yet
  Tools/sitl_run.sh
Labels: bug

#15131 Lidar Lite v3HP quality
  src/drivers/distance_sensor/ll40ls/LidarLiteI2C.cpp
Labels: drivers

#15433 PAW3902: align mode change logic with the spec
  src/drivers/optical_flow/paw3902/PAW3902.cpp
  src/drivers/optical_flow/paw3902/PAW3902.hpp
Labels: drivers, enhancement

#15444 optical_flow/paw3902: silence info output (info -> debug)
  src/drivers/optical_flow/paw3902/PAW3902.cpp
Labels: cleanup

#15425 logger: disable estimator replay logging by default
  src/modules/logger/logged_topics.cpp
  src/modules/logger/params.c
Labels: enhancement

#15452 Subscription: correct doxygen comment
  src/modules/uORB/Subscription.hpp
Labels: cleanup

#15445 px4io: delete broken test and unnecessary limit
  ROMFS/px4fmu_common/init.d/rc.io
  src/drivers/px4io/px4io.cpp
Labels: cleanup
