Repository PX4/PX4-Autopilot, pull requests merged in 2021-11, with the labels that each got.

#18083 Support for RP2040 MCU
  .ci/Jenkinsfile-compile
  .github/workflows/compile_nuttx.yml
  .vscode/cmake-variants.yaml
  .vscode/settings.json
  boards/raspberrypi/pico/default.px4board
  boards/raspberrypi/pico/firmware.prototype
  boards/raspberrypi/pico/init/rc.board_defaults
  boards/raspberrypi/pico/init/rc.board_mavlink
  boards/raspberrypi/pico/init/rc.board_sensors
  boards/raspberrypi/pico/nuttx-config/Kconfig
  boards/raspberrypi/pico/nuttx-config/include/board.h
  boards/raspberrypi/pico/nuttx-config/nsh/defconfig
  boards/raspberrypi/pico/nuttx-config/scripts/flash.ld
  boards/raspberrypi/pico/nuttx-config/scripts/script.ld
  boards/raspberrypi/pico/src/CMakeLists.txt
  boards/raspberrypi/pico/src/board_config.h
  boards/raspberrypi/pico/src/boot_string.c
  boards/raspberrypi/pico/src/i2c.cpp
  boards/raspberrypi/pico/src/init.c
  boards/raspberrypi/pico/src/led.c
  boards/raspberrypi/pico/src/spi.cpp
  boards/raspberrypi/pico/src/timer_config.cpp
  boards/raspberrypi/pico/src/usb.c
  platforms/nuttx/cmake/Platform/Generic-arm-none-eabi-gcc-cortex-m0plus.cmake
  platforms/nuttx/cmake/px4_impl_os.cmake
  platforms/nuttx/src/px4/rpi/CMakeLists.txt
  platforms/nuttx/src/px4/rpi/rp2040/CMakeLists.txt
  platforms/nuttx/src/px4/rpi/rp2040/include/px4_arch/adc.h
  platforms/nuttx/src/px4/rpi/rp2040/include/px4_arch/hw_description.h
  platforms/nuttx/src/px4/rpi/rp2040/include/px4_arch/i2c_hw_description.h
  platforms/nuttx/src/px4/rpi/rp2040/include/px4_arch/io_timer.h
  platforms/nuttx/src/px4/rpi/rp2040/include/px4_arch/io_timer_hw_description.h
  platforms/nuttx/src/px4/rpi/rp2040/include/px4_arch/micro_hal.h
  platforms/nuttx/src/px4/rpi/rp2040/include/px4_arch/spi_hw_description.h
  platforms/nuttx/src/px4/rpi/rpi_common/adc/CMakeLists.txt
  platforms/nuttx/src/px4/rpi/rpi_common/adc/adc.cpp
  platforms/nuttx/src/px4/rpi/rpi_common/board_critmon/CMakeLists.txt
  platforms/nuttx/src/px4/rpi/rpi_common/board_critmon/board_critmon.c
  platforms/nuttx/src/px4/rpi/rpi_common/board_reset/CMakeLists.txt
  platforms/nuttx/src/px4/rpi/rpi_common/board_reset/board_reset.cpp
  platforms/nuttx/src/px4/rpi/rpi_common/hrt/CMakeLists.txt
  platforms/nuttx/src/px4/rpi/rpi_common/hrt/hrt.c
  platforms/nuttx/src/px4/rpi/rpi_common/include/px4_arch/adc.h
  platforms/nuttx/src/px4/rpi/rpi_common/include/px4_arch/hw_description.h
  platforms/nuttx/src/px4/rpi/rpi_common/include/px4_arch/i2c_hw_description.h
  platforms/nuttx/src/px4/rpi/rpi_common/include/px4_arch/io_timer.h
  platforms/nuttx/src/px4/rpi/rpi_common/include/px4_arch/io_timer_hw_description.h
  platforms/nuttx/src/px4/rpi/rpi_common/include/px4_arch/micro_hal.h
  platforms/nuttx/src/px4/rpi/rpi_common/include/px4_arch/spi_hw_description.h
  platforms/nuttx/src/px4/rpi/rpi_common/io_pins/CMakeLists.txt
  platforms/nuttx/src/px4/rpi/rpi_common/io_pins/io_timer.c
  platforms/nuttx/src/px4/rpi/rpi_common/io_pins/pwm_servo.c
  platforms/nuttx/src/px4/rpi/rpi_common/io_pins/rp2040_pinset.c
  platforms/nuttx/src/px4/rpi/rpi_common/spi/CMakeLists.txt
  platforms/nuttx/src/px4/rpi/rpi_common/spi/spi.cpp
  platforms/nuttx/src/px4/rpi/rpi_common/version/CMakeLists.txt
  platforms/nuttx/src/px4/rpi/rpi_common/version/board_identity.c
  platforms/nuttx/src/px4/rpi/rpi_common/version/board_mcu_version.c
  src/lib/drivers/device/nuttx/I2C.cpp
  src/systemcmds/i2cdetect/i2cdetect.cpp
Labels: enhancement

#18570 boards: modalai_fc-v2 fix bootloader board type
  boards/modalai/fc-v2/src/hw_config.h
Labels: bug

#18399 ekf2: generalized saving accel/gyro/mag in flight sensor calibration
  boards/holybro/kakutef7/default.px4board
  msg/estimator_sensor_bias.msg
  msg/vehicle_imu.msg
  src/lib/sensor_calibration/Accelerometer.hpp
  src/lib/sensor_calibration/Gyroscope.hpp
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
  src/modules/sensors/vehicle_imu/VehicleIMU.cpp
  src/modules/sensors/vehicle_imu/VehicleIMU.hpp
  src/modules/sensors/vehicle_magnetometer/VehicleMagnetometer.cpp
Labels: enhancement, ekf2

#18581 Enable offboard actuator setpoints
  msg/offboard_control_mode.msg
  src/modules/commander/Commander.cpp
  src/modules/mavlink/mavlink_receiver.cpp
Labels: bug, offboard

#18544 Added new board "MatekH743-slim"
  .ci/Jenkinsfile-compile
  .github/workflows/compile_nuttx.yml
  .vscode/cmake-variants.yaml
  boards/matek/h743-slim/bootloader.px4board
  boards/matek/h743-slim/default.px4board
  boards/matek/h743-slim/firmware.prototype
  boards/matek/h743-slim/init/rc.board_extras
  boards/matek/h743-slim/init/rc.board_sensors
  boards/matek/h743-slim/nuttx-config/Kconfig
  boards/matek/h743-slim/nuttx-config/bootloader/defconfig
  boards/matek/h743-slim/nuttx-config/include/board.h
  boards/matek/h743-slim/nuttx-config/include/board_dma_map.h
  boards/matek/h743-slim/nuttx-config/nsh/defconfig
  boards/matek/h743-slim/nuttx-config/scripts/bootloader_script.ld
  boards/matek/h743-slim/nuttx-config/scripts/script.ld
  boards/matek/h743-slim/src/CMakeLists.txt
  boards/matek/h743-slim/src/board_config.h
  boards/matek/h743-slim/src/bootloader_main.c
  boards/matek/h743-slim/src/hw_config.h
  boards/matek/h743-slim/src/i2c.cpp
  boards/matek/h743-slim/src/init.c
  boards/matek/h743-slim/src/led.c
  boards/matek/h743-slim/src/sdio.c
  boards/matek/h743-slim/src/spi.cpp
  boards/matek/h743-slim/src/timer_config.cpp
  boards/matek/h743-slim/src/usb.c
Labels: enhancement

#18454 mavlink: initial support for MAG_CAL_REPORT stream
  src/lib/sensor_calibration/Magnetometer.hpp
  src/modules/mavlink/mavlink_main.cpp
  src/modules/mavlink/mavlink_messages.cpp
  src/modules/mavlink/streams/MAG_CAL_REPORT.hpp
Labels: enhancement

#18577 FW position controller: only allow switching to AUTO_ALTITDUE or AUTO_CLIMBRATE if pos_sp_curr_valid
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
Labels: fixedwing

#18578 Handle setpoint types properly in fw position controller
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
Labels: bug, fixedwing

#18503 Fixedwing Pos Control: Handle vehicle transition waypoints outside controllers
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
Labels: fixedwing

#18586 state_machine_helper: add place holder in array nav_state_names for removed LANDGPSFAIL mode
  src/modules/commander/state_machine_helper.cpp
Labels: bug

#18590 sensors/vehicle_imu: use WelfordMean for online mean and variance
  msg/vehicle_imu_status.msg
  src/modules/sensors/vehicle_imu/VehicleIMU.cpp
  src/modules/sensors/vehicle_imu/VehicleIMU.hpp
Labels: bug, enhancement

#18603 Fix fixedwing takeoff
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
Labels: bug

#18604 Add manual_control module to newly added boards
  boards/matek/h743-slim/default.px4board
  boards/raspberrypi/pico/default.px4board
Labels: bug

#18612 Adding MAVLink message stream of GPS_RTCM_DATA to Autopilot
  src/modules/mavlink/mavlink_messages.cpp
  src/modules/mavlink/streams/GPS_RTCM_DATA.hpp
Labels: enhancement

#18618 Remove FlightTaskAutoMapper
  src/lib/avoidance/ObstacleAvoidanceTest.cpp
  src/modules/flight_mode_manager/tasks/AutoLineSmoothVel/CMakeLists.txt
  src/modules/flight_mode_manager/tasks/AutoLineSmoothVel/FlightTaskAutoLineSmoothVel.cpp
  src/modules/flight_mode_manager/tasks/AutoLineSmoothVel/FlightTaskAutoLineSmoothVel.hpp
  src/modules/flight_mode_manager/tasks/AutoMapper/CMakeLists.txt
  src/modules/flight_mode_manager/tasks/AutoMapper/FlightTaskAutoMapper.cpp
  src/modules/flight_mode_manager/tasks/AutoMapper/FlightTaskAutoMapper.hpp
  src/modules/flight_mode_manager/tasks/CMakeLists.txt
Labels: multicopter, cleanup

#18076 AFBR v1.3.5 API, test mode, fix mode and rate switching
  src/drivers/distance_sensor/broadcom/afbrs50/AFBRS50.cpp
  src/drivers/distance_sensor/broadcom/afbrs50/Inc/api/argus_api.h
  src/drivers/distance_sensor/broadcom/afbrs50/Inc/api/argus_dca.h
  src/drivers/distance_sensor/broadcom/afbrs50/Inc/api/argus_def.h
  src/drivers/distance_sensor/broadcom/afbrs50/Inc/api/argus_dfm.h
  src/drivers/distance_sensor/broadcom/afbrs50/Inc/api/argus_map.h
  src/drivers/distance_sensor/broadcom/afbrs50/Inc/api/argus_meas.h
  src/drivers/distance_sensor/broadcom/afbrs50/Inc/api/argus_pba.h
  src/drivers/distance_sensor/broadcom/afbrs50/Inc/api/argus_px.h
  src/drivers/distance_sensor/broadcom/afbrs50/Inc/api/argus_res.h
  src/drivers/distance_sensor/broadcom/afbrs50/Inc/api/argus_snm.h
  src/drivers/distance_sensor/broadcom/afbrs50/Inc/api/argus_status.h
  src/drivers/distance_sensor/broadcom/afbrs50/Inc/api/argus_version.h
  src/drivers/distance_sensor/broadcom/afbrs50/Inc/platform/argus_irq.h
  src/drivers/distance_sensor/broadcom/afbrs50/Inc/platform/argus_nvm.h
  src/drivers/distance_sensor/broadcom/afbrs50/Inc/platform/argus_s2pi.h
  src/drivers/distance_sensor/broadcom/afbrs50/Inc/platform/argus_timer.h
  src/drivers/distance_sensor/broadcom/afbrs50/Inc/utility/fp_def.h
  src/drivers/distance_sensor/broadcom/afbrs50/Inc/utility/time.h
  src/drivers/distance_sensor/broadcom/afbrs50/Lib/libafbrs50_m4_fpu.a
  src/drivers/distance_sensor/broadcom/afbrs50/Lib/libafbrs50_m4_fpu_os.a
Labels: enhancement, drivers

#18638 logger: log write file allow single retry on write failure
  src/modules/logger/log_writer_file.cpp
Labels: bug, nuttx

#18268 i2c_spi_buses: respect CONFIG_I2C and CONFIG_SPI
  boards/ark/can-flow/nuttx-config/include/board.h
  boards/ark/can-flow/nuttx-config/nsh/defconfig
  boards/ark/can-flow/src/CMakeLists.txt
  boards/ark/can-flow/src/i2c.cpp
  boards/beaglebone/blue/src/board_config.h
  boards/beaglebone/blue/src/spi.cpp
  boards/cubepilot/io-v2/src/board_config.h
  boards/emlid/navio2/src/board_config.h
  boards/px4/io-v2/src/board_config.h
  boards/px4/raspberrypi/src/board_config.h
  boards/px4/sitl/src/CMakeLists.txt
  boards/px4/sitl/src/i2c.cpp
  boards/px4/sitl/src/spi.cpp
  boards/scumaker/pilotpi/src/board_config.h
  platforms/common/i2c.cpp
  platforms/common/i2c_spi_buses.cpp
  platforms/common/include/px4_platform_common/board_common.h
  platforms/common/include/px4_platform_common/i2c.h
  platforms/common/include/px4_platform_common/i2c_spi_buses.h
  platforms/common/include/px4_platform_common/spi.h
  platforms/common/spi.cpp
  platforms/nuttx/src/px4/nxp/imxrt/include/px4_arch/i2c_hw_description.h
  platforms/nuttx/src/px4/nxp/imxrt/include/px4_arch/spi_hw_description.h
  platforms/nuttx/src/px4/nxp/k66/include/px4_arch/spi_hw_description.h
  platforms/nuttx/src/px4/nxp/kinetis/include/px4_arch/i2c_hw_description.h
  platforms/nuttx/src/px4/nxp/kinetis/include/px4_arch/spi_hw_description.h
  platforms/nuttx/src/px4/nxp/rt106x/include/px4_arch/spi_hw_description.h
  platforms/nuttx/src/px4/nxp/s32k14x/include/px4_arch/i2c_hw_description.h
  platforms/nuttx/src/px4/nxp/s32k1xx/include/px4_arch/i2c_hw_description.h
  platforms/nuttx/src/px4/stm/stm32_common/include/px4_arch/i2c_hw_description.h
  platforms/nuttx/src/px4/stm/stm32_common/include/px4_arch/spi_hw_description.h
  platforms/nuttx/src/px4/stm/stm32f4/include/px4_arch/spi_hw_description.h
  platforms/nuttx/src/px4/stm/stm32f7/include/px4_arch/spi_hw_description.h
  platforms/nuttx/src/px4/stm/stm32h7/include/px4_arch/spi_hw_description.h
  platforms/posix/src/px4/generic/generic/include/px4_arch/i2c_hw_description.h
  platforms/posix/src/px4/generic/generic/include/px4_arch/spi_hw_description.h
  src/drivers/barometer/bmp280/BMP280_I2C.cpp
  src/drivers/barometer/bmp280/BMP280_SPI.cpp
  src/drivers/barometer/bmp280/bmp280.h
  src/drivers/barometer/bmp280/bmp280_main.cpp
  src/drivers/barometer/dps310/DPS310_I2C.cpp
  src/drivers/barometer/dps310/dps310_main.cpp
  src/drivers/barometer/ms5611/ms5611.h
  src/drivers/barometer/ms5611/ms5611_i2c.cpp
  src/drivers/barometer/ms5611/ms5611_main.cpp
  src/lib/drivers/device/nuttx/I2C.cpp
  src/lib/drivers/device/nuttx/I2C.hpp
  src/lib/drivers/device/nuttx/SPI.cpp
  src/lib/drivers/device/nuttx/SPI.hpp
  src/lib/drivers/device/posix/I2C.cpp
  src/lib/drivers/device/posix/I2C.hpp
  src/lib/drivers/device/posix/SPI.cpp
  src/lib/drivers/device/posix/SPI.hpp
  src/systemcmds/tests/test_i2c_spi_cli.cpp
Labels: cleanup, drivers

#18648 ekf2: only save mag declination if changed
  src/modules/ekf2/EKF2.cpp
Labels: ekf2

#18657 FlightTasks: remove unused StraightLine library
  src/modules/flight_mode_manager/tasks/Orbit/FlightTaskOrbit.hpp
  src/modules/flight_mode_manager/tasks/Utility/CMakeLists.txt
  src/modules/flight_mode_manager/tasks/Utility/StraightLine.cpp
  src/modules/flight_mode_manager/tasks/Utility/StraightLine.hpp
Labels: cleanup

#18669 Ekf2Selector: declare filter unhealthy when high test ratio
  src/modules/ekf2/EKF2Selector.cpp
Labels: ekf2

#18662 sensors/vehicle_imu: fix accel/gyro learned bias calibration updates
  src/modules/sensors/vehicle_imu/VehicleIMU.cpp
Labels: bug

#18666 FlightTaskAuto: refactor reducing number of methods
  src/modules/flight_mode_manager/FlightModeManager.cpp
  src/modules/flight_mode_manager/tasks/Auto/FlightTaskAuto.cpp
  src/modules/flight_mode_manager/tasks/Auto/FlightTaskAuto.hpp
  src/modules/flight_mode_manager/tasks/FlightTask/FlightTask.hpp
Labels: multicopter, cleanup

#18665 Commander: Allow arming a rover with the throttle stick in the middle
  src/modules/commander/Commander.cpp
Labels: rover

#18559 Filling accel value in SITL related topic
  src/modules/simulator/simulator_mavlink.cpp
Labels: enhancement, sitl

#18684 cmake fix NuttX config import for 0 values
  platforms/nuttx/cmake/init.cmake
Labels: bug, nuttx

#18719 update correct airsp scale param string in ekf2
  src/modules/ekf2/EKF2.cpp
Labels: bug

#18723 cmake: nuttx apps build depend .c and .h files
  platforms/nuttx/NuttX/CMakeLists.txt
Labels: nuttx

#18710 Commander: remove preflight check for VTOL transition switch
  src/modules/commander/Arming/PreFlightCheck/PreFlightCheck.cpp
  src/modules/commander/Arming/PreFlightCheck/PreFlightCheck.hpp
  src/modules/commander/Arming/PreFlightCheck/checks/rcCalibrationCheck.cpp
Labels: enhancement, vtol

#18729 SITL configs VTOL/plane: improve SITL tuning a bit
  ROMFS/px4fmu_common/init.d-posix/airframes/1030_plane
  ROMFS/px4fmu_common/init.d-posix/airframes/1040_standard_vtol
  ROMFS/px4fmu_common/init.d-posix/airframes/1042_tiltrotor
Labels: vtol
