Repository PX4/PX4-Autopilot, pull requests merged in 2021-04, with the labels that each got.

#17307 uavcan: quiet server output
  src/drivers/uavcan/uavcan_servers.cpp
  src/drivers/uavcan/uavcan_servers.hpp
Labels: uavcan

#17310 vtol_att_control: occasional tailsitter forward transition failure
  src/modules/vtol_att_control/tailsitter.cpp
  src/modules/vtol_att_control/vtol_att_control_main.cpp
  src/modules/vtol_att_control/vtol_type.h
Labels: bug, vtol

#17316 FW attitude controller: add protection against division by zero in airspeed scaling
  src/modules/fw_att_control/FixedwingAttitudeControl.cpp
Labels: fixedwing

#17336 Enable crsf and ghst telemetry on supported boards
  boards/modalai/fc-v1/src/board_config.h
  boards/omnibus/f4sd/src/board_config.h
  boards/px4/fmu-v5/src/board_config.h
  src/drivers/rc_input/RCInput.cpp
Labels: enhancement

#17401 rc: dsm allow full range
  src/lib/rc/dsm.cpp
  src/lib/rc/rc_tests/RCTest.cpp
Labels: bug, enhancement

#17443 check_code_style_all.sh: remove ignored xargs parameter
  Tools/astyle/check_code_style_all.sh
Labels: bug, tools

#17416 sensors/vehicle_angular_velocity: filter reset on scale change fixes
  src/lib/drivers/accelerometer/PX4Accelerometer.cpp
  src/lib/drivers/accelerometer/PX4Accelerometer.hpp
  src/lib/drivers/gyroscope/PX4Gyroscope.cpp
  src/lib/drivers/gyroscope/PX4Gyroscope.hpp
  src/modules/sensors/vehicle_angular_velocity/VehicleAngularVelocity.cpp
  src/modules/sensors/vehicle_angular_velocity/VehicleAngularVelocity.hpp
Labels: bug, enhancement

#17459 vtol_type: reset accel to pitch integrator
  src/modules/vtol_att_control/vtol_type.cpp
  src/modules/vtol_att_control/vtol_type.h
Labels: vtol

#17467 fix bmi088: set correct accel scale
  src/drivers/imu/bosch/bmi088/BMI088_Accelerometer.cpp
  src/drivers/imu/bosch/bmi088/bmi088_i2c/BMI088_Accelerometer.cpp
Labels: bug, drivers

#17427 Fix the repeated configuration of PWM rate after initialization
  src/drivers/pwm_out/PWMOut.cpp
Labels: bug, v1.12-Release-Notes

#17483 boards: mro pixracerpro set BOARD_SUPPORTS_RC_SERIAL_PORT_OUTPUT instead of RC_SERIAL_SINGLEWIRE
  boards/mro/pixracerpro/src/board_config.h
Labels: bug
