Repository PX4/PX4-Autopilot, pull requests merged in 2021-12, with the labels that each got.

#18751 px4io: discover `PWM_MAIN_TRIMx` parameters right away
  src/drivers/px4io/px4io.cpp
Labels: bug

#18697 ekf2: selector treat combined test ratio > 1 as a warning
  src/modules/ekf2/EKF2Selector.cpp
  src/modules/ekf2/EKF2Selector.hpp
Labels: bug, ekf2

#18728 Navigator: VTOL: remove generate_waypoint_from_heading()
  src/modules/navigator/mission.cpp
  src/modules/navigator/mission.h
Labels: vtol, cleanup

#18790 ms5611: lower SPI clock 20 MHz -> 16 MHz
  src/drivers/barometer/ms5611/CMakeLists.txt
  src/drivers/barometer/ms5611/ms5611_main.cpp
  src/drivers/barometer/ms5611/ms5611_spi.cpp
Labels: bug, drivers

#18811 fix incorrect L1 period param documentation
  src/modules/fw_pos_control_l1/fw_pos_control_l1_params.c
Labels: bug, fixedwing

#18806 FW land detector: tighten thresholds in airspeed-less case
  src/modules/land_detector/FixedwingLandDetector.cpp
  src/modules/land_detector/land_detector_params_fw.c
Labels: enhancement, fixedwing

#18819 Fix uavcan distance sensor not being logged
  src/modules/logger/logged_topics.cpp
Labels: bug

#18835 ekf2: delete obsolete _bad_vert_accel_detected
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/vel_pos_fusion.cpp
Labels: bug, ekf2

#18845 ekf2: selector use hysteresis for healthy flag
  src/modules/ekf2/CMakeLists.txt
  src/modules/ekf2/EKF2Selector.cpp
  src/modules/ekf2/EKF2Selector.hpp
Labels: bug, enhancement, ekf2

#18852 ekf2: enable mag check by default, but commander only warn
  src/modules/commander/commander_params.c
  src/modules/ekf2/ekf2_params.c
Labels: ekf2

#18860 fix PARAM_PREFIX for boards with px4io (CONFIG_BOARD_IO)
  src/drivers/camera_capture/CMakeLists.txt
  src/drivers/camera_capture/camera_capture.cpp
  src/drivers/camera_trigger/CMakeLists.txt
  src/drivers/camera_trigger/interfaces/src/camera_interface.cpp
  src/drivers/dshot/CMakeLists.txt
  src/drivers/dshot/DShot.h
  src/drivers/pwm_out/CMakeLists.txt
  src/drivers/pwm_out/PWMOut.hpp
Labels: bug

#18874 systemcmds: convert c -> c++
  src/systemcmds/bl_update/CMakeLists.txt
  src/systemcmds/bl_update/bl_update.cpp
  src/systemcmds/dumpfile/CMakeLists.txt
  src/systemcmds/dumpfile/dumpfile.cpp
  src/systemcmds/esc_calib/CMakeLists.txt
  src/systemcmds/esc_calib/esc_calib.cpp
  src/systemcmds/mft/mft.cpp
  src/systemcmds/microbench/microbench_main.cpp
  src/systemcmds/motor_ramp/motor_ramp.cpp
  src/systemcmds/mtd/mtd.cpp
  src/systemcmds/nshterm/CMakeLists.txt
  src/systemcmds/nshterm/nshterm.cpp
  src/systemcmds/perf/CMakeLists.txt
  src/systemcmds/perf/perf.cpp
  src/systemcmds/sd_bench/CMakeLists.txt
  src/systemcmds/sd_bench/sd_bench.cpp
  src/systemcmds/sd_stress/CMakeLists.txt
  src/systemcmds/sd_stress/sd_stress.cpp
  src/systemcmds/tests/CMakeLists.txt
  src/systemcmds/tests/test_mount.cpp
  src/systemcmds/tests/test_ppm_loopback.cpp
  src/systemcmds/tests/test_rc.cpp
  src/systemcmds/top/top.cpp
  src/systemcmds/usb_connected/CMakeLists.txt
  src/systemcmds/usb_connected/usb_connected.cpp
  src/systemcmds/ver/CMakeLists.txt
  src/systemcmds/ver/ver.cpp
Labels: cleanup

#18890 Commander: avoid RC actions during calibration
  msg/vehicle_status_flags.msg
  src/modules/commander/Commander.cpp
Labels: bug, priority-critical

#18893 px4io_serial: always perform full abort DMA on error
  platforms/nuttx/src/px4/stm/stm32_common/include/px4_arch/px4io_serial.h
  platforms/nuttx/src/px4/stm/stm32f4/px4io_serial/px4io_serial.cpp
  platforms/nuttx/src/px4/stm/stm32f7/px4io_serial/px4io_serial.cpp
  platforms/nuttx/src/px4/stm/stm32h7/px4io_serial/px4io_serial.cpp
Labels: bug, priority-critical

#18826 commander: add COM_HOME_EN parameter to enable/disable home position
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
  src/modules/commander/commander_params.c
Labels: enhancement

#18892 FW Position controller: make loiter switching logic robust against pos_sp with loiter_rad=0
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
Labels: bug, fixedwing

#18884 Custom irlock frame params
  src/modules/landing_target_estimator/LandingTargetEstimator.cpp
  src/modules/landing_target_estimator/LandingTargetEstimator.h
  src/modules/landing_target_estimator/landing_target_estimator_params.c
Labels: enhancement

#18914 cmake: NuttX use cygwin friendly path for linker script
  platforms/nuttx/CMakeLists.txt
Labels: bug
