Repository PX4/PX4-Autopilot, pull requests merged in 2021-10, with the labels that each got.

#18323 Add uavcannode RTCM Subscriber
  src/drivers/uavcannode/Subscribers/RTCMStream.hpp
  src/drivers/uavcannode/UavcanNode.cpp
Labels: enhancement

#16180 mavlink USB auto start
  .ci/Jenkinsfile-hardware
  ROMFS/cannode/init.d/rcS
  ROMFS/px4fmu_common/init.d/rcS
  ROMFS/px4fmu_test/init.d/rcS
  Tools/mavlink_shell.py
  boards/airmind/mindpx-v2/init/rc.board_mavlink
  boards/atl/mantis-edu/init/rc.board_mavlink
  boards/bitcraze/crazyflie/init/rc.board_mavlink
  boards/bitcraze/crazyflie21/init/rc.board_mavlink
  boards/cuav/nora/init/rc.board_mavlink
  boards/cuav/x7pro/init/rc.board_mavlink
  boards/cubepilot/cubeorange/init/rc.board_mavlink
  boards/cubepilot/cubeyellow/init/rc.board_mavlink
  boards/holybro/durandal-v1/init/rc.board_mavlink
  boards/holybro/kakutef7/init/rc.board_mavlink
  boards/holybro/pix32v5/init/rc.board_mavlink
  boards/modalai/fc-v1/init/rc.board_mavlink
  boards/modalai/fc-v2/init/rc.board_mavlink
  boards/mro/ctrl-zero-f7-oem/init/rc.board_mavlink
  boards/mro/ctrl-zero-f7/init/rc.board_mavlink
  boards/mro/ctrl-zero-h7-oem/init/rc.board_mavlink
  boards/mro/ctrl-zero-h7/init/rc.board_mavlink
  boards/mro/pixracerpro/init/rc.board_mavlink
  boards/mro/x21-777/init/rc.board_mavlink
  boards/mro/x21/init/rc.board_mavlink
  boards/nxp/fmuk66-e/init/rc.board_mavlink
  boards/nxp/fmuk66-v3/init/rc.board_mavlink
  boards/nxp/fmurt1062-v1/init/rc.board_mavlink
  boards/omnibus/f4sd/init/rc.board_mavlink
  boards/px4/fmu-v2/init/rc.board_mavlink
  boards/px4/fmu-v3/init/rc.board_mavlink
  boards/px4/fmu-v4/init/rc.board_mavlink
  boards/px4/fmu-v4pro/init/rc.board_mavlink
  boards/px4/fmu-v5/init/rc.board_mavlink
  boards/px4/fmu-v5x/init/rc.board_mavlink
  boards/px4/fmu-v6u/init/rc.board_mavlink
  boards/px4/fmu-v6x/init/rc.board_mavlink
  boards/spracing/h7extreme/init/rc.board_mavlink
  boards/uvify/core/init/rc.board_mavlink
  platforms/nuttx/src/px4/common/px4_init.cpp
  src/modules/commander/Commander.cpp
  src/modules/mavlink/mavlink_main.cpp
  src/modules/mavlink/mavlink_main.h
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/mavlink/mavlink_receiver.h
  src/systemcmds/nshterm/nshterm.c
Labels: enhancement

#18263 gyro_fft: require higher SNR for initially tracking a peak
  posix-configs/SITL/init/test/test_imu_filtering
  src/modules/gyro_fft/GyroFFT.cpp
  src/modules/gyro_fft/GyroFFT.hpp
  src/modules/gyro_fft/parameters.c
  src/modules/sensors/vehicle_angular_velocity/VehicleAngularVelocity.cpp
Labels: Dev Call

#18350 VTOL Fix back transition devaitions
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
Labels: bug, vtol

#18361 FW Position control: add roll slewrate also in manual Position flight mode
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
Labels: enhancement, fixedwing

#18359 ekf2: avoid uint64 timestamp conversion to float
  src/modules/ekf2/EKF/estimator_interface.cpp
Labels: bug, ekf2

#18338 vtol_type: fix set_motor_state() for motor_state::VALUE
  src/modules/vtol_att_control/vtol_type.cpp
Labels: bug, vtol

#18343 Commander: add wind speed warning
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
  src/modules/commander/commander_params.c
Labels: feature

#18344 FlightTaskAuto: hotfix POI yawspeed feed-forward spikes
  src/modules/flight_mode_manager/tasks/Auto/FlightTaskAuto.cpp
  src/modules/flight_mode_manager/tasks/Auto/FlightTaskAuto.hpp
Labels: bug

#18259 boards: cleanup serial RX DMA hrt_call_every
  boards/airmind/mindpx-v2/src/init.c
  boards/atl/mantis-edu/src/init.c
  boards/av/x-v1/src/init.c
  boards/bitcraze/crazyflie/src/init.c
  boards/bitcraze/crazyflie21/src/init.c
  boards/cubepilot/cubeyellow/src/init.c
  boards/holybro/can-gps-v1/src/init.c
  boards/holybro/durandal-v1/src/init.c
  boards/holybro/kakutef7/src/init.c
  boards/holybro/pix32v5/src/init.c
  boards/modalai/fc-v1/src/init.c
  boards/modalai/fc-v2/src/init.c
  boards/mro/ctrl-zero-f7-oem/src/init.c
  boards/mro/ctrl-zero-f7/src/init.c
  boards/mro/x21-777/src/init.c
  boards/mro/x21/src/init.c
  boards/nxp/fmuk66-e/src/init.c
  boards/nxp/fmuk66-v3/src/init.c
  boards/nxp/fmurt1062-v1/src/init.c
  boards/omnibus/f4sd/src/init.c
  boards/px4/fmu-v2/src/init.c
  boards/px4/fmu-v3/src/init.c
  boards/px4/fmu-v4/src/init.c
  boards/px4/fmu-v4pro/src/init.c
  boards/px4/fmu-v5/src/init.c
  boards/px4/fmu-v5x/src/init.cpp
  boards/px4/fmu-v6u/src/init.c
  boards/px4/fmu-v6x/src/init.c
  boards/spracing/h7extreme/src/init.c
  boards/uvify/core/src/init.c
Labels: cleanup
