Repository PX4/PX4-Autopilot, pull requests merged in 2021-05, with the labels that each got.

#17433 Update rc.vtol_defaults
  ROMFS/px4fmu_common/init.d/rc.vtol_defaults
Labels: vtol

#17487 femtomes : add femtomes gps driver protocol
  src/drivers/gps/CMakeLists.txt
  src/drivers/gps/gps.cpp
  src/drivers/gps/params.c
Labels: drivers, enhancement

#17383 Fix raw_dt and present_dt calculation in gps_blending
  src/modules/sensors/vehicle_gps_position/gps_blending.cpp
Labels: bug

#17458 tiltrotor: only allow increasing tilt during first part of transition
  src/modules/vtol_att_control/tiltrotor.cpp
Labels: vtol

#17492 FlightModeManager: move velocity control feedback into FlightTask
  src/modules/flight_mode_manager/FlightModeManager.cpp
  src/modules/flight_mode_manager/FlightModeManager.hpp
  src/modules/flight_mode_manager/tasks/FlightTask/FlightTask.cpp
  src/modules/flight_mode_manager/tasks/FlightTask/FlightTask.hpp
Labels: multicopter

#17523 collision_prevention: fix CP_GO_NO_DATA parameter type
  src/lib/collision_prevention/CollisionPrevention.cpp
  src/lib/collision_prevention/CollisionPrevention.hpp
  src/lib/collision_prevention/collisionprevention_params.c
Labels: bug

#17488 Add 3D DShot capability
  src/drivers/dshot/DShot.cpp
  src/drivers/dshot/DShot.h
  src/drivers/dshot/module.yaml
Labels: enhancement

#17534 vtol_type: in FW, set min PWM to PWM_DEFAULT_MIN instead of PWM_MOTOR_OFF
  src/modules/vtol_att_control/vtol_type.cpp
Labels: vtol

#17537 airspeed calibration: instruct to blow into front of pitot
  src/modules/commander/airspeed_calibration.cpp
Labels: fixedwing

#17510 drivers ADIS16448 minor fixes and compatibility with older model
  src/drivers/imu/analog_devices/adis16448/ADIS16448.cpp
  src/drivers/imu/analog_devices/adis16448/ADIS16448.hpp
  src/drivers/imu/analog_devices/adis16448/Analog_Devices_ADIS16448_registers.hpp
Labels: bug, drivers

#17633 mpu9250: tolerate missing/mismatching FIFO samples if I2C slave mag active
  src/drivers/imu/invensense/mpu9250/MPU9250.cpp
  src/drivers/imu/invensense/mpu9250/MPU9250.hpp
Labels: bug, drivers

#17664 ROS2/microRTPS: Add support for ROS2 Galactic and ROS2 Rolling
  msg/tools/generate_microRTPS_bridge.py
Labels: enhancement, rtps

#17543 TECS: in airspeed-less mode, set airspeed estimate to cruise airspeed
  src/lib/tecs/TECS.cpp
  src/lib/tecs/TECS.hpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
Labels: bug, fixedwing

#17654 BSP - Add ModalAI Flight Core v2 initial support
  .ci/Jenkinsfile-compile
  .github/workflows/compile_nuttx.yml
  .vscode/cmake-variants.yaml
  boards/modalai/fc-v2/bootloader.cmake
  boards/modalai/fc-v2/default.cmake
  boards/modalai/fc-v2/firmware.prototype
  boards/modalai/fc-v2/init/rc.board_defaults
  boards/modalai/fc-v2/init/rc.board_mavlink
  boards/modalai/fc-v2/init/rc.board_sensors
  boards/modalai/fc-v2/nuttx-config/Kconfig
  boards/modalai/fc-v2/nuttx-config/bootloader/defconfig
  boards/modalai/fc-v2/nuttx-config/include/board.h
  boards/modalai/fc-v2/nuttx-config/include/board_dma_map.h
  boards/modalai/fc-v2/nuttx-config/nsh/defconfig
  boards/modalai/fc-v2/nuttx-config/scripts/bootloader_script.ld
  boards/modalai/fc-v2/nuttx-config/scripts/script.ld
  boards/modalai/fc-v2/src/CMakeLists.txt
  boards/modalai/fc-v2/src/board_config.h
  boards/modalai/fc-v2/src/bootloader_main.c
  boards/modalai/fc-v2/src/can.c
  boards/modalai/fc-v2/src/hw_config.h
  boards/modalai/fc-v2/src/i2c.cpp
  boards/modalai/fc-v2/src/init.c
  boards/modalai/fc-v2/src/led.c
  boards/modalai/fc-v2/src/manifest.c
  boards/modalai/fc-v2/src/mtd.cpp
  boards/modalai/fc-v2/src/sdio.c
  boards/modalai/fc-v2/src/spi.cpp
  boards/modalai/fc-v2/src/timer_config.cpp
  boards/modalai/fc-v2/src/usb.c
  boards/modalai/fc-v2/test.cmake
Labels: enhancement

#17621 Sensors: use temperature data from differential pressure sensor to calculate air density
  src/modules/sensors/vehicle_air_data/VehicleAirData.cpp
  src/modules/sensors/vehicle_air_data/VehicleAirData.hpp
Labels: fixedwing
