Repository PX4/PX4-Autopilot, pull requests merged in 2021-06, with the labels that each got.

#17679 sensors/vehicle_magnetometer: apply current compensation regardless of arming state
  src/modules/sensors/vehicle_magnetometer/VehicleMagnetometer.cpp
Labels: enhancement

#17697 pwm: specific fail/disarm parameters should default to global value
  src/lib/pwm/pwm_aux_params.yaml
  src/lib/pwm/pwm_main_params.yaml
Labels: bug

#17707 mavlink: streams HEARTBEAT fix vehicle_control_mode copy
  src/modules/mavlink/streams/HEARTBEAT.hpp
Labels: bug

#17702 ekf2: add command line option to manually select instance
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2Selector.cpp
  src/modules/ekf2/EKF2Selector.hpp
Labels: ekf2, enhancement

#17587 sensors: preserve all valid calibration parameters even if sensor currently missing
  src/lib/sensor_calibration/Accelerometer.cpp
  src/lib/sensor_calibration/Gyroscope.cpp
  src/lib/sensor_calibration/Magnetometer.cpp
  src/modules/commander/accelerometer_calibration.cpp
  src/modules/commander/gyro_calibration.cpp
  src/modules/commander/mag_calibration.cpp
  src/modules/sensors/sensors.cpp
Labels: enhancement

#17699 ekf2: selector handle uninitalized test ratios
  src/modules/ekf2/EKF2Selector.cpp
Labels: ekf2, enhancement

#17723 change fmu-v5's uavcan timer5 to timer6
  boards/px4/fmu-v5/default.cmake
  src/drivers/uavcan/CMakeLists.txt
Labels: fmu-v5

#17713 I2CSPIDriverBase: print rotation and i2c address if set
  platforms/common/i2c_spi_buses.cpp
Labels: enhancement

#17728 MC pos control: use vz<->z_deriv blending in pure vel mode only
  src/modules/mc_pos_control/MulticopterPositionControl.cpp
Labels: bug

#17727 mavlink: properly cleanup instance on exit
  src/modules/mavlink/mavlink_main.cpp
  src/modules/mavlink/mavlink_main.h
Labels: bug

#17738 en-/disable mc position controller using explicit control mode flag
  msg/vehicle_control_mode.msg
  src/modules/commander/Commander.cpp
  src/modules/mc_pos_control/MulticopterPositionControl.cpp
Labels: bug

#17758 mavsdk_tests: bump MAVSDK version to 0.40.0
  test/mavsdk_tests/MAVSDK_VERSION
Labels: TestQuality, simulation, sitl

#17751 EKF2: Always publish global position
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
Labels: ekf2

#17776 sensors: fix IMU init race condition
  src/modules/sensors/sensors.cpp
Labels: bug

#17269 Predict and use braking distance when Pausing auto modes (for multicopters)
  src/modules/navigator/navigator.h
  src/modules/navigator/navigator_main.cpp
Labels: multicopter

#17695 Fix bug in external Quadchute trigger (from PR 16691)
  src/modules/commander/Commander.cpp
  src/modules/navigator/mission_block.cpp
  src/modules/vtol_att_control/vtol_att_control_main.cpp
Labels: bug, vtol

#17786 ekf2_params: enable baro ground effect compensation by default
  src/modules/ekf2/ekf2_params.c
Labels: RFC

#17783 HTE: relax validity condition when already valid
  src/modules/mc_hover_thrust_estimator/MulticopterHoverThrustEstimator.cpp
Labels: enhancement

#17801 Remove horizontal slow down close to ground
  src/modules/flight_mode_manager/tasks/ManualPosition/FlightTaskManualPosition.cpp
  src/modules/flight_mode_manager/tasks/ManualPosition/FlightTaskManualPosition.hpp
  src/modules/mc_pos_control/MulticopterPositionControl.cpp
  src/modules/mc_pos_control/MulticopterPositionControl.hpp
  src/modules/mc_pos_control/mc_pos_control_params.c
Labels: proposal

#17805 drivers/imu/invensense: store offset registers on configure, trigger reset on any change
  src/drivers/imu/invensense/icm20602/CMakeLists.txt
  src/drivers/imu/invensense/icm20602/ICM20602.cpp
  src/drivers/imu/invensense/icm20602/ICM20602.hpp
  src/drivers/imu/invensense/icm20602/InvenSense_ICM20602_registers.hpp
  src/drivers/imu/invensense/icm20602/icm20602_main.cpp
  src/drivers/imu/invensense/icm20608g/CMakeLists.txt
  src/drivers/imu/invensense/icm20608g/ICM20608G.cpp
  src/drivers/imu/invensense/icm20608g/ICM20608G.hpp
  src/drivers/imu/invensense/icm20608g/InvenSense_ICM20608G_registers.hpp
  src/drivers/imu/invensense/icm20608g/icm20608g_main.cpp
  src/drivers/imu/invensense/icm20689/CMakeLists.txt
  src/drivers/imu/invensense/icm20689/ICM20689.cpp
  src/drivers/imu/invensense/icm20689/ICM20689.hpp
  src/drivers/imu/invensense/icm20689/InvenSense_ICM20689_registers.hpp
  src/drivers/imu/invensense/icm20689/icm20689_main.cpp
  src/drivers/imu/invensense/mpu6500/CMakeLists.txt
  src/drivers/imu/invensense/mpu6500/InvenSense_MPU6500_registers.hpp
  src/drivers/imu/invensense/mpu6500/MPU6500.cpp
  src/drivers/imu/invensense/mpu6500/MPU6500.hpp
  src/drivers/imu/invensense/mpu6500/mpu6500_main.cpp
  src/drivers/imu/invensense/mpu9250/InvenSense_MPU9250_registers.hpp
  src/drivers/imu/invensense/mpu9250/MPU9250.cpp
  src/drivers/imu/invensense/mpu9250/MPU9250.hpp
  src/drivers/imu/invensense/mpu9250/mpu9250_main.cpp
Labels: bug, drivers, enhancement

#17820 ekf2: selector handle NAN test ratios as uninitilaized
  src/modules/ekf2/EKF2Selector.cpp
Labels: ekf2

#17812 Specify orientaiton of external imu ADIS16448 through parameters
  ROMFS/px4fmu_common/init.d/rc.sensors
  src/drivers/imu/analog_devices/adis16448/parameters.c
Labels: drivers, enhancement
