Repository PX4/PX4-Autopilot, pull requests merged in 2021-01, with the labels that each got.

#16455 boards: px4/fmu-v5 disable px4io in rc.board_defaults
  ROMFS/px4fmu_common/init.d/rcS
  boards/px4/fmu-v5/init/rc.board_defaults
Labels: cleanup

#16373 Fix FOH effects after VTOL front transition
  src/modules/navigator/mission.cpp
Labels: bug, vtol

#16481 px4_work_queue: directly support SITL lockstep
  platforms/common/include/px4_platform_common/px4_work_queue/WorkQueue.hpp
  platforms/common/px4_work_queue/WorkQueue.cpp
  src/modules/attitude_estimator_q/attitude_estimator_q_main.cpp
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
  src/modules/ekf2/EKF2Selector.cpp
  src/modules/ekf2/EKF2Selector.hpp
  src/modules/local_position_estimator/BlockLocalPositionEstimator.cpp
  src/modules/local_position_estimator/BlockLocalPositionEstimator.hpp
  src/modules/sensors/sensors.cpp
Labels: bug, enhancement

#16257 Simple mixer: add output slew rate
  src/lib/mixer/MixerBase/Mixer.hpp
  src/lib/mixer/MixerGroup.cpp
  src/lib/mixer/MixerGroup.hpp
  src/lib/mixer/SimpleMixer/SimpleMixer.cpp
  src/lib/mixer/SimpleMixer/SimpleMixer.hpp
  src/lib/mixer_module/mixer_module.cpp
  src/lib/mixer_module/mixer_module.hpp
  src/modules/px4iofirmware/mixer.cpp
Labels: enhancement

#16487 Correct airspeed used by EKF for calibration errors
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
Labels: bug, ekf2

#15648 invensense/icm42688p: use full 20 bit data, increase ODR, disable all filters
  src/drivers/imu/invensense/icm42688p/CMakeLists.txt
  src/drivers/imu/invensense/icm42688p/ICM42688P.cpp
  src/drivers/imu/invensense/icm42688p/ICM42688P.hpp
  src/drivers/imu/invensense/icm42688p/InvenSense_ICM42688P_registers.hpp
Labels: drivers, enhancement

#16417 save learned mag bias per sensor (Multi-EKF support)
  msg/estimator_sensor_bias.msg
  src/lib/sensor_calibration/Accelerometer.cpp
  src/lib/sensor_calibration/Accelerometer.hpp
  src/lib/sensor_calibration/Gyroscope.cpp
  src/lib/sensor_calibration/Gyroscope.hpp
  src/lib/sensor_calibration/Magnetometer.cpp
  src/lib/sensor_calibration/Magnetometer.hpp
  src/modules/commander/mag_calibration.cpp
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
  src/modules/ekf2/ekf2_params.c
  src/modules/ekf2/ekf2_params_multi.c
  src/modules/ekf2/ekf2_params_selector.c
  src/modules/ekf2/ekf2_params_volatile.c
  src/modules/logger/logged_topics.cpp
  src/modules/sensors/vehicle_magnetometer/VehicleMagnetometer.cpp
  src/modules/sensors/vehicle_magnetometer/VehicleMagnetometer.hpp
Labels: ekf2, enhancement

#16497 Update launch files to enable multi-video stream in SITL
  Tools/gazebo_sitl_multiple_run.sh
  launch/multi_uav_mavros_sitl.launch
  launch/single_vehicle_spawn.launch
Labels: enhancement, sitl

#16514 Support relative altitude for offboard global position setpoints
  src/modules/mavlink/mavlink_receiver.cpp
Labels: offboard

#16507 boards: start enabling multi-EKF by default on F7/H7
  .ci/Jenkinsfile-hardware
  boards/av/x-v1/init/rc.board_defaults
  boards/cuav/nora/init/rc.board_defaults
  boards/cuav/x7pro/init/rc.board_defaults
  boards/cubepilot/cubeorange/init/rc.board_defaults
  boards/cubepilot/cubeyellow/init/rc.board_defaults
  boards/holybro/durandal-v1/init/rc.board_defaults
  boards/holybro/pix32v5/init/rc.board_defaults
  boards/modalai/fc-v1/init/rc.board_defaults
  boards/mro/ctrl-zero-f7/init/rc.board_defaults
  boards/mro/pixracerpro/init/rc.board_defaults
  boards/mro/x21-777/init/rc.board_defaults
  boards/px4/fmu-v4pro/init/rc.board_defaults
  boards/px4/fmu-v5/init/rc.board_defaults
  boards/px4/fmu-v5x/init/rc.board_defaults
  boards/px4/fmu-v6x/init/rc.board_defaults
  posix-configs/rpi/pilotpi_mc.config
  posix-configs/rpi/px4.config
  posix-configs/rpi/px4_fw.config
  posix-configs/rpi/px4_hil.config
  posix-configs/rpi/px4_test.config
Labels: ekf2, enhancement

#16529 ekf2: selector improve status reporting
  src/modules/ekf2/EKF2Selector.cpp
  src/modules/ekf2/EKF2Selector.hpp
  src/modules/logger/logged_topics.cpp
Labels: ekf2, enhancement

#14960 Critical bat landing - don't re-initiate landing and RTL
  src/modules/commander/state_machine_helper.cpp
Labels: bug

#16518 ekf2: selector improve fallback selection when the primary becomes unhealthy
  src/modules/ekf2/EKF2Selector.cpp
Labels: ekf2, enhancement

#14454 boards: enable CONFIG_ARMV7M_LAZYFPU everywhere
  boards/airmind/mindpx-v2/nuttx-config/nsh/defconfig
  boards/av/x-v1/nuttx-config/nsh/defconfig
  boards/bitcraze/crazyflie/nuttx-config/nsh/defconfig
  boards/cuav/can-gps-v1/nuttx-config/nsh/defconfig
  boards/cuav/nora/nuttx-config/bootloader/defconfig
  boards/cuav/nora/nuttx-config/nsh/defconfig
  boards/cuav/x7pro/nuttx-config/bootloader/defconfig
  boards/cuav/x7pro/nuttx-config/nsh/defconfig
  boards/cubepilot/cubeorange/nuttx-config/bootloader/defconfig
  boards/cubepilot/cubeorange/nuttx-config/console/defconfig
  boards/cubepilot/cubeorange/nuttx-config/nsh/defconfig
  boards/cubepilot/cubeyellow/nuttx-config/console/defconfig
  boards/cubepilot/cubeyellow/nuttx-config/nsh/defconfig
  boards/holybro/durandal-v1/nuttx-config/bootloader/defconfig
  boards/holybro/durandal-v1/nuttx-config/nsh/defconfig
  boards/holybro/durandal-v1/nuttx-config/stackcheck/defconfig
  boards/holybro/kakutef7/nuttx-config/nsh/defconfig
  boards/holybro/pix32v5/nuttx-config/nsh/defconfig
  boards/intel/aerofc-v1/nuttx-config/nsh/defconfig
  boards/modalai/fc-v1/nuttx-config/nsh/defconfig
  boards/mro/ctrl-zero-f7/nuttx-config/nsh/defconfig
  boards/mro/pixracerpro/nuttx-config/bootloader/defconfig
  boards/mro/pixracerpro/nuttx-config/nsh/defconfig
  boards/mro/x21-777/nuttx-config/nsh/defconfig
  boards/mro/x21/nuttx-config/nsh/defconfig
  boards/nxp/fmuk66-e/nuttx-config/nsh/defconfig
  boards/nxp/fmuk66-e/nuttx-config/socketcan/defconfig
  boards/nxp/fmuk66-v3/nuttx-config/nsh/defconfig
  boards/nxp/fmuk66-v3/nuttx-config/socketcan/defconfig
  boards/nxp/fmurt1062-v1/nuttx-config/nsh/defconfig
  boards/nxp/ucans32k146/nuttx-config/nsh/defconfig
  boards/omnibus/f4sd/nuttx-config/nsh/defconfig
  boards/px4/fmu-v2/nuttx-config/nsh/defconfig
  boards/px4/fmu-v3/nuttx-config/nsh/defconfig
  boards/px4/fmu-v3/nuttx-config/stackcheck/defconfig
  boards/px4/fmu-v4/nuttx-config/nsh/defconfig
  boards/px4/fmu-v4/nuttx-config/optimized/defconfig
  boards/px4/fmu-v4/nuttx-config/stackcheck/defconfig
  boards/px4/fmu-v4pro/nuttx-config/nsh/defconfig
  boards/px4/fmu-v5/nuttx-config/critmonitor/defconfig
  boards/px4/fmu-v5/nuttx-config/debug/defconfig
  boards/px4/fmu-v5/nuttx-config/irqmonitor/defconfig
  boards/px4/fmu-v5/nuttx-config/nsh/defconfig
  boards/px4/fmu-v5/nuttx-config/optimized/defconfig
  boards/px4/fmu-v5/nuttx-config/stackcheck/defconfig
  boards/px4/fmu-v5x/nuttx-config/base_phy_DP83848C/defconfig
  boards/px4/fmu-v5x/nuttx-config/nsh/defconfig
  boards/px4/fmu-v6x/nuttx-config/bootloader/defconfig
  boards/px4/fmu-v6x/nuttx-config/nsh/defconfig
  boards/px4/fmu-v6x/nuttx-config/stackcheck/defconfig
  boards/uvify/core/nuttx-config/nsh/defconfig
  src/drivers/imu/st/ism330dlc/ISM330DLC.cpp
Labels: enhancement, nuttx

#16536 tools: make sure that uORB type names found as part of field names are not capitalized as ROS types
  msg/tools/uorb_to_ros_msgs.py
Labels: bug, rtps

#16512 estimated IMU bias preflight checks
  ROMFS/px4fmu_common/init.d/airframes/4071_ifo
  ROMFS/px4fmu_common/init.d/airframes/4072_draco
  ROMFS/px4fmu_common/init.d/airframes/4073_ifo-s
  ROMFS/px4fmu_common/init.d/airframes/4250_teal
  msg/estimator_sensor_bias.msg
  src/modules/commander/Arming/PreFlightCheck/PreFlightCheck.cpp
  src/modules/commander/Arming/PreFlightCheck/PreFlightCheck.hpp
  src/modules/commander/Arming/PreFlightCheck/checks/ekf2Check.cpp
  src/modules/commander/commander_params.c
  src/modules/ekf2/EKF2.cpp
Labels: cleanup, enhancement

#16542 boards: mro ctrl zero f7 fix default power module calibration
  boards/mro/ctrl-zero-f7/src/board_config.h
Labels: bug

#15827 sensors/vehicle_gps_position: untangle and remove unnecessary state
  src/modules/sensors/vehicle_gps_position/VehicleGPSPosition.cpp
  src/modules/sensors/vehicle_gps_position/VehicleGPSPosition.hpp
Labels: cleanup

#16552 Improve tuning of the SITL VTOL models
  ROMFS/px4fmu_common/init.d-posix/airframes/1040_standard_vtol
  ROMFS/px4fmu_common/init.d-posix/airframes/1041_tailsitter
  ROMFS/px4fmu_common/init.d-posix/airframes/1042_tiltrotor
Labels: vtol

#16519 Retune Typhoon H480 PID
  ROMFS/px4fmu_common/init.d-posix/airframes/6011_typhoon_h480
Labels: sitl

#14254 Airspeed preflight checks update
  src/modules/commander/Arming/PreFlightCheck/PreFlightCheck.cpp
  src/modules/commander/Arming/PreFlightCheck/PreFlightCheck.hpp
  src/modules/commander/Arming/PreFlightCheck/checks/airspeedCheck.cpp
  src/modules/commander/commander_params.c
Labels: fixedwing, vtol

#15741 heater: px4io: Add support for heaters on IO MCU
  boards/px4/fmu-v3/src/board_config.h
  src/drivers/drv_io_heater.h
  src/drivers/heater/heater.cpp
  src/drivers/heater/heater.h
  src/drivers/px4io/px4io.cpp
Labels: enhancement

#14259 Templated SCALED_IMU mavlink stream
  src/modules/mavlink/mavlink_messages.cpp
  src/modules/mavlink/streams/SCALED_IMU.hpp
Labels: enhancement

#16573 boards: disable CONFIG_ARMV7M_LAZYFPU again
  boards/airmind/mindpx-v2/nuttx-config/nsh/defconfig
  boards/av/x-v1/nuttx-config/nsh/defconfig
  boards/bitcraze/crazyflie/nuttx-config/nsh/defconfig
  boards/cuav/can-gps-v1/nuttx-config/nsh/defconfig
  boards/cuav/nora/nuttx-config/bootloader/defconfig
  boards/cuav/nora/nuttx-config/nsh/defconfig
  boards/cuav/x7pro/nuttx-config/bootloader/defconfig
  boards/cuav/x7pro/nuttx-config/nsh/defconfig
  boards/cubepilot/cubeorange/nuttx-config/bootloader/defconfig
  boards/cubepilot/cubeorange/nuttx-config/console/defconfig
  boards/cubepilot/cubeorange/nuttx-config/nsh/defconfig
  boards/cubepilot/cubeyellow/nuttx-config/console/defconfig
  boards/cubepilot/cubeyellow/nuttx-config/nsh/defconfig
  boards/holybro/durandal-v1/nuttx-config/bootloader/defconfig
  boards/holybro/durandal-v1/nuttx-config/nsh/defconfig
  boards/holybro/durandal-v1/nuttx-config/stackcheck/defconfig
  boards/holybro/kakutef7/nuttx-config/nsh/defconfig
  boards/holybro/pix32v5/nuttx-config/nsh/defconfig
  boards/intel/aerofc-v1/nuttx-config/nsh/defconfig
  boards/modalai/fc-v1/nuttx-config/nsh/defconfig
  boards/mro/ctrl-zero-f7/nuttx-config/nsh/defconfig
  boards/mro/pixracerpro/nuttx-config/bootloader/defconfig
  boards/mro/pixracerpro/nuttx-config/nsh/defconfig
  boards/mro/x21-777/nuttx-config/nsh/defconfig
  boards/mro/x21/nuttx-config/nsh/defconfig
  boards/nxp/fmuk66-e/nuttx-config/nsh/defconfig
  boards/nxp/fmuk66-e/nuttx-config/socketcan/defconfig
  boards/nxp/fmuk66-v3/nuttx-config/nsh/defconfig
  boards/nxp/fmuk66-v3/nuttx-config/socketcan/defconfig
  boards/nxp/fmurt1062-v1/nuttx-config/nsh/defconfig
  boards/nxp/ucans32k146/nuttx-config/nsh/defconfig
  boards/omnibus/f4sd/nuttx-config/nsh/defconfig
  boards/px4/fmu-v2/nuttx-config/nsh/defconfig
  boards/px4/fmu-v3/nuttx-config/nsh/defconfig
  boards/px4/fmu-v3/nuttx-config/stackcheck/defconfig
  boards/px4/fmu-v4/nuttx-config/nsh/defconfig
  boards/px4/fmu-v4/nuttx-config/optimized/defconfig
  boards/px4/fmu-v4/nuttx-config/stackcheck/defconfig
  boards/px4/fmu-v4pro/nuttx-config/nsh/defconfig
  boards/px4/fmu-v5/nuttx-config/critmonitor/defconfig
  boards/px4/fmu-v5/nuttx-config/debug/defconfig
  boards/px4/fmu-v5/nuttx-config/irqmonitor/defconfig
  boards/px4/fmu-v5/nuttx-config/nsh/defconfig
  boards/px4/fmu-v5/nuttx-config/optimized/defconfig
  boards/px4/fmu-v5/nuttx-config/stackcheck/defconfig
  boards/px4/fmu-v5x/nuttx-config/base_phy_DP83848C/defconfig
  boards/px4/fmu-v5x/nuttx-config/nsh/defconfig
  boards/px4/fmu-v6x/nuttx-config/bootloader/defconfig
  boards/px4/fmu-v6x/nuttx-config/nsh/defconfig
  boards/px4/fmu-v6x/nuttx-config/stackcheck/defconfig
  boards/uvify/core/nuttx-config/nsh/defconfig
Labels: bug, nuttx

#16565 Some RTPS support updates
  msg/tools/uorb_rtps_classifier.py
  msg/tools/uorb_rtps_message_ids.yaml
Labels: enhancement, rtps

#16600 Add logging of mag calibration data
  msg/CMakeLists.txt
  msg/mag_worker_data.msg
  msg/tools/uorb_rtps_message_ids.yaml
  src/modules/commander/mag_calibration.cpp
  src/modules/logger/logged_topics.cpp
Labels: logging

#16603 mag_cal: fix race condition causing invalid mag calibration
  src/modules/commander/mag_calibration.cpp
Labels: bug, priority-critical

#16088 MavlinkStreamActuatorOutputStatus class implementation
  src/modules/mavlink/mavlink_main.cpp
  src/modules/mavlink/mavlink_messages.cpp
  src/modules/mavlink/streams/ACTUATOR_OUTPUT_STATUS.hpp
Labels: enhancement

#16633 uavcan: add tune_control/beep
  ROMFS/px4fmu_common/init.d/rcS
  src/drivers/uavcan/CMakeLists.txt
  src/drivers/uavcan/beep.cpp
  src/drivers/uavcan/beep.hpp
  src/drivers/uavcan/uavcan_main.cpp
  src/drivers/uavcan/uavcan_main.hpp
Labels: enhancement, uavcan

#16648 boards: CUAV CAN GPS flash based parameters
  boards/cuav/can-gps-v1/src/board_config.h
  boards/cuav/can-gps-v1/src/init.c
Labels: enhancement

#16647 uavcannode:Add Indication Controller
  src/drivers/uavcannode/CMakeLists.txt
  src/drivers/uavcannode/UavcanNode.cpp
  src/drivers/uavcannode/indication_controller.cpp
  src/drivers/uavcannode/indication_controller.hpp
Labels: enhancement, uavcan

#16649 drivers/uavcannode: Add a simple parameter server (simpler version for merging)
  platforms/common/include/px4_platform_common/px4_work_queue/WorkQueueManager.hpp
  src/drivers/uavcannode/CMakeLists.txt
  src/drivers/uavcannode/UavcanNode.cpp
  src/drivers/uavcannode/UavcanNode.hpp
  src/drivers/uavcannode/UavcanNodeParamManager.cpp
  src/drivers/uavcannode/UavcanNodeParamManager.hpp
Labels: enhancement, uavcan

#16654 FlightTasks: hotfix guard against accessing no task
  src/lib/flight_tasks/FlightTasks.hpp
Labels: bug, release port

#16655 sensors: magnetometer preserve original mag cal offset for status message
  src/modules/sensors/vehicle_magnetometer/VehicleMagnetometer.cpp
Labels: bug

#16676 ARK Flow Basic Functionality
  .ci/Jenkinsfile-compile
  .github/workflows/compile_nuttx.yml
  .github/workflows/compile_nuttx_cannode.yml
  .vscode/cmake-variants.yaml
  boards/ark/can-flow/canbootloader.cmake
  boards/ark/can-flow/default.cmake
  boards/ark/can-flow/firmware.prototype
  boards/ark/can-flow/init/rc.board_defaults
  boards/ark/can-flow/init/rc.board_sensors
  boards/ark/can-flow/nuttx-config/canbootloader/defconfig
  boards/ark/can-flow/nuttx-config/include/board.h
  boards/ark/can-flow/nuttx-config/include/board_dma_map.h
  boards/ark/can-flow/nuttx-config/nsh/defconfig
  boards/ark/can-flow/nuttx-config/scripts/canbootloader_script.ld
  boards/ark/can-flow/nuttx-config/scripts/script.ld
  boards/ark/can-flow/src/CMakeLists.txt
  boards/ark/can-flow/src/board_config.h
  boards/ark/can-flow/src/boot.c
  boards/ark/can-flow/src/boot_config.h
  boards/ark/can-flow/src/can.c
  boards/ark/can-flow/src/i2c.cpp
  boards/ark/can-flow/src/init.c
  boards/ark/can-flow/src/led.c
  boards/ark/can-flow/src/spi.cpp
Labels: enhancement

#16683 boards: disable BDMA on STM32H7 for now
  boards/cuav/nora/nuttx-config/nsh/defconfig
  boards/cuav/x7pro/nuttx-config/nsh/defconfig
  boards/holybro/durandal-v1/nuttx-config/nsh/defconfig
  boards/holybro/durandal-v1/nuttx-config/stackcheck/defconfig
  boards/px4/fmu-v6x/nuttx-config/nsh/defconfig
  boards/px4/fmu-v6x/nuttx-config/stackcheck/defconfig
Labels: bug, nuttx

#16582 RTL: VTOL: do the land delay loitering (RTL_LAND_DELAY) in fixed-wing flight
  src/modules/navigator/rtl.cpp
  src/modules/navigator/rtl.h
Labels: enhancement, vtol

#16636 ekf2: error if unable to copy every sensor publication
  src/modules/ekf2/EKF2.cpp
Labels: ekf2, enhancement

#16641 PWM 14 support and cleanup
  ROMFS/px4fmu_common/init.d/airframes/4080_zmr250
  ROMFS/px4fmu_common/init.d/rc.interface
  ROMFS/px4fmu_common/init.d/rcS
  Tools/px4airframes/rcout.py
  boards/cuav/nora/init/rc.board_defaults
  boards/cuav/nora/src/board_config.h
  boards/cuav/nora/src/spi.cpp
  boards/cuav/nora/src/timer_config.cpp
  boards/cuav/x7pro/init/rc.board_defaults
  boards/cuav/x7pro/src/board_config.h
  boards/cuav/x7pro/src/spi.cpp
  boards/cuav/x7pro/src/timer_config.cpp
  boards/cubepilot/cubeorange/init/rc.board_defaults
  boards/holybro/durandal-v1/init/rc.board_defaults
  boards/mro/pixracerpro/init/rc.board_defaults
  boards/px4/fmu-v2/init/rc.board_defaults
  boards/px4/fmu-v3/init/rc.board_defaults
  src/drivers/dshot/DShot.h
  src/drivers/pwm_out/CMakeLists.txt
  src/drivers/pwm_out/PWMOut.cpp
  src/drivers/pwm_out/PWMOut.hpp
  src/drivers/pwm_out/pwm_aux_params.yaml
  src/drivers/pwm_out/pwm_extra_params.yaml
  src/drivers/pwm_out/pwm_main_params.yaml
  src/drivers/px4io/px4io.cpp
  src/modules/sensors/pwm_params_aux.c
  src/modules/sensors/pwm_params_extra.c
  src/modules/sensors/pwm_params_main.c
Labels: enhancement

#16698 sensors: vehicle_magnetometer respect publication rate limit SENS_MAG_RATE
  src/modules/sensors/vehicle_magnetometer/VehicleMagnetometer.cpp
  src/modules/sensors/vehicle_magnetometer/VehicleMagnetometer.hpp
Labels: bug

#16652 Publish Takeoff Status
  msg/CMakeLists.txt
  msg/takeoff_status.msg
  msg/tools/uorb_rtps_message_ids.yaml
  src/modules/flight_mode_manager/FlightModeManager.cpp
  src/modules/flight_mode_manager/FlightModeManager.hpp
  src/modules/flight_mode_manager/Takeoff/Takeoff.hpp
Labels: multicopter

#16503 mavlink: receiver estimate total lost messages
  .ci/Jenkinsfile-hardware
  msg/telemetry_status.msg
  platforms/common/include/px4_platform_common/posix.h
  src/modules/mavlink/mavlink_main.cpp
  src/modules/mavlink/mavlink_main.h
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/mavlink/mavlink_receiver.h
Labels: enhancement

#15407 Add support for STM32F42x/STM32F43x rev. 5/B
  platforms/nuttx/src/px4/stm/stm32_common/version/board_mcu_version.c
Labels: nuttx, stale

#15269 modules/sih: move to px4 work queue (wq:rate_ctrl)
  src/modules/sih/CMakeLists.txt
  src/modules/sih/sih.cpp
  src/modules/sih/sih.hpp
  src/modules/sih/sih_params.c
Labels: enhancement
