Repository PX4/PX4-Autopilot, pull requests merged in 2021-03, with the labels that each got.

#16996 MPC_POS_MODE remove old metadata and explicitly handle invalid configuration
  src/modules/flight_mode_manager/FlightModeManager.cpp
  src/modules/mc_pos_control/mc_pos_control_params.c
Labels: multicopter

#17001 px4_work_queue: increase wq:nav_and_controllers stack
  platforms/common/include/px4_platform_common/px4_work_queue/WorkQueueManager.hpp
Labels: bug, multicopter, priority-critical

#17003 add label option for various airframes using same model
  Tools/gazebo_sitl_multiple_run.sh
Labels: sitl

#16739 OFFBOARD architecture cleanup
  msg/offboard_control_mode.msg
  msg/position_setpoint.msg
  msg/vehicle_command.msg
  msg/vehicle_control_mode.msg
  msg/vehicle_status_flags.msg
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
  src/modules/commander/commander_params.c
  src/modules/commander/state_machine_helper.cpp
  src/modules/flight_mode_manager/CMakeLists.txt
  src/modules/flight_mode_manager/FlightModeManager.cpp
  src/modules/flight_mode_manager/tasks/Auto/FlightTaskAuto.hpp
  src/modules/flight_mode_manager/tasks/Offboard/CMakeLists.txt
  src/modules/flight_mode_manager/tasks/Offboard/FlightTaskOffboard.cpp
  src/modules/flight_mode_manager/tasks/Offboard/FlightTaskOffboard.hpp
  src/modules/fw_att_control/FixedwingAttitudeControl.cpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.hpp
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/mavlink/mavlink_receiver.h
  src/modules/mc_att_control/mc_att_control.hpp
  src/modules/mc_att_control/mc_att_control_main.cpp
  src/modules/mc_pos_control/MulticopterPositionControl.cpp
  src/modules/mc_rate_control/MulticopterRateControl.cpp
  src/modules/navigator/mission.cpp
Labels: cleanup, enhancement, offboard

#17028 MultiCopterPositionControl: hotfix emergency failsafe
  src/modules/mc_pos_control/MulticopterPositionControl.cpp
Labels: bug, multicopter, priority-critical

#16943 TECS: Fix internal state init if dt is large
  src/lib/tecs/TECS.cpp
Labels: bug, fixedwing, vtol

#16990 Add support for specifying spawn location in Gazebo multi sim
  Tools/gazebo_sitl_multiple_run.sh
Labels: sitl

#16544 ekf2 support SET_GPS_GLOBAL_ORIGIN and purge globallocal usage
  msg/vehicle_command.msg
  msg/vehicle_command_ack.msg
  src/modules/commander/Commander.cpp
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
  src/modules/flight_mode_manager/tasks/FlightTask/FlightTask.cpp
  src/modules/flight_mode_manager/tasks/FlightTask/FlightTask.hpp
  src/modules/flight_mode_manager/tasks/Orbit/FlightTaskOrbit.cpp
  src/modules/local_position_estimator/BlockLocalPositionEstimator.cpp
  src/modules/local_position_estimator/BlockLocalPositionEstimator.hpp
  src/modules/local_position_estimator/sensors/mocap.cpp
  src/modules/local_position_estimator/sensors/vision.cpp
  src/modules/mavlink/mavlink_command_sender.cpp
  src/modules/mavlink/mavlink_main.cpp
  src/modules/mavlink/mavlink_messages.cpp
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/mavlink/mavlink_receiver.h
  src/modules/rover_pos_control/RoverPositionControl.cpp
  src/modules/rover_pos_control/RoverPositionControl.hpp
  src/modules/simulator/simulator.h
  src/modules/simulator/simulator_mavlink.cpp
Labels: cleanup, ekf2, enhancement

#17042 mc_pos_control: add OFFBOARD takeoff intent
  src/modules/mc_pos_control/MulticopterPositionControl.cpp
Labels: bug, multicopter

#17041 land_detector: continue respecting hover thrust throughout descent
  src/modules/land_detector/MulticopterLandDetector.cpp
  src/modules/land_detector/MulticopterLandDetector.h
Labels: bug, multicopter

#17050 mc_att_control_params: remove frequency unit from attitude gains
  src/modules/mc_att_control/mc_att_control_params.c
Labels: documentation

#17051 Airspeed Selector: do not run checks during landing
  src/modules/airspeed_selector/airspeed_selector_main.cpp
Labels: bug, fixedwing

#17071 add board architecture specific init defaults
  ROMFS/CMakeLists.txt
  ROMFS/cannode/init.d/rcS
  ROMFS/px4fmu_common/init.d/rc.logging
  ROMFS/px4fmu_common/init.d/rcS
  boards/airmind/mindpx-v2/init/rc.board_defaults
  boards/ark/can-flow/init/rc.board_defaults
  boards/av/x-v1/init/rc.board_defaults
  boards/bitcraze/crazyflie/init/rc.board_defaults
  boards/bitcraze/crazyflie21/init/rc.board_defaults
  boards/cuav/can-gps-v1/init/rc.board_defaults
  boards/cuav/nora/init/rc.board_defaults
  boards/cuav/x7pro/init/rc.board_defaults
  boards/cubepilot/cubeorange/init/rc.board_defaults
  boards/cubepilot/cubeyellow/init/rc.board_defaults
  boards/holybro/can-gps-v1/init/rc.board_defaults
  boards/holybro/durandal-v1/init/rc.board_defaults
  boards/holybro/kakutef7/init/rc.board_defaults
  boards/holybro/pix32v5/init/rc.board_defaults
  boards/modalai/fc-v1/init/rc.board_defaults
  boards/mro/ctrl-zero-f7-oem/init/rc.board_defaults
  boards/mro/ctrl-zero-f7/init/rc.board_defaults
  boards/mro/ctrl-zero-h7-oem/init/rc.board_defaults
  boards/mro/ctrl-zero-h7/init/rc.board_defaults
  boards/mro/pixracerpro/init/rc.board_defaults
  boards/nxp/fmuk66-e/init/rc.board_defaults
  boards/nxp/fmuk66-v3/init/rc.board_defaults
  boards/nxp/fmurt1062-v1/init/rc.board_defaults
  boards/nxp/ucans32k146/init/rc.board_defaults
  boards/omnibus/f4sd/init/rc.board_defaults
  boards/px4/fmu-v2/init/rc.board_defaults
  boards/px4/fmu-v3/init/rc.board_defaults
  boards/px4/fmu-v4/init/rc.board_defaults
  boards/px4/fmu-v4pro/init/rc.board_defaults
  boards/px4/fmu-v5/init/rc.board_defaults
  boards/px4/fmu-v5x/init/rc.board_defaults
  boards/px4/fmu-v6u/init/rc.board_defaults
  boards/px4/fmu-v6x/init/rc.board_defaults
  boards/spracing/h7extreme/init/rc.board_defaults
  boards/uvify/core/init/rc.board_defaults
  platforms/nuttx/init/imxrt/rc.board_arch_defaults
  platforms/nuttx/init/kinetis/rc.board_arch_defaults
  platforms/nuttx/init/s32k1xx/rc.board_arch_defaults
  platforms/nuttx/init/stm32/rc.board_arch_defaults
  platforms/nuttx/init/stm32f7/rc.board_arch_defaults
  platforms/nuttx/init/stm32h7/rc.board_arch_defaults
Labels: enhancement

#17099 mavlink: delete fake CAMERA_CAPTURE stream
  src/modules/mavlink/mavlink_main.cpp
  src/modules/mavlink/mavlink_messages.cpp
Labels: cleanup

#17011 TECS: Add feedforward gains for energy rates
  src/lib/tecs/TECS.cpp
  src/lib/tecs/TECS.hpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.hpp
  src/modules/fw_pos_control_l1/fw_pos_control_l1_params.c
Labels: enhancement, fixedwing, vtol

#16933 Factor in total current consumption in battery remaining estimation
  src/lib/battery/battery.cpp
  src/lib/battery/battery.h
Labels: enhancement

#17130 fw_pos_control_l1: OFFBOARD fully populate position_setpoint_triplet
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
Labels: bug, fixedwing

#17151 FlightTaskOrbit: NACK command if coordinates could not get applied
  src/modules/flight_mode_manager/tasks/Orbit/FlightTaskOrbit.cpp
Labels: enhancement, multicopter

#17156 ARK Flow sensor rotations
  boards/ark/can-flow/init/rc.board_sensors
Labels: enhancement

#17161 mc_pos_control_params: correct cruise speed description
  src/modules/mc_pos_control/mc_pos_control_params.c
Labels: documentation

#17159 FlightTaskAcceleration: synchronize XY acceleration profiles
  src/modules/flight_mode_manager/tasks/Utility/StickAccelerationXY.cpp
  src/modules/flight_mode_manager/tasks/Utility/StickAccelerationXY.hpp
Labels: enhancement

#17185 rotate sensor fifo before publish and fix filter reset
  boards/nxp/fmurt1062-v1/default.cmake
  msg/sensor_accel_fifo.msg
  msg/sensor_gyro_fifo.msg
  src/lib/conversion/rotation.cpp
  src/lib/conversion/rotation.h
  src/lib/drivers/accelerometer/PX4Accelerometer.cpp
  src/lib/drivers/accelerometer/PX4Accelerometer.hpp
  src/lib/drivers/gyroscope/PX4Gyroscope.cpp
  src/lib/drivers/gyroscope/PX4Gyroscope.hpp
  src/lib/mathlib/math/Functions.hpp
  src/lib/sensor_calibration/Gyroscope.hpp
  src/modules/sensors/vehicle_angular_velocity/VehicleAngularVelocity.cpp
  src/modules/sensors/vehicle_angular_velocity/VehicleAngularVelocity.hpp
Labels: bug, enhancement

#17204 ROMFS: add new VTOL config and mixer (generic quadplane tiltrotor VTOL)
  ROMFS/px4fmu_common/init.d/airframes/13030_generic_vtol_quad_tiltrotor
  ROMFS/px4fmu_common/init.d/airframes/CMakeLists.txt
  ROMFS/px4fmu_common/mixers/CMakeLists.txt
  ROMFS/px4fmu_common/mixers/vtol_TTTTAAER.aux.mix
Labels: vtol

#17263 PreFlightCheck: Check if SD card is present only once and store the result
  msg/vehicle_status_flags.msg
  src/modules/commander/Arming/PreFlightCheck/PreFlightCheck.cpp
  src/modules/commander/Arming/PreFlightCheck/PreFlightCheck.hpp
  src/modules/commander/Arming/PreFlightCheck/checks/sdcardCheck.cpp
Labels: bug

#17283 MulticopterPositionControl: readd takeoff ramp fix
  src/modules/mc_pos_control/MulticopterPositionControl.cpp
Labels: bug, multicopter

#17285 SlewRate: add back dummy file for mac build
  src/lib/slew_rate/CMakeLists.txt
  src/lib/slew_rate/dummy.cpp
Labels: CI, bug
