Repository PX4/PX4-Autopilot, pull requests merged in 2022-01, with the labels that each got.

#18929 Log vehicle local position setpoints for fixedwing position control
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.hpp
Labels: fixedwing

#18948 Fix delta angle coning metric
  src/modules/ekf2/EKF2.cpp
Labels: bug

#18664 ekf2: expand accel bias stability criteria
  src/modules/ekf2/EKF/common.h
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
  src/modules/sensors/vehicle_imu/VehicleIMU.cpp
Labels: enhancement, ekf2

#18762 Remove relaying of maximum altitude through land detector
  ROMFS/px4fmu_common/init.d/airframes/13013_deltaquad
  msg/vehicle_land_detected.msg
  src/modules/flight_mode_manager/FlightModeManager.cpp
  src/modules/flight_mode_manager/FlightModeManager.hpp
  src/modules/land_detector/LandDetector.cpp
  src/modules/land_detector/LandDetector.h
  src/modules/land_detector/MulticopterLandDetector.cpp
  src/modules/land_detector/MulticopterLandDetector.h
  src/modules/mc_pos_control/MulticopterPositionControl.hpp
  src/modules/navigator/mission_block.cpp
  src/modules/navigator/navigator.h
Labels: cleanup

#18953 FlightTaskAuto: Respect altitude with offtrack state
  src/modules/flight_mode_manager/tasks/Auto/FlightTaskAuto.cpp
  src/modules/flight_mode_manager/tasks/Auto/FlightTaskAuto.hpp
Labels: bug, multicopter

#18975 move sensor calibration parameters to yaml
  src/modules/sensors/CMakeLists.txt
  src/modules/sensors/module.yaml
  src/modules/sensors/sensor_params_acc0.c
  src/modules/sensors/sensor_params_acc1.c
  src/modules/sensors/sensor_params_acc2.c
  src/modules/sensors/sensor_params_acc3.c
  src/modules/sensors/sensor_params_gyro0.c
  src/modules/sensors/sensor_params_gyro1.c
  src/modules/sensors/sensor_params_gyro2.c
  src/modules/sensors/sensor_params_gyro3.c
  src/modules/sensors/sensor_params_mag0.c
  src/modules/sensors/sensor_params_mag1.c
  src/modules/sensors/sensor_params_mag2.c
  src/modules/sensors/sensor_params_mag3.c
Labels: cleanup

#18971 Fix thrust step after takeoff
  src/modules/mc_pos_control/PositionControl/PositionControl.cpp
Labels: bug

#18981 commander: fix COM_HOME_EN missing case
  src/modules/commander/Commander.cpp
Labels: bug

#18950 sensors: automatically set initial accel/gyro calibration if stable bias available
  src/modules/sensors/vehicle_imu/VehicleIMU.cpp
  src/modules/sensors/vehicle_imu/VehicleIMU.hpp
  src/modules/sensors/vehicle_imu/imu_parameters.c
Labels: enhancement

#18851 drivers/uavcan: merge FW server into main and delete unused portions
  ROMFS/px4fmu_common/init.d/rcS
  src/drivers/uavcan/uavcan_main.cpp
  src/drivers/uavcan/uavcan_main.hpp
  src/drivers/uavcan/uavcan_module.hpp
  src/drivers/uavcan/uavcan_servers.cpp
  src/drivers/uavcan/uavcan_servers.hpp
  src/drivers/uavcan/uavcan_virtual_can_driver.hpp
Labels: enhancement, uavcan, cleanup

#18986 lib/sensor_calibration: handle calibration slot change on parameter update
  src/lib/sensor_calibration/Accelerometer.cpp
  src/lib/sensor_calibration/Accelerometer.hpp
  src/lib/sensor_calibration/Gyroscope.cpp
  src/lib/sensor_calibration/Gyroscope.hpp
  src/lib/sensor_calibration/Magnetometer.cpp
  src/lib/sensor_calibration/Magnetometer.hpp
  src/modules/sensors/sensors.cpp
Labels: bug

#18992 MCLandDetector: clean up logic for ground effect
  src/modules/land_detector/MulticopterLandDetector.cpp
  src/modules/land_detector/MulticopterLandDetector.h
  src/modules/land_detector/land_detector_params_mc.c
Labels: enhancement, multicopter

#18994 sensor_calibration: refactor and centralize calibration slot logic
  src/lib/sensor_calibration/Accelerometer.cpp
  src/lib/sensor_calibration/Accelerometer.hpp
  src/lib/sensor_calibration/Gyroscope.cpp
  src/lib/sensor_calibration/Gyroscope.hpp
  src/lib/sensor_calibration/Magnetometer.cpp
  src/lib/sensor_calibration/Magnetometer.hpp
  src/lib/sensor_calibration/Utilities.cpp
  src/lib/sensor_calibration/Utilities.hpp
  src/modules/commander/Arming/PreFlightCheck/checks/accelerometerCheck.cpp
  src/modules/commander/Arming/PreFlightCheck/checks/gyroCheck.cpp
  src/modules/commander/Arming/PreFlightCheck/checks/magnetometerCheck.cpp
  src/modules/commander/accelerometer_calibration.cpp
  src/modules/commander/gyro_calibration.cpp
  src/modules/commander/mag_calibration.cpp
  src/modules/gyro_calibration/GyroCalibration.cpp
  src/modules/sensors/vehicle_imu/VehicleIMU.cpp
  src/modules/sensors/vehicle_magnetometer/VehicleMagnetometer.cpp
  src/modules/sensors/voted_sensors_update.cpp
Labels: enhancement, cleanup

#18996 handle line segment termination in navigator
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.hpp
  src/modules/navigator/mission_block.cpp
Labels: enhancement, fixedwing

#19029 Failure detector: improve imbalanced propeller metric
  src/modules/commander/failure_detector/FailureDetector.cpp
Labels: enhancement

#19025 sensors: switch status PX4_INFO -> PX4_INFO_RAW
  src/lib/sensor_calibration/Accelerometer.cpp
  src/lib/sensor_calibration/Gyroscope.cpp
  src/lib/sensor_calibration/Magnetometer.cpp
  src/modules/sensors/data_validator/DataValidator.cpp
  src/modules/sensors/data_validator/DataValidatorGroup.cpp
  src/modules/sensors/sensors.cpp
  src/modules/sensors/vehicle_acceleration/VehicleAcceleration.cpp
  src/modules/sensors/vehicle_air_data/VehicleAirData.cpp
  src/modules/sensors/vehicle_angular_velocity/VehicleAngularVelocity.cpp
  src/modules/sensors/vehicle_gps_position/VehicleGPSPosition.cpp
  src/modules/sensors/vehicle_imu/VehicleIMU.cpp
  src/modules/sensors/vehicle_magnetometer/VehicleMagnetometer.cpp
  src/modules/sensors/voted_sensors_update.cpp
Labels: cleanup

#19003 FW Pos C: add option to disable airspeed setpoint via stick input
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.hpp
  src/modules/fw_pos_control_l1/fw_pos_control_l1_params.c
Labels: fixedwing

#17655 sensors: lower SENS_MAG_RATE default
  src/modules/sensors/sensor_params_mag.c
Labels: enhancement

#19043 npfg: fix typo in Vector2f indexing
  src/lib/npfg/npfg.cpp
Labels: bug, fixedwing

#19042 Only publish orbit status when vehicle is in loiter
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
Labels: fixedwing

#19047 platforms/nuttx: px4io_serial always cleanup DMA before next bus exchange
  platforms/nuttx/src/px4/stm/stm32f4/px4io_serial/px4io_serial.cpp
  platforms/nuttx/src/px4/stm/stm32f7/px4io_serial/px4io_serial.cpp
  platforms/nuttx/src/px4/stm/stm32h7/px4io_serial/px4io_serial.cpp
Labels: bug

#19040 ekf2: replace yaw failure detection criteria
  src/modules/ekf2/EKF/control.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/gps_control.cpp
Labels: enhancement

#19048 Publish orbit status also when the waypoint is a loiter waypoint
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
Labels: fixedwing

#19034 sensors/vehicle_gps_position: don't work with 64 bit time with 32 bit floats
  src/modules/sensors/vehicle_gps_position/gps_blending.cpp
Labels: bug

#19056 uavcan/uavcannode: bridge LogMessage and PX4 ORB_ID(log_message_s)
  src/drivers/uavcan/CMakeLists.txt
  src/drivers/uavcan/logmessage.hpp
  src/drivers/uavcan/uavcan_main.cpp
  src/drivers/uavcan/uavcan_main.hpp
  src/drivers/uavcannode/UavcanNode.cpp
  src/drivers/uavcannode/UavcanNode.hpp
Labels: enhancement, uavcan

#19063 Spawn at different height for multivehicle simulation
  Tools/gazebo_sitl_multiple_run.sh
Labels: gazebo, simulation

#19038 ekf2: make filter update period configurable
  src/modules/ekf2/EKF/common.h
  src/modules/ekf2/EKF/control.cpp
  src/modules/ekf2/EKF/covariance.cpp
  src/modules/ekf2/EKF/ekf.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF/estimator_interface.cpp
  src/modules/ekf2/EKF/estimator_interface.h
  src/modules/ekf2/EKF/imu_down_sampler.cpp
  src/modules/ekf2/EKF/imu_down_sampler.hpp
  src/modules/ekf2/EKF/mag_control.cpp
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
  src/modules/ekf2/ekf2_params.c
  src/modules/ekf2/test/change_indication/ekf_gsf_reset.csv
  src/modules/ekf2/test/change_indication/iris_gps.csv
  src/modules/ekf2/test/test_EKF_fusionLogic.cpp
  src/modules/ekf2/test/test_EKF_imuSampling.cpp
  src/modules/ekf2/test/test_EKF_terrain_estimator.cpp
  src/modules/sensors/vehicle_imu/VehicleIMU.cpp
Labels: enhancement, ekf2

#16408 Enable logging of tunnel messages
  msg/CMakeLists.txt
  msg/mavlink_tunnel.msg
  src/modules/logger/logged_topics.cpp
  src/modules/logger/logged_topics.h
  src/modules/logger/params.c
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/mavlink/mavlink_receiver.h
Labels: enhancement

#19072 ekf2: mag field strength check respect requirements
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/mag_control.cpp
Labels: bug, ekf2

#19071 ekf2: only set fault status bad_acc_clipping if clipping frequently
  src/modules/ekf2/EKF/control.cpp
  src/modules/ekf2/EKF/covariance.cpp
Labels: ekf2

#19085 ekf2: refactor mag control
  src/modules/ekf2/EKF/control.cpp
  src/modules/ekf2/EKF/ekf.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF/estimator_interface.h
  src/modules/ekf2/EKF/gps_control.cpp
  src/modules/ekf2/EKF/mag_control.cpp
  src/modules/ekf2/EKF/mag_fusion.cpp
Labels: ekf2
