Repository PX4/PX4-Autopilot, pull requests merged in 2022-10, with the labels that each got.

#20346 ControlAllocation: remove actuator trim value from actuator_sp to calculate allocated control
  src/modules/control_allocator/ControlAllocation/ControlAllocation.hpp
Labels: bug

#20350 ms5611: ignore reading 0
  src/drivers/barometer/ms5611/ms5611.cpp
Labels: bug

#20348 mavlink: initial OPEN_DRONE_ID_BASIC_ID/OPEN_DRONE_ID_LOCATION support
  msg/telemetry_status.msg
  msg/vehicle_status.msg
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
  src/modules/mavlink/mavlink_main.cpp
  src/modules/mavlink/mavlink_messages.cpp
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/mavlink/mavlink_receiver.h
  src/modules/mavlink/streams/OPEN_DRONE_ID_BASIC_ID.hpp
  src/modules/mavlink/streams/OPEN_DRONE_ID_LOCATION.hpp
Labels: enhancement

#20363 Commander: allow disarmin not-landed boat like rover
  src/modules/commander/Commander.cpp
  src/modules/commander/commander_helper.cpp
  src/modules/commander/commander_helper.h
Labels: bug

#20362 fix ROMFS: run camera trigger, capture and PPS before pwm_out
  ROMFS/px4fmu_common/init.d/rcS
Labels: bug

#20372 sensors: fix accel/gyro/mag calibration offset units
  src/modules/sensors/module.yaml
Labels: bug, documentation

#20396 ekf2: fix sideslip fusion sign
  src/modules/ekf2/EKF/python/ekf_derivation/derivation.py
  src/modules/ekf2/EKF/python/ekf_derivation/generated/compute_sideslip_innov_and_innov_var.h
Labels: ekf2

#20397 estimator_aid_source split GNSS pos (3d) -> pos (2d) + hgt
  msg/estimator_aid_source_1d.msg
  msg/estimator_aid_source_2d.msg
  msg/estimator_aid_source_3d.msg
  msg/estimator_bias.msg
  src/modules/ekf2/EKF/airspeed_fusion.cpp
  src/modules/ekf2/EKF/common.h
  src/modules/ekf2/EKF/control.cpp
  src/modules/ekf2/EKF/covariance.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF/estimator_interface.h
  src/modules/ekf2/EKF/ev_height_control.cpp
  src/modules/ekf2/EKF/fake_height_control.cpp
  src/modules/ekf2/EKF/fake_pos_control.cpp
  src/modules/ekf2/EKF/gnss_height_control.cpp
  src/modules/ekf2/EKF/gps_control.cpp
  src/modules/ekf2/EKF/gps_fusion.cpp
  src/modules/ekf2/EKF/height_control.cpp
  src/modules/ekf2/EKF/height_fusion.cpp
  src/modules/ekf2/EKF/mag_fusion.cpp
  src/modules/ekf2/EKF/sideslip_fusion.cpp
  src/modules/ekf2/EKF/vel_pos_fusion.cpp
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
  src/modules/ekf2/test/change_indication/ekf_gsf_reset.csv
  src/modules/logger/logged_topics.cpp
Labels: ekf2

#20402 FW rate controller gains: open up constraints and change defaults for IMAX
  src/modules/fw_att_control/fw_att_control_params.c
Labels: enhancement, fixedwing

#20439 Fix feedforward acceleration setpoints for fixedwing offboard position
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
Labels: bug, fixedwing

#20377 airspeed_selector: update wind estimator (w/o airspeed fusion) always if in FW mode
  src/modules/airspeed_selector/airspeed_selector_main.cpp
Labels: fixedwing

#20405 ekf2: height aid source consistency
  src/modules/ekf2/CMakeLists.txt
  src/modules/ekf2/EKF/CMakeLists.txt
  src/modules/ekf2/EKF/baro_height_control.cpp
  src/modules/ekf2/EKF/bias_estimator.cpp
  src/modules/ekf2/EKF/bias_estimator.hpp
  src/modules/ekf2/EKF/control.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF/ev_height_control.cpp
  src/modules/ekf2/EKF/fake_height_control.cpp
  src/modules/ekf2/EKF/fake_pos_control.cpp
  src/modules/ekf2/EKF/gnss_height_control.cpp
  src/modules/ekf2/EKF/gps_control.cpp
  src/modules/ekf2/EKF/height_control.cpp
  src/modules/ekf2/EKF/height_fusion.cpp
  src/modules/ekf2/EKF/range_height_control.cpp
  src/modules/ekf2/EKF/sensor_range_finder.hpp
  src/modules/ekf2/EKF/terrain_estimator.cpp
  src/modules/ekf2/EKF/vel_pos_fusion.cpp
  src/modules/ekf2/test/change_indication/ekf_gsf_reset.csv
  src/modules/ekf2/test/change_indication/iris_gps.csv
Labels: ekf2

#20433 ekf2: move baro compensation to delayed time horizon and add validity check
  src/modules/ekf2/EKF/baro_height_control.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF/estimator_interface.cpp
  src/modules/ekf2/EKF/estimator_interface.h
Labels: ekf2

#20432 ekf2: remove realignYawGPS() (replaced with yaw estimator)
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF/gps_control.cpp
  src/modules/ekf2/EKF/mag_control.cpp
Labels: fixedwing, ekf2, cleanup

#20441 Wind Estimator: remove filter reset due to beta fusion timeout
  src/lib/wind_estimator/WindEstimator.cpp
  src/lib/wind_estimator/WindEstimator.hpp
Labels: fixedwing

#20357 [VTOL] Abort front transition if RTL is activated during transition
  src/modules/navigator/rtl.cpp
  src/modules/vtol_att_control/vtol_att_control_main.cpp
  src/modules/vtol_att_control/vtol_att_control_main.h
Labels: enhancement, vtol

#20467 ekf2: pos/vel reset helpers pass new variance
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF/gps_control.cpp
  src/modules/ekf2/EKF/optical_flow_control.cpp
  src/modules/ekf2/test/change_indication/ekf_gsf_reset.csv
  src/modules/ekf2/test/change_indication/iris_gps.csv
Labels: ekf2

#20488 Navigator: remove update of reposition setpoint at Transition command
  src/modules/navigator/navigator_main.cpp
Labels: bug

#20496 [Release port 1.13] Navigator: fix init of _mission_item
  src/modules/navigator/mission_block.cpp
  src/modules/navigator/mission_block.h
  src/modules/navigator/navigator_main.cpp
  src/modules/navigator/navigator_mode.h
Labels: release port

#20500 fw rate control: initialize rate control resets to false in stabilized mode
  src/modules/fw_att_control/FixedwingAttitudeControl.cpp
Labels: bug, fixedwing

#20508 Handle waypoint altitude acceptance radius correctly for boats
  src/modules/commander/Commander.cpp
  src/modules/commander/commander_helper.cpp
  src/modules/commander/commander_helper.h
Labels: bug, boat
