Repository PX4/PX4-Autopilot, pull requests merged in 2022-12, with the labels that each got.

#20703 DataValidator: fix unexpected fail-over
  src/modules/sensors/data_validator/DataValidatorGroup.cpp
Labels: bug, sensors

#20683 VTOL: take home_position into account for ground clearance
  src/modules/vtol_att_control/vtol_att_control_main.cpp
  src/modules/vtol_att_control/vtol_att_control_main.h
  src/modules/vtol_att_control/vtol_type.cpp
  src/modules/vtol_att_control/vtol_type.h
Labels: vtol

#20715 ekf2: predict covariance before predicting state
  src/modules/ekf2/EKF/ekf.cpp
  src/modules/ekf2/test/change_indication/ekf_gsf_reset.csv
  src/modules/ekf2/test/change_indication/iris_gps.csv
Labels: ekf2

#20713 ekf2: delete orientation_covariances_euler()
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF2.cpp
Labels: ekf2, cleanup

#20510 ekf2: EKFGSF_yaw minor cleanup
  src/modules/ekf2/EKF/EKFGSF_yaw.cpp
  src/modules/ekf2/EKF/EKFGSF_yaw.h
  src/modules/ekf2/EKF/control.cpp
  src/modules/ekf2/EKF/gnss_height_control.cpp
  src/modules/ekf2/EKF/gps_control.cpp
Labels: ekf2, cleanup

#20732 ekf2: use more efficient covariance update computation
  src/modules/ekf2/EKF/airspeed_fusion.cpp
  src/modules/ekf2/EKF/drag_fusion.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/gps_yaw_fusion.cpp
  src/modules/ekf2/EKF/mag_fusion.cpp
  src/modules/ekf2/EKF/optflow_fusion.cpp
  src/modules/ekf2/EKF/sideslip_fusion.cpp
  src/modules/ekf2/test/change_indication/iris_gps.csv
Labels: ekf2

#20539 ekf2: push mag cal reset to delayed time horizon
  src/modules/ekf2/EKF/common.h
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF/mag_control.cpp
  src/modules/ekf2/EKF2.cpp
Labels: bug, ekf2

#20498 ekf2: update EV height state machine (small piece of EV overhaul)
  src/modules/ekf2/EKF/bias_estimator.hpp
  src/modules/ekf2/EKF/common.h
  src/modules/ekf2/EKF/control.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF/estimator_interface.cpp
  src/modules/ekf2/EKF/ev_height_control.cpp
  src/modules/ekf2/EKF/ev_vel_control.cpp
  src/modules/ekf2/EKF/height_control.cpp
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
  src/modules/ekf2/test/sensor_simulator/ekf_wrapper.cpp
Labels: enhancement, VIO, ekf2

#20786 Fixed transition timer not being reset
  src/modules/vtol_att_control/standard.cpp
  src/modules/vtol_att_control/tailsitter.cpp
  src/modules/vtol_att_control/tiltrotor.cpp
  src/modules/vtol_att_control/vtol_type.h
Labels: bug, vtol

#20678 AirspeedValidator: change default of ASPD_DO_CHECKS
  src/modules/airspeed_selector/AirspeedValidator.cpp
  src/modules/airspeed_selector/AirspeedValidator.hpp
  src/modules/airspeed_selector/airspeed_selector_main.cpp
  src/modules/airspeed_selector/airspeed_selector_params.c
Labels: fixedwing

#20764 Airspeed Selector: use better density source and only save scale parameter if valid
  src/lib/airspeed/airspeed.cpp
  src/lib/airspeed/airspeed.h
  src/modules/airspeed_selector/airspeed_selector_main.cpp
Labels: fixedwing, improvement

#20501 ekf2: EV overhaul yaw and position fusion
  msg/CMakeLists.txt
  msg/EstimatorBias.msg
  msg/EstimatorBias3d.msg
  msg/VehicleOdometry.msg
  src/modules/ekf2/CMakeLists.txt
  src/modules/ekf2/EKF/CMakeLists.txt
  src/modules/ekf2/EKF/bias_estimator.hpp
  src/modules/ekf2/EKF/common.h
  src/modules/ekf2/EKF/control.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF/estimator_interface.cpp
  src/modules/ekf2/EKF/estimator_interface.h
  src/modules/ekf2/EKF/ev_control.cpp
  src/modules/ekf2/EKF/ev_height_control.cpp
  src/modules/ekf2/EKF/ev_pos_control.cpp
  src/modules/ekf2/EKF/ev_vel_control.cpp
  src/modules/ekf2/EKF/ev_yaw_control.cpp
  src/modules/ekf2/EKF/fake_pos_control.cpp
  src/modules/ekf2/EKF/gps_control.cpp
  src/modules/ekf2/EKF/mag_control.cpp
  src/modules/ekf2/EKF/position_bias_estimator.hpp
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
  src/modules/ekf2/ekf2_params.c
  src/modules/ekf2/test/sensor_simulator/ekf_wrapper.cpp
  src/modules/ekf2/test/sensor_simulator/ekf_wrapper.h
  src/modules/ekf2/test/sensor_simulator/vio.cpp
  src/modules/ekf2/test/sensor_simulator/vio.h
  src/modules/ekf2/test/test_EKF_externalVision.cpp
  src/modules/logger/logged_topics.cpp
  src/modules/mavlink/mavlink_main.h
  src/modules/mavlink/mavlink_params.c
  src/modules/mavlink/streams/ODOMETRY.hpp
Labels: enhancement, VIO, ekf2

#20443 Tecs cleanup
  msg/TecsStatus.msg
  src/lib/tecs/TECS.cpp
  src/lib/tecs/TECS.hpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.hpp
  src/modules/fw_pos_control_l1/fw_pos_control_l1_params.c
Labels: bug, fixedwing, cleanup

#20824 mavlink_shell: fix stall on CubeOrange
  src/modules/mavlink/mavlink_shell.cpp
Labels: bug

#20838 remove examples/hwtest
  src/examples/hwtest/CMakeLists.txt
  src/examples/hwtest/Kconfig
  src/examples/hwtest/hwtest.c
Labels: cleanup

#20839 remove drivers/pca9685
  boards/uvify/core/init/rc.board_sensors
  src/drivers/pca9685/CMakeLists.txt
  src/drivers/pca9685/Kconfig
  src/drivers/pca9685/arduino_Adafruit_PWM_Servo_Driver_Library_license.txt
  src/drivers/pca9685/pca9685.cpp
Labels: cleanup

#20842 cmake/kconfig.cmake: fix whitespace
  cmake/kconfig.cmake
Labels: cleanup
