Repository PX4/PX4-Autopilot, pull requests merged in 2022-02, with the labels that each got.

#18949 move vehicle at rest detection ekf2 -> land_detector
  msg/ekf_gps_drift.msg
  msg/estimator_status.msg
  msg/vehicle_land_detected.msg
  src/modules/ekf2/EKF/common.h
  src/modules/ekf2/EKF/ekf.cpp
  src/modules/ekf2/EKF/estimator_interface.cpp
  src/modules/ekf2/EKF/estimator_interface.h
  src/modules/ekf2/EKF/fake_pos_control.cpp
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
  src/modules/ekf2/ekf2_params.c
  src/modules/ekf2/test/change_indication/iris_gps.csv
  src/modules/ekf2/test/sensor_simulator/imu.h
  src/modules/ekf2/test/sensor_simulator/sensor_simulator.cpp
  src/modules/ekf2/test/test_EKF_initialization.cpp
  src/modules/land_detector/LandDetector.cpp
  src/modules/land_detector/LandDetector.h
  src/modules/land_detector/MulticopterLandDetector.cpp
  src/modules/land_detector/MulticopterLandDetector.h
Labels: enhancement

#19114 ekf2: utils add getEulerYaw() that uses the best rotation sequence
  src/modules/ekf2/EKF/EKFGSF_yaw.cpp
  src/modules/ekf2/EKF/airspeed_fusion.cpp
  src/modules/ekf2/EKF/covariance.cpp
  src/modules/ekf2/EKF/ekf.cpp
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF/gps_control.cpp
  src/modules/ekf2/EKF/mag_fusion.cpp
  src/modules/ekf2/EKF/utils.cpp
  src/modules/ekf2/EKF/utils.hpp
Labels: ekf2, cleanup

#19102 Handle orbit status messages for go to waypoints
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
Labels: fixedwing

#19123 Commander: VTOL quadchuate also triggers a RTL in Loiter and VTOL_Takeoff modes, not just in Mission
  src/modules/commander/state_machine_helper.cpp
Labels: vtol

#19120 mavlink: send_mission_current fix seq check
  src/modules/mavlink/mavlink_mission.cpp
  src/modules/mavlink/mavlink_mission.h
Labels: bug

#19147 local_position_estimator: move to INS0 work queue (for significantly more stack)
  src/modules/local_position_estimator/BlockLocalPositionEstimator.cpp
Labels: bug

#19167 Fix unexpected yaw during GOTO when altitude changes
  src/modules/flight_mode_manager/tasks/Auto/FlightTaskAuto.cpp
Labels: enhancement, multicopter, vtol

#19172 HTE: parametrize range of hover thrust estimate
  src/modules/mc_hover_thrust_estimator/MulticopterHoverThrustEstimator.cpp
  src/modules/mc_hover_thrust_estimator/MulticopterHoverThrustEstimator.hpp
  src/modules/mc_hover_thrust_estimator/hover_thrust_estimator_params.c
  src/modules/mc_hover_thrust_estimator/zero_order_hover_thrust_ekf.cpp
  src/modules/mc_hover_thrust_estimator/zero_order_hover_thrust_ekf.hpp
Labels: enhancement

#19159 ekf2: prefer airspeed_validated over raw airspeed if available
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
Labels: enhancement, fixedwing, vtol, ekf2

#19165 RTL FW/VTOL doesn't accept climb for RTL altitude
  src/modules/navigator/rtl.cpp
Labels: fixedwing, vtol

#19200 NPFG: use cross product from PX4 matrix library
  src/lib/npfg/npfg.cpp
  src/lib/npfg/npfg.hpp
Labels: fixedwing

#18834 Enable DO_SET_SPEED commands outside of missions in other AUTO modes
  src/modules/navigator/mission.cpp
  src/modules/navigator/navigator_main.cpp
  src/modules/navigator/rtl.cpp
Labels: enhancement

#19209 gyro_calibration: add additional validity check before finalizing calibrations
  src/modules/gyro_calibration/GyroCalibration.cpp
Labels: bug

#19225 Force ignition to use version 5 (edifice) in sitl run
  Tools/sitl_run.sh
Labels: sitl, gazebo

#19221 ekf2: add new estimator_gps_status.msg
  .ci/Jenkinsfile-hardware
  msg/CMakeLists.txt
  msg/ekf_gps_drift.msg
  msg/estimator_gps_status.msg
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF/estimator_interface.h
  src/modules/ekf2/EKF/gps_checks.cpp
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
  src/modules/logger/logged_topics.cpp
Labels: enhancement, ekf2

#19238 drivers/magnetometer/rm3100 cleanup and simplify
  src/drivers/magnetometer/rm3100/rm3100.cpp
  src/drivers/magnetometer/rm3100/rm3100.h
  src/drivers/magnetometer/rm3100/rm3100_main.cpp
Labels: cleanup, drivers

#19228 Add support for Timer15 on H743 boards
  boards/matek/h743-slim/src/board_config.h
  boards/matek/h743-slim/src/timer_config.cpp
  platforms/nuttx/src/px4/stm/stm32_common/include/px4_arch/hw_description.h
  platforms/nuttx/src/px4/stm/stm32_common/io_pins/io_timer.c
  platforms/nuttx/src/px4/stm/stm32h7/include/px4_arch/hw_description.h
  platforms/nuttx/src/px4/stm/stm32h7/include/px4_arch/io_timer_hw_description.h
Labels: enhancement

#19240 ekf2: preflight checker fix flow y innovation filter
  src/modules/ekf2/Utility/PreFlightChecker.cpp
Labels: bug, ekf2

#19220 commander: monitor GPS validity and EKF2 dead reckoning
  msg/estimator_status_flags.msg
  msg/vehicle_status_flags.msg
  src/lib/events/enums.json
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
  src/modules/commander/state_machine_helper.cpp
  src/modules/ekf2/EKF/airspeed_fusion.cpp
  src/modules/ekf2/EKF/common.h
  src/modules/ekf2/EKF/control.cpp
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF/estimator_interface.h
  src/modules/ekf2/EKF/python/ekf_derivation/generated/beta_fusion_generated_compare.cpp
  src/modules/ekf2/EKF/sideslip_fusion.cpp
  src/modules/ekf2/EKF2.cpp
Labels: enhancement, ekf2
