Repository PX4/PX4-Autopilot, pull requests merged in 2022-04, with the labels that each got.

#19246 second order reference model filter with optional rate feedback
  src/lib/mathlib/CMakeLists.txt
  src/lib/mathlib/math/filter/second_order_reference_model.hpp
  src/lib/mathlib/math/test/second_order_reference_model_test.cpp
Labels: feature

#19449 Preflight checks: allow arming in land mode for MAVSDK compatibility
  src/modules/commander/Arming/PreFlightCheck/checks/modeCheck.cpp
Labels: bug

#19426 px4io: add RC update monotonic count
  boards/cubepilot/cubeorange/extras/cubepilot_io-v2_default.bin
  boards/cubepilot/cubeyellow/extras/cubepilot_io-v2_default.bin
  boards/holybro/durandal-v1/extras/px4_io-v2_default.bin
  boards/holybro/pix32v5/extras/px4_io-v2_default.bin
  boards/mro/x21-777/extras/px4_io-v2_default.bin
  boards/px4/fmu-v2/extras/px4_io-v2_default.bin
  boards/px4/fmu-v3/extras/px4_io-v2_default.bin
  boards/px4/fmu-v4pro/extras/px4_io-v2_default.bin
  boards/px4/fmu-v5/extras/px4_io-v2_default.bin
  boards/px4/fmu-v5x/extras/px4_io-v2_default.bin
  boards/px4/fmu-v6x/extras/px4_io-v2_default.bin
  src/drivers/px4io/px4io.cpp
  src/modules/px4iofirmware/controls.c
Labels: bug

#19466 ekf2: fix IMU missed perf count when not using multi-EKF
  src/modules/ekf2/EKF2.cpp
Labels: bug

#19469 Tools: add drag fusion tuning script
  Tools/ecl_ekf/drag_fusion_tuning/drag_fusion_symbolic.py
  Tools/ecl_ekf/drag_fusion_tuning/drag_replay.py
  Tools/ecl_ekf/drag_fusion_tuning/readme.md
  Tools/ecl_ekf/drag_fusion_tuning/requirements.txt
Labels: multicopter, documentation, ekf2

#19467 ekf2: properly reset IMU biases on calibration change (non-multi-EKF)
  msg/sensor_combined.msg
  src/modules/ekf2/EKF2.cpp
  src/modules/sensors/voted_sensors_update.cpp
Labels: bug

#19476 MulticopterPositionControl: remove unused return value parameters_update()
  src/modules/mc_pos_control/MulticopterPositionControl.cpp
  src/modules/mc_pos_control/MulticopterPositionControl.hpp
Labels: cleanup

#18270 Fix DSM2/DSMX guessing routine and DSM range checking
  src/lib/rc/dsm.cpp
  src/lib/rc/dsm.h
  src/lib/rc/rc_tests/RCTest.cpp
  test_data/orangerx_dsmx_12.txt
Labels: bug, enhancement, Dev Call

#18182 px4io cleanup LED and heater handling
  boards/cubepilot/cubeorange/extras/cubepilot_io-v2_default.bin
  boards/cubepilot/cubeyellow/extras/cubepilot_io-v2_default.bin
  boards/cubepilot/io-v2/src/board_config.h
  boards/cubepilot/io-v2/src/init.c
  boards/holybro/durandal-v1/extras/px4_io-v2_default.bin
  boards/holybro/pix32v5/extras/px4_io-v2_default.bin
  boards/mro/x21-777/extras/px4_io-v2_default.bin
  boards/px4/fmu-v2/extras/px4_io-v2_default.bin
  boards/px4/fmu-v3/extras/px4_io-v2_default.bin
  boards/px4/fmu-v4pro/extras/px4_io-v2_default.bin
  boards/px4/fmu-v5/extras/px4_io-v2_default.bin
  boards/px4/fmu-v5x/extras/px4_io-v2_default.bin
  boards/px4/fmu-v6x/extras/px4_io-v2_default.bin
  boards/px4/io-v2/src/board_config.h
  boards/px4/io-v2/src/init.c
  src/modules/px4iofirmware/px4io.c
  src/modules/px4iofirmware/px4io.h
Labels: bug, cleanup

#19461 drivers/optical_flow: new PixArt PAA3905 optical flow driver
  ROMFS/px4fmu_common/init.d/rc.sensors
  src/drivers/drv_sensor.h
  src/drivers/optical_flow/Kconfig
  src/drivers/optical_flow/paa3905/CMakeLists.txt
  src/drivers/optical_flow/paa3905/Kconfig
  src/drivers/optical_flow/paa3905/PAA3905.cpp
  src/drivers/optical_flow/paa3905/PAA3905.hpp
  src/drivers/optical_flow/paa3905/PixArt_PAA3905_Registers.hpp
  src/drivers/optical_flow/paa3905/paa3905_main.cpp
  src/drivers/optical_flow/paa3905/parameters.c
Labels: enhancement, drivers

#19490 output modules simplify locking for mixer reset and load
  src/drivers/dshot/DShot.cpp
  src/drivers/linux_pwm_out/linux_pwm_out.cpp
  src/drivers/pca9685_pwm_out/PCA9685.cpp
  src/drivers/pca9685_pwm_out/main.cpp
  src/drivers/pwm_out/PWMOut.cpp
  src/drivers/pwm_out_sim/PWMSim.cpp
  src/drivers/px4io/px4io.cpp
  src/drivers/tap_esc/TAP_ESC.cpp
  src/drivers/uavcan/uavcan_main.cpp
  src/lib/mixer_module/mixer_module.cpp
  src/lib/mixer_module/mixer_module.hpp
Labels: bug, enhancement

#19487 mission block: fix incorrectly calculated ccw loiter exit
  src/modules/navigator/mission_block.cpp
Labels: bug, fixedwing

#19507 Automate baro pressure coefficients tuning
  src/modules/ekf2/EKF/python/tuning_tools/baro_static_pressure_compensation/baro_static_pressure_compensation_tuning.py
  src/modules/ekf2/EKF/python/tuning_tools/baro_static_pressure_compensation/requirements.txt
  src/modules/ekf2/EKF/python/tuning_tools/mc_wind_estimator/drag_fusion_symbolic.py
  src/modules/ekf2/EKF/python/tuning_tools/mc_wind_estimator/mc_wind_estimator_tuning.py
  src/modules/ekf2/EKF/python/tuning_tools/mc_wind_estimator/readme.md
  src/modules/ekf2/EKF/python/tuning_tools/mc_wind_estimator/requirements.txt
Labels: ekf2

#19524 px4flow allow delayed background startup
  ROMFS/cannode/init.d/rcS
  ROMFS/px4fmu_common/init.d/rc.sensors
  ROMFS/px4fmu_common/init.d/rcS
  src/drivers/optical_flow/px4flow/px4flow.cpp
Labels: bug

#19520 Mission: don't do anything in set_current_mission_index() when index=current already
  src/modules/navigator/mission.cpp
Labels: bug

#19510 FlightTaskAuto: remove _land_heading and instead directly set _yaw_setpoint (fixes weather vane landings)
  src/modules/flight_mode_manager/tasks/Auto/FlightTaskAuto.cpp
Labels: bug, vtol

#19529 New board: AIRLink board configuration added
  .ci/Jenkinsfile-compile
  .github/workflows/compile_nuttx.yml
  boards/sky-drones/smartap-airlink/default.px4board
  boards/sky-drones/smartap-airlink/extras/px4_io-v2_default.bin
  boards/sky-drones/smartap-airlink/extras/sky-drones_smartap-airlink_bootlader.bin
  boards/sky-drones/smartap-airlink/firmware.prototype
  boards/sky-drones/smartap-airlink/init/rc.board_defaults
  boards/sky-drones/smartap-airlink/init/rc.board_sensors
  boards/sky-drones/smartap-airlink/nuttx-config/Kconfig
  boards/sky-drones/smartap-airlink/nuttx-config/include/board.h
  boards/sky-drones/smartap-airlink/nuttx-config/include/board_dma_map.h
  boards/sky-drones/smartap-airlink/nuttx-config/nsh/defconfig
  boards/sky-drones/smartap-airlink/nuttx-config/scripts/script.ld
  boards/sky-drones/smartap-airlink/src/CMakeLists.txt
  boards/sky-drones/smartap-airlink/src/board_config.h
  boards/sky-drones/smartap-airlink/src/can.c
  boards/sky-drones/smartap-airlink/src/i2c.cpp
  boards/sky-drones/smartap-airlink/src/init.cpp
  boards/sky-drones/smartap-airlink/src/led.c
  boards/sky-drones/smartap-airlink/src/manifest.c
  boards/sky-drones/smartap-airlink/src/mtd.cpp
  boards/sky-drones/smartap-airlink/src/sdio.c
  boards/sky-drones/smartap-airlink/src/spi.cpp
  boards/sky-drones/smartap-airlink/src/timer_config.cpp
  boards/sky-drones/smartap-airlink/src/usb.c
Labels: enhancement

#19308 mavlink: shell expand locking
  src/modules/mavlink/mavlink_main.cpp
  src/modules/mavlink/mavlink_shell.cpp
Labels: bug

#19534 mavlink: delete Mavlink instance if early startup fails
  src/modules/mavlink/mavlink_main.cpp
  src/modules/mavlink/mavlink_main.h
Labels: bug

#18402 New target mamba f405 mk2
  .ci/Jenkinsfile-compile
  .github/workflows/compile_nuttx.yml
  boards/diatone/mamba-f405-mk2/bootloader/mamba_f405_mk2_bootloader.bin
  boards/diatone/mamba-f405-mk2/default.px4board
  boards/diatone/mamba-f405-mk2/firmware.prototype
  boards/diatone/mamba-f405-mk2/init/rc.board_defaults
  boards/diatone/mamba-f405-mk2/init/rc.board_extras
  boards/diatone/mamba-f405-mk2/init/rc.board_sensors
  boards/diatone/mamba-f405-mk2/nuttx-config/include/board.h
  boards/diatone/mamba-f405-mk2/nuttx-config/include/board_dma_map.h
  boards/diatone/mamba-f405-mk2/nuttx-config/nsh/defconfig
  boards/diatone/mamba-f405-mk2/nuttx-config/scripts/script.ld
  boards/diatone/mamba-f405-mk2/src/CMakeLists.txt
  boards/diatone/mamba-f405-mk2/src/board_config.h
  boards/diatone/mamba-f405-mk2/src/i2c.cpp
  boards/diatone/mamba-f405-mk2/src/init.c
  boards/diatone/mamba-f405-mk2/src/led.c
  boards/diatone/mamba-f405-mk2/src/spi.cpp
  boards/diatone/mamba-f405-mk2/src/timer_config.cpp
  boards/diatone/mamba-f405-mk2/src/usb.c
Labels: enhancement

#19495 Separate takeoff and landing to individual fixed wing states for FW pos control
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.hpp
Labels: fixedwing

#19539 drivers/rc_input: RC_INPUT_PROTO parameter minimal implementation
  src/drivers/rc_input/RCInput.cpp
  src/drivers/rc_input/RCInput.hpp
  src/drivers/rc_input/module.yaml
Labels: bug

#19553 fix dshot: remove setAllFailsafeValues
  src/drivers/dshot/DShot.cpp
Labels: priority-critical
