Repository PX4/PX4-Autopilot, pull requests merged in 2022-11, with the labels that each got.

#20502 FW separate reset integrals for attitude and rate setpoint messages
  msg/VehicleAttitudeSetpoint.msg
  msg/VehicleRatesSetpoint.msg
  src/modules/fw_att_control/FixedwingAttitudeControl.cpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
  src/modules/mc_pos_control/PositionControl/PositionControlTest.cpp
Labels: fixedwing

#20515 ekf2: push fuse beta config into backend
  src/modules/ekf2/EKF/common.h
  src/modules/ekf2/EKF/control.cpp
  src/modules/ekf2/EKF/estimator_interface.h
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
Labels: ekf2

#20511 Enable motor controls for tailsitter VTOLs in fixed wing mode (enable Quad Tailsitters)
  ROMFS/px4fmu_common/init.d-posix/airframes/10042_xvert
  ROMFS/px4fmu_common/init.d-posix/airframes/1041_tailsitter
  ROMFS/px4fmu_common/init.d/airframes/1102_tailsitter_duo_sih.hil
  src/lib/parameters/param_translation.cpp
  src/modules/vtol_att_control/tailsitter.cpp
  src/modules/vtol_att_control/tiltrotor.cpp
  src/modules/vtol_att_control/vtol_att_control_params.c
  src/modules/vtol_att_control/vtol_type.h
Labels: vtol

#20543 vehicle_magnetometer: fix standalone mag bias est factored into in flight mag cal
  src/modules/sensors/vehicle_magnetometer/VehicleMagnetometer.cpp
Labels: bug

#20525 ekf2: ensure minimum output buffer sizing
  src/modules/ekf2/EKF/estimator_interface.cpp
Labels: bug, ekf2

#20581 Fix invalid setpoint in most takeoffs
  src/modules/mc_pos_control/MulticopterPositionControl.cpp
Labels: multicopter

#19686 More specific Airframe type support for better Airframe Reference
  Tools/px4airframes/markdownout.py
  Tools/px4airframes/rcout.py
  Tools/px4airframes/srcparser.py
  Tools/px4airframes/xmlout.py
  Tools/px_process_airframes.py
Labels: cleanup

#20586 commander: fix hold after mission logic
  src/modules/commander/Commander.cpp
Labels: bug

#20568 [1.13] VTOL takeoff problem hotfix
  src/modules/navigator/mission_block.cpp
Labels: bug, release port

#20595 ekf2: cleanup terrain estimator init (shouldn't be valid by default)
  src/modules/ekf2/EKF/ekf.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/terrain_estimator.cpp
  src/modules/ekf2/test/change_indication/ekf_gsf_reset.csv
  src/modules/ekf2/test/change_indication/iris_gps.csv
Labels: bug, ekf2

#20576 ekf2: update flags (in_air, at_rest, etc) on delayed time horizon
  src/modules/ekf2/EKF/common.h
  src/modules/ekf2/EKF/control.cpp
  src/modules/ekf2/EKF/estimator_interface.cpp
  src/modules/ekf2/EKF/estimator_interface.h
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
Labels: enhancement, ekf2

#20611 ekf2: do not fuse ZVU if other velocity source is active
  src/modules/ekf2/EKF/zero_velocity_update.cpp
Labels: ekf2

#20613 [RELEASE/1.13] EKF2: ZVU improvements
  src/modules/ekf2/EKF/estimator_interface.cpp
  src/modules/ekf2/EKF/estimator_interface.h
  src/modules/ekf2/EKF/zero_velocity_update.cpp
Labels: enhancement

#20513 ekf2: accumulate multiple vel/pos/orientation reset deltas per update
  src/modules/ekf2/EKF/control.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF2.cpp
Labels: bug, ekf2

#20612 commander_params: remove deprecated COM_RCL_ACT_T
  src/modules/commander/commander_params.c
Labels: cleanup

#20614 LandDetectorMC: enforce that LNDMC_Z_VEL_MAX is larger than MPC_LAND_CRWL/MPC_LAND_SPEED
  src/modules/land_detector/MulticopterLandDetector.cpp
  src/modules/land_detector/MulticopterLandDetector.h
  src/modules/land_detector/land_detector_params_mc.c
Labels: enhancement

#20628 Pr fw pos c fix load factor airspeed main
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
Labels: fixedwing

#20638 FW Attidue Controller: use FW_AIRSPD_MIN for DTRIM instead of STALL
  src/modules/fw_att_control/FixedwingAttitudeControl.cpp
  src/modules/fw_att_control/FixedwingAttitudeControl.hpp
Labels: bug, fixedwing

#20647 fixed-wing attitude control: add option to disable manual yaw
  src/modules/fw_att_control/FixedwingAttitudeControl.cpp
  src/modules/fw_att_control/FixedwingAttitudeControl.hpp
  src/modules/fw_att_control/fw_att_control_params.c
Labels: fixedwing

#20512 Log local position setpoint reference for fixedwings when running NPFG
  src/lib/npfg/npfg.cpp
  src/lib/npfg/npfg.hpp
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
Labels: fixedwing

#20605 Avoid invalid setpoint message when switching to altitude controlled mode
  src/modules/mc_pos_control/MulticopterPositionControl.cpp
  src/modules/mc_pos_control/MulticopterPositionControl.hpp
Labels: bug, multicopter

#20680 FW Attitude Control: fix integral resetting
  src/modules/fw_att_control/FixedwingAttitudeControl.cpp
Labels: fixedwing

#20679 ekf2: don't add invalid GNSS samples to the buffer
  src/modules/ekf2/EKF/estimator_interface.cpp
  src/modules/ekf2/EKF/estimator_interface.h
Labels: bug

#20669 Fix invalid offboard setpoints for fw pos control
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
Labels: bug, fixedwing, offboard

#20686 ekf2: do not use gnss data when no fix
  src/modules/ekf2/EKF/estimator_interface.cpp
Labels: ekf2
