Repository PX4/PX4-Autopilot, pull requests merged in 2022-03, with the labels that each got.

#19258 mission_block: handle SET_ROI_LOCATION with absolute altitude correctly
  src/modules/navigator/mission_block.cpp
Labels: bug

#19290 Quaternion: rename function to rotate vectors
  src/lib/matrix/matrix/Quaternion.hpp
  src/lib/matrix/test/attitude.cpp
  src/lib/matrix/test/dual.cpp
  src/modules/attitude_estimator_q/attitude_estimator_q_main.cpp
  src/modules/commander/accelerometer_calibration.cpp
  src/modules/uuv_pos_control/uuv_pos_control.cpp
  src/systemcmds/tests/test_mathlib.cpp
Labels: cleanup

#19298 commander: allow rearming grace period for arming switch only
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
  src/modules/commander/commander_params.c
Labels: enhancement

#19304 adis16470: fix gyro scaling
  src/drivers/imu/analog_devices/adis16470/ADIS16470.cpp
Labels: bug

#19243 FlightTaskAuto: Nudging: only set yawrate_sp if WV is disabled or stick is out of dead zone
  src/modules/flight_mode_manager/tasks/Auto/FlightTaskAuto.cpp
Labels: vtol

#19318 Bug Fix: IMU_INTEG_RATE can greater than IMU_GYRO_RATEMAX
  src/modules/sensors/vehicle_imu/VehicleIMU.cpp
Labels: bug

#19149 ekf2: add simple zero velocity update when vehicle at rest
  src/modules/ekf2/CMakeLists.txt
  src/modules/ekf2/EKF/CMakeLists.txt
  src/modules/ekf2/EKF/control.cpp
  src/modules/ekf2/EKF/ekf.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF/estimator_interface.h
  src/modules/ekf2/EKF/zero_velocity_update.cpp
  src/modules/ekf2/test/change_indication/ekf_gsf_reset.csv
  src/modules/ekf2/test/change_indication/iris_gps.csv
  src/modules/ekf2/test/sensor_simulator/sensor_simulator.cpp
  src/modules/ekf2/test/test_EKF_airspeed.cpp
  src/modules/ekf2/test/test_EKF_basics.cpp
  src/modules/ekf2/test/test_EKF_externalVision.cpp
  src/modules/ekf2/test/test_EKF_flow.cpp
  src/modules/ekf2/test/test_EKF_fusionLogic.cpp
  src/modules/ekf2/test/test_EKF_gps.cpp
  src/modules/ekf2/test/test_EKF_gps_yaw.cpp
  src/modules/ekf2/test/test_EKF_initialization.cpp
  src/modules/ekf2/test/test_EKF_terrain_estimator.cpp
  src/modules/ekf2/test/test_EKF_yaw_estimator.cpp
Labels: enhancement, ekf2

#19291 PreFlightCheck: only allow modes suitable for takeoff
  src/modules/commander/Arming/PreFlightCheck/CMakeLists.txt
  src/modules/commander/Arming/PreFlightCheck/PreFlightCheck.cpp
  src/modules/commander/Arming/PreFlightCheck/PreFlightCheck.hpp
  src/modules/commander/Arming/PreFlightCheck/checks/modeCheck.cpp
Labels: enhancement

#19315 ekf2: return saved mag bias variance when not in 3d magnetometer fusion
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ekf_helper.cpp
Labels: bug, ekf2

#17795 Add geofence predict param
  src/modules/navigator/geofence.h
  src/modules/navigator/geofence_params.c
  src/modules/navigator/navigator_main.cpp
Labels: safety

#19354 MatrixHelperTest: correct wrap compare values
  src/lib/matrix/test/MatrixHelperTest.cpp
Labels: bug

#19336 sensors: add 2nd static notch and migrate existing parameters
  posix-configs/SITL/init/test/test_imu_filtering
  src/lib/parameters/param_translation.cpp
  src/modules/sensors/vehicle_angular_velocity/VehicleAngularVelocity.cpp
  src/modules/sensors/vehicle_angular_velocity/VehicleAngularVelocity.hpp
  src/modules/sensors/vehicle_angular_velocity/imu_gyro_parameters.c
Labels: enhancement

#19378 vehicle_status_flags: remove condition_ prefix
  msg/vehicle_status_flags.msg
  src/modules/commander/Arming/PreFlightCheck/PreFlightCheck.cpp
  src/modules/commander/Arming/PreFlightCheck/checks/preArmCheck.cpp
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
  src/modules/commander/commander_tests/state_machine_helper_test.cpp
  src/modules/commander/state_machine_helper.cpp
  src/modules/events/set_leds.cpp
  src/modules/gyro_calibration/GyroCalibration.cpp
  src/modules/mag_bias_estimator/MagBiasEstimator.cpp
  src/modules/mavlink/streams/HEARTBEAT.hpp
  src/modules/mavlink/streams/HIGH_LATENCY2.hpp
Labels: cleanup

#19351 Quadchute param update
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
  src/modules/commander/commander_params.c
  src/modules/commander/state_machine_helper.cpp
  src/modules/commander/state_machine_helper.h
Labels: enhancement, vtol

#19389 Initialize global local projection for rovers
  src/modules/rover_pos_control/RoverPositionControl.cpp
Labels: rover

#19422 Add precision land option for mode switch
  src/modules/commander/commander_params.c
Labels: proposal
