Repository PX4/PX4-Autopilot, pull requests merged in 2023-04, with the labels that each got.

#21411 gazebo airframes: cleanup and fix missing parameters
  ROMFS/px4fmu_common/init.d-posix/airframes/4002_gz_x500_depth
  ROMFS/px4fmu_common/init.d-posix/airframes/4003_gz_rc_cessna
  ROMFS/px4fmu_common/init.d-posix/airframes/4004_gz_standard_vtol
  ROMFS/px4fmu_common/init.d-posix/airframes/4005_gz_x500_vision
  Tools/simulation/gz/models/x500_depth/model.sdf
Labels: gazebo

#21412 Holibro qav250 airframe: fix PWM_MAIN_TIM0 value
  ROMFS/px4fmu_common/init.d/airframes/4052_holybro_qav250
Labels: bugfix 🐞

#21403 fix failsafe: correctly handle Hold RC loss action
  src/modules/commander/failsafe/framework.cpp
Labels: enhancement (improvement) 💡, bugfix 🐞

#21417 drivers/gps: increase stack
  src/drivers/gps/gps.cpp
Labels: Drivers 🔧

#21415 minor fix regarding console output
  src/drivers/uavcan/uavcan_main.cpp
Labels: uavcan, bugfix 🐞

#21422 ekf2: remove duplicate buffer push of system flags
  src/modules/ekf2/EKF/estimator_interface.cpp
Labels: EKF2, bugfix 🐞

#21390 Navigator: fix logic around when to switch to mission landing for RTL
  src/modules/navigator/mission.cpp
  src/modules/navigator/mission.h
  src/modules/navigator/navigator.h
  src/modules/navigator/navigator_main.cpp
  src/modules/navigator/rtl.cpp
Labels: bug

#21345 FWPositionControl: trim throttle prediction improvements
  src/lib/tecs/TECS.cpp
  src/lib/tecs/TECS.hpp
  src/modules/fw_path_navigation/FixedwingPositionControl.cpp
  src/modules/fw_path_navigation/FixedwingPositionControl.hpp
  src/modules/fw_path_navigation/fw_path_navigation_params.c
Labels: enhancement (improvement) 💡, Fixed Wing 🛩️

#21391 TECS: if height_rate_setpoint is set, only use that one to update altitude reference
  msg/TecsStatus.msg
  src/lib/tecs/TECS.cpp
  src/lib/tecs/TECS.hpp
  src/modules/fw_path_navigation/FixedwingPositionControl.cpp
Labels: Fixed Wing 🛩️

#21444 tecs: fix throttle prediction
  src/lib/tecs/TECS.cpp
Labels: bug

#21418 ekf2: robustify wind init using airspeed
  src/modules/ekf2/EKF/airspeed_fusion.cpp
  src/modules/ekf2/test/sensor_simulator/ekf_wrapper.cpp
  src/modules/ekf2/test/sensor_simulator/ekf_wrapper.h
  src/modules/ekf2/test/test_EKF_airspeed.cpp
Labels: Fixed Wing 🛩️, EKF2

#21460 gimbal: output RC fix actuator_controls_2 -> gimbal_controls regression
  src/modules/gimbal/output_rc.cpp
Labels: bug

#21409 Port px4vision airframe to gz environment
  ROMFS/px4fmu_common/init.d-posix/airframes/4006_gz_px4vision
  ROMFS/px4fmu_common/init.d-posix/airframes/CMakeLists.txt
  Tools/simulation/gz/models/px4vision/model.config
  Tools/simulation/gz/models/px4vision/model.sdf
Labels: Simulation, gazebo

#21348 gz_bridge: fix missing orientation and frames in odometryCallback
  src/modules/simulation/gz_bridge/GZBridge.cpp
  src/modules/simulation/gz_bridge/GZBridge.hpp
Labels: gazebo

#21216 px4/fmu-v6x: increase BL baudrate for flashing via uart to 1500000
  boards/px4/fmu-v6x/src/hw_config.h
Labels: Boards (flight controller) 🍫

#21469 FWPositionControl: trim throttle calc: guard against min/max=trim airspeed
  src/modules/fw_pos_control/FixedwingPositionControl.cpp
Labels: Fixed Wing 🛩️

#21458 Add descend task to failsafe fallback to avoid "Failsafe task activated"
  src/modules/flight_mode_manager/FlightModeManager.cpp
  src/modules/flight_mode_manager/FlightModeManager.hpp
Labels: bug, Multirotor 🛸

#21425 Pull request template: add changelog entry
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Documentation 📑

#21484 navigator_main: orbit in FW: get_cruising_speed()
  src/modules/navigator/navigator_main.cpp
Labels: Fixed Wing 🛩️

#21493 drivers/gps: increase stack to handle gps dump config for RTCM output (PPK)
  src/drivers/gps/gps.cpp
Labels: Drivers 🔧

#21426 VOXL2 board support updates
  boards/modalai/voxl2-slpi/default.px4board
  boards/modalai/voxl2-slpi/src/board_config.h
  boards/modalai/voxl2-slpi/src/drivers/mavlink_rc_in/mavlink_rc_in.cpp
  boards/modalai/voxl2-slpi/src/i2c.cpp
  boards/modalai/voxl2/default.px4board
  boards/modalai/voxl2/scripts/install-voxl.sh
  boards/modalai/voxl2/src/board_config.h
  boards/modalai/voxl2/target/voxl-px4
  boards/modalai/voxl2/target/voxl-px4-fake-imu-calibration.config
  boards/modalai/voxl2/target/voxl-px4-set-default-parameters.config
  boards/modalai/voxl2/target/voxl-px4-start
  boards/modalai/voxl2/target/voxl-px4.config
  platforms/qurt/src/px4/tasks.cpp
  platforms/qurt/unresolved_symbols.c
  src/drivers/actuators/modal_io/modal_io.cpp
  src/modules/commander/worker_thread.cpp
  src/modules/muorb/apps/muorb_main.cpp
Labels: Boards (flight controller) 🍫

#21427 Snapdragon spektrum rc refactor
  boards/modalai/voxl2-slpi/src/CMakeLists.txt
  boards/modalai/voxl2-slpi/src/drivers/spektrum_rc/CMakeLists.txt
  boards/modalai/voxl2-slpi/src/drivers/spektrum_rc/drv_rc_input.h
  boards/modalai/voxl2-slpi/src/drivers/spektrum_rc/spektrum_rc.cpp
  src/drivers/spektrum_rc/Kconfig
Labels: cleanup (housekeeping) 🧹, Drivers 🔧

#21332 Fix typos
  Tools/mavlink_px4.py
  msg/VehicleCommand.msg
Labels: cleanup (housekeeping) 🧹

#21492 mission: only run update_mission() if mission is updated, not when reset due to landing
  src/modules/navigator/mission.cpp
Labels: bug

#21472 Added crosshairs to MSP OSD driver
  src/drivers/osd/msp_osd/module.yaml
  src/drivers/osd/msp_osd/msp_osd.cpp
  src/drivers/osd/msp_osd/msp_osd.hpp
Labels: improvement

#21509 vtol_type: scale VT_TRANS_TIMEOUT with air density
  src/modules/vtol_att_control/vtol_type.cpp
  src/modules/vtol_att_control/vtol_type.h
Labels: Hybrid VTOL 🛩️🚁

#21414 Speed reset when switching flight modes
  src/modules/navigator/land.cpp
  src/modules/navigator/loiter.cpp
  src/modules/navigator/mission.cpp
  src/modules/navigator/rtl.cpp
  src/modules/navigator/takeoff.cpp
Labels: enhancement (improvement) 💡, Flight Control (general) 🦅
