Repository PX4/PX4-Autopilot, pull requests merged in 2023-07, with the labels that each got.

#21758 rc.board_arch_defaults: add the silent flag for EKF2_MULTI_IMU
  platforms/nuttx/init/kinetis/rc.board_arch_defaults
  platforms/nuttx/init/stm32/rc.board_arch_defaults
  platforms/nuttx/init/stm32f7/rc.board_arch_defaults
  platforms/nuttx/init/stm32h7/rc.board_arch_defaults
Labels: enhancement (improvement) 💡

#21791 EKF2: vision attitude error filter
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ev_control.cpp
  src/modules/ekf2/EKF/ev_height_control.cpp
  src/modules/ekf2/EKF/ev_pos_control.cpp
  src/modules/ekf2/EKF/ev_vel_control.cpp
Labels: enhancement (improvement) 💡, EKF2

#21775 Navigator: Loiter: always establish new Loiter with center at current position
  src/modules/navigator/loiter.cpp
Labels: bug, Fixed Wing 🛩️

#21689 (Mission) FeasibilityChecker: remove duplicate line
  src/modules/navigator/MissionFeasibility/FeasibilityChecker.cpp
Labels: cleanup (housekeeping) 🧹

#21718 ROMFS: auto try RGBLED is31fl3195
  ROMFS/px4fmu_common/init.d/rcS
Labels: v1.14

#21806 geofence: fix altitude change fence check
  src/modules/navigator/navigator_main.cpp
Labels: bugfix 🐞

#21801 [1.14] rc_update: fix on-off-switch with negative threshold values
  src/modules/rc_update/rc_update.cpp
  src/modules/rc_update/rc_update.h
Labels: release backport 🔙

#21722 Release 1.14 Backport. Fix Rover Thrust Normalization
  src/modules/rover_pos_control/RoverPositionControl.cpp
Labels: release backport 🔙

#21831 Other CI: Use Debian 11 for linux targets and have the required cmake version
  .ci/Jenkinsfile-compile
  Tools/docker_run.sh
Labels: CI 🤖, Build System 🏗️

#21834 [backport] icp201: increase startup delay (FMUv6X)
  src/drivers/barometer/invensense/icp201xx/ICP201XX.cpp
Labels: release backport 🔙

#21124 Rework NXP UWB driver
  boards/nxp/fmuk66-e/default.px4board
  boards/nxp/fmurt1062-v1/default.px4board
  boards/nxp/ucans32k146/default.px4board
  msg/CMakeLists.txt
  msg/SensorUwb.msg
  msg/UwbDistance.msg
  msg/UwbGrid.msg
  src/drivers/uwb/uwb_sr150/module.yaml
  src/drivers/uwb/uwb_sr150/uwb_sr150.cpp
  src/drivers/uwb/uwb_sr150/uwb_sr150.h
  src/modules/landing_target_estimator/LandingTargetEstimator.cpp
  src/modules/landing_target_estimator/LandingTargetEstimator.h
Labels: enhancement (improvement) 💡, Drivers 🔧

#21701 STM32H7 Can Filter & Can bus-off State Handling
  src/drivers/uavcan/uavcan_drivers/stm32h7/driver/include/uavcan_stm32h7/can.hpp
  src/drivers/uavcan/uavcan_drivers/stm32h7/driver/src/uc_stm32h7_can.cpp
Labels: uavcan

#19835 rc.interface: also save empty ESC mask (none)
  ROMFS/px4fmu_common/init.d/rc.interface
Labels: enhancement (improvement) 💡

#21841 [1.14] airframes/x500_v2: move motors from AUX to MAIN
  ROMFS/px4fmu_common/init.d/airframes/4019_x500_v2
Labels: v1.14

#21867 CI: deploy_all: add git ownership workaround
  .github/workflows/deploy_all.yml
Labels: CI 🤖

#21871 [RELEASE/1.13] Stop GNSS fusion when fix is loss
  src/modules/ekf2/EKF/estimator_interface.cpp
  src/modules/ekf2/test/test_EKF_gps.cpp
Labels: release backport 🔙

#21728 Fix gz_bridge gets wrong world name when GZ_VERBOSE=1
  ROMFS/px4fmu_common/init.d-posix/px4-rc.simulator
Labels: Simulation

#21872 ekf2: add more unit tests for GNSS stopping control logic
  src/modules/ekf2/test/test_EKF_gps.cpp
Labels: EKF2

#21875 Geofence: Disable pre-emptive geofence predictor by default
  src/modules/navigator/geofence_params.c
Labels: Geofence

#21795 ekf2: apply yaw reset to vision attitude error filter
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF/ev_control.cpp
Labels: EKF2

#21797 ekf2: simplify fuseYaw() signature and use consistently
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ev_yaw_control.cpp
  src/modules/ekf2/EKF/mag_control.cpp
  src/modules/ekf2/EKF/mag_fusion.cpp
  src/modules/ekf2/EKF/zero_innovation_heading_update.cpp
Labels: EKF2, cleanup (housekeeping) 🧹

#21303 ekf2: allow yaw estimator to perform yaw alignment
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF/gps_control.cpp
  src/modules/ekf2/test/test_EKF_yaw_estimator.cpp
Labels: enhancement (improvement) 💡, EKF2

#21757 [uxrce-dds-client]: add parameter to disable time synchronization between Agent and Client.
  src/modules/uxrce_dds_client/module.yaml
  src/modules/uxrce_dds_client/uxrce_dds_client.cpp
  src/modules/uxrce_dds_client/uxrce_dds_client.h
Labels: 🤖 ROS 2

#21818 add a gz-omnicopter model
  ROMFS/px4fmu_common/init.d-posix/airframes/8011_gz_omnicopter
  ROMFS/px4fmu_common/init.d-posix/airframes/CMakeLists.txt
  Tools/simulation/gz/models/omnicopter/model.config
  Tools/simulation/gz/models/omnicopter/model.sdf
Labels: gazebo

#21706 fmu-v5: move some test commands to test config
  boards/px4/fmu-v5/default.px4board
  boards/px4/fmu-v5/test.px4board
Labels: enhancement (improvement) 💡, Flash Overflow

#21876 Commander: add warning for imminent navigation failure
  src/modules/commander/HealthAndArmingChecks/checks/estimatorCheck.cpp
  src/modules/commander/HealthAndArmingChecks/checks/estimatorCheck.hpp
Labels: feature

#21901 ekf2: change delta angle and delta velocity bias states to accel and gyro bias
  src/modules/ekf2/EKF/EKFGSF_yaw.h
  src/modules/ekf2/EKF/common.h
  src/modules/ekf2/EKF/covariance.cpp
  src/modules/ekf2/EKF/drag_fusion.cpp
  src/modules/ekf2/EKF/ekf.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF/estimator_interface.h
  src/modules/ekf2/EKF/gps_yaw_fusion.cpp
  src/modules/ekf2/EKF/mag_fusion.cpp
  src/modules/ekf2/EKF/optflow_fusion.cpp
  src/modules/ekf2/EKF/output_predictor.cpp
  src/modules/ekf2/EKF/output_predictor.h
  src/modules/ekf2/EKF/python/ekf_derivation/derivation.py
  src/modules/ekf2/EKF/python/ekf_derivation/generated/predict_covariance.h
  src/modules/ekf2/EKF/utils.hpp
  src/modules/ekf2/EKF/zero_gyro_update.cpp
  src/modules/ekf2/test/CMakeLists.txt
  src/modules/ekf2/test/change_indication/ekf_gsf_reset.csv
  src/modules/ekf2/test/change_indication/iris_gps.csv
  src/modules/ekf2/test/sensor_simulator/ekf_wrapper.cpp
  src/modules/ekf2/test/sensor_simulator/ekf_wrapper.h
  src/modules/ekf2/test/test_EKF_airspeed_fusion_generated.cpp
  src/modules/ekf2/test/test_EKF_covariance_prediction_generated.cpp
  src/modules/ekf2/test/test_EKF_initialization.cpp
  src/modules/ekf2/test/test_EKF_utils.cpp
  src/modules/ekf2/test/test_EKF_yaw_estimator_generated.cpp
Labels: enhancement (improvement) 💡, EKF2

#21129 commander: collapse ArmStateMachine and simplify
  msg/VehicleStatus.msg
  src/modules/commander/Arming/ArmStateMachine/ArmStateMachine.cpp
  src/modules/commander/Arming/ArmStateMachine/ArmStateMachine.hpp
  src/modules/commander/Arming/ArmStateMachine/ArmStateMachineTest.cpp
  src/modules/commander/Arming/ArmStateMachine/CMakeLists.txt
  src/modules/commander/Arming/CMakeLists.txt
  src/modules/commander/CMakeLists.txt
  src/modules/commander/Commander.cpp
  src/modules/commander/Commander.hpp
  src/modules/mavlink/streams/HEARTBEAT.hpp
Labels: cleanup (housekeeping) 🧹
