Repository PX4/PX4-Autopilot, pull requests merged in 2023-05, with the labels that each got.

#21534 update all px4board kconfig
  boards/cubepilot/cubeorange/test.px4board
  boards/cubepilot/cubeorangeplus/test.px4board
  boards/modalai/voxl2-slpi/default.px4board
  boards/modalai/voxl2/default.px4board
Labels: cleanup (housekeeping) 🧹

#21526 bmi088: Do not use invalid values
  src/drivers/imu/bosch/bmi088/BMI088_Gyroscope.cpp
  src/drivers/imu/bosch/bmi088_i2c/BMI088_Gyroscope.cpp
Labels: Drivers 🔧

#21529 gimbal: implement gimbal_device_id
  src/modules/gimbal/common.h
  src/modules/gimbal/gimbal.cpp
  src/modules/gimbal/input_mavlink.cpp
  src/modules/gimbal/input_mavlink.h
  src/modules/gimbal/output.h
  src/modules/gimbal/output_mavlink.cpp
  src/modules/gimbal/output_mavlink.h
  src/modules/gimbal/output_rc.cpp
  src/modules/gimbal/output_rc.h
  src/modules/mavlink/streams/GIMBAL_MANAGER_INFORMATION.hpp
Labels: Gimbal 🎥

#20594 Support custom per-channel parameters in actuator driver
  Tools/module_config/generate_actuators_metadata.py
  validation/module_schema.yaml
Labels: Drivers 🔧

#21512 Fix MC thrust spike
  src/modules/mc_pos_control/MulticopterPositionControl.cpp
  src/modules/mc_pos_control/PositionControl/PositionControl.cpp
  src/modules/mc_pos_control/PositionControl/PositionControl.hpp
Labels: Multirotor 🛸, bugfix 🐞

#21562 AirspeedValidator: disable innovation checks if lpos invalid
  src/modules/airspeed_selector/AirspeedValidator.cpp
  src/modules/airspeed_selector/AirspeedValidator.hpp
Labels: bug

#21584 Fix high yaw rate before front-transition
  src/modules/flight_mode_manager/tasks/Auto/FlightTaskAuto.cpp
Labels: Hybrid VTOL 🛩️🚁, bugfix 🐞

#21590 TECS: init _velocity_control_traj_generator properly
  src/lib/tecs/TECS.cpp
Labels: bug, Fixed Wing 🛩️

#21580 FW Position Controller: increase default of FW_T_SPD_DEV_STD to 0.2
  src/modules/fw_pos_control/fw_path_navigation_params.c
Labels: Fixed Wing 🛩️

#21582 Tailsitter: make pitch angle thresholds for transition in Stabilized depending on max manual pitch
  src/modules/vtol_att_control/tailsitter.cpp
  src/modules/vtol_att_control/tailsitter.h
Labels: Hybrid VTOL 🛩️🚁

#21603 [mavlink_messages] Missmatch between header macros and class used
  src/modules/mavlink/mavlink_messages.cpp
Labels: Communication (MAVLink) 📡

#21630 Create stale bot (Github actions)
  .github/workflows/stale.yml
Labels: cleanup (housekeeping) 🧹

#21566 FW Rate Controller: allow to enable/disable yaw axis in Acro
  src/lib/rate_control/rate_control.cpp
  src/lib/rate_control/rate_control.hpp
  src/modules/fw_rate_control/FixedwingRateControl.cpp
  src/modules/fw_rate_control/FixedwingRateControl.hpp
  src/modules/fw_rate_control/fw_rate_control_params.c
  src/modules/mc_rate_control/MulticopterRateControl.cpp
Labels: Fixed Wing 🛩️

#21635 FW Position Controller: navigateWaypoint(): fix corner case of vehicle not turning back to waypoint
  src/modules/fw_pos_control/FixedwingPositionControl.cpp
Labels: bug, Fixed Wing 🛩️

#21276 ekf2: fuse mag update last heading fuse time if updating all states
  src/modules/ekf2/EKF/mag_fusion.cpp
Labels: EKF2

#21563 ArmingStatus set to Armed based on actuator_armed.armed
  src/drivers/uavcan/arming_status.cpp
  src/drivers/uavcannode/Subscribers/ArmingStatus.hpp
Labels: uavcan

#21598 Refactor uncommanded descend Quad-Chute
  src/modules/vtol_att_control/vtol_att_control_params.c
  src/modules/vtol_att_control/vtol_type.cpp
  src/modules/vtol_att_control/vtol_type.h
Labels: Hybrid VTOL 🛩️🚁
