Repository PX4/PX4-Autopilot, pull requests merged in 2023-01, with the labels that each got.

#20855 SIH: start GPS driver (fmu-v5)
  ROMFS/px4fmu_common/init.d/rcS
  boards/ark/fmu-v6x/default.px4board
  boards/px4/fmu-v5/debug.px4board
  boards/px4/fmu-v5/default.px4board
  boards/px4/fmu-v5/protected.px4board
  boards/px4/fmu-v5/stackcheck.px4board
  boards/px4/fmu-v5/test.px4board
  boards/px4/fmu-v5/uavcanv0periph.px4board
  boards/px4/fmu-v6x/default.px4board
  src/modules/simulation/gz_bridge/Kconfig
  src/modules/simulation/simulator_mavlink/Kconfig
  src/modules/simulation/simulator_sih/Kconfig
Labels: bug

#20866 px4-rc.simulator shellcheck fixes
  ROMFS/px4fmu_common/init.d-posix/px4-rc.simulator
Labels: bug

#20873 sensors: fix overlapping ifdef
  src/modules/sensors/sensors.cpp
Labels: bug

#20877 ekf2: purge old ekf2 derivation
  src/modules/ekf2/EKF/python/ekf_derivation/__init__.py
  src/modules/ekf2/EKF/python/ekf_derivation/code_gen.py
  src/modules/ekf2/EKF/python/ekf_derivation/generated/acc_bf_fusion_generated_compare.cpp
  src/modules/ekf2/EKF/python/ekf_derivation/generated/acc_bf_generated.cpp
  src/modules/ekf2/EKF/python/ekf_derivation/generated/acc_bf_generated_alt.cpp
  src/modules/ekf2/EKF/python/ekf_derivation/generated/util.h
  src/modules/ekf2/EKF/python/ekf_derivation/generated/vel_bf_generated.cpp
  src/modules/ekf2/EKF/python/ekf_derivation/generated/vel_bf_generated_alt.cpp
  src/modules/ekf2/EKF/python/ekf_derivation/main.py
Labels: ekf2, cleanup

#20630 drivers/imu/analog_devices: new ADIS16507 IMU support
  boards/px4/fmu-v5x/default.px4board
  src/drivers/drv_sensor.h
  src/drivers/imu/analog_devices/adis16507/ADIS16507.cpp
  src/drivers/imu/analog_devices/adis16507/ADIS16507.hpp
  src/drivers/imu/analog_devices/adis16507/Analog_Devices_ADIS16507_registers.hpp
  src/drivers/imu/analog_devices/adis16507/CMakeLists.txt
  src/drivers/imu/analog_devices/adis16507/Kconfig
  src/drivers/imu/analog_devices/adis16507/adis16507_main.cpp
Labels: enhancement, drivers

#20884 Kconfig: fix missing SERIAL_EXT2 (fmu-v5x/v6x)
  Kconfig
  boards/px4/fmu-v5x/default.px4board
Labels: bug

#20865 fix replay msg ids larger than 128
  src/modules/replay/Replay.cpp
Labels: bug

#20906 ekf2: fix global_pos alt_reset_counter publish
  src/modules/ekf2/EKF2.cpp
Labels: bug, ekf2

#20905 StickAccelerationXY: apply jerk limit after drag
  src/modules/flight_mode_manager/tasks/Utility/StickAccelerationXY.cpp
Labels: multicopter

#20919 hide legacy read-only parameter under Developer category
  src/modules/sensors/sensor_params_mag.c
Labels: cleanup

#20904 FW Att and Rate Controller, Tailsitter: fix tailsitter frame transformations
  src/modules/fw_att_control/FixedwingAttitudeControl.cpp
  src/modules/fw_rate_control/FixedwingRateControl.cpp
  src/modules/vtol_att_control/tailsitter.cpp
Labels: bug, vtol

#20921 ekf2: new gyro bias limit parameter EKF2_GYR_B_LIM
  src/modules/ekf2/EKF/common.h
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
  src/modules/ekf2/ekf2_params.c
Labels: enhancement, ekf2

#20947 ekf2: PreFlightChecker fix vel_ne_innov_lpf index
  src/modules/ekf2/Utility/PreFlightChecker.cpp
Labels: bug, ekf2

#20078 ekf2: refactor output predictor into separate class
  src/modules/ekf2/CMakeLists.txt
  src/modules/ekf2/EKF/CMakeLists.txt
  src/modules/ekf2/EKF/RingBuffer.h
  src/modules/ekf2/EKF/airspeed_fusion.cpp
  src/modules/ekf2/EKF/baro_height_control.cpp
  src/modules/ekf2/EKF/common.h
  src/modules/ekf2/EKF/control.cpp
  src/modules/ekf2/EKF/covariance.cpp
  src/modules/ekf2/EKF/ekf.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF/estimator_interface.cpp
  src/modules/ekf2/EKF/estimator_interface.h
  src/modules/ekf2/EKF/ev_control.cpp
  src/modules/ekf2/EKF/ev_height_control.cpp
  src/modules/ekf2/EKF/ev_pos_control.cpp
  src/modules/ekf2/EKF/ev_vel_control.cpp
  src/modules/ekf2/EKF/ev_yaw_control.cpp
  src/modules/ekf2/EKF/fake_height_control.cpp
  src/modules/ekf2/EKF/fake_pos_control.cpp
  src/modules/ekf2/EKF/gnss_height_control.cpp
  src/modules/ekf2/EKF/gps_checks.cpp
  src/modules/ekf2/EKF/gps_control.cpp
  src/modules/ekf2/EKF/gps_yaw_fusion.cpp
  src/modules/ekf2/EKF/height_control.cpp
  src/modules/ekf2/EKF/mag_control.cpp
  src/modules/ekf2/EKF/mag_fusion.cpp
  src/modules/ekf2/EKF/optflow_fusion.cpp
  src/modules/ekf2/EKF/optical_flow_control.cpp
  src/modules/ekf2/EKF/output_predictor.cpp
  src/modules/ekf2/EKF/output_predictor.h
  src/modules/ekf2/EKF/range_height_control.cpp
  src/modules/ekf2/EKF/sideslip_fusion.cpp
  src/modules/ekf2/EKF/terrain_estimator.cpp
  src/modules/ekf2/EKF/vel_pos_fusion.cpp
  src/modules/ekf2/EKF/zero_velocity_update.cpp
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
  src/modules/ekf2/test/sensor_simulator/ekf_logger.cpp
Labels: enhancement, ekf2

#20774 icm42688p: fix register bank selection
  src/drivers/imu/invensense/icm42688p/ICM42688P.cpp
  src/drivers/imu/invensense/icm42688p/ICM42688P.hpp
  src/drivers/imu/invensense/icm42688p/InvenSense_ICM42688P_registers.hpp
Labels: bug, drivers

#20961 commander: avoid timestamp implicit float conversions
  src/modules/commander/HealthAndArmingChecks/checks/offboardCheck.cpp
  src/modules/commander/failsafe/failsafe.cpp
Labels: bug

#20939 support fixed-wings in new Gazebo(gz or ignition gazebo)
  ROMFS/px4fmu_common/init.d-posix/airframes/4003_gz_plane
  ROMFS/px4fmu_common/init.d-posix/airframes/CMakeLists.txt
  Tools/simulation/gz/models/plane/meshes/body.dae
  Tools/simulation/gz/models/plane/meshes/elevators.dae
  Tools/simulation/gz/models/plane/meshes/iris_prop_ccw.dae
  Tools/simulation/gz/models/plane/meshes/iris_prop_cw.dae
  Tools/simulation/gz/models/plane/meshes/left_aileron.dae
  Tools/simulation/gz/models/plane/meshes/left_flap.dae
  Tools/simulation/gz/models/plane/meshes/propeller_ccw.dae
  Tools/simulation/gz/models/plane/meshes/propeller_cw.dae
  Tools/simulation/gz/models/plane/meshes/right_aileron.dae
  Tools/simulation/gz/models/plane/meshes/right_flap.dae
  Tools/simulation/gz/models/plane/meshes/rudder.dae
  Tools/simulation/gz/models/plane/model.config
  Tools/simulation/gz/models/plane/model.sdf
  src/modules/simulation/gz_bridge/GZMixingInterfaceServo.cpp
  src/modules/simulation/gz_bridge/GZMixingInterfaceServo.hpp
Labels: enhancement, simulation

#21012 FWPositionController: remove factor of 2 for switching to LOITER to achieve altitude setpoint
  src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp
Labels: fixedwing

#21025 iam20680hp driver
  src/drivers/drv_sensor.h
  src/drivers/imu/invensense/iam20680hp/CMakeLists.txt
  src/drivers/imu/invensense/iam20680hp/IAM20680HP.cpp
  src/drivers/imu/invensense/iam20680hp/IAM20680HP.hpp
  src/drivers/imu/invensense/iam20680hp/InvenSense_IAM20680HP_registers.hpp
  src/drivers/imu/invensense/iam20680hp/Kconfig
  src/drivers/imu/invensense/iam20680hp/iam20680hp_main.cpp
Labels: enhancement, drivers
