Repository PX4/PX4-Autopilot, pull requests merged in 2023-03, with the labels that each got.

#21205 TECS: remove uncommanded_descent_recovery
  msg/TecsStatus.msg
  src/lib/tecs/TECS.cpp
  src/lib/tecs/TECS.hpp
  src/modules/fw_path_navigation/FixedwingPositionControl.cpp
Labels: fixedwing

#19891 LightwareLidar SF45/B rotating sensor serial driver
  src/drivers/distance_sensor/lightware_sf45_serial/CMakeLists.txt
  src/drivers/distance_sensor/lightware_sf45_serial/Kconfig
  src/drivers/distance_sensor/lightware_sf45_serial/lightware_sf45_serial.cpp
  src/drivers/distance_sensor/lightware_sf45_serial/lightware_sf45_serial.hpp
  src/drivers/distance_sensor/lightware_sf45_serial/lightware_sf45_serial_main.cpp
  src/drivers/distance_sensor/lightware_sf45_serial/module.yaml
  src/drivers/distance_sensor/lightware_sf45_serial/sf45_commands.h
Labels: enhancement, drivers

#21208 RTL: only do calculations in is-inactive if global position is recent
  src/modules/navigator/rtl.cpp
  src/modules/navigator/rtl.h
Labels: bug

#21223 ekf2: gps control use adjusted velocity and position for reset
  src/modules/ekf2/EKF/gps_control.cpp
Labels: bug, ekf2

#21156 Add visual odometry support for Gazebo
  ROMFS/px4fmu_common/init.d-posix/airframes/4005_gz_x500_vision
  ROMFS/px4fmu_common/init.d-posix/airframes/CMakeLists.txt
  Tools/simulation/gz/models/x500_vision/model.config
  Tools/simulation/gz/models/x500_vision/model.sdf
  src/modules/simulation/gz_bridge/GZBridge.cpp
  src/modules/simulation/gz_bridge/GZBridge.hpp
Labels: gazebo

#21263 ekf2: merge runOnGroundYawReset() + runInAirYawReset() into unified magReset()
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/mag_control.cpp
Labels: ekf2, cleanup

#21275 FlightTask: don't instaniate unused parameters
  src/modules/flight_mode_manager/tasks/ManualAltitude/FlightTaskManualAltitude.hpp
  src/modules/flight_mode_manager/tasks/Utility/StickAccelerationXY.hpp
Labels: multicopter, cleanup

#21287 ekf: fix GNSS yaw fusion wrapping
  src/modules/ekf2/EKF/gps_yaw_fusion.cpp
  src/modules/ekf2/EKF/python/ekf_derivation/derivation.py
  src/modules/ekf2/EKF/python/ekf_derivation/generated/compute_gnss_yaw_innon_innov_var_and_h.h
  src/modules/ekf2/EKF/python/ekf_derivation/generated/compute_gnss_yaw_pred_innov_var_and_h.h
  src/modules/ekf2/test/test_EKF_gnss_yaw_generated.cpp
Labels: bug, ekf2

#21309 ekf2: GNSS yaw only reset test ratio for new samples
  src/modules/ekf2/EKF/gps_yaw_fusion.cpp
Labels: bug, ekf2

#21329 VTOL: make sure that all virtual topics are updated
  src/modules/vtol_att_control/vtol_att_control_main.cpp
Labels: bug, vtol

#21344 MC not disarming due to bad GNSS data
  src/modules/land_detector/MulticopterLandDetector.cpp
Labels: enhancement, multicopter, vtol

#21311 Fix typo in WORK_ITEM_TYPE
  src/modules/navigator/mission.cpp
  src/modules/navigator/mission.h
Labels: housekeeping 🧹

#21183 gazebo-classic/sitl_mutliple_run.sh: start spawning drones from index 1
  Tools/simulation/gazebo-classic/sitl_multiple_run.sh
Labels: gazebo-classic, merge after CI passes ✅

#21357 Helicopter: add offset for yaw compensation based on collective pitch
  src/modules/control_allocator/ActuatorEffectiveness/ActuatorEffectivenessHelicopter.cpp
  src/modules/control_allocator/ActuatorEffectiveness/ActuatorEffectivenessHelicopter.hpp
  src/modules/control_allocator/module.yaml
Labels: Helicopter 🚁

#21351 VTOL: Quad-chute param corrections/improvements
  src/modules/vtol_att_control/vtol_att_control_params.c
Labels: VTOL 🛩️🚁

#21366 update world_magnetic_model to latest
  src/lib/world_magnetic_model/geo_magnetic_tables.hpp
  src/lib/world_magnetic_model/test_geo_lookup.cpp
  src/modules/ekf2/test/change_indication/ekf_gsf_reset.csv
  src/modules/ekf2/test/change_indication/iris_gps.csv
Labels: improvement

#21365 update all px4board kconfig
  boards/airmind/mindpx-v2/default.px4board
  boards/ark/cannode/default.px4board
  boards/av/x-v1/default.px4board
  boards/cubepilot/cubeyellow/default.px4board
  boards/holybro/pix32v5/default.px4board
  boards/modalai/fc-v1/default.px4board
  boards/modalai/voxl2-slpi/default.px4board
  boards/modalai/voxl2/default.px4board
  boards/mro/ctrl-zero-f7-oem/default.px4board
  boards/mro/ctrl-zero-f7/default.px4board
  boards/mro/x21-777/default.px4board
  boards/mro/x21/default.px4board
  boards/nxp/fmuk66-e/default.px4board
  boards/nxp/fmuk66-v3/default.px4board
  boards/px4/fmu-v2/fixedwing.px4board
  boards/px4/fmu-v2/rover.px4board
  boards/px4/fmu-v3/default.px4board
  boards/px4/fmu-v4/default.px4board
  boards/px4/fmu-v4pro/default.px4board
  boards/px4/fmu-v5/cyphal.px4board
  boards/px4/fmu-v5/debug.px4board
  boards/px4/fmu-v5/default.px4board
  boards/px4/fmu-v5/protected.px4board
  boards/px4/fmu-v5/stackcheck.px4board
  boards/px4/fmu-v5/uavcanv0periph.px4board
  boards/sky-drones/smartap-airlink/default.px4board
  boards/thepeach/k1/default.px4board
  boards/thepeach/r1/default.px4board
Labels: cleanup (housekeeping) 🧹

#21364 boards: update all NuttX defconfigs
  boards/cubepilot/cubeorangeplus/nuttx-config/test/defconfig
Labels: cleanup (housekeeping) 🧹

#21230 Fix SITL Test failure: Place PX4 instance runner after Gazebo server runner
  test/mavsdk_tests/mavsdk_test_runner.py
Labels: CI 🤖, Needs Review ✋, merge after CI passes ✅

#21374 microdds_client: Fix check for length of participant XML
  src/modules/microdds_client/microdds_client.cpp
Labels: ROS2, bugfix 🐞

#21349 ROMFS: add motor assignment to holybro x500
  ROMFS/px4fmu_common/init.d/airframes/4019_x500_v2
Labels: Multirotor 🛸

#20162 fix the wrong flags expression in getopt
  Tools/simulation/jmavsim/jmavsim_run.sh
Labels: enhancement (improvement) 💡, Needs Review ✋, bugfix 🐞

#21399 Allow yawing during hold
  src/modules/flight_mode_manager/tasks/Auto/FlightTaskAuto.cpp
  src/modules/flight_mode_manager/tasks/Auto/FlightTaskAuto.hpp
Labels: Multirotor 🛸
