Repository PX4/PX4-Autopilot, pull requests merged in 2023-12, with the labels that each got.

#22475 Adapt onbaord low bandwidth MAVLink stream profile
  src/modules/mavlink/mavlink_main.cpp
Labels: Communication (MAVLink) 📡

#22518 Navigator: Avoid attitude stepoint resets by not going into Takeoff mode if VTOL_Takeoff is selected in-air
  src/modules/navigator/mission_block.cpp
Labels: Hybrid VTOL 🛩️🚁

#22519 Navigator: Avoid attitude stepoint resets by not going into Takeoff mode if VTOL_Takeoff is selected in-air
  src/modules/navigator/mission_block.cpp
Labels: release backport 🔙

#22529 Fix Figure Eight CI Test
  test/mavsdk_tests/test_vtol_figure_eight.cpp
Labels: CI 🤖, bugfix 🐞

#22528 [1.14] Fix Helicopter saturation logic
  src/modules/control_allocator/ActuatorEffectiveness/ActuatorEffectivenessHelicopter.cpp
Labels: v1.14

#22538 FW Position Control: fix setting of _control_mode_current to AUTO in VTOL land
  src/modules/fw_pos_control/FixedwingPositionControl.cpp
Labels: Hybrid VTOL 🛩️🚁

#22577 Autotune: reset param on start
  src/modules/fw_autotune_attitude_control/fw_autotune_attitude_control.cpp
  src/modules/mc_autotune_attitude_control/mc_autotune_attitude_control.cpp
Labels: bugfix 🐞

#22532 Navigator/FlightTaskAuto yaw handling improvements/simplifications
  msg/PositionSetpoint.msg
  src/modules/flight_mode_manager/tasks/Auto/FlightTaskAuto.cpp
  src/modules/navigator/mission.cpp
  src/modules/navigator/mission_base.cpp
  src/modules/navigator/mission_block.cpp
  src/modules/navigator/navigator.h
  src/modules/navigator/navigator_main.cpp
  src/modules/navigator/takeoff.cpp
  src/modules/navigator/vtol_takeoff.cpp
Labels: bug, cleanup (housekeeping) 🧹
