Repository PX4/PX4-Autopilot, pull requests merged in 2023-02, with the labels that each got.

#21037 Commander: use FW_AIRSPD_MAX as threshold for airspeed preflight checks
  src/modules/commander/HealthAndArmingChecks/checks/airspeedCheck.cpp
  src/modules/commander/HealthAndArmingChecks/checks/airspeedCheck.hpp
Labels: fixedwing

#21015 MPC: improve description of MPC_LAND_RC_HELP
  src/modules/mc_pos_control/mc_pos_control_params.c
Labels: enhancement

#21045 fix device type duplicate definition
  src/drivers/drv_sensor.h
Labels: bug

#21051 ekf2: mag control reset mag_lpf on first sample
  src/modules/ekf2/EKF/mag_control.cpp
Labels: bug, ekf2

#21032 ekf2: new EKF2_IMU_CTRL parameter and gyro bias inhibit mechanism
  src/modules/ekf2/EKF/common.h
  src/modules/ekf2/EKF/covariance.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/vel_pos_fusion.cpp
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
  src/modules/ekf2/ekf2_params.c
Labels: ekf2

#21040 ekf2: include 0 timestamp checks in helpers (isTimedOut(), etc)
  src/modules/ekf2/EKF/airspeed_fusion.cpp
  src/modules/ekf2/EKF/ekf.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF/ev_vel_control.cpp
  src/modules/ekf2/EKF/fake_height_control.cpp
  src/modules/ekf2/EKF/optical_flow_control.cpp
  src/modules/ekf2/test/change_indication/ekf_gsf_reset.csv
  src/modules/ekf2/test/change_indication/iris_gps.csv
  src/modules/ekf2/test/test_EKF_airspeed.cpp
  src/modules/ekf2/test/test_EKF_mag.cpp
Labels: ekf2

#21073 lib/sensor_calibration: BiasCorrectedSensorOffset() don't incorporate thermal offsets
  src/lib/sensor_calibration/Accelerometer.hpp
  src/lib/sensor_calibration/Gyroscope.hpp
  src/lib/sensor_calibration/Magnetometer.hpp
Labels: bug, priority-critical

#21038 Pr ekf2 gravity observation
  msg/EstimatorAidSource3d.msg
  msg/EstimatorInnovations.msg
  msg/EstimatorStatusFlags.msg
  src/modules/ekf2/CMakeLists.txt
  src/modules/ekf2/EKF/CMakeLists.txt
  src/modules/ekf2/EKF/common.h
  src/modules/ekf2/EKF/control.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/gravity_fusion.cpp
  src/modules/ekf2/EKF/python/ekf_derivation/derivation.py
  src/modules/ekf2/EKF/python/ekf_derivation/generated/compute_gravity_innov_var_and_k_and_h.h
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
  src/modules/ekf2/ekf2_params.c
  src/modules/logger/logged_topics.cpp
Labels: enhancement, ekf2

#21041 ekf2: only require IMU for filter init
  src/modules/ekf2/EKF/covariance.cpp
  src/modules/ekf2/EKF/ekf.cpp
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF/mag_control.cpp
  src/modules/ekf2/EKF/zero_innovation_heading_update.cpp
  src/modules/ekf2/test/change_indication/ekf_gsf_reset.csv
  src/modules/ekf2/test/change_indication/iris_gps.csv
  src/modules/ekf2/test/test_EKF_airspeed.cpp
  src/modules/ekf2/test/test_EKF_mag.cpp
Labels: enhancement, ekf2

#21145 Navigator: accept yaw immedietaly if the flag heading_good_for_contro…
  src/modules/navigator/mission_block.cpp
Labels: bug

#21148 ekf2: stop mag fusion when there is no data anymore
  src/modules/ekf2/EKF/common.h
  src/modules/ekf2/EKF/mag_control.cpp
Labels: ekf2

#21155 tests: empty parentheses were disambiguated as a function declaration
  src/modules/navigator/MissionFeasibility/FeasibilityCheckerTest.cpp
Labels: bug

#21154 Navigator: set _land_start_index to first item with a position after the marker
  src/modules/navigator/mission.cpp
  src/modules/navigator/navigator_main.cpp
Labels: bug

#21168 FWPositionControllre: only check acceptance radius to swich to loiter to achieve altitude
  src/modules/fw_path_navigation/FixedwingPositionControl.cpp
Labels: fixedwing

#21136 Optionally enable sensor simulations
  ROMFS/px4fmu_common/init.d-posix/airframes/10040_sihsim_quadx
  ROMFS/px4fmu_common/init.d-posix/airframes/10041_sihsim_airplane
  ROMFS/px4fmu_common/init.d-posix/airframes/10042_sihsim_xvert
  ROMFS/px4fmu_common/init.d-posix/airframes/4001_gz_x500
  ROMFS/px4fmu_common/init.d-posix/airframes/4002_gz_x500_depth
  ROMFS/px4fmu_common/init.d-posix/airframes/4003_gz_rc_cessna
  ROMFS/px4fmu_common/init.d-posix/airframes/4004_gz_standard_vtol
  ROMFS/px4fmu_common/init.d-posix/px4-rc.simulator
  src/modules/simulation/sensor_baro_sim/parameters.c
  src/modules/simulation/sensor_gps_sim/parameters.c
  src/modules/simulation/sensor_mag_sim/parameters.c
Labels: simulation, gazebo

#21176 Simulation Gazebo: Use Gazebo Airpressure sensor
  ROMFS/px4fmu_common/init.d-posix/airframes/4001_gz_x500
  ROMFS/px4fmu_common/init.d-posix/airframes/4002_gz_x500_depth
  ROMFS/px4fmu_common/init.d-posix/airframes/4003_gz_rc_cessna
  ROMFS/px4fmu_common/init.d-posix/airframes/4004_gz_standard_vtol
  Tools/simulation/gz/models/rc_cessna/model.sdf
  Tools/simulation/gz/models/standard_vtol/model.sdf
  Tools/simulation/gz/models/x500/model.sdf
  Tools/simulation/gz/worlds/default.sdf
  src/modules/simulation/gz_bridge/GZBridge.cpp
  src/modules/simulation/gz_bridge/GZBridge.hpp
Labels: gazebo

#21107 vtol_att_control: Consolidate logic for front transiton completion
  src/modules/vtol_att_control/standard.cpp
  src/modules/vtol_att_control/tailsitter.cpp
  src/modules/vtol_att_control/tailsitter.h
  src/modules/vtol_att_control/tiltrotor.cpp
  src/modules/vtol_att_control/tiltrotor.h
  src/modules/vtol_att_control/vtol_type.cpp
  src/modules/vtol_att_control/vtol_type.h
Labels: enhancement, vtol

#21190 tecs: use FW_T_SINK_MIN for STE_rate_min
  src/lib/tecs/TECS.cpp
  src/lib/tecs/TECS.hpp
  src/modules/fw_path_navigation/FixedwingPositionControl.cpp
Labels: fixedwing

#21197 ekf2: fix controlEvYawFusion() yaw reset
  src/modules/ekf2/EKF/ev_yaw_control.cpp
Labels: bug, ekf2

#21030 Update README: Maintainers, Boards, Roadmap
  README.md
Labels: Community Coordination
