Repository PX4/PX4-Autopilot, pull requests merged in 2023-09, with the labels that each got.

#21568 Adding a new differential pressure sensor ASP5033
  ROMFS/px4fmu_common/init.d/rc.sensors
  src/drivers/differential_pressure/asp5033/ASP5033.cpp
  src/drivers/differential_pressure/asp5033/ASP5033.hpp
  src/drivers/differential_pressure/asp5033/CMakeLists.txt
  src/drivers/differential_pressure/asp5033/Kconfig
  src/drivers/differential_pressure/asp5033/asp5033_main.cpp
  src/drivers/differential_pressure/asp5033/parameters.c
  src/drivers/drv_sensor.h
Labels: Sensors, Drivers 🔧, Needs Review ✋

#22058 dataman: explicitly check file existance to init
  src/modules/dataman/dataman.cpp
Labels: bug

#22043 stm32h7_can: fix filter memory initialization bug.
  src/drivers/uavcan/uavcan_drivers/stm32h7/driver/src/uc_stm32h7_can.cpp
Labels: bug, v1.14

#22060 6x: fix internal mag rotation
  boards/px4/fmu-v6x/init/rc.board_sensors
Labels: bug, v1.14

#22066 Fix opt flow logging for EKF2 replay
  src/modules/ekf2/test/sensor_simulator/convertULogToSensorData.py
  src/modules/logger/logged_topics.cpp
Labels: EKF2, Sensors

#22032 ekf2: covariance update use IMU sample dt
  src/modules/ekf2/EKF/covariance.cpp
  src/modules/ekf2/EKF/python/ekf_derivation/derivation.py
  src/modules/ekf2/EKF/python/ekf_derivation/generated/predict_covariance.h
  src/modules/ekf2/test/change_indication/ekf_gsf_reset.csv
  src/modules/ekf2/test/change_indication/iris_gps.csv
Labels: EKF2

#22054 ROMFS: rc.fw_defaults set more conservative range finder requirements
  ROMFS/px4fmu_common/init.d/rc.fw_defaults
Labels: Fixed Wing 🛩️

#22077 FixedwingPositionControl: initialize airspeed slew controller in constructor
  src/modules/fw_pos_control/FixedwingPositionControl.cpp
Labels: bug, Fixed Wing 🛩️

#22082 Craziflie configs: remove default 100% thrust parameter
  ROMFS/px4fmu_common/init.d/airframes/4900_crazyflie
  ROMFS/px4fmu_common/init.d/airframes/4901_crazyflie21
Labels: cleanup (housekeeping) 🧹

#22097 VTOL Takeoff: Use global position instead of home for takoeff
  src/modules/navigator/vtol_takeoff.cpp
Labels: bug, Hybrid VTOL 🛩️🚁

#22099 [BACKPORT] FixedwingPositionControl: initialize the airspeed slew rate controller with trim airspeed in the constructor
  src/modules/fw_pos_control/FixedwingPositionControl.cpp
Labels: bug, Fixed Wing 🛩️

#22101 FW Positon Controller: set references to 0 if not provided by local_position
  src/modules/fw_pos_control/FixedwingPositionControl.cpp
  src/modules/fw_pos_control/FixedwingPositionControl.hpp
Labels: v1.14

#22106 [1.14 port] FW Positon Controller: set references to 0 if not provided by local_position
  src/modules/fw_pos_control/FixedwingPositionControl.cpp
  src/modules/fw_pos_control/FixedwingPositionControl.hpp
Labels: release backport 🔙

#22114 FW Position Controller: handle IDLE waypoints in FW_POSCTRL_MODE_AUTO also with NAN setpoints
  src/modules/fw_pos_control/FixedwingPositionControl.cpp
Labels: v1.14

#22116 FW Position Controller: handle IDLE waypoints in FW_POSCTRL_MODE_AUTO…
  src/modules/fw_pos_control/FixedwingPositionControl.cpp
Labels: release backport 🔙

#22131 Fix Default Output Protocol - Airframe 4019_x500_v2
  ROMFS/px4fmu_common/init.d/airframes/4019_x500_v2
Labels: release backport 🔙, v1.14

#22123 Update quaternion covariance at yaw reset [new]
  src/modules/ekf2/EKF/covariance.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/test/change_indication/ekf_gsf_reset.csv
  src/modules/ekf2/test/change_indication/iris_gps.csv
Labels: EKF2, bugfix 🐞

#22136 EKF2: access state covariance using helper functions
  src/modules/ekf2/EKF/covariance.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF/ev_pos_control.cpp
  src/modules/ekf2/EKF/mag_3d_control.cpp
  src/modules/ekf2/EKF/zero_velocity_update.cpp
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/test/sensor_simulator/ekf_wrapper.cpp
  src/modules/ekf2/test/sensor_simulator/ekf_wrapper.h
  src/modules/ekf2/test/test_EKF_gps_yaw.cpp
  src/modules/ekf2/test/test_EKF_initialization.cpp
Labels: EKF2

#22147 Fix Helicopter saturation logic
  src/modules/control_allocator/ActuatorEffectiveness/ActuatorEffectivenessHelicopter.cpp
Labels: bug, Helicopter 🚁

#22154 vfr_hud: fix throttle display for FW
  src/modules/mavlink/streams/VFR_HUD.hpp
Labels: bug, Fixed Wing 🛩️

#22133 ekf2: fix WMM NAN checks
  src/modules/ekf2/EKF/gps_checks.cpp
Labels: EKF2, bugfix 🐞
