Repository PX4/PX4-Autopilot, pull requests merged in 2024-04, with the labels that each got.

#22983 EKF2: use dedicated time-delay parameter
  src/modules/ekf2/EKF/common.h
  src/modules/ekf2/EKF/estimator_interface.cpp
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
  src/modules/ekf2/module.yaml
Labels: EKF2

#22977 ekf2: move yaw_estimator and derivation to dedicated folder
  src/modules/ekf2/CMakeLists.txt
  src/modules/ekf2/EKF/CMakeLists.txt
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/gps_control.cpp
  src/modules/ekf2/EKF/python/ekf_derivation/derivation.py
  src/modules/ekf2/EKF/python/ekf_derivation/derivation_terrain_estimator.py
  src/modules/ekf2/EKF/python/ekf_derivation/utils/__init__.py
  src/modules/ekf2/EKF/python/ekf_derivation/utils/derivation_utils.py
  src/modules/ekf2/EKF/yaw_estimator/CMakeLists.txt
  src/modules/ekf2/EKF/yaw_estimator/EKFGSF_yaw.cpp
  src/modules/ekf2/EKF/yaw_estimator/EKFGSF_yaw.h
  src/modules/ekf2/EKF/yaw_estimator/derivation/derivation_yaw_estimator.py
  src/modules/ekf2/EKF/yaw_estimator/derivation/generated/yaw_est_compute_measurement_update.h
  src/modules/ekf2/EKF/yaw_estimator/derivation/generated/yaw_est_predict_covariance.h
Labels: EKF2, Admin: Cleanup (housekeeping) 🧹

#23041 fw offboard control mode: altitude control enabled
  src/modules/fw_pos_control/FixedwingPositionControl.cpp
Labels: Fixed Wing 🛩️

#21663 Adsb warnings fixes
  src/lib/adsb/AdsbConflict.cpp
  src/lib/adsb/AdsbConflict.h
  src/lib/adsb/AdsbConflictTest.cpp
  src/modules/mavlink/mavlink_main.cpp
  src/modules/mavlink/mavlink_messages.cpp
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/navigator/navigator_main.cpp
Labels: Admin: Enhancement (improvement) 💡, stale

#23050 ekf2_params: reduce "short" description
  src/modules/ekf2/module.yaml
  validation/module_schema.yaml
Labels: EKF2, Admin: Cleanup (housekeeping) 🧹

#23053 imu consistency: don't scale param threshold
  src/modules/commander/HealthAndArmingChecks/checks/imuConsistencyCheck.cpp
Labels: bugfix 🐞

#23056 estimatorCheck: get param only if handle is valid
  src/modules/commander/HealthAndArmingChecks/checks/estimatorCheck.cpp
Labels: EKF2

#23057 Fixed-wing: fix Altitude mode without valid global z reference (e.g. no GPS)
  src/modules/fw_pos_control/FixedwingPositionControl.cpp
Labels: Fixed Wing 🛩️

#23068 ekf2: Only reset to GNSS heading if necessary
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/gps_control.cpp
  src/modules/ekf2/test/test_EKF_gps_yaw.cpp
Labels: EKF2, improvement
