Repository PX4/PX4-Autopilot, pull requests merged in 2024-06, with the labels that each got.

#23185 ekf2: add mag type init
  src/modules/ekf2/EKF/aid_sources/magnetometer/mag_control.cpp
  src/modules/ekf2/EKF/common.h
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/module.yaml
Labels: EKF2

#23219 MAVLink: refactor message handling in one function, reference instead of pointer to main instance
  src/modules/mavlink/mavlink_ftp.cpp
  src/modules/mavlink/mavlink_ftp.h
  src/modules/mavlink/mavlink_log_handler.cpp
  src/modules/mavlink/mavlink_log_handler.h
  src/modules/mavlink/mavlink_main.cpp
  src/modules/mavlink/mavlink_main.h
  src/modules/mavlink/mavlink_mission.cpp
  src/modules/mavlink/mavlink_mission.h
  src/modules/mavlink/mavlink_parameters.cpp
  src/modules/mavlink/mavlink_parameters.h
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/mavlink/mavlink_receiver.h
  src/modules/mavlink/mavlink_tests/mavlink_ftp_test.cpp
  src/modules/mavlink/mavlink_tests/mavlink_ftp_test.h
  src/modules/mavlink/mavlink_timesync.cpp
  src/modules/mavlink/mavlink_timesync.h
Labels: Communication (MAVLink) 📡

#23225 ekf2: merge mag yaw angle observability into heading consistency
  boards/px4/fmu-v6xrt/nuttx-config/scripts/itcm_functions_includes.ld
  src/modules/ekf2/EKF/aid_sources/magnetometer/mag_control.cpp
  src/modules/ekf2/EKF/ekf.h
Labels: EKF2

#23226 ekf2: stopMagFusion() reset yaw_align if mag heading was active
  src/modules/ekf2/EKF/aid_sources/magnetometer/mag_control.cpp
Labels: EKF2

#22256 battery: reset current filter when transitioning to FW
  src/lib/battery/battery.cpp
Labels: Hybrid VTOL 🛩️🚁, stale

#22299 update GCS connection loss failsafe in all gazebo models
  ROMFS/px4fmu_common/init.d-posix/airframes/4001_gz_x500
  ROMFS/px4fmu_common/init.d-posix/airframes/4004_gz_standard_vtol
  ROMFS/px4fmu_common/init.d-posix/airframes/4006_gz_px4vision
Labels: stale

#22872 Remove deprecated BAT_ params
  ROMFS/px4fmu_common/init.d-posix/airframes/10041_sihsim_airplane
  ROMFS/px4fmu_common/init.d-posix/airframes/10042_sihsim_xvert
  ROMFS/px4fmu_common/init.d/airframes/1101_rc_plane_sih.hil
  ROMFS/px4fmu_common/init.d/airframes/1102_tailsitter_duo_sih.hil
  boards/sky-drones/smartap-airlink/init/rc.board_defaults
  src/drivers/smart_battery/batmon/batmon.cpp
  src/lib/battery/battery_params_deprecated.c
  src/modules/mavlink/mavlink_parameters.cpp
Labels: Admin: Cleanup (housekeeping) 🧹, stale

#23233 ekf2: innovation sequence monitoring for all aid sources
  msg/EstimatorAidSource1d.msg
  msg/EstimatorAidSource2d.msg
  msg/EstimatorAidSource3d.msg
  src/modules/ekf2/EKF/aid_sources/airspeed/airspeed_fusion.cpp
  src/modules/ekf2/EKF/aid_sources/aux_global_position/aux_global_position.cpp
  src/modules/ekf2/EKF/aid_sources/auxvel/auxvel_fusion.cpp
  src/modules/ekf2/EKF/aid_sources/barometer/baro_height_control.cpp
  src/modules/ekf2/EKF/aid_sources/drag/drag_fusion.cpp
  src/modules/ekf2/EKF/aid_sources/external_vision/ev_control.cpp
  src/modules/ekf2/EKF/aid_sources/external_vision/ev_height_control.cpp
  src/modules/ekf2/EKF/aid_sources/external_vision/ev_pos_control.cpp
  src/modules/ekf2/EKF/aid_sources/external_vision/ev_vel_control.cpp
  src/modules/ekf2/EKF/aid_sources/external_vision/ev_yaw_control.cpp
  src/modules/ekf2/EKF/aid_sources/fake_height_control.cpp
  src/modules/ekf2/EKF/aid_sources/fake_pos_control.cpp
  src/modules/ekf2/EKF/aid_sources/gnss/gnss_height_control.cpp
  src/modules/ekf2/EKF/aid_sources/gnss/gps_control.cpp
  src/modules/ekf2/EKF/aid_sources/gnss/gps_yaw_fusion.cpp
  src/modules/ekf2/EKF/aid_sources/gravity/gravity_fusion.cpp
  src/modules/ekf2/EKF/aid_sources/magnetometer/mag_control.cpp
  src/modules/ekf2/EKF/aid_sources/optical_flow/optical_flow_control.cpp
  src/modules/ekf2/EKF/aid_sources/optical_flow/optical_flow_fusion.cpp
  src/modules/ekf2/EKF/aid_sources/range_finder/range_height_control.cpp
  src/modules/ekf2/EKF/aid_sources/sideslip/sideslip_fusion.cpp
  src/modules/ekf2/EKF/ekf.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/estimator_interface.h
  src/modules/ekf2/EKF/position_fusion.cpp
  src/modules/ekf2/EKF/terrain_estimator/terrain_estimator.cpp
  src/modules/ekf2/EKF/velocity_fusion.cpp
  src/modules/ekf2/EKF/yaw_fusion.cpp
Labels: EKF2

#23121 fmu-v6xrt: Fix redundant 'fi'
  boards/px4/fmu-v6xrt/init/rc.board_sensors
Labels: stale

#23131 mc_pos_control: new low pass (MPC_VEL_LP) and notch filter (MPC_VEL_NF_FRQ/MPC_VEL_NF_BW)
  src/lib/mathlib/math/Functions.hpp
  src/modules/mc_pos_control/MulticopterPositionControl.cpp
  src/modules/mc_pos_control/MulticopterPositionControl.hpp
  src/modules/mc_pos_control/multicopter_position_control_params.c
Labels: Multirotor 🛸

#23307 ekf2: disable EKF2_EV_CTRL and EKF2_AGP_CTRL by default
  src/modules/ekf2/module.yaml
Labels: EKF2

#23306 ekf2: verbose logging control (new EKF2_LOG_VERBOSE)
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
  src/modules/ekf2/module.yaml
  src/modules/logger/logged_topics.cpp
Labels: EKF2
