Repository PX4/PX4-Autopilot, pull requests merged in 2024-01, with the labels that each got.

#21376 Add Fixedwing path following as a separate controller state
  src/modules/fw_pos_control/FixedwingPositionControl.cpp
  src/modules/fw_pos_control/FixedwingPositionControl.hpp
Labels: Fixed Wing 🛩️

#19131 ekf2: verbose print status with Matrix improved print
  src/lib/matrix/matrix/Matrix.hpp
  src/lib/matrix/test/MatrixAssignmentTest.cpp
  src/modules/ekf2/EKF/RingBuffer.h
  src/modules/ekf2/EKF/ekf.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/estimator_interface.cpp
  src/modules/ekf2/EKF/estimator_interface.h
  src/modules/ekf2/EKF/output_predictor.cpp
Labels: enhancement (improvement) 💡

#22581 VTOL: change transition airspeed threshold: only look at VT_ARSP_TRANS, not FW_AIRSPD_MIN
  src/modules/vtol_att_control/vtol_type.cpp
  src/modules/vtol_att_control/vtol_type.h
Labels: Hybrid VTOL 🛩️🚁

#22626 ekf2: remove sample subscription missed perf counters
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
Labels: EKF2, cleanup (housekeeping) 🧹

#22548 TECS throttle gains default reduction and transition values from previous PX4 version
  src/modules/fw_pos_control/FixedwingPositionControl.cpp
  src/modules/fw_pos_control/FixedwingPositionControl.hpp
  src/modules/fw_pos_control/fw_path_navigation_params.c
Labels: Fixed Wing 🛩️

#22630 ekf2: delete unused gps error norm field
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/gps_checks.cpp
Labels: EKF2, cleanup (housekeeping) 🧹

#22645 FW rate control: make use of Vector3f more intensively
  src/modules/fw_rate_control/FixedwingRateControl.cpp
Labels: Fixed Wing 🛩️, cleanup (housekeeping) 🧹

#22658 ekf2: consolidate LPOS & GPOS accuracy methods
  src/modules/ekf2/EKF/ekf_helper.cpp
Labels: EKF2

#22471 FT7 series Wind/Airflow sensor Driver
  msg/CMakeLists.txt
  msg/SensorAirflow.msg
  src/drivers/wind_sensor/Kconfig
  src/drivers/wind_sensor/ft_technologies/CMakeLists.txt
  src/drivers/wind_sensor/ft_technologies/Kconfig
  src/drivers/wind_sensor/ft_technologies/ft7_technologies.cpp
  src/drivers/wind_sensor/ft_technologies/ft7_technologies.hpp
  src/drivers/wind_sensor/ft_technologies/ft7_technologies_main.cpp
  src/drivers/wind_sensor/ft_technologies/module.yaml
  src/modules/logger/logged_topics.cpp
Labels: Drivers 🔧, stale

#22672 ekf2-grav: rename g-force unit to g0 to avoid confusion with grams
  src/lib/parameters/px4params/srcparser.py
  src/modules/ekf2/ekf2_params.c
Labels: EKF2

#22674 ekf2: fix computation of tilt and yaw variances
  msg/VehicleLocalPosition.msg
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/test/change_indication/ekf_gsf_reset.csv
  src/modules/ekf2/test/change_indication/iris_gps.csv
Labels: EKF2

#22597 ekf2: simplify logic for inhibited consider states and covariance matrix fixes
  src/modules/ekf2/EKF/covariance.cpp
  src/modules/ekf2/EKF/ekf.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF/mag_3d_control.cpp
  src/modules/ekf2/EKF/vel_pos_fusion.cpp
  src/modules/ekf2/test/change_indication/ekf_gsf_reset.csv
  src/modules/ekf2/test/change_indication/iris_gps.csv
  src/modules/ekf2/test/test_EKF_accelerometer.cpp
  src/modules/ekf2/test/test_EKF_basics.cpp
  src/modules/ekf2/test/test_EKF_externalVision.cpp
  src/modules/ekf2/test/test_EKF_height_fusion.cpp
  src/modules/ekf2/test/test_EKF_initialization.cpp
Labels: EKF2

#22699 ekf2: zvup sequential fusion
  src/modules/ekf2/EKF/aid_sources/ZeroVelocityUpdate.cpp
Labels: EKF2

#22700 Logging: high rate logging: add actuator_servos and log all instances of thrust/torque setpoint
  src/modules/logger/logged_topics.cpp
Labels: enhancement (improvement) 💡
