Repository PX4/PX4-Autopilot, pull requests merged in 2024-08, with the labels that each got.

#23478 ackermann: add protection against float precision problem in acceptance radius update
  src/modules/rover_ackermann/RoverAckermannGuidance/RoverAckermannGuidance.cpp
Labels: Rover 🚙

#23499 hardfault_log: revert to explicit path to not trip the module documentation parser
  src/systemcmds/hardfault_log/hardfault_log.c
Labels: bug, CI (Continuous Integration) 🤖

#23358 Orbit Yaw Vehicle Parameter
  msg/OrbitStatus.msg
  msg/VehicleCommand.msg
  src/modules/flight_mode_manager/tasks/Orbit/FlightTaskOrbit.cpp
  src/modules/flight_mode_manager/tasks/Orbit/FlightTaskOrbit.hpp
  src/modules/flight_mode_manager/tasks/Orbit/flight_task_orbit_params.c
Labels: Admin: Merge after CI passes ✅

#23506 rover: restructure airframes
  ROMFS/px4fmu_common/init.d/airframes/50000_generic_rover_differential
  ROMFS/px4fmu_common/init.d/airframes/50001_aion_robotics_r1_rover
  ROMFS/px4fmu_common/init.d/airframes/51000_generic_rover_ackermann
  ROMFS/px4fmu_common/init.d/airframes/51001_axial_scx10_2_trail_honcho
  ROMFS/px4fmu_common/init.d/airframes/59000_generic_ground_vehicle
  ROMFS/px4fmu_common/init.d/airframes/59001_nxpcup_car_dfrobot_gpx
  ROMFS/px4fmu_common/init.d/airframes/CMakeLists.txt
  ROMFS/px4fmu_common/init.d/rc.rover_ackermann_apps
  ROMFS/px4fmu_common/init.d/rc.rover_ackermann_defaults
  ROMFS/px4fmu_common/init.d/rc.rover_differential_apps
  ROMFS/px4fmu_common/init.d/rc.rover_differential_defaults
Labels: Rover 🚙, Admin: Cleanup (housekeeping) 🧹

#23460 Fixed-wing auto takeoff: enable setting takeoff flaps for hand/catapult launch.
  src/modules/fw_pos_control/FixedwingPositionControl.cpp
Labels: Documentation 📑

#23508 gz_bridge: add rover world to cmake
  src/modules/simulation/gz_bridge/CMakeLists.txt
Labels: Rover 🚙, Sim: gazebo

#23509 Improvement: Reset RC passthrough functions to disarmed value when no stick input
  src/lib/mixer_module/functions/FunctionManualRC.hpp
Labels: bug

#23521 Bugfix: Always report multicopter orbit altitude via status telemetry
  src/modules/flight_mode_manager/tasks/Orbit/FlightTaskOrbit.cpp
Labels: Multirotor 🛸

#22108 Support MAVLink MANUAL_CONTROL.aux extension
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/mavlink/streams/MANUAL_CONTROL.hpp
Labels: Communication (MAVLink) 📡, stale

#23536 ekf tools: compare gyro integral with attitude estimate
  src/modules/ekf2/EKF/python/tuning_tools/gyro_integration.py
Labels: EKF2

#23540 ekf2: send airspeed data to ekf backend regardless of sign
  src/modules/ekf2/EKF2.cpp
Labels: EKF2

#23484 Fix: replay the mission cached items only upon reaching resume waypoint
  src/modules/navigator/mission_base.cpp
  src/modules/navigator/mission_base.h
Labels: bug, Multirotor 🛸

#23376 improved GCS parameter readablity
  src/modules/mc_pos_control/multicopter_altitude_mode_params.c
  src/modules/mc_pos_control/multicopter_autonomous_params.c
  src/modules/mc_pos_control/multicopter_position_mode_params.c
Labels: Documentation 📑

#23581 ekf2: extract WMM update logic
  src/modules/ekf2/EKF/aid_sources/gnss/gps_checks.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ekf_helper.cpp
Labels: EKF2, Admin: Cleanup (housekeeping) 🧹

#22808 Follow model in gz GUI
  src/modules/simulation/gz_bridge/GZBridge.cpp
  src/modules/simulation/gz_bridge/GZBridge.hpp
Labels: Sim: gazebo

#23566 Navigator: Land: Improve it for VTOL by taking breaking distance into account
  src/modules/navigator/land.cpp
Labels: Hybrid VTOL 🛩️🚁

#23603 Update gz version to harmonic
  Tools/setup/ubuntu.sh
Labels: Sim: gazebo

#23571 EKF2: constant position aiding
  msg/EstimatorStatusFlags.msg
  src/modules/ekf2/EKF/aid_sources/fake_pos_control.cpp
  src/modules/ekf2/EKF/common.h
  src/modules/ekf2/EKF/control.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF/estimator_interface.h
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
  src/modules/ekf2/test/CMakeLists.txt
  src/modules/ekf2/test/sensor_simulator/airspeed.cpp
  src/modules/ekf2/test/test_EKF_airspeed.cpp
  src/modules/ekf2/test/test_EKF_fake_pos.cpp
Labels: EKF2

#23609 ekf2: sensor simulator fix GPS replay scaling
  src/modules/ekf2/test/change_indication/ekf_gsf_reset.csv
  src/modules/ekf2/test/change_indication/iris_gps.csv
  src/modules/ekf2/test/sensor_simulator/sensor_simulator.cpp
Labels: bug, EKF2

#23555 ekf2: always use corrected accel/gyro for filtered metrics
  src/modules/ekf2/EKF/ekf_helper.cpp
Labels: EKF2

#23618 ekf2: correctly compute vel variance from flow variance
  src/modules/ekf2/EKF/aid_sources/optical_flow/optical_flow_control.cpp
Labels: EKF2, bugfix 🐞

#20195 logger: limit buffer size to available free memory (NuttX only)
  src/modules/logger/log_writer_file.cpp
  src/modules/logger/log_writer_file.h
Labels: Admin: Enhancement (improvement) 💡, Logger

#23572 Ackermann speed from mission
  src/modules/rover_ackermann/RoverAckermannGuidance/RoverAckermannGuidance.cpp
  src/modules/rover_ackermann/RoverAckermannGuidance/RoverAckermannGuidance.hpp
Labels: Rover 🚙

#23450 [gz] X500 mono_cam_down and aruco world
  ROMFS/px4fmu_common/init.d-posix/airframes/4014_gz_x500_mono_cam_down
  ROMFS/px4fmu_common/init.d-posix/airframes/CMakeLists.txt
  src/modules/simulation/gz_bridge/CMakeLists.txt
Labels: Sim: gazebo

#23341 ekf2: remove legacy accel z bias checks
  boards/px4/fmu-v6xrt/nuttx-config/scripts/itcm_functions_includes.ld
  msg/EstimatorStatusFlags.msg
  src/modules/ekf2/EKF/common.h
  src/modules/ekf2/EKF/ekf.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/height_control.cpp
  src/modules/ekf2/EKF2.cpp
Labels: EKF2, Admin: Cleanup (housekeeping) 🧹, stale

#23579 EKF2: range measurement rejection in rain/fog
  src/modules/ekf2/EKF/aid_sources/range_finder/range_height_control.cpp
  src/modules/ekf2/EKF/aid_sources/range_finder/sensor_range_finder.cpp
  src/modules/ekf2/EKF/aid_sources/range_finder/sensor_range_finder.hpp
  src/modules/ekf2/EKF/common.h
  src/modules/ekf2/EKF/ekf.cpp
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
  src/modules/ekf2/params_range_finder.yaml
  src/modules/ekf2/test/test_SensorRangeFinder.cpp
Labels: EKF2
