Repository PX4/PX4-Autopilot, pull requests merged in 2024-12, with the labels that each got.

#24068 lla; fix conversion to ECEF
  src/lib/lat_lon_alt/lat_lon_alt.cpp
  src/lib/lat_lon_alt/test_lat_lon_alt.cpp
Labels: Sim: SITL

#24067 EKF2: reset global position using variance
  src/modules/ekf2/EKF/aid_sources/aux_global_position/aux_global_position.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/test/test_EKF_flow.cpp
Labels: EKF2

#24098 ekf-agp: fix timeout
  src/modules/ekf2/EKF/aid_sources/aux_global_position/aux_global_position.cpp
  src/modules/ekf2/EKF/aid_sources/aux_global_position/aux_global_position.hpp
Labels: EKF2

#24108 Mixer: FunctionMotors: leave NAN control values at NAN with non-zero THR_MDL_FAC
  src/lib/mixer_module/functions/FunctionMotors.hpp
Labels: bug

#24117 EKF2: do not pre-compute airspeed Kalman gain
  src/modules/ekf2/EKF/aid_sources/airspeed/airspeed_fusion.cpp
  src/modules/ekf2/EKF/python/ekf_derivation/derivation.py
  src/modules/ekf2/EKF/python/ekf_derivation/generated/compute_airspeed_h.h
  src/modules/ekf2/EKF/python/ekf_derivation/generated/compute_airspeed_h_and_k.h
Labels: EKF2

#24119 Yaw Emergency estimator: store attitude as quaternion instead of DCM
  src/modules/ekf2/EKF/yaw_estimator/EKFGSF_yaw.cpp
  src/modules/ekf2/EKF/yaw_estimator/EKFGSF_yaw.h
Labels: EKF2

#24131 Make ADSB handling in Navigator optional to save flash
  boards/bitcraze/crazyflie21/default.px4board
  boards/diatone/mamba-f405-mk2/default.px4board
  boards/flywoo/gn-f405/default.px4board
  boards/holybro/kakutef7/default.px4board
  boards/omnibus/f4sd/default.px4board
  boards/px4/fmu-v2/default.px4board
  boards/raspberrypi/pico/default.px4board
  src/modules/navigator/Kconfig
  src/modules/navigator/navigator.h
  src/modules/navigator/navigator_main.cpp
Labels: proposal

#24129 Make multicopter position control parameter descriptions more concise
  src/modules/mc_pos_control/multicopter_altitude_mode_params.c
  src/modules/mc_pos_control/multicopter_position_mode_params.c
  src/modules/mc_pos_control/multicopter_stabilized_mode_params.c
Labels: Admin: Cleanup (housekeeping) 🧹
