Repository PX4/PX4-Autopilot, pull requests merged in 2024-05, with the labels that each got.

#23133 ekf2: symforce zero more efficiently
  src/modules/ekf2/EKF/python/ekf_derivation/generated/predict_covariance.h
  src/modules/ekf2/EKF/python/ekf_derivation/utils/derivation_utils.py
  src/modules/ekf2/EKF/yaw_estimator/EKFGSF_yaw.cpp
  src/modules/ekf2/EKF/yaw_estimator/derivation/derivation_yaw_estimator.py
  src/modules/ekf2/EKF/yaw_estimator/derivation/generated/yaw_est_compute_measurement_update.h
  src/modules/ekf2/EKF/yaw_estimator/derivation/generated/yaw_est_predict_covariance.h
Labels: EKF2

#23192 CameraFeedback: shorten line length such that documentation parser works
  src/modules/camera_feedback/CameraFeedback.cpp
Labels: Documentation 📑, CI (Continuous Integration) 🤖

#22781 [HealthCheck] Logger (is_logging?)
  msg/LoggerStatus.msg
  src/modules/commander/HealthAndArmingChecks/CMakeLists.txt
  src/modules/commander/HealthAndArmingChecks/HealthAndArmingChecks.hpp
  src/modules/commander/HealthAndArmingChecks/checks/loggerCheck.cpp
  src/modules/commander/HealthAndArmingChecks/checks/loggerCheck.hpp
  src/modules/logger/logger.cpp
  src/modules/mavlink/streams/SYS_STATUS.hpp
Labels: [Dev Call] ✅ Discussed

#23186 Fix oscillations when using GNSS velocity fusion only
  src/modules/ekf2/EKF/aid_sources/gnss/gps_control.cpp
Labels: EKF2, bugfix 🐞
