Repository PX4/PX4-Autopilot, pull requests merged in 2024-11, with the labels that each got.

#23793 Fix output of param show -q XXX on NuttX shell
  src/systemcmds/param/param.cpp
Labels: NuttX (OS), Tools

#23638 fix(ftp): List empty directory
  src/modules/mavlink/mavlink_ftp.cpp
Labels: stale

#23878 Improve range finder fault detection at low vertical speed
  src/modules/ekf2/EKF/aid_sources/range_finder/range_finder_consistency_check.cpp
Labels: EKF2

#23532 [BACKPORT] mRo boards: Fix for USART clock selection (#23524)
  boards/mro/ctrl-zero-classic/nuttx-config/include/board.h
  boards/mro/ctrl-zero-h7-oem/nuttx-config/include/board.h
  boards/mro/ctrl-zero-h7/nuttx-config/include/board.h
  boards/mro/pixracerpro/nuttx-config/include/board.h
Labels: stale

#23812 differential: add slew rates for speed, yaw and yaw rate setpoints
  ROMFS/px4fmu_common/init.d-posix/airframes/4009_gz_r1_rover
  ROMFS/px4fmu_common/init.d-posix/airframes/4011_gz_lawnmower
  ROMFS/px4fmu_common/init.d/airframes/50001_aion_robotics_r1_rover
  msg/RoverDifferentialSetpoint.msg
  msg/RoverDifferentialStatus.msg
  src/modules/rover_differential/RoverDifferential.cpp
  src/modules/rover_differential/RoverDifferential.hpp
  src/modules/rover_differential/RoverDifferentialControl/RoverDifferentialControl.cpp
  src/modules/rover_differential/RoverDifferentialControl/RoverDifferentialControl.hpp
  src/modules/rover_differential/RoverDifferentialGuidance/RoverDifferentialGuidance.cpp
  src/modules/rover_differential/RoverDifferentialGuidance/RoverDifferentialGuidance.hpp
  src/modules/rover_differential/module.yaml
Labels: Rover 🚙

#23933 Remove unused collision_report message
  msg/CMakeLists.txt
  msg/CollisionReport.msg
  src/modules/mavlink/mavlink_messages.cpp
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/mavlink/mavlink_receiver.h
  src/modules/mavlink/streams/COLLISION.hpp
  src/modules/zenoh/Kconfig.topics
Labels: question

#23924 Fix EKF2 replay on log with additional topics
  src/modules/replay/Replay.cpp
  src/modules/replay/Replay.hpp
Labels: EKF2

#23936 Optical flow: add scale factor parameter
  src/modules/sensors/sensor_params_flow.c
  src/modules/sensors/vehicle_optical_flow/VehicleOpticalFlow.cpp
  src/modules/sensors/vehicle_optical_flow/VehicleOpticalFlow.hpp
Labels: Sensors

#23978 gtest cmake: fix unit test filter
  CMakeLists.txt
Labels: bug, Tools

#23996 mavlink: remove reference to COLLISION message I had missed
  src/modules/mavlink/mavlink_main.cpp
Labels: bug

#23955 ekf2: derivation.py remove sideslip small angle approximation
  src/modules/ekf2/EKF/python/ekf_derivation/derivation.py
  src/modules/ekf2/EKF/python/ekf_derivation/generated/compute_sideslip_h_and_k.h
  src/modules/ekf2/EKF/python/ekf_derivation/generated/compute_sideslip_innov_and_innov_var.h
Labels: EKF2
