Repository PX4/PX4-Autopilot, pull requests merged in 2024-10, with the labels that each got.

#23754 EKF2: remove redundant ned_origin_initialised flag
  src/modules/ekf2/EKF/aid_sources/gnss/gnss_height_control.cpp
  src/modules/ekf2/EKF/aid_sources/gnss/gps_checks.cpp
  src/modules/ekf2/EKF/aid_sources/gnss/gps_control.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/ekf_helper.cpp
  src/modules/ekf2/EKF/estimator_interface.h
Labels: EKF2

#23744 EKF2: rework amsl to ellipsoid altitude conversion
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
Labels: EKF2

#23752 [backport][cdcacm] set file descriptor to -1 after close()
  src/drivers/cdcacm_autostart/cdcacm_autostart.cpp
Labels: Release: backport 🔙, bugfix 🐞

#23733 MPC: reset velocity integrators when not in use
  src/modules/mc_pos_control/MulticopterPositionControl.cpp
  src/modules/mc_pos_control/PositionControl/PositionControl.hpp
Labels: Multirotor 🛸

#23770 ekf2: tighten terrain validity requirements
  src/modules/ekf2/EKF/control.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/terrain_control.cpp
Labels: EKF2, bugfix 🐞

#23776 EKF2: always publish global position
  src/modules/ekf2/EKF2.cpp
Labels: EKF2

#23779 ekf2: configurable velocity state constraint (EKF2_VEL_LIM)
  src/modules/ekf2/EKF/aid_sources/external_vision/ev_vel_control.cpp
  src/modules/ekf2/EKF/aid_sources/gnss/gps_checks.cpp
  src/modules/ekf2/EKF/common.h
  src/modules/ekf2/EKF/ekf.cpp
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
  src/modules/ekf2/module.yaml
Labels: EKF2

#23778 ekf2: stricter GNSS vel rejected innovation override
  src/modules/ekf2/EKF/aid_sources/gnss/gps_control.cpp
Labels: EKF2

#23777 ekf2: reduce bad accel probation time 10s->3s
  src/modules/ekf2/EKF/common.h
Labels: EKF2

#23743 AirspeedSelector: enable sensor checks right after catapult launch
  src/modules/airspeed_selector/airspeed_selector_main.cpp
Labels: Fixed Wing 🛩️

#23866 EKF2: robustify terrain validity conditions
  src/modules/ekf2/EKF/terrain_control.cpp
Labels: EKF2

#23853 Navigator: land: fix when flying without global position estimate
  src/modules/navigator/mission_block.cpp
Labels: Release: backport 🔙
