Repository PX4/PX4-Autopilot, pull requests merged in 2025-06, with the labels that each got.

#24916 Vehicle_odometry: protect angular_velocity field against aliasing
  src/modules/ekf2/EKF/estimator_interface.h
  src/modules/ekf2/EKF/output_predictor/output_predictor.cpp
  src/modules/ekf2/EKF/output_predictor/output_predictor.h
  src/modules/ekf2/EKF2.cpp
Labels: EKF2, bugfix 🐞

#24909 [EKF2] Run simplified GNSS checks after initial fix
  src/modules/ekf2/EKF/aid_sources/gnss/gnss_checks.cpp
  src/modules/ekf2/EKF/aid_sources/gnss/gnss_checks.hpp
  src/modules/ekf2/test/test_EKF_gps.cpp
Labels: Admin: Enhancement (improvement) 💡, EKF2

#24675 docs: ekf replay: require log from boot
  docs/en/debug/system_wide_replay.md
Labels: Documentation 📑, stale

#24818 ActuatorMotors.msg - uORB docs
  msg/versioned/ActuatorMotors.msg
Labels: Documentation 📑

#24789 BatteryStatus.msg - docs update
  msg/versioned/BatteryStatus.msg
Labels: Documentation 📑

#25073 [DOCS] Collision mode only works with mpc_pos_mode that is acceleration based
  docs/en/computer_vision/collision_prevention.md
Labels: Documentation 📑

#25072 [Docs] Update QGC Bootloader instructions
  docs/en/advanced_config/bootloader_update.md
  docs/en/releases/main.md
Labels: Documentation 📑

#24906 docs: bidirectional dshot
  docs/en/peripherals/dshot.md
Labels: Documentation 📑

#24701 doc: Improve I2C devices links and explanation
  docs/en/sensor_bus/i2c_general.md
  docs/en/sensor_bus/translator_tfi2cadt.md
Labels: stale

#24891 SIH Hexacopter X - docs update
  docs/en/sim_sih/index.md
Labels: Documentation 📑
