Repository PX4/PX4-Autopilot, pull requests merged in 2025-08, with the labels that each got.

#25352 docs: fix typo
  docs/en/middleware/uxrce_dds.md
  docs/en/ros2/user_guide.md
Labels: Documentation 📑

#25225 AirspeedSelector: increase default of ASPD_WERR_THR
  src/modules/airspeed_selector/airspeed_selector_params.c
Labels: Fixed Wing 🛩️

#24733 boards: add cuav fmu-v6x
  .vscode/cmake-variants.yaml
  Makefile
  boards/cuav/fmu-v6x/CMakeLists.txt
  boards/cuav/fmu-v6x/bootloader.px4board
  boards/cuav/fmu-v6x/cmake/upload.cmake
  boards/cuav/fmu-v6x/default.px4board
  boards/cuav/fmu-v6x/extras/cuav_fmu-v6x_bootloader.bin
  boards/cuav/fmu-v6x/extras/px4_io-v2_default.bin
  boards/cuav/fmu-v6x/firmware.prototype
  boards/cuav/fmu-v6x/init/rc.board_defaults
  boards/cuav/fmu-v6x/init/rc.board_sensors
  boards/cuav/fmu-v6x/nuttx-config/Kconfig
  boards/cuav/fmu-v6x/nuttx-config/bootloader/defconfig
  boards/cuav/fmu-v6x/nuttx-config/include/board.h
  boards/cuav/fmu-v6x/nuttx-config/include/board_dma_map.h
  boards/cuav/fmu-v6x/nuttx-config/nsh/defconfig
  boards/cuav/fmu-v6x/nuttx-config/scripts/bootloader_script.ld
  boards/cuav/fmu-v6x/nuttx-config/scripts/flash-analysis-script.ld
  boards/cuav/fmu-v6x/nuttx-config/scripts/script.ld
  boards/cuav/fmu-v6x/pwm_voltage/CMakeLists.txt
  boards/cuav/fmu-v6x/pwm_voltage/parameters.c
  boards/cuav/fmu-v6x/pwm_voltage/pwm_voltage.cpp
  boards/cuav/fmu-v6x/src/CMakeLists.txt
  boards/cuav/fmu-v6x/src/board_config.h
  boards/cuav/fmu-v6x/src/bootloader_main.c
  boards/cuav/fmu-v6x/src/can.c
  boards/cuav/fmu-v6x/src/hw_config.h
  boards/cuav/fmu-v6x/src/i2c.cpp
  boards/cuav/fmu-v6x/src/init.cpp
  boards/cuav/fmu-v6x/src/led.c
  boards/cuav/fmu-v6x/src/mtd.cpp
  boards/cuav/fmu-v6x/src/sdio.c
  boards/cuav/fmu-v6x/src/spi.cpp
  boards/cuav/fmu-v6x/src/timer_config.cpp
  boards/cuav/fmu-v6x/src/usb.c
Labels: stale

#25173 SF45 revert missing bin logic
  src/drivers/distance_sensor/lightware_sf45_serial/lightware_sf45_serial.cpp
Labels: bugfix 🐞

#25405 ackermann: add SIH airframe
  ROMFS/px4fmu_common/init.d/airframes/1104_standard_ackermann_sih.hil
  ROMFS/px4fmu_common/init.d/airframes/CMakeLists.txt
Labels: Rover 🚙

#25421 Fix up uorb message spacing to add whitespace
  msg/ActionRequest.msg
  msg/Airspeed.msg
  msg/CellularStatus.msg
  msg/versioned/ActuatorMotors.msg
  msg/versioned/ActuatorServos.msg
  msg/versioned/ArmingCheckReply.msg
  msg/versioned/ArmingCheckRequest.msg
Labels: Documentation 📑

#25425 rover: add exponential scaling to manual yaw rate input
  src/lib/rover_control/rovercontrol_params.c
  src/modules/rover_ackermann/AckermannDriveModes/AckermannManualMode/AckermannManualMode.cpp
  src/modules/rover_ackermann/AckermannDriveModes/AckermannManualMode/AckermannManualMode.hpp
  src/modules/rover_differential/DifferentialDriveModes/DifferentialManualMode/DifferentialManualMode.cpp
  src/modules/rover_differential/DifferentialDriveModes/DifferentialManualMode/DifferentialManualMode.hpp
  src/modules/rover_differential/module.yaml
  src/modules/rover_mecanum/MecanumDriveModes/MecanumManualMode/MecanumManualMode.cpp
  src/modules/rover_mecanum/MecanumDriveModes/MecanumManualMode/MecanumManualMode.hpp
  src/modules/rover_mecanum/module.yaml
Labels: Rover 🚙

#25457 FW rate controller: enable yaw rate controller when feeding in yaw rate setpoints outside of manual control
  src/modules/fw_rate_control/FixedwingRateControl.cpp
Labels: Fixed Wing 🛩️

#25427 docs: new rover stick input scaling parameters
  docs/en/config_rover/basic_setup.md
  docs/en/config_rover/velocity_tuning.md
Labels: Documentation 📑, Rover 🚙

#25472 rover: fix setpoint generation
  src/modules/rover_ackermann/RoverAckermann.cpp
  src/modules/rover_differential/RoverDifferential.cpp
  src/modules/rover_mecanum/RoverMecanum.cpp
Labels: Rover 🚙, bugfix 🐞

#25449 config: add dynamic init file
  Kconfig
  ROMFS/CMakeLists.txt
  ROMFS/cannode/init.d/rcS
  ROMFS/px4fmu_common/init.d/rcS
  cmake/kconfig.cmake
  docs/en/concept/system_startup.md
Labels: Documentation 📑

#25455 EKF2: stop GNSS altittude and velocity aiding when gnss_fault is set
  src/modules/ekf2/EKF/aid_sources/gnss/gnss_height_control.cpp
  src/modules/ekf2/EKF/aid_sources/gnss/gps_control.cpp
  src/modules/ekf2/test/sensor_simulator/ekf_wrapper.cpp
  src/modules/ekf2/test/sensor_simulator/ekf_wrapper.h
  src/modules/ekf2/test/test_EKF_gps.cpp
Labels: EKF2, bugfix 🐞

#25478 logging: allow logging backend config
  ROMFS/px4fmu_common/init.d/rc.logging
  boards/auterion/fmu-v6s/init/rc.board_defaults
  boards/holybro/kakuteh7mini/init/rc.board_defaults
  boards/holybro/kakuteh7v2/init/rc.board_defaults
  docs/en/dev_log/logging.md
  src/lib/parameters/param_translation.cpp
  src/modules/logger/params.c
Labels: Documentation 📑
