Repository PX4/PX4-Autopilot, pull requests merged in 2025-04, with the labels that each got.

#24613 [Docs] Gimbal - improvements to mavlink setup instructions
  docs/en/advanced/gimbal_control.md
  docs/en/peripherals/mavlink_peripherals.md
Labels: Documentation 📑

#24655 docs_flaw_checker.yml - attempt update
  .github/workflows/docs_flaw_checker.yml
Labels: Documentation 📑

#24614 Autotune large MC vehicles
  docs/en/config/_autotune.md
Labels: Documentation 📑

#24656 [Doc] Added J.Fi Wireless Telemetry Module
  docs/assets/hardware/telemetry/jmarple/jfi_telemetry_broadcast.png
  docs/assets/hardware/telemetry/jmarple/jfi_telemetry_buttons.png
  docs/assets/hardware/telemetry/jmarple/jfi_telemetry_config.jpg
  docs/assets/hardware/telemetry/jmarple/jfi_telemetry_module.png
  docs/assets/hardware/telemetry/jmarple/jfi_telemetry_paired.png
  docs/assets/hardware/telemetry/jmarple/jfi_telemetry_usage.png
  docs/en/SUMMARY.md
  docs/en/telemetry/index.md
  docs/en/telemetry/jfi_telemetry.md
Labels: Documentation 📑

#24580 [Pending] Updated Encrypted logs docs to reflect #24489 ,
  docs/en/dev_log/log_encryption.md
Labels: Documentation 📑

#24673 Cleanup: remove unnecessary subscription in multicopter attitude controller
  src/modules/mc_att_control/mc_att_control.hpp
Labels: Multirotor 🛸, Admin: Cleanup (housekeeping) 🧹

#24694 Split MAVLink docs into separate topics for sending/receiving/custom
  docs/en/SUMMARY.md
  docs/en/mavlink/adding_messages.md
  docs/en/mavlink/custom_messages.md
  docs/en/mavlink/receiving_messages.md
  docs/en/mavlink/streaming_messages.md
  docs/en/middleware/mavlink.md
Labels: Documentation 📑

#24730 FW land detector: only use LNDFW_ROT_MAX if speeds are not valid
  src/modules/land_detector/FixedwingLandDetector.cpp
  src/modules/land_detector/land_detector_params_fw.c
Labels: Fixed Wing 🛩️

#24709 Fix: cyclic roll and pitch input causes yaw drift on multicopters
  src/modules/ekf2/EKF/output_predictor/output_predictor.cpp
Labels: bug, Multirotor 🛸

#24630 Calibration: transpose rotation instead of computing inverse
  src/lib/sensor_calibration/Accelerometer.hpp
  src/lib/sensor_calibration/Gyroscope.hpp
  src/lib/sensor_calibration/Magnetometer.hpp
Labels: Admin: Cleanup (housekeeping) 🧹
