Repository PX4/PX4-Autopilot, pull requests merged in 2025-07, with the labels that each got.

#24743 docs: remove old doxygen builds
  CMakeLists.txt
  Documentation/Doxyfile.in
  Makefile
  cmake/doxygen.cmake
Labels: Documentation 📑

#25159 SIH-plane: tune angular rate controllers
  ROMFS/px4fmu_common/init.d-posix/airframes/10041_sihsim_airplane
Labels: Admin: Enhancement (improvement) 💡

#25154 [Docs] Incorrect URLS for dronecan/cyphal in params
  src/drivers/cyphal/parameters.c
  src/drivers/uavcan/uavcan_params.c
Labels: Documentation 📑

#25167 FW land detector: only force to landed if launch detection is WAITING_FOR_LAUNCH
  src/modules/land_detector/FixedwingLandDetector.cpp
Labels: Fixed Wing 🛩️

#25172 Commander: for VTOL_Takeoff only require relaxed position if fixed-wing phase
  src/modules/commander/ModeUtil/mode_requirements.cpp
Labels: Hybrid VTOL 🛩️🚁

#25177 Add cannonicalref support
  docs/.vitepress/config.mjs
Labels: Documentation 📑

#25140 Rover: base setpoint generation on nav_state
  src/modules/rover_ackermann/RoverAckermann.cpp
  src/modules/rover_ackermann/RoverAckermann.hpp
  src/modules/rover_differential/RoverDifferential.cpp
  src/modules/rover_differential/RoverDifferential.hpp
  src/modules/rover_mecanum/RoverMecanum.cpp
  src/modules/rover_mecanum/RoverMecanum.hpp
Labels: Rover 🚙

#19717 commander/mavlink: use home attitude, not only yaw
  msg/versioned/HomePosition.msg
  src/modules/commander/Commander.cpp
  src/modules/commander/HomePosition.cpp
  src/modules/commander/HomePosition.hpp
  src/modules/mavlink/streams/HOME_POSITION.hpp
Labels: Communication (MAVLink) 📡

#25184 [Docs] Fix links and tidy config
  docs/.vitepress/config.mjs
  docs/en/SUMMARY.md
  docs/en/camera/fc_connected_camera.md
  docs/en/companion_computer/holybro_pixhawk_jetson_baseboard.md
  docs/en/complete_vehicles_mc/crazyflie2.md
  docs/en/complete_vehicles_mc/crazyflie21.md
  docs/en/complete_vehicles_mc/index.md
  docs/en/complete_vehicles_mc/px4_vision_kit.md
  docs/en/complete_vehicles_rover/aion_r1.md
  docs/en/complete_vehicles_vtol/index.md
  docs/en/concept/control_allocation.md
  docs/en/config/actuators.md
  docs/en/config/index.md
  docs/en/config/joystick.md
  docs/en/config/safety.md
  docs/en/config_vtol/vtol_quad_configuration.md
  docs/en/contribute/code.md
  docs/en/contribute/docs.md
  docs/en/contribute/git_examples.md
  docs/en/contribute/maintainers.md
  docs/en/contribute/support.md
  docs/en/debug/binary_size_profiling.md
  docs/en/debug/eclipse_jlink.md
  docs/en/debug/probe_bmp.md
  docs/en/debug/probe_jlink.md
  docs/en/flight_controller/autopilot_discontinued.md
  docs/en/flight_controller/autopilot_manufacturer_supported.md
  docs/en/flight_controller/kakutef7.md
  docs/en/flight_controller/modalai_fc_v1.md
  docs/en/flight_controller/modalai_voxl_flight.md
  docs/en/frames_multicopter/dji_f450_cuav_5nano.md
  docs/en/frames_multicopter/dji_f450_cuav_5plus.md
  docs/en/frames_multicopter/holybro_qav250_pixhawk4_mini.md
  docs/en/frames_multicopter/holybro_s500_v2_pixhawk4.md
  docs/en/frames_multicopter/holybro_x500V2_pixhawk5x.md
  docs/en/frames_multicopter/holybro_x500_pixhawk4.md
  docs/en/frames_multicopter/holybro_x500v2_pixhawk6c.md
  docs/en/frames_multicopter/qav_r_5_kiss_esc_racer.md
  docs/en/frames_vtol/vtol_quadplane_falcon_vertigo_hybrid_rtf_dropix.md
  docs/en/frames_vtol/vtol_quadplane_fun_cub_vtol_pixhawk.md
  docs/en/frames_vtol/vtol_quadplane_volantex_ranger_ex_pixhawk.md
  docs/en/getting_started/px4_basic_concepts.md
  docs/en/index.md
  docs/en/telemetry/esp8266_wifi_module.md
  docs/en/telemetry/rfd900_telemetry.md
  docs/en/telemetry/tfsik_telemetry.md
  docs/en/test_and_ci/docker.md
  docs/package-lock.json
  docs/package.json
  docs/yarn.lock
Labels: Documentation 📑

#25186 [Docs] Link fixes - mostly redirects
  docs/en/debug/swd_debug.md
  docs/en/dev_log/log_encryption.md
  docs/en/dev_log/ulog_file_format.md
  docs/en/dev_setup/dev_env_windows_cygwin.md
  docs/en/dev_setup/dev_env_windows_cygwin_packager_setup.md
  docs/en/dev_setup/dev_env_windows_vm.md
  docs/en/dev_setup/dev_env_windows_wsl.md
  docs/en/dronecan/development.md
  docs/en/dronecan/index.md
  docs/en/dronecan/raccoonlab_power.md
  docs/en/dronecan/sapog.md
  docs/en/dronecan/zubax_telega.md
  docs/en/flight_controller/beaglebone_blue.md
  docs/en/flight_controller/cuav_nora.md
  docs/en/flight_controller/cuav_pixhawk_v6x.md
  docs/en/flight_controller/cuav_v5_nano.md
  docs/en/flight_controller/cuav_v5_plus.md
  docs/en/flight_controller/cuav_x7.md
  docs/en/flight_controller/durandal.md
  docs/en/flight_controller/holybro_pix32.md
  docs/en/flight_controller/holybro_pix32_v6.md
  docs/en/flight_controller/kakuteh7mini.md
  docs/en/flight_controller/kakuteh7v2.md
  docs/en/flight_controller/mindpx.md
  docs/en/flight_controller/mindracer.md
  docs/en/flight_controller/modalai_fc_v1.md
  docs/en/flight_controller/modalai_voxl_flight.md
  docs/en/flight_controller/mro_control_zero_f7.md
  docs/en/flight_controller/nxp_mr_vmu_rt1176.md
  docs/en/flight_controller/omnibus_f4_sd.md
  docs/en/flight_controller/pixfalcon.md
  docs/en/flight_controller/pixhawk4_mini.md
  docs/en/flight_controller/pixhawk5x.md
  docs/en/flight_controller/pixhawk6c.md
  docs/en/flight_controller/pixhawk6c_mini.md
  docs/en/flight_controller/pixhawk6x-rt.md
  docs/en/frames_vtol/vtol_quadplane_foxtech_loong_2160.md
  docs/en/frames_vtol/vtol_tiltrotor_omp_hobby_zmo_fpv.md
  docs/en/sim_flightgear/index.md
  docs/en/sim_flightgear/multi_vehicle.md
  docs/en/sim_gazebo_classic/index.md
  docs/en/sim_jmavsim/index.md
  docs/en/telemetry/crsf_telemetry.md
Labels: Documentation 📑

#25208 Doc Orbit: update and clarify configurability and behavior around limits
  docs/en/flight_modes_mc/orbit.md
Labels: Documentation 📑

#25218 Docs: Prettier on takeoff and fix some links
  docs/en/debug/swd_debug.md
  docs/en/dev_setup/dev_env_windows_cygwin_packager_setup.md
  docs/en/flight_modes_fw/takeoff.md
Labels: Documentation 📑

#24964 [Docs] Airframe param reset on update
  docs/en/dev_airframes/adding_a_new_frame.md
Labels: Documentation 📑

#25194 ackermann: add SIH
  ROMFS/px4fmu_common/init.d-posix/airframes/10045_sihsim_rover_ackermann
  ROMFS/px4fmu_common/init.d-posix/airframes/CMakeLists.txt
  src/modules/simulation/simulator_sih/CMakeLists.txt
  src/modules/simulation/simulator_sih/sih.cpp
  src/modules/simulation/simulator_sih/sih.hpp
  src/modules/simulation/simulator_sih/sih_params.c
Labels: Rover 🚙

#25219 EKF2: always decorrelate pos and vel in vel reset
  src/modules/ekf2/EKF/velocity_fusion.cpp
Labels: EKF2

#24917 mc_pos_control: immediately switch out of goto setpoint when receiving trajectory_setpoint
  src/modules/mc_pos_control/GotoControl/GotoControl.cpp
  src/modules/mc_pos_control/GotoControl/GotoControl.hpp
  src/modules/mc_pos_control/MulticopterPositionControl.cpp
Labels: stale

#25207 ekf-agp: use same timeout value as other aid sources
  src/modules/ekf2/EKF/aid_sources/aux_global_position/aux_global_position.cpp
Labels: EKF2, bugfix 🐞

#25209 Set PWM_Input as default for v5x and v6x in flight termination
  boards/px4/fmu-v5x/default.px4board
  boards/px4/fmu-v6x/default.px4board
  docs/en/advanced_config/flight_termination.md
Labels: Documentation 📑

#24739 Update tools shebangs to python3
  Tools/boot_now.py
  Tools/compress.py
  Tools/fetch_file.py
  Tools/geotag_images_ulog.py
  Tools/package_firmware.py
  Tools/parameter_update.py
  Tools/process_sensor_caldata.py
  Tools/px4.py
  Tools/px_mkfw.py
  Tools/px_process_airframes.py
  Tools/px_process_events.py
  Tools/px_process_module_doc.py
  Tools/px_romfs_pruner.py
  Tools/run-clang-tidy.py
  Tools/uorb_graph/create.py
  Tools/validate_yaml.py
Labels: stale

#24738 shorten power redundancy check message to less then 50 chars (mavlink…
  src/modules/commander/HealthAndArmingChecks/checks/powerCheck.cpp
Labels: stale

#24726 Rewrote info about USB inside wsl
  docs/en/dev_setup/dev_env_windows_wsl.md
Labels: stale

#24103 HITL/SIH: Battery status depend on battery configuration from parameters
  src/modules/mavlink/mavlink_receiver.cpp
  src/modules/mavlink/mavlink_receiver.h
Labels: stale

#25227 [Docs] msg/Airspeed.msg - to standard
  msg/Airspeed.msg
Labels: Documentation 📑

#25278 Improve flight termination docs
  docs/en/advanced_config/flight_termination.md
Labels: Documentation 📑

#25069 [Docs] ActionRequest UORB topic
  msg/ActionRequest.msg
Labels: Documentation 📑

#25298 [Fix] commander: only clear hold delay when failsafes are being deferred
  src/modules/commander/failsafe/framework.cpp
Labels: TODO backport 1.16

#25319 ark: v6x: encrypted: remove FW and VTOL modules to save flash
  boards/ark/fmu-v6x/encrypted_logs.px4board
Labels: TODO backport 1.16

#25321 [BACKPORT 1.16] ark_fpv: flash savings: remove FW and VTOL from encrypted_logs.px4board
  boards/ark/fpv/encrypted_logs.px4board
Labels: Release: backport 🔙

#25320 [BACKPORT 1.16] ark: v6x: encrypted: remove FW and VTOL modules to save flash
  boards/ark/fmu-v6x/encrypted_logs.px4board
Labels: Release: backport 🔙

#25297 EKF2: gnss reset improvements
  .github/workflows/compile_macos.yml
  src/modules/ekf2/EKF/aid_sources/gnss/gps_control.cpp
  src/modules/ekf2/EKF/common.h
  src/modules/ekf2/EKF/ekf.cpp
  src/modules/ekf2/EKF/ekf.h
  src/modules/ekf2/EKF/estimator_interface.cpp
  src/modules/ekf2/EKF/estimator_interface.h
  src/modules/ekf2/EKF2.cpp
  src/modules/ekf2/EKF2.hpp
  src/modules/ekf2/params_gnss.yaml
  src/modules/ekf2/test/change_indication/ekf_gsf_reset.csv
  src/modules/ekf2/test/change_indication/iris_gps.csv
  src/modules/ekf2/test/test_EKF_fusionLogic.cpp
  src/modules/ekf2/test/test_EKF_gps.cpp
  src/modules/ekf2/test/test_EKF_height_fusion.cpp
  src/modules/ekf2/test/test_EKF_terrain.cpp
  src/modules/simulation/simulator_mavlink/SimulatorMavlink.cpp
  src/modules/simulation/simulator_mavlink/SimulatorMavlink.hpp
Labels: EKF2

#25283 MC PositionControl: Add timeout for invalid TrajectorySetpoint
  src/modules/mc_pos_control/MulticopterPositionControl.cpp
  src/modules/mc_pos_control/MulticopterPositionControl.hpp
Labels: TODO backport 1.16

#25340 docs: Fixed ARK Flow MR mislabeled in rangefinders.md
  docs/en/sensor/rangefinders.md
Labels: Documentation 📑
